{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">

    <div class="col-md-12">

        <div class="alert alert-warning">
            Registration with email and password has been disabled. You can still register with Twitter -
            to do so, <a href="{{ route('login') }}" style="color: #fff; font-weight: bold;">go to the login screen</a>
            and click the Twitter button.
        </div>
        <h3>Enter your details</h3>
        {% if errors.any %}
            {% for error in errors.all %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form class="form-horizontal" role="form" method="POST" action="{{ route('register') }}">
            {{ csrf_field() }}

            <div class="form-group">
                <label for="signup_name" class="col-md-2 control-label">Display name</label>

                <div class="col-md-4">
                    <input id="signup_name" type="text" class="form-control" name="signup_name" value="{{ old('signup_name') }}" maxlength="50" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="signup_email" class="col-md-2 control-label">Email address</label>

                <div class="col-md-4">
                    <input id="signup_email" type="email" class="form-control" name="signup_email" value="{{ old('signup_email') }}" maxlength="100" required>
                </div>
            </div>

            <div class="form-group">
                <label for="signup_pass" class="col-md-2 control-label">Password</label>

                <div class="col-md-4">
                    <input id="signup_pass" type="password" class="form-control" name="signup_pass" required>
                </div>
            </div>

            <div class="form-group">
                <label for="signup_pass_confirmation" class="col-md-2 control-label">Confirm password</label>

                <div class="col-md-4">
                    <input id="signup_pass_confirmation" type="password" class="form-control" name="signup_pass_confirmation" required>
                </div>
            </div>

            <!-- Campaigns -->
            <div class="form-group">
                <input id="signup_alpha" name="signup_alpha" type="hidden">
            </div>
            <div class="form-group">
                <input id="signup_beta" name="signup_beta" type="hidden">
            </div>

            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary pull-left">
                        Register
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>

{% endblock page_body %}

