{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">

    <div class="col-md-12">

        <p>
            To register with your email address and a password, you need an invite code. This is
            to stop spam. <a href="{{ route('about.landing') }}">Get in touch</a> and we'll be happy
            to give you a code.
        </p>
        <p>
            You can also register with Twitter - this doesn't need a code.
            <a href="{{ route('login') }}">Go to the login screen</a>
            and click the Twitter button.
        </p>

        <h3>Request an invite code</h3>
        <form class="form-horizontal" role="form" method="POST" action="{{ route('auth.register.request-invite-code') }}">
            {{ csrf_field() }}
            <div class="form-group">
                <label for="waitlist_email" class="col-md-2 control-label">Email address</label>

                <div class="col-md-4">
                    <input id="waitlist_email" type="email" class="form-control" name="waitlist_email" maxlength="100" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="waitlist_bio" class="col-md-2 control-label">Tell us how you found us (anti-spam)</label>

                <div class="col-md-4">
                    <textarea id="waitlist_bio" name="waitlist_bio" class="form-control" rows="6" cols="50" required></textarea>
                    <small>In a few words, tell us how you found Switch Scores. This is to reduce fake signups.</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary pull-left">
                        Submit
                    </button>
                </div>
            </div>
        </form>

        <h3>Sign up</h3>
        {% if errors.any %}
            <div class="alert alert-danger">
                {% for error in errors.all %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" method="POST" action="{{ route('register') }}">
            {{ csrf_field() }}

            <div class="form-group">
                <label for="signup_name" class="col-md-2 control-label">Display name</label>

                <div class="col-md-4">
                    <input id="signup_name" type="text" class="form-control" name="signup_name" value="{{ old('signup_name') }}" maxlength="50" required>
                </div>
            </div>

            <div class="form-group">
                <label for="signup_email" class="col-md-2 control-label">Email address</label>

                <div class="col-md-4">
                    <input id="signup_email" type="email" class="form-control" name="signup_email" value="{{ old('signup_email') }}" maxlength="100" required>
                </div>
            </div>

            <div class="form-group">
                <label for="signup_pass" class="col-md-2 control-label">Password</label>

                <div class="col-md-4">
                    <input id="signup_pass" type="password" class="form-control" name="signup_pass" required>
                </div>
            </div>

            <div class="form-group">
                <label for="signup_pass_confirmation" class="col-md-2 control-label">Confirm password</label>

                <div class="col-md-4">
                    <input id="signup_pass_confirmation" type="password" class="form-control" name="signup_pass_confirmation" required>
                </div>
            </div>

            <div class="form-group">
                <label for="invite_code" class="col-md-2 control-label">Invite code</label>

                <div class="col-md-4">
                    <input id="invite_code" type="text" class="form-control" name="invite_code" value="{{ old('invite_code') }}" maxlength="50" required>
                </div>
            </div>

            <!-- Campaigns -->
            <div class="form-group">
                <input id="signup_alpha" name="signup_alpha" type="hidden">
            </div>
            <div class="form-group">
                <input id="signup_beta" name="signup_beta" type="hidden">
            </div>

            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary pull-left">
                        Register
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>

{% endblock page_body %}

