<ul>
    <li><a href="{{ route('browse.byCategory.landing') }}?console={{ Console.slug }}">By category</a></li>
    <li><a href="{{ route('console.byDate', {'console': Console}) }}">By date</a></li>
    <li><a href="{{ route('browse.bySeries.landing') }}?console={{ Console.slug }}">By series</a></li>
    <li><a href="{{ route('browse.byCollection.landing') }}?console={{ Console.slug }}">By collection</a></li>
    <li><a href="{{ route('browse.byTag.landing') }}?console={{ Console.slug }}">By tag</a></li>
</ul>
