{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">User</label>
        <div class="col-md-6">
            {{ ReviewUserData.user.display_name }}
            <br><small>ID: {{ ReviewUserData.user.id }} | Email: {{ ReviewUserData.user.email }}</small>
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Game</label>
        <div class="col-md-6">
            {{ ReviewUserData.game.title }}
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Quick rating</label>
        <div class="col-md-6">
            {{ ReviewUserData.quickRating.rating_desc }}
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Review score</label>
        <div class="col-md-6">
            {{ ReviewUserData.review_score }}
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Review body</label>
        <div class="col-md-6">
            {% if ReviewUserData.review_body %}
                <p>
                    <em>Review body is shown below.</em>
                </p>
                <hr>
                <p>
                    <small>
                        {{ ReviewUserData.review_body|raw }}
                    </small>
                </p>
                <hr>
            {% else %}
                <p>
                    <em>Review does not contain a body.</em>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label for="item_status" class="col-md-4 control-label">Status</label>
        <div class="col-md-6">
            <select id="item_status" name="item_status" class="form-control">
                <option value="">All</option>
                {% for item in ReviewUserStatusList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
