{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    {#
    <div class="pull-right col-xs-12 col-sm-3">
        <img class="img-responsive" src="/img/logo.png" alt="" />
    </div>
    #}
    <div class="col-xs-12 col-sm-4 col-md-4">
        {% if ActivityFeedList.count %}
            <h2>
                Latest updates
            </h2>
            {% for item in ActivityFeedList %}
                {% set feedMessage = item.getMessageWithValues() %}
                {% set feedSmallPrint = item.getSmallPrint() %}
                <p>
                    <strong>{{ item.created_at|date('jS M') }}</strong>:
                    {{ feedMessage|raw }}
                    {% if feedSmallPrint != '' %}
                    <br>
                    <small>{{ feedSmallPrint }}</small>
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            New releases
            <span class="h4">(<a href="{{ route('games.list.released') }}">view all</a>)</span>
        </h2>
        {% if NewReleases.count %}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in NewReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.release_date|date('jS M') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games within this timeframe.</p>
        {% endif %}
        <h2>
            Upcoming releases
            <span class="h4">(<a href="{{ route('games.list.upcoming') }}">view all</a>)</span>
        </h2>
        {% if UpcomingReleases.count %}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in UpcomingReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.release_date|date('jS M') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games within this timeframe.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Switch eShop charts
            <span class="h4">(<a href="{{ route('charts.landing') }}">view all</a>)</span>
        </h2>
        {% if ChartsLatestEu %}
            <p>
                <a href="{{ route('charts.date.show', {'countryCode': 'eu', 'date': ChartsLatestEu.chart_date}) }}">
                    European eShop charts: {{ ChartsLatestEu.chart_date|date('jS M') }}
                </a>
            </p>
        {% else %}
            <p>Could not display latest European charts data.</p>
        {% endif %}
        {% if ChartsLatestUs %}
            <p>
                <a href="{{ route('charts.date.show', {'countryCode': 'us', 'date': ChartsLatestUs.chart_date}) }}">
                    US eShop charts: {{ ChartsLatestUs.chart_date|date('jS M') }}
                </a>
            </p>
        {% else %}
            <p>Could not display latest US charts data.</p>
        {% endif %}
        <h2>
            Top Rated - New
            <span class="h4">(<a href="{{ route('reviews.topRatedAllTime') }}">view all-time</a>)</span>
        </h2>
        {% if TopRatedNewReleases %}
            <p>
                Top Rated games released in the last 30 days.
            </p>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th class="text-center">Rating</th>
                        <th class="text-right">Reviews</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in TopRatedNewReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.rating_avg }}
                        </td>
                        <td class="text-right">
                            {{ item.review_count }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Could not display Top rated.</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
