{% extends 'theme/wos/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
            <div class="col-md-6 text-left">
                <h4 class="rating-title">
                    <span class="rating-v2">
                        Ranking the Nintendo Switch library.
                        {% if auth_user() is null %}
                            <a href="{{ route('login') }}">Join us!</a>
                        {% endif %}
                    </span>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4 class="rating-title">
                    <span class="rating-v2">
                        <a href="{{ route('games.recentReleases') }}">{{ TotalReleasedGames }} games</a>
                    </span>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4 class="rating-title">
                    <span class="rating-v2">
                        <a href="{{ route('topRated.landing') }}">{{ TotalRanked }} ranked</a>
                    </span>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4 class="rating-title">
                    <span class="rating-v2">
                        <a href="{{ route('reviews.landing') }}">{{ TotalReviews }} scores</a>
                    </span>
                </h4>
            </div>
        </div>
    </div>

</div>

{% if auth_user() is null %}
    <a href="{{ route('auth.login.twitter') }}">
        <img src="/img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" style="border: 0;">
    </a>
{% endif %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2 class="standout-header">
            Latest news
        </h2>
        <div class="row">
            {% include 'news/tiled-item.twig' with {'item': LatestNewsPost, 'batchOverride': 1} %}
        </div>

        {% if FeaturedGameList %}
            <h2 class="standout-header">
                Featured game
            </h2>
            <p>
                <small>
                    Featured games are titles that look interesting or unusual. You might like to
                    check them out. They are selected by members and staff.
                </small>
            </p>
            {% include 'games/layouts/tiledGrid/layoutWithHero.twig' with {'GameList': FeaturedGameList} %}
            {#
            <div class="label label-success">
                {{ FeaturedGameData.getTypeDesc() }}
            </div>
            #}
        {% endif %}

        {#
        <h2 class="standout-header">Recent member reviews</h2>
        <div class="row homepage-quick-reviews">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p>
                    <em>
                        <small>
                            These reviews were submitted directly to Switch Scores by members.
                        </small>
                    </em>
                </p>
                {% for item in QuickReviews %}
                    {% include 'modules/quick-review/item.twig' with {'QuickReview': item, 'moduleMode': 'with-titles'} %}
                {% endfor %}
            </div>
        </div>
        #}

        <h2 class="standout-header">
            Recently ranked
        </h2>
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': HighlightsRecentlyRanked} %}

        <h3 class="text-center">
            <a href="{{ route('reviews.landing') }}">View more reviews &gt;</a>
        </h3>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 2px solid #cccccc;">

        <h2 class="standout-header">
            Recent top rated
        </h2>
        {% include 'games/layouts/tiledGrid/layoutWithHero.twig' with {'GameList': RecentWithGoodRanks} %}
        <h3 class="text-center">
            <a href="{{ route('topRated.landing') }}">View all Top Rated &gt;</a>
        </h3>

        <h2 class="standout-header">
            Best of {{ Year }}
        </h2>
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': TopRatedThisYear} %}
        <h3 class="text-center">
            <a href="{{ route('topRated.landing') }}">View all Top Rated &gt;</a>
        </h3>

    </div>

</div>

{% endblock page_body %}
