{% extends 'theme/wos/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
        <h4 class="rating-title">
            <span class="rating-v2">
                Ranking the Nintendo Switch library.
                {% if auth_user() is null %}
                    <a href="{{ route('login') }}">Join us!</a>
                {% endif %}
            </span>
        </h4>
    </div>

</div>

<div class="row hidden-md hidden-lg">

    <div class="col-sm-12 col-xs-12">
        <form role="form" method="get" action="{{ route('games.search') }}">

            <div class="row hidden-md hidden-lg">
                <div class="col-sm-10 col-xs-10">
                    <input name="search_keywords" type="text" class="form-control" placeholder="Search games">
                </div>
                <div class="col-sm-2 col-xs-2">
                    <button type="submit" class="btn outline btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


{% if auth_user() is null %}
    <a href="{{ route('auth.login.twitter') }}">
        <img src="/img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" style="border: 0;">
    </a>
{% endif %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        {#
        <h2 class="standout-header">
            Latest news
        </h2>
        <div class="row">
            {% include 'news/tiled-item.twig' with {'item': LatestNewsPost, 'batchOverride': 1} %}
        </div>
        #}

        <h2 class="standout-header">
            Recent top rated
        </h2>
        <p>
            Top rated Nintendo Switch games released in the last {{ RecentTopRatedLimit }} days.
        </p>
        {% include 'games/layouts/tiledGrid/layoutWithHero.twig' with {'GameList': RecentWithGoodRanks} %}
        {#
        {% include 'games/layouts/standardNoHero/layout.twig' with {'GameList': HighlightsRecentlyRanked} %}
        #}

        <h3 class="text-center">
            <a href="{{ route('reviews.landing') }}">View more reviews &gt;</a>
        </h3>

        <h2 class="standout-header">
            Best of {{ Year }}
        </h2>
        {% include 'games/layouts/condensedRows/layout.twig' with {'GameList': TopRatedThisYear} %}
        <h3 class="text-center">
            <a href="{{ route('topRated.landing') }}">View all Top Rated &gt;</a>
        </h3>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 2px solid #cccccc;">

        <h2 class="standout-header">
            Recent reviews
        </h2>
        {% include 'reviews/layouts/standard/layout.twig' with {'ReviewList': ReviewList, 'batchOverride': '1'} %}

    </div>

</div>

{% endblock page_body %}
