{% extends 'theme/wos/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
        <!-- Logo + featured link -->
        <div class="row">
            <div class="col-md-5 text-left">
                <h1 style="margin-top: 10px;">
                    World of Switch
                </h1>
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <a href="{{ route('games.recentReleases') }}">{{ TotalReleasedGames }} releases</a>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <a href="{{ route('topRated.landing') }}">{{ TotalRanked }} ranked</a>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <a href="{{ route('reviews.landing') }}">{{ TotalReviews }} ratings</a>
                </h4>
            </div>
            <div class="col-md-1 col-lg-1 text-center">
                <img src="/img/logo.png" alt="World of Switch" class="img-responsive" style="max-height: 50px; max-width: 50px;">
            </div>
        </div>
    </div>

</div>

<hr style="border: 1px solid #c9c9c9; margin-top: 5px; margin-bottom: 5px;">

{% if auth_user() is null %}
    <a href="{{ route('auth.login.twitter') }}">
        <img src="/img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" style="border: 0;">
    </a>
{% endif %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2 class="standout-header">
            Recent top rated
        </h2>
        {% include 'games/layouts/tiledGrid/layoutWithHero.twig' with {'GameList': RecentWithGoodRanks} %}
        <h3 class="text-center">
            <a href="{{ route('topRated.landing') }}">View all Top Rated &gt;</a>
        </h3>

        <h2 class="standout-header">
            Best of {{ Year }}
        </h2>
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': TopRatedThisYear} %}
        <h3 class="text-center">
            <a href="{{ route('topRated.landing') }}">View all Top Rated &gt;</a>
        </h3>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 2px solid #cccccc;">

        <h2 class="standout-header">
            Latest reviews
        </h2>

        {% if ReviewList.count %}

            {% for item in ReviewList %}

                {% if item.game.boxart_header_image %}
                    {% set boxartUrl = '/img/games/header/'~item.game.boxart_header_image %}
                {% else %}
                    {% set boxartUrl = '' %}
                {% endif %}

                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <a href="{{ route('game.show', {'id': item.game.id, 'linkTitle': item.game.link_title}) }}">
                            {% if boxartUrl %}
                                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ item.game.title }}">
                            {% else %}
                                <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.game.title }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <p class="h4">
                            <a href="{{ route('game.show', {'id': item.game.id, 'linkTitle': item.game.link_title}) }}">{{ item.game.title }}</a>
                            <br>
                            <span class="small">
                                Posted by: {{ item.site.name }} on {{ item.review_date|date('jS M') }}
                            <br>
                                Rating: {{ item.rating_normalised }}/10
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No reviews to display.</p>
        {% endif %}
        <h3 class="text-center">
            <a href="{{ route('reviews.landing') }}">View more reviews &gt;</a>
        </h3>

        <h2 class="standout-header">
            New releases
        </h2>
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': NewReleases} %}
        <h3 class="text-center">
            <a href="{{ route('games.landing') }}">View all games &gt;</a>
        </h3>


    </div>

</div>

{% endblock page_body %}
