{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            New releases
            <span class="h4">(<a href="{{ route('games.list.released') }}">view all</a>)</span>
        </h2>
        {% if NewReleases.count %}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in NewReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.release_date|date('jS M') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games within this timeframe.</p>
        {% endif %}
        <h2>
            Upcoming releases
            <span class="h4">(<a href="{{ route('games.list.upcoming') }}">view all</a>)</span>
        </h2>
        {% if UpcomingReleases.count %}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in UpcomingReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.release_date|date('jS M') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games within this timeframe.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Switch eShop charts
            <span class="h4">(<a href="{{ route('charts.landing') }}">view all</a>)</span>
        </h2>
        {% if ChartsLatestEu %}
            <p>
                <strong>{{ ChartsLatestEu.chart_date|date('jS M') }}</strong>:
                <a href="{{ route('charts.date.show', {'countryCode': 'eu', 'date': ChartsLatestEu.chart_date}) }}">
                    Latest European eShop charts
                </a>
            </p>
        {% else %}
            <p>Could not display latest European charts data.</p>
        {% endif %}
        {% if ChartsLatestUs %}
            <p>
                <strong>{{ ChartsLatestUs.chart_date|date('jS M') }}</strong>:
                <a href="{{ route('charts.date.show', {'countryCode': 'us', 'date': ChartsLatestUs.chart_date}) }}">
                    Latest US eShop charts
                </a>
            </p>
        {% else %}
            <p>Could not display latest US charts data.</p>
        {% endif %}
        {% if NewsList.count %}
            <h2>
                Latest news
                <span class="h4">(<a href="{{ route('news.landing') }}">view all</a>)</span>
            </h2>
            {% for item in NewsList %}
                <p>
                    <strong>{{ item.created_at|date('jS M') }}</strong>:
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Top Rated - New
            <span class="h4">(<a href="{{ route('reviews.topRated.landing') }}">view more</a>)</span>
        </h2>
        {% if TopRatedNewReleases %}
            <p>
                Top Rated games released in the last 30 days.
            </p>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th class="text-center">Rating</th>
                        <th class="text-right">Reviews</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in TopRatedNewReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.rating_avg }}
                        </td>
                        <td class="text-right">
                            {{ item.review_count }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Could not display Top rated.</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
