{% extends 'theme/wos/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
        <!-- Logo + featured link -->
        <div class="row">
            <div class="col-md-5 text-left">
                <h1 style="margin-top: 10px;">
                    World of Switch
                </h1>
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <a href="{{ route('games.recentReleases') }}">{{ TotalReleasedGames }} releases</a>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <a href="{{ route('topRated.landing') }}">{{ TotalRanked }} ranked</a>
                </h4>
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <a href="{{ route('reviews.landing') }}">{{ TotalReviews }} ratings</a>
                </h4>
            </div>
            <div class="col-md-1 col-lg-1 text-center">
                <img src="/img/logo.png" alt="World of Switch" class="img-responsive" style="max-height: 50px; max-width: 50px;">
            </div>
        </div>
    </div>

</div>

<hr style="border: 1px solid #c9c9c9; margin-top: 5px; margin-bottom: 5px;">

<div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>
            New releases
        </h2>
        {% if NewReleases|length %}
            {% for item in NewReleases %}
                {% include 'games/layouts/landingItem.twig' with {'item': item, 'cfgSmallTitles': 'Y'} %}
            {% endfor %}
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>
            Recent top rated
        </h2>
        {% if RecentWithGoodRanks|length %}
            {% for item in RecentWithGoodRanks %}
                {% include 'games/layouts/landingItem.twig' with {'item': item, 'cfgSmallTitles': 'Y', 'cfgHideRating': 'N'} %}
            {% endfor %}
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>
            Best of {{ Year }}
        </h2>
        {% if TopRatedThisYear|length %}
            {% for item in TopRatedThisYear %}
                {% include 'games/layouts/landingItem.twig' with {'item': item, 'cfgSmallTitles': 'Y', 'cfgHideDate': 'Y', 'cfgHideRating': 'N'} %}
            {% endfor %}
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h3 class="text-center">
            <a href="{{ route('games.landing') }}">View all games &gt;</a>
        </h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h3 class="text-center">
            <a href="{{ route('reviews.landing') }}">View more reviews &gt;</a>
        </h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h3 class="text-center">
            <a href="{{ route('topRated.landing') }}">View all Top Rated &gt;</a>
        </h3>
    </div>
</div>

{% endblock page_body %}
