{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.data-sources.dashboard'), 'text': 'Data sources'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-with-eu-date">With EU date ({{ ItemsWithEUDate.count }})</a></li>
                <li><a href="#tabs-no-eu-date">No EU date ({{ ItemsNoEUDate.count }})</a></li>
            </ul>

            <div id="tabs-with-eu-date">

                <h2>With EU date</h2>
                {% include 'staff/data-sources/parsed/table.twig' with {'ItemList': ItemsWithEUDate} %}

            </div>

            <div id="tabs-no-eu-date">

                <h2>No EU date</h2>
                {% include 'staff/data-sources/parsed/table.twig' with {'ItemList': ItemsNoEUDate} %}

            </div>

        </div>

    </div>

</div>


{% include 'common/table-sorting.twig' %}
<script>

    var sourceId = '{{ SourceId }}';

    $('#tabs').tabs();

    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 50,
            "columns": [
                null, // link_id
                null, // title
                null, // release_date_eu
                {% if DataSource.isWikipedia() %}
                null, // release_date_us
                null, // release_date_jp
                {% endif %}
                {% if DataSource.isNintendoCoUk() %}
                null, // price_standard
                { "orderable": false }, // Nintendo URL
                {% endif %}
                { "orderable": false } // Options
            ]
        });
    });

    $('.lnk-add-ignore').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        itemId = elemId.replace('lnk-add-ignore-', '');

        if (itemId == '') {
            $('#js-admin-notify').text('Missing itemId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Add to ignore list?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.data-sources.ignore.addToIgnoreList') }}', {'sourceId': sourceId, 'dsParsedItemId': itemId}, function(data) {
            $('#lnk-add-ignore-' + itemId).parent().html('<em>Ignored</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });

    $('.lnk-remove-ignore').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        itemId = elemId.replace('lnk-remove-ignore-', '');

        if (itemId == '') {
            $('#js-admin-notify').text('Missing itemId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Remove from ignore list?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.data-sources.ignore.removeFromIgnoreList') }}', {'sourceId': sourceId, 'dsParsedItemId': itemId}, function(data) {
            $('#lnk-remove-ignore-' + itemId).parent().html('<em>Un-ignored</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
