{% if ItemList.count > 0 %}
    <table class="table data-sortable">
        <thead>
        <tr>
            <th class="text-center">Link id</th>
            <th class="text-left">Title</th>
            <th class="text-center">Release date (EU)</th>
            {% if DataSource.isWikipedia() %}
                <th class="text-center">Release date (US)</th>
                <th class="text-center">Release date (JP)</th>
            {% endif %}
            {% if DataSource.isNintendoCoUk() %}
                <th class="text-center">Price (standard)</th>
                <th class="text-center">Nintendo Url</th>
            {% endif %}
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ItemList %}
            <tr>
                <td class="text-center">
                    {{ item.link_id }}
                </td>
                <td class="text-left">
                    {{ item.title }}
                </td>
                <td class="text-center">
                    {{ item.release_date_eu }}
                </td>
                {% if DataSource.isWikipedia() %}
                    <td class="text-center">
                        {{ item.release_date_us }}
                    </td>
                    <td class="text-center">
                        {{ item.release_date_jp }}
                    </td>
                {% endif %}
                {% if DataSource.isNintendoCoUk() %}
                    <td class="text-center">
                        {{ item.price_standard }}
                    </td>
                    <td class="text-center">
                        <a href="{{ LinkHelper.eshopUrl('eu', item.url) }}" target="_blank">View</a>
                    </td>
                {% endif %}
                <td class="text-center">
                    {% if DataSource.isNintendoCoUk() %}
                        <a href="{{ route('staff.data-sources.nintendo-co-uk.add-game', {'itemId': item.id}) }}">Add game</a> :
                    {% elseif DataSource.isWikipedia() %}
                        <a href="{{ route('staff.data-sources.wikipedia.add-link', {'itemId': item.id}) }}">Add link</a> :
                    {% endif %}
                    {% if ListRef == 'ignored' %}
                        <a href="javascript:void(0);" id="lnk-remove-ignore-{{ item.id }}" class="lnk-remove-ignore">Un-ignore</a>
                    {% else %}
                        <a href="javascript:void(0);" id="lnk-add-ignore-{{ item.id }}" class="lnk-add-ignore">Ignore</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}
