{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games-filter.games-no-eshop-europe-link') }}">Games with no eShop Europe link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games-filter.games-no-eshop-europe-link') }}" class="h4">{{ NoEshopEuropeLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.action-lists.no-price') }}">Games with no price</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.action-lists.no-price') }}" class="h4">{{ NoPriceCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Stats</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.eshop.feed-items-europe.list') }}/no-link">eShop Europe: total unlinked items</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.eshop.feed-items-europe.list') }}/no-link" class="h4">{{ EshopEuropeUnlinkedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.eshop.feed-items-europe.list') }}/with-link">eShop Europe: total linked to a site record</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.eshop.feed-items-europe.list') }}/with-link" class="h4">{{ EshopEuropeLinkedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.eshop.feed-items-europe.list') }}">eShop Europe: total records</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.eshop.feed-items-europe.list') }}" class="h4">{{ EshopEuropeTotalCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock page_inner %}
