{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games-filter.games-no-eshop-europe-link') }}">Games with no eShop Europe link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games-filter.games-no-eshop-europe-link') }}" class="h4">{{ NoEshopEuropeLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.action-lists.no-price') }}">Games with no price</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.action-lists.no-price') }}" class="h4">{{ NoPriceCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.eshop.alerts.errors') }}">eShop update alerts: Errors</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.eshop.alerts.errors') }}" class="h4">{{ EshopAlertErrorCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.eshop.alerts.warnings') }}">eShop update alerts: Warnings</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.eshop.alerts.warnings') }}" class="h4">{{ EshopAlertWarningCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Reports</h2>
        <table class="table">
            <tbody>
            {% for item in ReportList %}
                <tr>
                    <td>
                        {% if item.reportTitle %}
                            {% set reportTitle = item.reportTitle %}
                        {% else %}
                            {% set reportTitle = item.dbField %}
                        {% endif %}
                        <a href="{{ route('staff.eshop.report', {'reportName': item.dbField}) }}">{{ reportTitle }}</a>
                    </td>
                    <td class="text-right">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'EshopEuropeImportData'}) }}">EshopEuropeImportData</a>
                    <br>
                    <small>Imports data from the European eShop</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'EshopEuropeLinkGames'}) }}">EshopEuropeLinkGames</a>
                    <br>
                    <small>Attempts to link data from the European eShop to games in the site database</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'EshopEuropeUpdateGameData'}) }}">EshopEuropeUpdateGameData</a>
                    <br>
                    <small>Updates data for games linked to eShop Europe data records</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'EshopEuropeDownloadPackshots'}) }}">EshopEuropeDownloadPackshots</a>
                    <br>
                    <small>Finds packshots from the European eShop, downloads them and links them to games</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'EshopEuropeRedownloadPackshots'}) }}">EshopEuropeRedownloadPackshots</a>
                    <br>
                    <small>Redownloads missing packshots from the European eShop</small>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Stats</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.feed-items.eshop.europe.list') }}/no-link">eShop Europe: total unlinked items</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.feed-items.eshop.europe.list') }}/no-link" class="h4">{{ EshopEuropeUnlinkedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.feed-items.eshop.europe.list') }}/with-link">eShop Europe: total linked to a site record</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.feed-items.eshop.europe.list') }}/with-link" class="h4">{{ EshopEuropeLinkedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.feed-items.eshop.europe.list') }}">eShop Europe: total records</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.feed-items.eshop.europe.list') }}" class="h4">{{ EshopEuropeTotalCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
