{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.eshop.dashboard'), 'text': 'eShop'},
    {'url': route('staff.eshop.report', {'reportName': ReportName}), 'text': 'eShop report: '~ReportTitle},
    {'text': PageTitle}
] %}

{% block page_inner %}

<div class="alert alert-info">
    <strong>Showing records with value: {{ FilterValue }}</strong>.
    <a href="{{ route('staff.eshop.report', {'reportName': ReportName}) }}">Go back to the overall stats view</a>.
</div>

{% if ReportData.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">fs_id</th>
                <th class="text-left">Title</th>
                <th class="text-center">{{ FieldName }}</th>
                <th class="text-center">Link</th>
                <th class="text-center">Nintendo Url</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ReportData %}
                <tr>
                    <td class="text-right">
                        {{ item.fs_id }}
                    </td>
                    <td class="text-left">
                        {{ item.title }}
                    </td>
                    <td class="text-center">
                        {{ attribute(item, FieldName) }}
                    </td>
                    <td class="text-center">
                        {% if item.game %}
                            <small>{{ item.game.id }}</small>
                        {% elseif item.game_id %}
                            <small>{{ item.game_id }}</small>
                        {% else %}
                            <small>-</small>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.url %}
                            <a href="{{ LinkHelper.eshopUrl('eu', item.url) }}" target="_blank">View</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.eshop.feed-items-europe.view', {'itemId': item.fs_id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": ['1', 'asc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
