{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">
    <div class="col-xs-12 col-sm-9 col-md-9">

        <img src="/img/about/switch-scores-pokemon-legends-arceus.jpeg" alt="Switch Scores - Pokemon Legends Arceus" class="img-responsive">
        <p>
            Thanks for visiting Switch Scores! We're a site dedicated to ranking as much of the
            Nintendo Switch library as possible.
        </p>
        <p>
            Now featuring Switch 2, too ...
        </p>
        <h2>Database stats</h2>
        <p>
            "Total released" excludes games that are yet to be released, or that have been de-listed.
        </p>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h3>Switch 1</h3>
                <table class="table table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="h5">Total released games</td>
                            <td class="h4 text-right">{{ Switch1Stats.total_count }}</td>
                        </tr>
                        <tr>
                            <td class="h5">Ranked games</td>
                            <td class="h4 text-right">{{ Switch1Stats.ranked_count }}</td>
                        </tr>
                        <tr>
                            <td class="h5">Low quality (<a href="{{ route('help.low-quality-filter') }}">What is this?</a>)</td>
                            <td class="h4 text-right">{{ Switch1Stats.low_quality_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h3>Switch 2</h3>
                <table class="table table-condensed table-striped">
                    <tbody>
                    <tr>
                        <td class="h5">Total released games</td>
                        <td class="h4 text-right">{{ Switch2Stats.total_count }}</td>
                    </tr>
                    <tr>
                        <td class="h5">Ranked games</td>
                        <td class="h4 text-right">{{ Switch2Stats.ranked_count }}</td>
                    </tr>
                    <tr>
                        <td class="h5">Low quality</td>
                        <td class="h4 text-right">{{ Switch2Stats.low_quality_count }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h2>
            Why do other sites show a different number of games?
        </h2>
        <p>
            Depending where you go, you'll see a different figure.
        </p>
        <ul>
            <li>
                <a href="https://en.wikipedia.org/wiki/List_of_Nintendo_Switch_games" target="_blank">Wikipedia</a>
                has a list of Switch games, but has circa 40% of the number of games on the system.
                They don't include Arcade Archives, ACA NeoGeo, Sega Ages,
                G-Mode Archives, plus hundreds of "non-notable" titles.
            </li>
            <li>
                <a href="https://www.nintendo.co.uk/Search/Search-299117.html?f=147394-5-10-71" target="_blank">Nintendo.co.uk</a>
                has a similar number of games to Switch Scores, but they include Switch Online games,
                and also bundles and "special edition" games as separate entries.
            </li>
        </ul>
        <h2>
            Our inclusion criteria and how we keep the database clean
        </h2>
        <p>
            Our policy is to ignore bundles, special editions where there is already a standard version available,
            and Switch Online games. But we include everything else.
        </p>
        <p>
            There are some nuances. Some games get de-listed; we keep those on the site. Occasionally a game is de-listed
            and then a brand-new version added. We've even seen a few games where the original release date is changed
            so the game appears to be new again. In these cases we keep the original release date intact.
        </p>
        <p>
            We occasionally edit game titles for length or clarity. We clean up titles all
            in capital letters, or where the first letter of every word is capitalised. Some games have a
            subtitle that we remove, leaving only the game title and not additional descriptive text.
        </p>
        <p>
            To our knowledge, no other site has put in the same amount of manual curation as we have, to
            have a clean and complete database of Nintendo Switch titles.
        </p>
        <h2>How you can help</h2>
        <p>
            We're always looking for new <a href="{{ route('partners.landing') }}">review partners</a> -
            get in touch if you publish reviews on your own site.
        </p>
        <p>
            Mmebers can also <a href="{{ route('register') }}">register</a> and submit quick reviews.
        </p>
        <h2>
            History
        </h2>
        <ul>
            <li><a href="{{ route('about.changelog') }}">See our changelog</a> - notable changes since the site launched.</li>
        </ul>

    </div>
    <div class="ss-sidebar col-xs-12 col-sm-3 col-md-3">
        <img src="/img/switch-scores-logo-bg.jpg" alt="Switch Scores" class="img-responsive">
        <h2>Support the site</h2>
        <p>
            If you enjoy Switch Scores, consider becoming a Patron to show your support.
            We really appreciate any help you can give.
        </p>
        <ul>
            <li><a href="https://www.patreon.com/switchscores" target="_blank">Become a Patron</a></li>
        </ul>
        <h2>Social</h2>
        <ul>
            <li>Bluesky: <a href="https://bsky.app/profile/switchscores.bsky.social">switchscores</a></li>
            <li>Twitter: <a href="https://twitter.com/switchscores">switchscores</a></li>
            <li>Email: <a href="mailto:ben@switchscores.com">ben@switchscores.com</a></li>
        </ul>
        <p>
            Follow us on Bluesky for news and updates. Or send questions, feedback and comments.
        </p>
        <h2>Email</h2>
        <p>
            Send questions and partnership requests via email. <strong>We do NOT accept guest posts, paid posts, sponsored links,
            or adverts</strong>.
            <br>Contact via: <a href="mailto:ben@switchscores.com">ben@switchscores.com</a>
        </p>
        <img src="/img/about/switch-scores-kirby-and-the-forgotten-land.jpeg" alt="Switch Scores - FEZ" class="img-responsive">
        <img src="/img/about/switch-scores-undermine.jpeg" alt="Switch Scores - UnderMine" class="img-responsive">
        <img src="/img/about/switch-scores-fez.jpeg" alt="Switch Scores - FEZ" class="img-responsive">
        <img src="/img/about/switch-scores-grindstone.jpeg" alt="Switch Scores - Grindstone" class="img-responsive">
    </div>
</div>

{% endblock page_body %}
