{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Games at No {{ PositionNo }}</h1>

<p>The following games have been at No {{ PositionNo }} at some point since we started recording the eShop Charts.</p>

<table class="table table-striped table-condensed table-responsive">
    <tr>
        <th style="text-align: left;">Title</th>
        <th style="text-align: center;">Times at No {{ PositionNo }}</th>
    </tr>
    {% for item in GamesList %}
        <tr>
            <td style="text-align: left;">
                <a href="{{ route('game.show', {'id': item.game_id, 'title': item.link_title}) }}">{{ item.title }}</a>
            </td>
            <td style="text-align: center;">
                {{ item.count }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock page_body %}
