{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Charts</h1>

<h2>Insights</h2>
<ul>
    <li><a href="{{ route('charts.mostAppearances') }}">Most appearances</a> of games in the eShop charts</li>
    <li><a href="{{ route('charts.gamesAtPosition') }}">Games at position</a> - which games have been at No 1, No 2, No 3 etc</li>
</ul>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>European charts</h2>
        {% if ChartDatesEu.count > 0 %}
            <div class="row">
            {% for item in ChartDatesEu %}
                {% set ChartEuUrl = route('charts.date.show', {'countryCode': 'eu', 'date': item.chart_date}) %}
                {% set ChartEuDate = item.chart_date|date('jS M Y') %}
                <div class="col-sm-12 col-md-3 col-lg-3" style="border: 1px solid #dedede; padding: 15px 2px; text-align: center;">
                    <a href="{{ ChartEuUrl }}">{{ ChartEuDate }}</a>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>No charts found!</p>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>US charts</h2>
        {% if ChartDatesUs.count > 0 %}
            <div class="row" style="border-left: 2px solid #000;">
                {% for item in ChartDatesUs %}
                    {% set ChartUsUrl = route('charts.date.show', {'countryCode': 'us', 'date': item.chart_date}) %}
                    {% set ChartUsDate = item.chart_date|date('jS M Y') %}
                    <div class="col-sm-12 col-md-3 col-lg-3" style="border: 1px solid #dedede; padding: 15px 2px; text-align: center;">
                        <a href="{{ ChartUsUrl }}">{{ ChartUsDate }}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No charts found!</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
