{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Charts</h1>

<h2>Insights (currently European charts only)</h2>
<ul>
    <li><a href="{{ route('charts.mostAppearances') }}">Most appearances</a> of games in the Top 15</li>
    <li><a href="{{ route('charts.gamesAtPosition') }}">Games at position</a> - which games have been in each position</li>
</ul>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>European charts - by date</h2>
        {% if ChartDatesEu.count > 0 %}
            <ul>
                {% for item in ChartDatesEu %}
                    <li><a href="{{ route('charts.date', {'date': item.chart_date}) }}">{{ item.chart_date }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No charts found!</p>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>US charts - by date</h2>
        {% if ChartDatesUs.count > 0 %}
            <ul>
                {% for item in ChartDatesUs %}
                    <li><a href="{{ route('charts.us.date', {'date': item.chart_date}) }}">{{ item.chart_date }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No charts found!</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
