{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Charts</h1>

<h2>Insights (currently European charts only)</h2>
<ul>
    <li><a href="{{ route('charts.mostAppearances') }}">Most appearances</a> of games in the Top 15</li>
    <li><a href="{{ route('charts.gamesAtPosition') }}">Games at position</a> - which games have been in each position</li>
</ul>

<h2>European charts - by date</h2>
{% if ChartDates.count > 0 %}
    <ul>
        {% for item in ChartDates %}
            <li><a href="{{ route('charts.date', {'date': item.chart_date}) }}">{{ item.chart_date }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No charts found!</p>
{% endif %}

<h2>US charts - by date</h2>
<ul>
    <li><a href="{{ route('charts.us.date', {'date': '2017-06-17'}) }}">2017-06-17</a></li>
    <li><a href="{{ route('charts.us.date', {'date': '2017-06-10'}) }}">2017-06-10</a></li>
    <li><a href="{{ route('charts.us.date', {'date': '2017-06-03'}) }}">2017-06-03</a></li>
</ul>

{% endblock page_body %}
