{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>{{ PageTitle }}</h1>

{% if GamesList.count > 0 %}
    <table class="table table-striped table-condensed table-responsive">
        <tr>
            <th style="text-align: center;">Position</th>
            <th style="text-align: left;">Title</th>
            <th style="text-align: left;">Movement</th>
        </tr>
        {% for item in GamesList %}
            <tr>
                <td style="text-align: center;">
                    {{ item.position }}
                </td>
                <td style="text-align: left;">
                    <a href="{{ route('game.show', {'id': item.game.id, 'title': item.game.link_title}) }}">{{ item.game.title }}</a>
                </td>
                <td style="text-align: left;">
                    {% set movementItem = item.getMovement() %}
                    {% set currentPosition = item.position %}
                    {% include 'charts/chartMovement.twig' with {'movementItem': movementItem, 'currentPosition': currentPosition} %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No charts recorded on this date.</p>
{% endif %}

{% if ChartDateNext %}
    {% set ChartUrl = route('charts.date.show', {'countryCode': CountryCode, 'date': ChartDateNext.chart_date}) %}
    {% set ChartDate = ChartDateNext.chart_date|date('jS M Y') %}
    <div class="pull-right">
        <a href="{{ ChartUrl }}">Next: {{ ChartDate }} &gt;&gt;&gt;</a>
    </div>
{% endif %}
{% if ChartDatePrev %}
    {% set ChartUrl = route('charts.date.show', {'countryCode': CountryCode, 'date': ChartDatePrev.chart_date}) %}
    {% set ChartDate = ChartDatePrev.chart_date|date('jS M Y') %}
    <div class="pull-left">
        <a href="{{ ChartUrl }}">&lt;&lt;&lt; Previous: {{ ChartDate }}</a>
    </div>
{% endif %}

{% endblock page_body %}
