{% if GameImages or VideoUrl %}
    {% if VideoUrl != '' and GameData.video_header_text != '' %}
        <h3>
            {{ GameData.video_header_text }}
            <small>
                (<a href="{{ VideoUrl }}" target="_blank">view original</a>)
            </small>
        </h3>
    {% endif %}
    {# http://fotorama.io/customize/ #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <div class="fotorama"
         data-width="100%"
         data-ratio="400/225"
         data-minwidth="150"
         data-maxwidth="640"
         data-minheight="75"
         data-maxheight="100%"
         data-nav="thumbs">
        {% if VideoUrl %}
        <a href="{{ VideoUrl }}">{{ GameData.title }}</a>
        {% endif %}
        {% if GameImages %}
        {% for image in GameImages %}
            <img src="{{ GameData.media_folder }}{{ image.url }}" width="150" height="125">
        {% endfor %}
        {% endif %}
    </div>
{% endif %}
