<table class="table table-condensed table-responsive">
    <tr>
        <th colspan="2" style="background: #dedede;">eShop details</th>
    </tr>
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">eShop price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                {% if DSNintendoCoUk %}
                    {% if DSNintendoCoUk.price_discount_pc == null %}
                        <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                    {% else %}
                        <s><span class="h4">&pound;{{ GameData.price_eshop }}</span></s>
                        &nbsp;&nbsp;&nbsp;
                        <span class="h4" style="font-weight: bold;">&pound;{{ DSNintendoCoUk.price_discounted }}</span>
                        &nbsp;&nbsp;&nbsp;
                        <span style="color: #f00;">{{ DSNintendoCoUk.price_discount_pc }}% off</span>
                    {% endif %}
                {% else %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% if GameData.eu_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">Europe release</span>
            </td>
            <td>
                {{ GameData.eu_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    {% if GameData.us_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">US release</span>
            </td>
            <td>
                {{ GameData.us_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    {% if GameData.jp_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">Japan release</span>
            </td>
            <td>
                {{ GameData.jp_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    {% if DSNintendoCoUk is not null %}
        <tr>
            <td>
                <span style="font-weight: bold;">Link to eShop</span>
            </td>
            <td>
                <a href="{{ LinkHelper.eshopUrl('eu', DSNintendoCoUk.url) }}" target="_blank">Visit eShop page</a>
            </td>
        </tr>
    {% endif %}
</table>
