<table class="table table-condensed table-responsive">
    <tr>
        <th colspan="2" style="background: #dedede;">eShop details</th>
    </tr>
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">eShop price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                {% if GameData.eshopEuropeGame.fs_id is null %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% elseif GameData.eshopEuropeGame.price_discount_percentage_f == '0.00' %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% else %}
                    <s><span class="h4">&pound;{{ GameData.price_eshop }}</span></s>
                    &nbsp;&nbsp;&nbsp;
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.eshopEuropeGame.price_lowest_f }}</span>
                    &nbsp;&nbsp;&nbsp;
                    <span style="color: #f00;">{{ GameData.eshopEuropeGame.price_discount_percentage_f }}% off</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% if ReleaseDates %}
        {% for item in ReleaseDates %}
            {% if item.region == 'eu' %}
                {% set RegionDesc = 'Europe' %}
            {% elseif item.region == 'us' %}
                {% set RegionDesc = 'US' %}
            {% elseif item.region == 'jp' %}
                {% set RegionDesc = 'Japan' %}
            {% else %}
                {% set RegionDesc = item.region %}
            {% endif %}
            <tr>
                <td>
                    <span style="font-weight: bold;">{{ RegionDesc }} release</span>
                </td>
                <td>
                    {% if item.release_date and item.is_released == 1 %}
                        {{ item.release_date|date('jS M Y') }}
                    {% else %}
                        {{ item.upcoming_date }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if GameGenres|length > 0 %}
        <tr>
            <td>
                <span style="font-weight: bold;">Genres</span>
            </td>
            <td>
                {% for item in GameGenres %}
                    <a href="{{ route('games.genres.item', {'linkTitle': item.genre.link_title }) }}">
                        <nobr>{{ item.genre.genre }}</nobr>
                    </a>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endif %}
    {% if GameData.eshopEuropeGame.fs_id is not null %}
        <tr>
            <td>
                <span style="font-weight: bold;">Link to eShop</span>
            </td>
            <td>
                <a href="{{ LinkHelper.eshopUrl('eu', GameData.eshopEuropeGame.url) }}" target="_blank">Visit eShop page</a>
            </td>
        </tr>
    {% endif %}
</table>
