<table class="table table-condensed table-responsive">
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Availability (Digital)</span>
        </td>
        <td>
            {{ GameData.format_digital }}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                {% if GameData.price_eshop_discount_pc == null %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% else %}
                    <s><span class="h4">&pound;{{ GameData.price_eshop }}</span></s>
                    &nbsp;&nbsp;&nbsp;
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop_discounted }}</span>
                    &nbsp;&nbsp;&nbsp;
                    <span style="color: #f00;">{{ GameData.price_eshop_discount_pc }}% off</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% if DSNintendoCoUk is not null %}
        <tr>
            <td style="vertical-align: middle;">
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ LinkHelper.eshopUrl('eu', DSNintendoCoUk.url) }}" class="btn btn-primary btn-sm" target="_blank">Buy at Nintendo.co.uk</a>
            </td>
        </tr>
    {% elseif GameData.nintendo_store_url_override %}
        <tr>
            <td style="vertical-align: middle;">
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ GameData.nintendo_store_url_override }}" class="btn btn-primary btn-sm" target="_blank">Buy at Nintendo store</a>
            </td>
        </tr>
    {% endif %}
    {% if GameData.amazon_uk_link %}
        <tr>
            <td style="vertical-align: middle;">
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ GameData.amazon_uk_link }}?tag=switchscores-21" class="btn btn-primary btn-sm" target="_blank">Buy at Amazon UK</a>
            </td>
        </tr>
    {% endif %}
</table>
