{% if GameReviews %}
    <h2>Reviews</h2>
    {% if GameReviews.count > 0 %}
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th>Site</th>
                <th class="text-center">Rating<br>(out of 10)</th>
                <th class="text-center">Review date</th>
                <th class="text-center">Link</th>
            </tr>
            {% for Review in GameReviews %}
                <tr>
                    <td>
                        <a href="{{ route('reviews.site', {'linkTitle': Review.site.link_title}) }}">{{ Review.site.name }}</a>
                    </td>
                    <td class="text-center">
                        {% if Review.rating_normalised %}
                            {{ Review.rating_normalised }}
                            {% if Review.site.rating_scale != 10 %}
                            <br>
                            <small>
                                Actual: {{ Review.rating_original }}/{{ Review.site.rating_scale }}
                            </small>
                            {% endif %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ Review.review_date|date('jS M Y') }}
                    </td>
                    <td class="text-center">
                        <a href="{{ Review.url }}" target="_blank">Read review</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

    <p>
        <small>
        {% if GameReviews.count == 1 %}
            {{ GameReviews.count }} review.
        {% elseif GameReviews.count == 0 %}
            No reviews yet.
        {% else %}
            {{ GameReviews.count }} reviews.
        {% endif %}
        </small>
    </p>

{% endif %}
