{% if GameReviews %}
    <h2>
        Partner reviews
    </h2>
    {% if GameReviews.count > 0 %}
        <p>
            Got a site with Switch reviews?
            <a href="{{ route('partners.review-sites.landing') }}">Join as a partner</a> and see your reviews here.
        </p>
        <table class="table table-condensed table-responsive game-page-review-table">
            <tbody>
                {% for Review in GameReviews %}
                    <tr class="review-header">
                        <td class="text-left">
                            {{ Review.review_date|date('jS M Y') }}
                        </td>
                        <td>
                            {{ Review.site.name }}
                        </td>
                        <td class="text-center">
                            {% if Review.rating_normalised %}
                                {% include 'modules/rating/badge.twig' with {'score': Review.rating_normalised, 'scoreSize': 'h6'} %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ Review.url }}" target="_blank" title="Go to review (will open in new tab)">
                                Read review
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% if Review.description %}
                        <tr class="review-description">
                            <td colspan="3">
                                {{ Review.description }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-condensed table-responsive game-page-review-table">
            <tbody>
                <tr class="review-header">
                    <td class="text-left">
                        There are no reviews of {{ GameData.title }} yet.
                        <a href="{{ route('partners.review-sites.landing') }}">Help us out!</a>
                    </td>
                    <td class="text-center">
                        {% include 'modules/rating/badge-tbc.twig' with {'scoreSize': 'h6'} %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endif %}
