{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': GameData.title}] %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-8 col-md-8">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="pull-right" style="margin: 10px 0;">
                    {% if exception is null %}
                        <a class="twitter-share-button" data-size="large"
                           href="https://twitter.com/intent/tweet?text={{ PageTitle }}&via=switchscores">Tweet</a>
                    {% endif %}
                </div>
                <h1 style="margin: 10px 0;">
                    {{ GameData.title }}
                </h1>

                {% set boxartUrl = ImageHelper.imageHeaderUrl(GameData) %}
                {% if boxartUrl %}
                    <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ GameData.title }}">
                {% endif %}

                {% if GameBlurb %}
                    <p>
                        {{ GameBlurb|raw }}
                    </p>
                {% endif %}

                {% include 'games/page/reviews.twig' with {'GameReviews': GameReviews} %}
                {% include 'games/page/quickReviews.twig' with {'ReviewList': GameQuickReviewList} %}
                {% include 'games/page/news.twig' with {'NewsList': GameNews} %}

            </div>

        </div>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h2 class="standout-header">Rank</h2>

        {% include 'modules/game/rank/all-time.twig' %}
        {% include 'modules/game/rank/year.twig' %}
        {% include 'modules/game/rank/year-month.twig' %}

        <h2 class="standout-header">Scores</h2>

        {% include 'modules/game/rank/review-count.twig' %}
        {% include 'modules/game/rank/rating-avg.twig' %}

        <h2 class="standout-header">Collection</h2>
        {% if auth_user() %}
            {% if UserCollectionItem %}
                <p>
                    This game is in your collection.
                </p>
                {% include 'modules/user/collection/grid-item.twig' with {'item': UserCollectionItem, 'game': UserCollectionGame, 'displayMode': 'hide-extra-links'} %}
            {% else %}
                <p>
                    This game is not in your collection.
                </p>
                <p>
                    <a class="btn btn-sm btn-primary" href="{{ route('user.collection.add', {'gameId': GameId}) }}">Add to your collection</a>
                </p>
            {% endif %}
        {% else %}
            <p>
                <a href="{{ route('login') }}">Login</a> to add this game to your collection.
            </p>
        {% endif %}

        {% if GameReviews.count > 2 %}
            {% include 'games/page/reviewsChart.twig' with {'GameReviews': GameReviews} %}
        {% endif %}

        <h2>Infobox</h2>

        {% include 'games/page/infobox-eshop.twig' with {'GameData': GameData, 'GameDevelopers': GameDevelopers, 'GamePublishers': GamePublishers, 'GameTags': GameTags, 'NewsInfoBox': 'N'} %}
        {% include 'games/page/infobox.twig' with {'GameData': GameData, 'GameDevelopers': GameDevelopers, 'GamePublishers': GamePublishers, 'GameTags': GameTags, 'NewsInfoBox': 'N'} %}

        {% set GameShowUrl = route('game.show', {'id': GameData.id, 'linkTitle': GameData.link_title}) %}

        {% set boxartUrl = ImageHelper.imageSquareUrl(GameData) %}
        {% if boxartUrl %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ GameData.title }}">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        {% endif %}

    </div>

</div>

{% endblock page_body %}
