{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': GameData.title}] %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
        <h1 style="margin: 10px 0;">
            {{ GameData.title }}
            {% if GameData.game_rank %}
                <span class="h3 pull-right" style="margin: 5px 0;">
                    <span>Rank</span>
                    <strong>{{ GameData.game_rank }}<small>/{{ RankMaximum }}</small></strong>
                </span>
            {% endif %}
        </h1>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6">
        {% if auth_user() %}
            <span class="pull-right">
                <a class="btn btn-default btn-primary btn-xs" href="{{ route('user.collection.add', {'gameId': GameId}) }}">Add to Games collection</a>
            </span>
        {% endif %}
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6" style="vertical-align: middle;">
        {% if GameData.boxart_header_image %}
        {{ ImageHelper.packshotHeaderHtml(GameData) }}
        {% else %}
        {{ ImageHelper.packshotHtml(GameData, 'game-square-header') }}
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6" style="vertical-align: middle;">
        {% include 'games/page/infobox-eshop.twig' with {'GameData': GameData, 'GameDevelopers': GameDevelopers, 'GamePublishers': GamePublishers, 'GameTags': GameTags, 'NewsInfoBox': 'N', 'ReleaseDateInfo': ReleaseDateInfo} %}
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-4 col-md-6">
        {% include 'games/page/reviews.twig' with {'GameReviews': GameReviews} %}
        {% include 'games/page/userReviews.twig' with {'ReviewList': GameReviewUserList} %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6">
        {% include 'games/page/infobox.twig' with {'GameData': GameData, 'GameDevelopers': GameDevelopers, 'GamePublishers': GamePublishers, 'GameTags': GameTags, 'NewsInfoBox': 'N', 'ReleaseDateInfo': ReleaseDateInfo} %}
        {% include 'games/page/images.twig' with {'GameTitle': GameData.title, 'VideoUrl': GameData.video_url, 'MediaFolder': GameData.media_folder, 'GameImages': GameData.images} %}
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        {% if exception is null %}
            <a class="twitter-share-button" data-size="large"
               href="https://twitter.com/intent/tweet?text={{ PageTitle }}&via=worldofswitch">Tweet</a>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
