{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': GameData.title}] %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-8 col-md-8">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="pull-right" style="margin: 10px 0;">
                    {% if exception is null %}
                        <a class="twitter-share-button" data-size="large"
                           href="https://twitter.com/intent/tweet?text={{ PageTitle }}&via=switchscores">Tweet</a>
                    {% endif %}
                </div>
                <h1 style="margin: 10px 0;">
                    {{ GameData.title }}
                </h1>

                {% set boxartUrl = ImageHelper.imageHeaderUrl(GameData) %}
                {% if boxartUrl %}
                    <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ GameData.title }}">
                {% endif %}

                {% if GameBlurb %}
                    <p>
                        {{ GameBlurb }}
                    </p>
                {% endif %}

                {% include 'games/page/reviews.twig' with {'GameReviews': GameReviews} %}
                {% include 'games/page/quickReviews.twig' with {'ReviewList': GameQuickReviewList} %}
                {% include 'games/page/news.twig' with {'NewsList': GameNews} %}

            </div>

        </div>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h2>Rank</h2>

        {% if GameData.game_rank %}
            <!-- All-time -->
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <h4 class="rating-title">
                        <a href="{{ route('topRated.allTime') }}">All-time</a>
                    </h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4 style="margin: 5px 0;">
                        <span class="rating-v2">
                            <span class="rank">{{ GameData.game_rank }}</span>
                            <span class="separator">/</span>
                            <span class="suffix">{{ RankMaximum }}</span>
                        </span>
                    </h4>
                </div>
                <div class="col-md-2">
                </div>

            </div>
        {% else %}
            <!-- All-time -->
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <h4 class="rating-title">
                        <a href="{{ route('topRated.allTime') }}">All-time</a>
                    </h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4 style="margin: 5px 0;">
                        <span class="rating-v2">
                            <span class="rank"></span>
                            <span class="separator"></span>
                            <span class="suffix">TBC</span>
                        </span>
                    </h4>
                </div>
                <div class="col-md-2">
                </div>

            </div>
        {% endif %}
        <hr style="margin: 4px 0; width: 80%;">

        {% if GameData.gameRankYear.game_rank != '' %}
            <!-- Year -->
            <div class="row">

                {% set GameRankYearDisplay = GameData.eu_release_date|date('Y') %}
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <h4 class="rating-title">
                        <a href="{{ route('topRated.byYear', {'year': GameRankYearDisplay}) }}">{{ GameRankYearDisplay }}</a>
                    </h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4 style="margin: 5px 0;">
                        <span class="rating-v2">
                            <span class="rank">{{ GameData.gameRankYear.game_rank }}</span>
                            <span class="separator">/</span>
                            <span class="suffix">100</span>
                        </span>
                    </h4>
                </div>
                <div class="col-md-2">
                </div>

            </div>
            <hr style="margin: 4px 0; width: 80%;">
        {% endif %}

        {% if GameData.gameRankYearMonth.game_rank != '' %}
            <!-- Month -->
            <div class="row">

                {% set GameRankYearMonthUrl = GameData.eu_release_date|date('Y-m') %}
                {% set GameRankYearMonthDisplay = GameData.eu_release_date|date('M Y') %}
                <div class="col-md-4 col-sm-4 col-xs-6"">
                    <h4 class="rating-title">
                        <a href="{{ route('games.browse.byDate.page', {'date': GameRankYearMonthUrl}) }}">{{ GameRankYearMonthDisplay }}</a>
                    </h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4 style="margin: 5px 0;">
                        <span class="rating-v2">
                            <span class="rank">{{ GameData.gameRankYearMonth.game_rank }}</span>
                            <span class="separator"></span>
                            <span class="suffix"></span>
                        </span>
                    </h4>
                </div>
                <div class="col-md-2">
                </div>

            </div>
            <hr style="margin: 4px 0; width: 80%;">
        {% endif %}

        {% set GameShowUrl = route('game.show', {'id': GameData.id, 'title': GameData.link_title}) %}

        {% set boxartUrl = ImageHelper.imageSquareUrl(GameData) %}
        {% if boxartUrl %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ GameData.title }}">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        {% endif %}

        {% if GameReviews.count > 2 %}
            {% include 'games/page/reviewsChart.twig' with {'GameReviews': GameReviews} %}
        {% endif %}

        <h2>Infobox</h2>

        {% include 'games/page/infobox-eshop.twig' with {'GameData': GameData, 'GameDevelopers': GameDevelopers, 'GamePublishers': GamePublishers, 'GameTags': GameTags, 'NewsInfoBox': 'N'} %}
        {% include 'games/page/infobox.twig' with {'GameData': GameData, 'GameDevelopers': GameDevelopers, 'GamePublishers': GamePublishers, 'GameTags': GameTags, 'NewsInfoBox': 'N'} %}

    </div>

</div>


{#

<div class="row">

    <div class="col-xs-12 col-sm-4 col-md-6">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6">
        {% include 'games/page/news.twig' with {'NewsList': GameNews} %}
        {% include 'games/page/media.twig' with {'GameData': GameData, 'VideoUrl': GameData.video_url} %}
    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        {% if exception is null %}
            <a class="twitter-share-button" data-size="large"
               href="https://twitter.com/intent/tweet?text={{ PageTitle }}&via=switchscores">Tweet</a>
        {% endif %}
    </div>
</div>

#}

{% endblock page_body %}
