<h2>Quick user reviews</h2>
{% if ReviewList.count %}
    <table class="table table-condensed table-responsive">
        {% for item in ReviewList %}
            <tr style="background: #565656; color: #fff;">
                <td>
                    <span style="font-weight: bold;">Author:</span>
                    {{ item.user.display_name }}
                </td>
                <td>
                    <span style="font-weight: bold;">Quick rating:</span>
                    {{ item.quickRating.rating_desc }}
                </td>
                <td>
                    <span style="font-weight: bold;">Score:</span>
                    {{ item.review_score }}/10
                </td>
                <td>
                    <span style="font-weight: bold;">Date:</span>
                    {{ item.created_at|date('jS M Y') }}
                </td>
            </tr>
            {% if item.review_body %}
                <tr>
                    <td colspan="8">
                        {{ item.review_body|raw }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">
                        &nbsp;
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <p>
    {% if auth_user() %}
        Why not <a href="{{ route('user.reviews.add', {'gameId': GameId}) }}">write a quick review</a>?
    {% else %}
        <a href="{{ route('register') }}">Register</a> to add a quick review.
    {% endif %}
    </p>

{% else %}

    <p>
        None yet.
        {% if auth_user() %}
            Why not <a href="{{ route('user.reviews.add', {'gameId': GameId}) }}">write the first quick review</a>?
        {% else %}
            Why not <a href="{{ route('register') }}">register</a> and submit a quick review?
        {% endif %}
    </p>

{% endif %}
