{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h2>Access tokens</h2>
        {% if UserTokenList|length %}
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Expires</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in UserTokenList %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.created_at }}</td>
                            <td>{{ item.expires_at }}</td>
                            <td>
                                <a href="{{ route('user.developers.api.tokens.delete', {'tokenId': item.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You do not have any access tokens.</p>
        {% endif %}

        <h2>Generate a token</h2>
        {% if UserTokenList|length >= 3 %}
            <p>
                You have reached the maximum number of tokens. Please delete a token to continue.
            </p>
        {% else %}
            <p>
                <a href="{{ route('user.developers.api.tokens.create') }}">Get a new token</a>.
            </p>
        {% endif %}

    </div>

</div>


{% endblock page_inner %}