{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Reviews'}] %}

{% block page_body %}

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Latest reviews
        </h2>
        {% if ReviewList.count %}
            {% for item in ReviewList %}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" style="padding-bottom: 5px;">
                        <a href="{{ LinkHelper.gameShow(item.game) }}">
                            {{ ImageHelper.packshotHtml(item.game, 'reviews-tiny') }}
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10" style="padding-bottom: 5px;">
                        <strong>{{ item.review_date|date('jS M') }}</strong>:
                        <a href="{{ LinkHelper.gameShow(item.game) }}">{{ item.game.title }}</a>
                        <br>
                        <small>
                            Source: <a href="{{ route('reviews.site', {'linkTitle': item.site.link_title}) }}">{{ item.site.name }}</a>;
                            Rating: {{ item.rating_normalised }}
                        </small>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No reviews to display.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Rank updates
        </h2>
        {% if GameRankUpdates.count %}
            {% for item in GameRankUpdates %}
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" style="padding-bottom: 5px;">
                        <a href="{{ LinkHelper.gameShow(item.game) }}">
                            {{ ImageHelper.packshotHtml(item.game, 'reviews-tiny') }}
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10" style="padding-bottom: 5px;">
                        <strong>{{ item.created_at|date('jS M') }}</strong>:
                        <a href="{{ LinkHelper.gameShow(item.game) }}">{{ item.game.title }}</a>
                        <br>
                        <small>
                            {% if item.movement > 0 %}
                                <span style="color: #090;">Up {{ item.movement }} places</span>,
                                from {{ item.rank_old }} to {{ item.rank_new }}
                            {% elseif item.movement < 0 %}
                                <span style="color: #900;">Down {{ item.movement|replace('-', ' ') }} places</span>,
                                from {{ item.rank_old }} to {{ item.rank_new }}
                            {% else %}
                                Initial rank: {{ item.rank_new }}
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No rank updates to display.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Our review partners
        </h2>
        <p>
            Got a site with Switch reviews? Want to join as a partner? Visit our
            <a href="{{ route('partners.review-sites') }}">Review partners</a> page.
        </p>
        {% if ReviewPartnerList %}
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-center">View site</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in ReviewPartnerList %}
                    <tr>
                        <td class="text-left">
                            <a href="{{ route('reviews.site', {'linkTitle': item.link_title}) }}">
                                {{ item.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ item.url }}" target="_blank">View site</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Could not display review partners.</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
