{% import 'ui/components/rating/badge.twig' as rating %}
{% import 'ui/components/game/packshots.twig' as packshots %}

{% if GameList.count > 0 %}
    <table id="{{ TableId }}" class="table data-sortable">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Title</th>
            <th class="text-center">Release date (EU)</th>
            <th class="text-center">Site rank</th>
            <th class="text-center">Avg rating</th>
            <th class="text-center">Reviews</th>
            <th class="text-center">Standard<br>price</th>
            <th class="text-center">Discount<br>price</th>
            <th class="text-center">Discount %</th>
        </tr>
        </thead>
        <tbody>
        {% for item in GameList %}
            <tr>
                <td class="text-center">
                    <div style="width: 75px;">
                        {{ packshots.square(item) }}
                    </div>
                </td>
                <td>
                    <a href="{{ game_url(item) }}">{{ item.title }}</a>
                </td>
                <td class="text-center">
                    {{ item.eu_release_date }}
                </td>
                <td class="text-center">
                    {{ item.game_rank }}
                </td>
                <td class="text-center">
                    {% if item.game_rank %}
                        {{ rating.score(item.rating_avg, 'h6', 'b3') }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ item.review_count }}
                </td>
                <td class="text-center">
                    <span class="h5">&pound;{{ item.price_eshop }}</span>
                </td>
                <td class="text-center">
                    {% if item.price_eshop_discounted and item.price_eshop_discount_pc %}
                        <span class="h5">&pound;{{ item.price_eshop_discounted }}</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.price_eshop_discounted and item.price_eshop_discount_pc %}
                        <span style="color: #f00;">{{ item.price_eshop_discount_pc }}%</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#{{ TableId }}').DataTable({
                "order": [{{ TableSort|raw }}],
                "pageLength": 25,
                "columnDefs": [{ "targets": [ 0 ], "orderable": false }]
            });
        });
    </script>
{% else %}
    <p>No games found!</p>
{% endif %}
