{% extends 'theme/wos/developer-hub/clean-wide.twig' %}

{% block page_inner %}

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                This will show upcoming games for the next 7 days.
            </p>
        </div>

        {% if UpcomingGames %}

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <h2>Code</h2>

                {% set lastDate = '' %}
                {% set upcomingGamesHtml = '' %}
                {% for item in UpcomingGames %}
                    {% if lastDate != item.eu_release_date %}
                        {% set upcomingGamesHtml = upcomingGamesHtml ~
                        '<p style="color: rgb(85, 85, 85); font-size: 14px; line-height: 16px;"><strong>' ~ item.eu_release_date|date('d M') ~ '</strong></p>' ~ "\n\n"
                        %}
                    {% endif %}
                    {% set lastDate = item.eu_release_date %}
                    {% set upcomingGamesHtml = upcomingGamesHtml ~
                    '<ul style="color: rgb(85, 85, 85); list-style-type: square;">
    <li style="color: rgb(85, 85, 85); font-size: 13px; line-height: 16px; border-bottom: 1px solid #eee; padding-bottom: 7px; margin: 0 0 7px -10px;">
        <a href="### INSERT URL ###" style="text-decoration: underline; color: #d20014;">' ~ item.title ~ '</a>&nbsp;&mdash; MY DESCRIPTION.
    </li>
</ul>' ~ "\n\n"
                    %}
                {% endfor %}
                <textarea rows="40" readonly="true" style="background: #dedede; color: #000; font-family: 'Courier New', 'Courier', monospace; font-size: 14px; font-weight: normal; width: 100%;">
{{ upcomingGamesHtml }}
                </textarea>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <h2>Rendered code</h2>
                {{ upcomingGamesHtml|raw }}

            </div>

            <h2>Data</h2>

            <table class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Title</th>
                    <th class="text-center">EU release date</th>
                    <th class="text-center">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in UpcomingGames %}
                    <tr>
                        <td class="text-center">{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td class="text-center">{{ item.eu_release_date }}</td>
                        <td class="text-center">{{ item.price_eshop }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>
                Hmm, looks like there aren't any games to display here.
            </p>
        {% endif %}

    </div>

{% endblock page_inner %}