{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <table class="table table-condensed table-responsive">
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Name</span>
                </td>
                <td>{{ PartnerData.name }}</td>
            </tr>
            {% if PartnerData.website_url %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Official site</span>
                    </td>
                    <td><a href="{{ PartnerData.website_url }}" target="_blank">Visit official site</a></td>
                </tr>
            {% endif %}
            {% if PartnerData.twitter_id %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Twitter account</span>
                    </td>
                    <td><a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a></td>
                </tr>
            {% endif %}
            {% if PartnerData.is_low_quality == 1 %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Quality filter</span>
                    </td>
                    <td>
                        <label class="label label-danger">Low quality</label>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>

{% if MergedGameList %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Nintendo Switch games by {{ PartnerData.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% include 'games/layouts/standardNoHero/layout.twig' with {'GameList': MergedGameList, 'batchOverride': 4} %}
        </div>
    </div>
{% endif %}

{% endblock page_body %}
