{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Games companies'}, {'text': PageTitle}] %}

{% block page_body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <table class="table table-condensed table-responsive">
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Name</span>
                </td>
                <td>{{ PartnerData.name }}</td>
            </tr>
            {% if PartnerData.website_url %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Official site</span>
                    </td>
                    <td><a href="{{ PartnerData.website_url }}" target="_blank">Visit official site</a></td>
                </tr>
            {% endif %}
            {% if PartnerData.twitter_id %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Twitter account</span>
                    </td>
                    <td><a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
{% if MergedGameList %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Nintendo Switch games by {{ PartnerData.name }}</h2>
        </div>
        {% for item in MergedGameList %}
            {% if item.PartnerType == 'developer' %}
                {% set ExtraDetailLine = 'Developer' %}
            {% elseif item.PartnerType == 'publisher' %}
                {% set ExtraDetailLine = 'Publisher' %}
            {% elseif item.PartnerType == 'dev/pub' %}
                {% set ExtraDetailLine = 'Developer/Publisher' %}
            {% else %}
                {% set ExtraDetailLine = '' %}
            {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                {% include 'games/layouts/miniItem.twig' with {'item': item, 'ExtraDetailLine': ExtraDetailLine} %}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock page_body %}
