{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-8 col-md-8">

        <ul>

            <li><a href="{{ route('games.recentReleases') }}">Recent releases</a></li>
            <li><a href="{{ route('games.upcomingReleases') }}">Upcoming releases</a></li>
            <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>

            <li><a href="{{ route('reviews.landing') }}">Recent reviews</a></li>
            <li><a href="{{ route('lists.recently-ranked') }}">Recently ranked</a></li>

            <li><a href="{{ route('lists.buyersGuideHoliday2024US') }}">Buyer's Guide Holiday 2024 (US)</a></li>

        </ul>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
    </div>

</div>

{% endblock page_body %}
