{% extends 'theme/wos/base.twig' %}
{% import "ui/blocks/game-grid.twig" as gamegrid %}
{% import "ui/components/headings/heading.twig" as heading %}

{% block page_body %}

<script>
    $(document).ready(function() {
        $('a.js-toggle-list').on('click', function() {
            var elemId = $(this).attr('id');
            var listToShow = elemId.replace('js-toggle-', '');
            toggleList(listToShow);
        });
    });
    function toggleList(showWhich) {
        $('#list-ranked').hide();
        $('#list-unranked').hide();
        $('#list-delisted').hide();
        $('#' + showWhich).show();
    }
</script>

<div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h5 class="theme-header theme-padding-10 theme-colour-1">
            <strong>Navigation</strong>:
            <a id="js-toggle-list-ranked" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                Ranked ({{ RankedGameList|length }})</a>
             |
            <a id="js-toggle-list-unranked" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                Unranked ({{ UnrankedGameList|length }})</a>
             |
            <a id="js-toggle-list-delisted" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                De-listed ({{ DelistedGameList|length }})</a>
        </h5>

        <div id="list-ranked">
            {{ heading.renderChunkyRectangle('Ranked', 'h2') }}
            {{ gameslayouts.noHero(RankedGameList, 2) }}
        </div>
        <div id="list-unranked" style="display: none;">
            {{ heading.renderChunkyRectangle('Unranked', 'h2') }}
            {{ gameslayouts.noHero(UnrankedGameList, 2) }}
        </div>
        <div id="list-delisted" style="display: none;">
            {{ heading.renderChunkyRectangle('De-listed', 'h2') }}
            {{ gameslayouts.noHero(DelistedGameList, 2) }}
        </div>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

        {{ heading.renderChunkyRectangle('Search games', 'h4') }}
        {% include 'ui/components/search/form-mini.twig' %}

        {% if Category.children.count() > 0 %}
            {{ headings.renderChunkyRectangle('h4', 'Subcategories') }}
            <ul>
                {% for item in Category.children %}
                    <li>
                        <a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ heading.renderChunkyRectangle('Browse all games', 'h4') }}
        {% include 'public/games/navRightBrowseAll.twig' %}

    </div>

</div>

{% endblock page_body %}
