{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'url': route('staff.categorisation.dashboard'), 'text': 'Categorisation'}, {'text': PageTitle}] %}

{% block page_inner %}

<h2>Add a primary type</h2>
<label for="txt-new-primary-type-name">Name</label>
<input id="txt-new-primary-type-name" type="text" maxlength="50">
<input id="btn-save-primary-type" type="button" class="btn btn-primary" value="Save">
<div id="js-new-primary-type-notify" class="alert alert-success" role="alert" style="display: none;">
</div>

<h2>All primary types</h2>
{% if PrimaryTypeList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Primary type</th>
                <th class="text-center">Games with primary type</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in PrimaryTypeList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('games.browse.byPrimaryType.page', {'primaryType': item.link_title}) }}" target="_blank">
                            {{ item.primary_type }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.games().count }}
                    </td>
                    <td class="text-center">
                        {% if item.games().count == 0 %}
                            Delete
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No primary types found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null
            ]
        });
    });
    $('#btn-save-primary-type').on('click', function() {

        primaryType = $('#txt-new-primary-type-name').val();
        if (primaryType == '') {
            $('#js-new-primary-type-notify').text('No primary type name set.');
            $('#js-new-primary-type-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.categorisation.game-primary-types.add') }}', {primaryType: primaryType}, function(data) {
            $('#js-new-primary-type-notify').text('Primary type saved!');
            $('#js-new-primary-type-notify').show();
            $('#txt-new-primary-type-name').val('');
            setTimeout("$('#js-new-primary-type-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-new-primary-type-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-new-primary-type-notify').show();
            $('#txt-new-primary-type-name').val('');
        });
    });
</script>

{% endblock page_inner %}
