{% extends 'theme/wos/member/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="{{ route('user.partner-reviews.add') }}" class="btn outline btn-primary">+ Add a review</a>
    </div>
</div>

<hr>

{% if MsgSuccess %}
    <div class="alert alert-warning" role="alert">
        <strong>Thanks for submitting your review!</strong> All reviews are subject to admin approval.
        We'll get to your review as soon as we can.
    </div>
{% else %}
    <p>
        This is where you can submit reviews hosted on your site to Switch Scores.
    </p>
{% endif %}

{% if ReviewPartnerList.count > 0 %}

    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th class="text-left">Game</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Link</th>
                <th class="text-center">Date of review</th>
                <th class="text-center">Date submitted</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ReviewPartnerList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        <a href="{{ LinkHelper.gameShow(item.game) }}" target="_blank">{{ item.game.title }}</a>
                    </td>
                    <td class="text-center">
                        {{ item.item_rating }}
                    </td>
                    <td class="text-center">
                        <a href="{{ item.item_url }}" target="_blank">Go to review</a>
                    </td>
                    <td class="text-center">
                        {{ item.item_date }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                    <td class="text-center">
                        {{ item.getStatusDesc() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You have not added any reviews yet.</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
