{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('admin.games.list'), 'text': 'Games'},
    {'url': route('staff.games.detail', {'gameId': GameId}), 'text': 'Detail'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<h2>Game tags</h2>

<p>
    This page lists the tags used for the game <strong>{{ GameData.title }}</strong>
    and allows you to add or remove tags.
</p>

{% if UnusedTagList %}
    <h3>Choose a tag to add</h3>
    <select id="tag-list" name="tag-list">
        <option value=""></option>
        {% for item in UnusedTagList %}
            <option value="{{ item.id }}">{{ item.tag_name }}</option>
        {% endfor %}
    </select>
    <input id="btn-add-tag" type="button" value="Add to game">
    <div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>
{% endif %}

<h3>Game tags</h3>
{% if GameTagList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Tag</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameTagList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.tag.tag_name }}
                    </td>
                    <td class="text-center">
                        <a href="javascript:void(0);" id="lnk-remove-tag-{{ item.id }}" class="lnk-remove-tag">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>This game has not yet been tagged.</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    var gameId = '{{ GameId }}';
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null
            ]
        });
    });
    $('#btn-add-tag').on('click', function() {

        tagName = $('#tag-list option:selected').text();
        tagId = $('#tag-list option:selected').val();

        if (tagId == '') {
            $('#js-admin-notify').text('No tag selected.');
            $('#js-admin-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.categorisation.tag.game.add', {'gameId': GameId}) }}', {tagId: tagId}, function(data) {
            $('#js-admin-notify').text('Tag added!');
            $('#js-admin-notify').show();
            $('#tag-list option:selected').val('');
            setTimeout("$('#js-admin-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
            $('#tag-list option:selected').val('');
        });
    });
    $('.lnk-remove-tag').on('click', function() {

        elemId = $(this).attr('id');
        gameTagId = elemId.replace('lnk-remove-tag-', '');

        wosAdminTools.removeGameTag(gameId, elemId, gameTagId);
    });
</script>

{% endblock page_inner %}
