{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<a href="{{ route('staff.categorisation.tag.add') }}" class="btn outline btn-primary">Add a tag</a>
<br>
<br>

<h2>All tags</h2>
{% if TagList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th class="text-left">Tag name</th>
                <th class="text-left">Tag category</th>
                <th class="text-center">Games with tag</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in TagList %}
                <tr>
                    <td class="text-end">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        <a href="{{ route('console.byTag.page', {'console': 'switch-1', 'tag': item.link_title}) }}" target="_blank">{{ item.tag_name }}</a>
                    </td>
                    <td class="text-left">
                        {% if item.category.id is not null %}
                            {{ item.category.name }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.gameTags().count }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.categorisation.tag.edit', {'tagId': item.id}) }}">Edit</a> :
                        {% if item.gameTags().count == 0 %}
                            <a href="javascript:void(0);" id="lnk-delete-tag-{{ item.id }}" class="lnk-delete-tag">Delete</a>
                        {% else %}
                            <a href="{{ route('staff.games.list.showList', { 'listType': 'by-tag', 'param1': item }) }}">View games</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No tags found!</p>
{% endif %}

{% include 'common/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
    $('.lnk-delete-tag').on('click', function() {

        elemId = $(this).attr('id');
        tagId = elemId.replace('lnk-delete-tag-', '');

        if (tagId == '') {
            $('#js-admin-notify').text('Failed to load tagId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Remove this tag? There is NO undo!')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('/staff/categorisation/tag/delete/' + tagId, {}, function(data) {
            $('#js-admin-notify').text('Tag deleted!');
            $('#js-admin-notify').show();
            setTimeout("$('#js-admin-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
