{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<a href="{{ route('staff.reviews.reviewSites.add') }}" class="btn outline btn-primary">+ Add review site</a>

<br>
<br>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Criteria</th>
            <th class="text-center">Active</th>
            <th class="text-center">No recent reviews</th>
            <th class="text-center">Archived</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Listed on <a href="{{ route('partners.landing') }}">Partners</a></td>
        <td class="text-center">Yes</td>
        <td class="text-center">No</td>
        <td class="text-center">No</td>
    </tr>
    <tr>
        <td>Listed on Games companies dashboard (if contact details provided)</td>
        <td class="text-center">Yes</td>
        <td class="text-center">Yes</td>
        <td class="text-center">No</td>
    </tr>
    <tr>
        <td>Reviews imported via feed (if there is an active feed)</td>
        <td class="text-center">Yes</td>
        <td class="text-center">Yes</td>
        <td class="text-center">No</td>
    </tr>
    <tr>
        <td>Reviews imported via scraper (if there is active config)</td>
        <td class="text-center">Yes</td>
        <td class="text-center">Yes</td>
        <td class="text-center">No</td>
    </tr>
    </tbody>
</table>

<br>
<br>

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-active-sites">Active ({{ ReviewSitesActive.count }})</a></li>
                <li><a href="#tabs-no-recent-reviews">No recent reviews ({{ ReviewSitesNoRecentReviews.count }})</a></li>
                <li><a href="#tabs-archived">Archived ({{ ReviewSitesArchived.count }})</a></li>
            </ul>

            <div id="tabs-active-sites">

                <h2>Active sites</h2>
                {% include 'staff/reviews/review-sites/list-table.twig' with {'ReviewSites': ReviewSitesActive} %}

            </div>

            <div id="tabs-no-recent-reviews">

                <h2>No recent reviews</h2>
                {% include 'staff/reviews/review-sites/list-table.twig' with {'ReviewSites': ReviewSitesNoRecentReviews} %}

            </div>

            <div id="tabs-archived">

                <h2>Archived</h2>
                {% include 'staff/reviews/review-sites/list-table.twig' with {'ReviewSites': ReviewSitesArchived} %}

            </div>

        </div>

    </div>

</div>

<script>
    $('#tabs').tabs();
</script>

{% endblock page_inner %}
