{% macro standard(item) %}
    {% if item.rating_avg %}
        {% if item.game_rank %}
            {{ _self.ratingStandard(item.rating_avg, 'h5') }}
        {% elseif item.format_digital == 'De-listed' %}
            {{ _self.delisted('h6') }}
        {% else %}
            {{ _self.reviewCount(item.review_count, 'h5') }}
        {% endif %}
    {% else %}
        {{ _self.reviewCount(item.review_count, 'h5') }}
    {% endif %}
{% endmacro %}

{% macro circular(item) %}
    {% if item.format_digital == 'De-listed' %}
        <!-- Do nothing -->
    {% elseif item.rating_avg %}
        {% if item.game_rank %}
            {{ _self.ratingCircle(item.rating_avg, 'h6') }}
        {% elseif item.format_digital == 'De-listed' %}
            <!-- Do nothing -->
        {% elseif item.eu_is_released == 1 %}
            <!-- Do nothing -->
        {% endif %}
    {% elseif item.eu_is_released == 1 %}
        <!-- Do nothing -->
    {% endif %}
{% endmacro %}

{% macro ratingCircle(score, scoreSize = 'h6') %}
    {% set displayScore = score %}
    {% if scoreSize is defined %}
        {% set scoreSizeHeader = scoreSize %}
    {% else %}
        {% set scoreSizeHeader = 'h4' %}
    {% endif %}

    {% if displayScore > 7.9 %}
        <span class="{{ scoreSizeHeader }} label-success switch-rating-circle">{{ displayScore }}</span>
    {% elseif displayScore > 5.9 %}
        <span class="{{ scoreSizeHeader }} label-warning switch-rating-circle">{{ displayScore }}</span>
    {% else %}
        <span class="{{ scoreSizeHeader }} label-danger switch-rating-circle">{{ displayScore }}</span>
    {% endif %}
{% endmacro %}

{% macro ratingStandard(score, scoreSize = 'h5') %}
    {% set displayScore = score %}
    {% if scoreSize is defined %}
        {% set scoreSizeHeader = scoreSize %}
    {% else %}
        {% set scoreSizeHeader = 'h4' %}
    {% endif %}

    {% if displayScore > 7.9 %}
        <span class="{{ scoreSizeHeader }} label label-success switch-rating-badge">{{ displayScore }}</span>
    {% elseif displayScore > 5.9 %}
        <span class="{{ scoreSizeHeader }} label label-warning switch-rating-badge">{{ displayScore }}</span>
    {% else %}
        <span class="{{ scoreSizeHeader }} label label-danger switch-rating-badge">{{ displayScore }}</span>
    {% endif %}
{% endmacro %}

{% macro delisted(scoreSize = 'h6') %}
    {% if scoreSize is defined %}
        {% set scoreSizeHeader = scoreSize %}
    {% else %}
        {% set scoreSizeHeader = 'h4' %}
    {% endif %}

    <span class="{{ scoreSizeHeader }} label label-default switch-rating-badge">
        De-listed
    </span>
{% endmacro %}

{% macro reviewCount(reviewCount, labelSize = 'h5') %}
    {% if labelSize is defined %}
        {% set scoreSizeHeader = labelSize %}
    {% else %}
        {% set scoreSizeHeader = 'h4' %}
    {% endif %}
    {% if reviewCount is defined %}
        {% set badgeText = reviewCount~'/3' %}
    {% else %}
        {% set badgeText = 'TBC' %}
    {% endif %}
    {% if reviewCount > 0 and reviewCount < 3 %}
        {% set labelColour = 'label-info' %}
    {% else %}
        {% set labelColour = 'label-default' %}
    {% endif %}

    <span class="{{ scoreSizeHeader }} label {{ labelColour }} switch-rating-badge">
        {{ badgeText }}
    </span>
    {% if reviewCount is defined and hideReviewText is not defined %}
        <br>
        <span class="text-center center-block"><small>reviews</small></span>
    {% endif %}
{% endmacro %}