{% if PartnerGameList.count > 0 %}
    <table class="table table-condensed table-responsive">
        <thead>
        <tr>
            <th class="text-left">Game</th>
            <th class="text-center">Reviews</th>
            <th class="text-center">Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for item in PartnerGameList %}
            <tr>
                <td class="text-left">
                    <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}" target="_blank">{{ item.title }}</a>
                    <br><small>Release date: {{ item.eu_release_date }}</small>
                </td>
                <td class="text-center">
                    {{ item.review_count }}
                </td>
                <td class="text-center">
                    {% if item.rating_avg %}
                        {{ item.rating_avg }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ route('user.games-list.landing', {'report': ViewAllSuffix}) }}" class="btn btn-primary btn-md">View all games</a>
    </p>
{% else %}
<p>
    We don't currently have any games linked to your company.
</p>
{% endif %}