<script>

    var gameId = '{{ GameId }}';
    var formVals = [];

    //$('#developer-list').select2();
    //$('#publisher-list').select2();

    $("#developer-list, #publisher-list").select2({
        placeholder: "Search for a partner",
        minimumInputLength: 2,
        templateResult: formatPartner,
        templateSelection: formatPartnerSelection,
        ajax: {
            url: "/api/partner/games-company/search",
            dataType: 'json',
            data: function (params) {
                var query = {
                    name: params.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: data.partners
                };
            }
        }
    });

    function formatPartner(partner) {
        if (partner.loading) {
            return partner.text;
        }

        var $container = $(
            "<div class='select2-result-partner clearfix'>" +
            "<div class='select2-result-partner__name'></div>" +
            "</div>"
        );

        $container.find(".select2-result-partner__name").text(partner.name);

        return $container;
    }

    function formatPartnerSelection(partner) {
        return partner.name;
    }

    $('#quick-create-games-company-name').on('blur', function() {
        ssAdminTools.convertToLinkTitle('quick-create-games-company-name', 'quick-create-games-company-link-title');
    });

    // Lists
    $('#btn-add-developer').on('click', function() {

        developerName = $('#developer-list option:selected').text();
        developerId = $('#developer-list option:selected').val();

        if (developerId == '') {
            $('#js-developer-notify').text('No developer selected.');
            $('#js-developer-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.game.developer.add', {'gameId': GameId}) }}', {gameId: gameId, developerId: developerId}, function(data) {
            $('#js-developer-notify').text('Developer added!');
            $('#js-developer-notify').show();
            $('#developer-list option:selected').val('');
            setTimeout("$('#js-developer-notify').fadeOut(); window.location.reload(true);", 500);
        })
        .fail(function(data) {
            $('#js-developer-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-developer-notify').show();
            $('#developer-list option:selected').val('');
        });
    });

    $('.lnk-remove-developer').on('click', function() {

        elemId = $(this).attr('id');
        gameDeveloperId = elemId.replace('lnk-remove-developer-', '');

        if (gameDeveloperId == '') {
            $('#js-developer-notify').text('Failed to load gameDeveloperId');
            $('#js-developer-notify').show();
            return false;
        }

        if (!window.confirm('Remove this developer from the game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.game.developer.remove', {'gameId': GameId}) }}', {gameDeveloperId: gameDeveloperId}, function(data) {
            $('#js-developer-notify').text('Developer removed!');
            $('#js-developer-notify').show();
            $('#developer-list option:selected').val('');
            setTimeout("$('#js-developer-notify').fadeOut(); window.location.reload(true);", 500);
        })
        .fail(function(data) {
            $('#js-developer-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-developer-notify').show();
            $('#developer-list option:selected').val('');
        });
    });
    $('#btn-add-publisher').on('click', function() {

        if (publisherId == '') {
            $('#js-publisher-notify').text('No publisher selected.');
            $('#js-publisher-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.game.publisher.add', {'gameId': GameId}) }}', {publisherId: publisherId}, function(data) {
            $('#js-publisher-notify').text('Publisher added!');
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
            setTimeout("$('#js-publisher-notify').fadeOut(); window.location.reload(true);", 500);
        })
        .fail(function(data) {
            $('#js-publisher-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
        });
    });

    $('.lnk-remove-publisher').on('click', function() {

        elemId = $(this).attr('id');
        gamePublisherId = elemId.replace('lnk-remove-publisher-', '');

        if (gamePublisherId == '') {
            $('#js-publisher-notify').text('Failed to load gamePublisherId');
            $('#js-publisher-notify').show();
            return false;
        }

        if (!window.confirm('Remove this publisher from the game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.game.publisher.remove', {'gameId': GameId}) }}', {gamePublisherId: gamePublisherId}, function(data) {
            $('#js-publisher-notify').text('Publisher removed!');
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
            setTimeout("$('#js-publisher-notify').fadeOut(); window.location.reload(true);", 500);
        })
        .fail(function(data) {
            $('#js-publisher-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
        });
    });

    // Quick create
    $('#btn-quick-create-games-company').on('click', function() {

        newName = $('#quick-create-games-company-name').val();
        newLinkTitle = $('#quick-create-games-company-link-title').val();

        publisherName = $('#publisher-list option:selected').text();
        publisherId = $('#publisher-list option:selected').val();
        addToGameAsPublisher = $('#quick-create-games-company-add-to-publisher').is(':checked');
        if (addToGameAsPublisher == true) {
            addToGameAsPublisherVal = 1;
        } else {
            addToGameAsPublisherVal = 0;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.game.partner.createNewCompany') }}', {
            name: newName, linkTitle: newLinkTitle, gameId: gameId,
            addToGameAsPublisherVal: addToGameAsPublisherVal
        }, function(data) {
            $('#js-quick-create-notify').text('Saved!');
            $('#js-quick-create-notify').show();
            $('#quick-create-games-company-name').val('');
            $('#quick-create-games-company-link-title').val('');
            setTimeout("$('#js-quick-create-notify').fadeOut(); window.location.reload(true);", 500);
        })
        .fail(function(data) {
            $('#js-quick-create-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-quick-create-notify').show();
        });

    });

</script>
