{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.games.dashboard'), 'text': 'Games'},
    {'url': route('staff.games.detail', {'gameId': GameId}), 'text': 'Detail'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<p>
    This page lists the partners used for the game <strong>{{ GameData.title }}</strong>
    and allows you to add or remove records.
</p>

<div class="row">

    <div class="col-md-8 col-sm-12">

        <h2>Developers</h2>

        <div id="js-developer-notify" class="alert alert-success" role="alert" style="display: none;"></div>

        {% if UnusedDeveloperList %}
            <div class="form-group">
                <label for="developer-list" class="col-md-4 control-label">Assign a developer</label>
                <div class="col-md-6">
                    <select id="developer-list" name="developer-list">
                        <option value=""></option>
                        {% for item in UnusedDeveloperList %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <input id="btn-add-developer" type="button" class="btn-primary btn-sm" value="Assign">
                </div>
            </div>
        {% endif %}

        <br>
        <br>

        {% if GameDeveloperList.count > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Developer</th>
                    <th class="text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for item in GameDeveloperList %}
                    <tr>
                        <td>
                            <a href="{{ route('staff.partners.games-company.show', {'partner': item.developer}) }}">
                                {{ item.developer.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0);" id="lnk-remove-developer-{{ item.id }}" class="lnk-remove-developer">Unassign</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This game has no developers assigned.</p>
        {% endif %}

    </div>

    <div class="col-md-4 col-sm-12">

        <div class="form-horizontal">

            <div class="row">

                <div class="col-md-12">

                    <h3>Quick create</h3>
                    <div id="js-quick-create-notify" class="alert alert-success" role="alert" style="display: none;"></div>
                    <div class="form-group">
                        <label for="quick-create-games-company-name" class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input id="quick-create-games-company-name" name="quick-create-games-company-name" type="text" class="form-control" size="50" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quick-create-games-company-link-title" class="col-md-3 control-label">Link title</label>
                        <div class="col-md-9">
                            <input id="quick-create-games-company-link-title" name="quick-create-games-company-link-title" type="text" class="form-control" size="50" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3">
                            <input id="btn-quick-create-games-company" type="button" class="btn-primary btn" value="+ Add">
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-8 col-sm-12">

        <h2>Publishers</h2>

        <div id="js-publisher-notify" class="alert alert-success" role="alert" style="display: none;"></div>

        {% if UnusedPublisherList %}
            <div class="form-group">
                <label for="publisher-list" class="col-md-4 control-label">Assign a publisher</label>
                <div class="col-md-6">
                    <select id="publisher-list" name="publisher-list">
                        <option value=""></option>
                        {% for item in UnusedPublisherList %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <input id="btn-add-publisher" type="button" class="btn-primary btn-sm" value="Assign">
                </div>
            </div>
        {% endif %}

        <br>
        <br>

        {% if GamePublisherList.count > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Publisher</th>
                    <th class="text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for item in GamePublisherList %}
                    <tr>
                        <td>
                            <a href="{{ route('staff.partners.games-company.show', {'partner': item.publisher}) }}">
                                {{ item.publisher.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0);" id="lnk-remove-publisher-{{ item.id }}" class="lnk-remove-publisher">Unassign</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This game has no publishers assigned.</p>
        {% endif %}

    </div>

    <div class="col-md-4 col-sm-12">

        <h3>Data sources</h3>
        <table class="table table-striped table-condensed">
            <tr>
                <th colspan="2">Nintendo.co.uk</th>
            </tr>
            <tr>
                <td>Publishers</td>
                <td>{{ DataSourceNintendoCoUk.publishers }}</td>
            </tr>
            <tr>
                <th colspan="2">Wikipedia</th>
            </tr>
            <tr>
                <td>Developers</td>
                <td>{{ DataSourceWikipedia.developers }}</td>
            </tr>
            <tr>
                <td>Publishers</td>
                <td>{{ DataSourceWikipedia.publishers }}</td>
            </tr>
        </table>

    </div>

</div>

{% include 'staff/games/partner/gamePartners-scripts.twig' %}

{% endblock page_inner %}
