{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="feed_status" class="col-md-4 control-label">Feed status</label>
        <div class="col-md-6">
            <select id="feed_status" class="form-control" name="feed_status" required>
                <option value="">&nbsp;</option>
                {% for key,item in FeedStatusList %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="site_id" class="col-md-4 control-label">Review site</label>
        <div class="col-md-6">
            <select id="site_id" class="form-control" name="site_id" required>
                <option value="">&nbsp;</option>
                {% for item in ReviewSiteList %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="feed_url" class="col-md-4 control-label">Feed URL (include http://)</label>
        <div class="col-md-6">
            <input id="feed_url" type="text" class="form-control" name="feed_url" required>
        </div>
    </div>
    <div class="form-group">
        <label for="feed_url_prefix" class="col-md-4 control-label">Feed URL prefix</label>
        <div class="col-md-6">
            <input id="feed_url_prefix" type="text" class="form-control" name="feed_url_prefix" maxlength="50">
        </div>
    </div>
    <div class="form-group">
        <label for="data_type" class="col-md-4 control-label">Data type</label>
        <div class="col-md-6">
            <select id="data_type" class="form-control" name="data_type" required>
                <option value="">&nbsp;</option>
                {% for key,item in DataTypeList %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="item_node" class="col-md-4 control-label">Item node</label>
        <div class="col-md-6">
            <select id="item_node" class="form-control" name="item_node" required>
                <option value="">&nbsp;</option>
                {% for key,item in ItemNodeList %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="title_match_rule_pattern" class="col-md-4 control-label">Title match rule pattern</label>
        <div class="col-md-6">
            <input id="title_match_rule_pattern" type="text" class="form-control" name="title_match_rule_pattern" style="font-family: monospace;" required>
            <small>To match a game title, use: <span style="background: #dcdcdc; font-family: 'Courier New', Monospace; font-weight: bold; font-size: 14px;">(.*)</span></small>
        </div>
    </div>
    <div class="form-group">
        <label for="title_match_rule_index" class="col-md-4 control-label">Title match index</label>
        <div class="col-md-6">
            <input id="title_match_rule_index" type="text" class="form-control" name="title_match_rule_index" size="5" maxlength="2" required>
        </div>
    </div>
    <div class="form-group">
        <label for="allow_historic_content" class="col-md-4 control-label">Allow historic content</label>
        <div class="col-md-6">
            <input type="checkbox" id="allow_historic_content" name="allow_historic_content">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
