<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategorisation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categorisation
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategorisation">
        <li><a class="dropdown-item" href="{{ route('staff.categorisation.dashboard') }}">Categorisation dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.categorisation.category.list') }}">Categories</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.categorisation.tag.list') }}">Tags</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.categorisation.game-series.list') }}">Series</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.categorisation.game-collection.list') }}">Collections</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.categorisation.game-category-suggestions.index') }}">Game category suggestions</a></li>
    </ul>
</li>
