<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGames" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Games
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownGames">
        <li><a class="dropdown-item" href="{{ route('staff.games.dashboard') }}">Games dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.add') }}">+ Add game</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.bulk-add.add') }}">Bulk add games</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.import-from-csv.import') }}">Import games from CSV</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.search') }}">Search games</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.json-import.upload')}}">Import games from JSON</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.release-hub.show')}}">Release hub</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'no-nintendo-co-uk-link'}) }}">No Nintendo.co.uk link</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'upcoming-eshop-crosscheck'}) }}">Upcoming (eShop crosscheck)</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'broken-nintendo-co-uk-link'}) }}">Broken Nintendo.co.uk link</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'no-eu-release-date'}) }}">No EU release date</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'no-eshop-price'}) }}">No price</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'no-video-type'}) }}">No video type</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'no-amazon-uk-link'}) }}">No Amazon UK link</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'recently-added'}) }}">Recently added</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'recently-released'}) }}">Recently released</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.games.list.showList', {'listType': 'upcoming-games'}) }}">Upcoming games</a></li>
    </ul>
</li>
