<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGamesCompanies" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Games companies
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownGamesCompanies">
        <li><a class="dropdown-item" href="{{ route('staff.games-companies.dashboard') }}">Games companies dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.games-companies.list') }}">Games companies - view all</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.outreach.list') }}">Partner outreach - view all</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.tools.partnerUpdateFields') }}">PartnerUpdateFields</a></li>
    </ul>
</li>
