<li class="nav-item">
    <a class="nav-link" href="{{ route('staff.insights.index') }}">Insights</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ route('staff.tools.index') }}">Tools hub</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOwner" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Owner
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownOwner">
        <li><a class="dropdown-item" href="{{ route('owner.activityLog') }}">Activity log</a></li>
        <li><a class="dropdown-item" href="{{ route('owner.audit.index') }}">Audit</a></li>
        <li><a class="dropdown-item" href="{{ route('owner.user.list') }}">Users</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.stats.dashboard') }}">Stats</a></li>
    </ul>
</li>
