<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPartners" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Partners
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPartners">
        <li><a class="dropdown-item" href="{{ route('staff.partners.dashboard') }}">Partners dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.games-company.list') }}">Games companies</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.outreach.list') }}">Partner outreach - view all</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.partners.tools.partnerUpdateFields') }}">PartnerUpdateFields</a></li>
    </ul>
</li>
