<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReviews" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Reviews
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownReviews">
        <li><a class="dropdown-item" href="{{ route('staff.reviews.dashboard') }}">Reviews dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.reviews.review-drafts.showPending') }}">Review drafts</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.reviews.quick-reviews.list') }}">Quick reviews</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.reviews.reviewSites.index') }}">Review sites</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.reviews.feedLinks.index') }}">Feed links</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.reviews.link.list') }}">Review links</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.reviews.campaigns') }}">Review campaigns</a></li>
    </ul>
</li>
