{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.stats.dashboard'), 'text': 'Stats dashboard'},
    {'url': route('staff.stats.gamesCompany.oldDeveloperByCount'), 'text': 'Old developers - by count (All)'},
    {'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        {% if DeveloperData is not defined %}
            <div class="alert alert-warning" role="alert">
                There isn't a record in the developer list for <strong>{{ DeveloperName }}</strong>.
                <a href="{{ route('admin.partners.games-company.add') }}">Add one now</a>.
            </div>
        {% else %}
            <input type="button" id="js-btn-add-all-new" class="btn btn-default" value="Add new dev to all">
            <input type="button" id="js-btn-remove-all-old" class="btn btn-default" value="Clear old dev from all">
        {% endif %}

        <div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

        {% if ItemList %}

            <table id="table-developer-list" class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-left">Title</th>
                        <th class="text-left">Developer (old)</th>
                        <th class="text-left">Developer (new)</th>
                        <th class="text-center">Options</th>
                        <th class="text-center">Finalise</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in ItemList %}
                    <tr>
                        <td class="text-center">
                            {{ item.id }}
                        </td>
                        <td class="text-left">
                            {{ item.title }}
                        </td>
                        <td class="text-left">
                            {{ item.developer }}
                        </td>
                        <td class="text-left">
                            {{ item.gameDevelopers.length }}
                            {% if item.gameDevelopers is defined %}
                                {% for gameDev in item.gameDevelopers %}
                                {{ gameDev.developer.name }}<br>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ route('admin.games.edit', {'gameId': item.id}) }}">Edit game</a> :
                            <a href="{{ route('admin.game.partner.list', {'gameId': item.id}) }}">Partners</a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0);" id="lnk-clear-old-developer-{{ item.id }}" class="lnk-clear-old-developer">Clear old developer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>

</div>

<script>

    var developerName = '{{ DeveloperName }}';

    $('.lnk-clear-old-developer').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        gameId = elemId.replace('lnk-clear-old-developer-', '');

        if (gameId == '') {
            $('#js-admin-notify').text('Missing gameId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Clear the old developer field for this game? There is NO undo!')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.stats.gamesCompany.clearOldDeveloperField') }}', {'gameId': gameId}, function(data) {
            $('#lnk-clear-old-developer-' + gameId).parent().html('<em>Old dev cleared</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });

    $('#js-btn-add-all-new').on('click', function() {

        $('#js-admin-notify').hide();

        if (!window.confirm('Add all new developer records for the listed games? There is NO undo!')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.stats.gamesCompany.addAllNewDevelopers') }}', {'developerName': developerName}, function(data) {
            $('#table-developer-list tbody').children('tr').each(function() {
                // id 3 is the Developer (new) column
                var $requiredCell = $(this).children('td').eq(3);
                $($requiredCell).html('<em>Updated</em>');
            });
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });

    $('#js-btn-remove-all-old').on('click', function() {

        $('#js-admin-notify').hide();

        if (!window.confirm('Clear the old developer field for the listed games? There is NO undo!')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.stats.gamesCompany.removeAllOldDevelopers') }}', {'developerName': developerName}, function(data) {
            $('#table-developer-list tbody').children('tr').each(function() {
                // id 3 is the Developer (old) column
                var $requiredCell = $(this).children('td').eq(2);
                $($requiredCell).html('<em>Cleared</em>');
            });
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
