{% extends 'theme/wos/base.twig' %}
{% import 'ui/components/headings/heading.twig' as heading %}
{% import 'ui/components/alerts/survey.twig' as alerts %}
{% import 'ui/blocks/game-grid.twig' as gamegrid %}

{% set hideHeader = true %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
        <h1 class="rating-title">
            <span class="rating-v2">
                Ranking the Nintendo Switch library.
            </span>
        </h1>
        <p>
            Switch Scores helps players find the best Nintendo Switch games through community reviews, ratings, and rankings.
            Explore thousands of titles, discover the highest-rated games, track new releases, and see what the Switch community is playing right now.
        </p>
        <p>
            <strong>Explore:</strong>
            <a href="{{ route('console.topRated.landing', {'console': consoleSwitch1}) }}">Best Switch 1 games</a> |
            <a href="{{ route('console.topRated.landing', {'console': consoleSwitch2}) }}">Best Switch 2 games</a> |
            <a href="{{ route('console.landing', {'console': consoleSwitch1}) }}">Switch 1 library</a> |
            <a href="{{ route('console.landing', {'console': consoleSwitch2}) }}">Switch 2 library</a> |
            <a href="{{ route('news.landing') }}">Latest news</a>
        </p>
    </div>

</div>

<div class="row hidden-md hidden-lg">

    <div class="col-sm-12 col-xs-12">
        <form role="form" method="get" action="{{ route('games.search') }}">

            <div class="row hidden-md hidden-lg">
                <div class="col-sm-10 col-xs-10">
                    <input name="search_keywords" type="text" class="form-control" placeholder="Search games">
                </div>
                <div class="col-sm-2 col-xs-2">
                    <button type="submit" class="btn outline btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        {{ heading.renderChunkyRectangle('Recent top rated', 'h2') }}
        <p>
            Top rated Nintendo Switch games released in the last {{ RecentTopRatedLimit }} days.
        </p>
        {{ gamegrid.render(RecentWithGoodRanks, 2, 'standard', true, true, 'no-price') }}

        <h3 class="text-center">
            <a href="{{ route('reviews.landing') }}">View more reviews &gt;</a>
        </h3>

        {{ heading.renderChunkyRectangle('Best of '~YearSwitch1~' (Switch 1)', 'h2') }}
        {% include 'public/games/layouts/condensedRows/layout.twig' with {'GameList': TopRatedThisYearSwitch1} %}
        <h3 class="text-center">
            <a href="{{ route('console.topRated.landing', {'console': consoleSwitch1}) }}">View all Top Rated (Switch 1) &gt;</a>
        </h3>

        {{ heading.renderChunkyRectangle('Best of '~YearSwitch1~' (Switch 2)', 'h2') }}
        {% include 'public/games/layouts/condensedRows/layout.twig' with {'GameList': TopRatedThisYearSwitch2} %}
        <h3 class="text-center">
            <a href="{{ route('console.topRated.landing', {'console': consoleSwitch2}) }}">View all Top Rated (Switch 2) &gt;</a>
        </h3>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 2px solid #cccccc; padding-top: 10px;">

        {{ alerts.siteSurvey('welcome') }}

        {{ heading.renderChunkyRectangle('Recent reviews', 'h2') }}
        {% include 'public/reviews/layouts/standard/layout.twig' with {'ReviewList': ReviewList, 'batchOverride': '1'} %}

    </div>

</div>

{% endblock page_body %}
