{% extends 'theme/wos/base.twig' %}
{% import "macros/blocks/games/layouts/standard.twig" as gameslayouts %}
{% import 'macros/blocks/headings/chunky.twig' as headings %}
{% import 'macros/blocks/alerts/survey.twig' as alerts %}

{% set hideHeader = true %}

{% block page_body %}

{{ alerts.siteSurvey('welcome') }}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
        <h4 class="rating-title">
            <span class="rating-v2">
                Ranking the Nintendo Switch library.
            </span>
        </h4>
    </div>

</div>

<div class="row hidden-md hidden-lg">

    <div class="col-sm-12 col-xs-12">
        <form role="form" method="get" action="{{ route('games.search') }}">

            <div class="row hidden-md hidden-lg">
                <div class="col-sm-10 col-xs-10">
                    <input name="search_keywords" type="text" class="form-control" placeholder="Search games">
                </div>
                <div class="col-sm-2 col-xs-2">
                    <button type="submit" class="btn outline btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        {{ headings.roundedBlue('h2', 'Recent top rated') }}
        <p>
            Top rated Nintendo Switch games released in the last {{ RecentTopRatedLimit }} days.
        </p>
        {{ gameslayouts.withHero(RecentWithGoodRanks, 2, 'no-price', 1) }}

        <h3 class="text-center">
            <a href="{{ route('reviews.landing') }}">View more reviews &gt;</a>
        </h3>

        {{ headings.roundedBlue('h2', 'Best of '~YearSwitch1~' (Switch 1)') }}
        {% include 'public/games/layouts/condensedRows/layout.twig' with {'GameList': TopRatedThisYearSwitch1} %}
        <h3 class="text-center">
            <a href="{{ route('console.topRated.landing', {'console': consoleSwitch1}) }}">View all Top Rated (Switch 1) &gt;</a>
        </h3>

        {{ headings.roundedBlue('h2', 'Best of '~YearSwitch2~' (Switch 2)') }}
        {% include 'public/games/layouts/condensedRows/layout.twig' with {'GameList': TopRatedThisYearSwitch2} %}
        <h3 class="text-center">
            <a href="{{ route('console.topRated.landing', {'console': consoleSwitch2}) }}">View all Top Rated (Switch 2) &gt;</a>
        </h3>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 2px solid #cccccc;">

        {{ headings.roundedBlue('h2', 'Recent reviews') }}
        {% include 'public/reviews/layouts/standard/layout.twig' with {'ReviewList': ReviewList, 'batchOverride': '1'} %}

    </div>

</div>

{% endblock page_body %}
