{% import 'ui/components/rating/badge.twig' as rating %}
{% import 'ui/components/game/packshots.twig' as packshots %}

{% if GameList %}
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th style="width: 75px;"></th>
                <th>
                    <span class="h5">
                        Title
                    </span>
                </th>
                <th style="width: 100px;" class="text-center">
                    <span class="h5">
                        Rank
                    </span>
                </th>
                <th style="width: 100px;" class="text-center">
                    <span class="h6">
                        Average rating
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td>
                        {{ packshots.square(item) }}
                    </td>
                    <td>
                        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}" class="h5">{{ item.title }}</a>
                    </td>
                    <td class="text-center">
                        <span class="h5">{{ item.game_rank }}</span>
                    </td>
                    <td class="text-center">
                        {% if item.rating_avg %}
                            {% if item.game_rank %}
                                {{ rating.score(item.rating_avg, 'h5', 'b3') }}
                            {% else %}
                                {{ rating.tbc(null, 'h5', 'b3', true) }}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}