{% if GameList %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-center" style="width: 165px;"></th>
                <th>Title</th>
                <th class="text-center" style="width: 80px;">Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                {% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}
                <tr>
                    <td class="text-center">
                        <a href="{{ game_url(item) }}">
                            {% if boxartUrl %}
                                <img src="{{ boxartUrl }}" style="border: 0; height: 70px; width: 160px; margin-bottom: 0;" alt="{{ item.title }}">
                            {% else %}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}" class="h4">{{ item.title }}</a>
                    </td>
                    <td class="text-center">
                        <span class="h4">
                            {{ item.review_count }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}