{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <h2>{{ PageTitle }}</h2>
        <p>
            Here are the top 10 rated Nintendo Switch games, based on recent releases only.
            This list is static - it won't change as future reviews come in.
            We'll aim to post more of these lists in the future.
        </p>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Game</th>
                <th class="text-center">Rating</th>
                <th class="text-right">Reviews</th>
            </tr>
            </thead>
            <tbody>
            {% for item in TopRatedNewReleases %}
                <tr>
                    <td>
                        <a href="{{ route('game.show', {'id': item.Game.id, 'title': item.Game.link_title}) }}">
                            {{ item.Game.title }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.Rating }}
                    </td>
                    <td class="text-right">
                        {{ item.ReviewCount }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            Note: As is our normal policy here, games with fewer than 3 reviews in our database are not
            included in the above list.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        {% include 'news/sidebar/news-landing.twig' %}
        {% include 'news/sidebar/more-links.twig' %}
    </div>
</div>

{% endblock page_body %}
