{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<script>
    $(document).ready(function() {
        $('a.js-toggle-list').on('click', function() {
            var elemId = $(this).attr('id');
            var listToShow = elemId.replace('js-toggle-', '');
            console.log(listToShow);
            toggleList(listToShow);
        });
    });
    function toggleList(showWhich) {
        $('#list-ranked').hide();
        $('#list-unranked').hide();
        $('#list-delisted').hide();
        $('#' + showWhich).show();
    }
</script>

<div class="row">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h5 class="theme-header theme-rounded theme-padding-10 theme-colour-1">
            <strong>Navigation</strong>:
            <a id="js-toggle-list-ranked" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                Ranked ({{ RankedGameList|length }})</a>
             |
            <a id="js-toggle-list-unranked" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                Unranked ({{ UnrankedGameList|length }})</a>
             |
            <a id="js-toggle-list-delisted" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                De-listed ({{ DelistedGameList|length }})</a>
        </h5>

        <div id="list-ranked">
            <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Ranked</h2>
            {% if RankedGameList %}
                {% include 'games/layouts/modernDebut/layout.twig' with {'GameList': RankedGameList, 'batchOverride': 2} %}
            {% endif %}
        </div>
        <div id="list-unranked" style="display: none;">
            <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Unranked</h2>
            {% if UnrankedGameList %}
                {% include 'games/layouts/modernDebut/layout.twig' with {'GameList': UnrankedGameList, 'batchOverride': 2} %}
            {% endif %}
        </div>
        <div id="list-delisted" style="display: none;">
            <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">De-listed</h2>
            {% if DelistedGameList %}
                {% include 'games/layouts/modernDebut/layout.twig' with {'GameList': DelistedGameList, 'batchOverride': 2} %}
            {% endif %}
        </div>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

        <h4 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Search games</h4>
        {% include 'modules/game/search/form-mini.twig' %}

        {% if Category.children.count() > 0 %}
            <h4 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Subcategories</h4>
            <ul>
                {% for item in Category.children %}
                    <li>
                        <a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Browse all games</h4>
        <ul>
            <li><a href="{{ route('games.browse.byTitle.landing') }}">A to Z</a></li>
            <li><a href="{{ route('games.browse.byDate.landing') }}">By release date</a></li>
            <li><a href="{{ route('games.browse.byCategory.landing') }}">By category</a></li>
            <li><a href="{{ route('games.browse.byTag.landing') }}">By tag</a></li>
            <li><a href="{{ route('games.browse.bySeries.landing') }}">By series</a></li>
            <li><a href="{{ route('games.browse.byCollection.landing') }}">By collection</a></li>
        </ul>

    </div>

</div>

{#
<!-- jQuery UI -->
<script src="/js/jquery-ui-1.12.1.min.js"></script>
<link href="/css/jquery-ui-1.12.1.min.css" rel="stylesheet" />

{% include 'games/navBrowse.twig' with {'currentNav': 'btn-nav-by-category'} %}

{% if Category.children.count() > 0 %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="alert" style="background: #efefef;">
            <span class="h5">
            <strong>Subcategories</strong>:
            {% for item in Category.children %}
                <a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}">{{ item.name }}</a>
                {% if not loop.last %} |
                {% endif %}
            {% endfor %}
            </span>
        </div>
    </div>
</div>
{% endif %}

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-snapshot">Snapshot</a></li>
                <li><a href="#tabs-index-ranked">All ranked ({{ RankedGameList|length }})</a></li>
                <li><a href="#tabs-index-unranked">All unranked ({{ UnrankedGameList|length }})</a></li>
            </ul>

            <div id="tabs-snapshot">

                <div class="row">
                    <div class="col-md-4">
                        <h2>Top rated</h2>
                        {% if SnapshotTopRated|length %}
                            {% include 'games/layouts/standardNoHero/layout.twig' with {'GameList': SnapshotTopRated, 'batchOverride': 1} %}
                        {% else %}
                            <p>
                                There are no ranked games in this category.
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-md-4" style="border-left: 1px solid #c9c9c9;">
                        <h2>New releases</h2>
                        {% if SnapshotNewReleases|length %}
                            {% include 'games/layouts/standardNoHero/layout.twig' with {'GameList': SnapshotNewReleases, 'batchOverride': 1} %}
                        {% endif %}
                    </div>
                    <div class="col-md-4" style="border-left: 1px solid #c9c9c9;">
                        <h2>Unranked <span class="h5">(2 reviews or fewer)</span></h2>
                        {% if SnapshotUnranked|length %}
                            {% include 'games/layouts/standardNoHero/layout.twig' with {'GameList': SnapshotUnranked, 'batchOverride': 1} %}
                        {% endif %}
                    </div>
                </div>

            </div>

            <div id="tabs-index-ranked">

                <h2>All ranked</h2>

                {% if RankedGameList|length %}
                    {% include 'games/browse/byCategoryPageTableRanked.twig' with {'GameList': RankedGameList, 'TableId': 'table-index-ranked', 'TableSort': RankedListSort} %}
                {% else %}
                    <p>
                        There are no ranked games in this category.
                    </p>
                {% endif %}

            </div>

            <div id="tabs-index-unranked">

                <h2>All unranked</h2>

                {% if UnrankedGameList|length %}
                    {% include 'games/browse/byCategoryPageTableUnranked.twig' with {'GameList': UnrankedGameList, 'TableId': 'table-index-unranked', 'TableSort': UnrankedListSort} %}
                {% else %}
                    <p>
                        There are no unranked games in this category.
                    </p>
                {% endif %}

            </div>

        </div>

    </div>

</div>

<script>
    $('#tabs').tabs();
</script>

{% include 'common/table-sorting.twig' %}

#}

{% endblock page_body %}
