{% extends 'theme/wos/base.twig' %}
{% import "ui/components/headings/heading.twig" as heading %}

{% block page_body %}

{% include "ui/components/top-rated/nav.twig" with {
    consoleId: 1,
    activePage: 'home'
} %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            This page lists the best Nintendo Switch 1 games, based on review scores from our selected review partners.
            <br>
            Games must have at least 3 ratings to be included in these lists.
            <br>
            Use the tabs to browse all-time rankings or the best games from each year.
        </p>
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        {{ heading.renderChunky(ConsoleName~': Best of '~Year, 'h4') }}
        <span class="h5">(<a href="{{ route('console.topRated.byYear', {'console': Console, 'year': Year}) }}">view all</a>)</span>
        {% if TopRatedThisYear|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedThisYear, 'batchOverride': 1} %}
        {% else %}
            <hr>
            <p>No Top Rated games this year... yet. It's early days. Come back soon for more!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="border-left: 1px solid #cecece;">
        {{ heading.renderChunky(ConsoleName~': All-time', 'h4') }}
        <span class="h5">(<a href="{{ route('console.topRated.allTime', {'console': Console}) }}">view all</a>)</span>
        {% if TopRatedAllTime|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedAllTime, 'batchOverride': 1} %}
        {% else %}
            <hr>
            <p>No games found!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="border-left: 1px solid #cecece;">
        {{ heading.renderChunky('All Top Rated links', 'h4') }}
        <h4>Switch 1</h4>
        <ul>
            <li><a href="{{ route('console.topRated.allTime', {'console': consoleSwitch1}) }}">All-time</a></li>
            {% for item in Switch1Years %}
                <li><a href="{{ route('console.topRated.byYear', {'console': consoleSwitch1, 'year': item}) }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
        <h4>Switch 2</h4>
        <ul>
            <li><a href="{{ route('console.topRated.allTime', {'console': consoleSwitch2}) }}">All-time</a></li>
            {% for item in Switch2Years %}
                <li><a href="{{ route('console.topRated.byYear', {'console': consoleSwitch2, 'year': item}) }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock page_body %}
