{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.partners.dashboard'), 'text': 'Partners'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        <h2>Developers</h2>

        {% if LegacyDevMultipleList %}

            <p>
                <small>Found {{ LegacyDevMultipleList|length }} record(s).</small>
            </p>

            <table class="table data-sortable">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">Title</th>
                    <th class="text-left">Developer</th>
                    <th class="text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for item in LegacyDevMultipleList %}
                    <tr>
                        <td class="text-center">
                            {{ item.id }}
                        </td>
                        <td class="text-left">
                            {{ item.title }}
                        </td>
                        <td class="text-left">
                            {{ item.developer }}
                        </td>
                        <td class="text-center">
                            <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}">Edit game</a> :
                            <a href="{{ route('admin.game.partner.list', {'gameId': item.id}) }}">Partners</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

        <h2>Publishers</h2>

        {% if LegacyPubMultipleList %}

            <p>
                <small>Found {{ LegacyPubMultipleList|length }} record(s).</small>
            </p>

            <table class="table data-sortable">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">Title</th>
                    <th class="text-left">Publisher</th>
                    <th class="text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for item in LegacyPubMultipleList %}
                    <tr>
                        <td class="text-center">
                            {{ item.id }}
                        </td>
                        <td class="text-left">
                            {{ item.title }}
                        </td>
                        <td class="text-left">
                            {{ item.publisher }}
                        </td>
                        <td class="text-center">
                            <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}">Edit game</a> :
                            <a href="{{ route('admin.game.partner.list', {'gameId': item.id}) }}">Partners</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>

</div>

{% endblock page_inner %}
