{% import 'ui/components/links/game.twig' as gamelink %}

{% if ItemList %}

    <table class="table data-sortable">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-left">Title</th>
            <th class="text-left">Game publishers</th>
            <th class="text-left">N.co.uk</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ItemList %}
            <tr>
                <td class="text-center">
                    {{ item.id }}
                </td>
                <td class="text-left">
                    {{ gamelink.title(item, 'staff') }}
                </td>
                <td class="text-left">
                    {{ item.gamePublishers.length }}
                    {% if item.gamePublishers is defined %}
                        {% for gamePub in item.gamePublishers %}
                            {{ gamePub.publisher.name }}<br>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-left">
                    {% if item.nintendo_store_url_override %}
                    <a href="{{ item.nintendo_store_url_override }}#gameDetails" target="_blank">Details tab</a>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}">Edit game</a> :
                    <a href="{{ route('staff.game.partner.list', {'gameId': item.id}) }}">Partners</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [ {{ jsInitialSort|raw}} ],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>
