{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-6">

        <h2>Categories</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-quality.category.dashboard') }}">Category dashboard</a>
                </td>
                <td class="text-right">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-quality.partners.dashboard') }}">Partners dashboard</a>
                </td>
                <td class="text-right">
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-6">

        <h2>Data integrity</h2>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.data-quality.duplicate-reviews') }}">Duplicate reviews</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('staff.data-quality.duplicate-reviews') }}" class="h4">{{ DuplicateReviewsCount }}</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
