{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-6">

        <h2>Primary types</h2>

        {% if StatsPrimaryTypes %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Month</th>
                        <th class="text-center">Has primary type</th>
                        <th class="text-center">No primary type</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">% complete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in StatsPrimaryTypes %}
                        <tr>
                            <td class="text-center">{{ item.yearmonth }}</td>
                            <td class="text-center">{{ item.has_primary_type }}</td>
                            <td class="text-center">{{ item.no_primary_type }}</td>
                            <td class="text-center">{{ item.total_count }}</td>
                            <td class="text-center">
                                {% if item.pc_done >= 75 %}
                                    <span class="h5 label label-success">{{ item.pc_done }}%</span>
                                {% elseif item.pc_done >= 40 %}
                                    <span class="h5 label label-warning">{{ item.pc_done }}%</span>
                                {% else %}
                                    <span class="h5 label label-danger">{{ item.pc_done }}%</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    <div class="col-md-6">

    </div>

</div>

{% endblock page_inner %}
