{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Integrity checks'} %}

        {% if IntegrityChecks %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Entity</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Failing count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in IntegrityChecks %}
                    <tr>
                        <td>{{ item.check_name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.entity_name }}</td>
                        <td class="text-center">
                            {% if item.is_passing is null %}
                                <span class="badge bg-primary h6">Never run!</span>
                            {% elseif item.is_passing == 1 %}
                                <span class="badge bg-success h6">Passing</span>
                            {% elseif item.is_passing == 0 %}
                                <span class="badge bg-warning h6">Failing</span>
                            {% else %}
                                <span class="badge bg-danger h6">Error</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ item.failing_count }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No integrity checks found.</p>
        {% endif %}

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Data integrity'} %}

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.data-quality.duplicate-reviews') }}">Duplicate reviews</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('staff.data-quality.duplicate-reviews') }}" class="h4">{{ DuplicateReviewsCount }}</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div class="row">

    <div class="col-md-12">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Categories'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-quality.category.dashboard') }}">Category dashboard</a>
                </td>
                <td class="text-right">
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
