{% import 'ui/components/form/submit.twig' as formsubmit %}

{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

{% if ErrorsCustom %}
    {% include 'ui/components/alerts/form-errors.twig' %}
    <div class="alert alert-warning" role="alert">
        Cannot delete the user: <strong>{{ UserData.display_name }}</strong> (id: {{ UserId }}) due to the above errors.
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> You are about to delete the user:
            <strong>{{ UserData.display_name }}</strong>
            | email: <strong>{{ UserData.email }}</strong>
            | id: {{ UserId }}
        <br>Please review the details shown below before proceeding. There is no option to undo the deletion if you proceed!
    </div>

    <div class="alert alert-warning" role="alert">
        This will delete ALL DATA associated with this user, including:
        <ul>
            <li>The user's games collection</li>
            <li>User lists and list items (should not affect anything)</li>
        </ul>
    </div>

    <form role="form" method="post" action="{{ route('owner.user.delete', {'userId': UserId}) }}">
        {{ csrf_field() }}

        {{ formsubmit.renderB5('Confirm deletion', 'danger') }}
    </form>
{% endif %}

{% endblock page_inner %}
