{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

{% if UserList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th>Display name</th>
                <th class="text-center">Twitter</th>
                <th class="text-center">Points</th>
                <th class="text-center">Joined</th>
                <th class="text-center">Last access</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in UserList %}
                <tr>
                    <td class="text-end">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('owner.user.view', {'userId': item.id}) }}">{{ item.display_name }}</a>
                        {% if item.isOwner() %}
                            <span class="badge bg-primary">Staff</span>
                        {% elseif item.isReviewer() %}
                            <span class="badge bg-success">Reviewer</span>
                        {% elseif item.isGamesCompany() %}
                            <span class="badge bg-info">Games company</span>
                        {% endif %}
                        <br>
                        <small>{{ item.email }}</small>
                    </td>
                    <td class="text-center">
                        {% if item.twitter_user_id %}
                            <i class="fab fa-twitter"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.points_balance }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at|date('Y-m-d') }}
                    </td>
                    <td class="text-center">
                        {{ item.last_access_date }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('owner.user.edit', {'userId': item.id}) }}">Edit</a> :
                        {% if item.isOwner() %}
                            Delete
                        {% else %}
                            <a href="{{ route('owner.user.delete', {'userId': item.id}) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users found!</p>
{% endif %}

{% include 'common/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columnDefs": [{ "targets": [ 2, 4, 6 ], "orderable": false }]
        });
    });
</script>

{% endblock page_inner %}
