{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<p>
    To reset a user's password:
</p>
<ul>
    <li>Go to /password/reset. Enter the user's email address</li>
    <li>Check the password_resets table in the DB and grab the token field.
    (NB if it has a / in it, request another token or the page won't load)</li>
    <li>Go to /password/reset/TOKEN. Re-enter the email address and enter the new password twice</li>
</ul>


{% if UserList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Display name</th>
                <th class="text-center">Twitter</th>
                <th class="text-left">Partner name</th>
                <th class="text-left">Roles</th>
                <th class="text-center">Joined</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in UserList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('owner.user.view', {'userId': item.id}) }}">{{ item.display_name }}</a>
                        <br>
                        <small>{{ item.email }}</small>
                    </td>
                    <td class="text-center">
                        {% if item.twitter_user_id %}
                            <i class="fab fa-twitter"></i>
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {% if item.partner.name is not null %}
                            <small>
                                {% if item.partner.isReviewSite() == true %}
                                    <strong>Review site</strong>
                                    <br>{{ item.partner.name }}
                                {% elseif item.partner.isGamesCompany() == true %}
                                    <strong>Games company</strong>
                                    <br>{{ item.partner.name }}
                                {% endif %}
                            </small>
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {% if item.is_owner %}
                            <small>Owner</small>
                        {% elseif item.is_staff %}
                            {% for userRole in item.user_roles %}
                                <small>
                                    {{ userRole }}
                                    {% if not loop.last %}<br>{% endif %}
                                </small>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.created_at|date('Y-m-d') }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('owner.user.edit', {'userId': item.id}) }}">Edit</a> :
                        <a href="{{ route('owner.user.delete', {'userId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_inner %}
