{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'url': route('owner.user.list'), 'text': 'Users'}, {'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-md-8">

    <table class="table">
        <thead>
        <tr>
            <th class="text-right">Field</th>
            <th class="text-left">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-right" style="font-weight: bold;">
                Id
            </td>
            <td class="text-left">
                {{ UserData.id }}
            </td>
        </tr>
        <tr>
            <td class="text-right" style="font-weight: bold;">
                Display name
            </td>
            <td class="text-left">
                {{ UserData.display_name }}
            </td>
        </tr>
        <tr>
            <td class="text-right" style="font-weight: bold;">
                Email
            </td>
            <td class="text-left">
                {{ UserData.email }}
            </td>
        </tr>
        <tr>
            <td class="text-right" style="font-weight: bold;">
                Site id
            </td>
            <td class="text-left">
                {{ UserData.site_id }}
            </td>
        </tr>
        <tr>
            <td class="text-right" style="font-weight: bold;">
                Registered
            </td>
            <td class="text-left">
                {{ UserData.created_at }}
            </td>
        </tr>
        </tbody>
    </table>

    </div>
    <div class="col-md-4">
        <h3>Collection stats</h3>
        {% include 'modules/user/collection/stats.twig' with {'CollectionStats': CollectionStats} %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Games collection</h3>
        {% include 'modules/user/collection/table.twig' with {'CollectionList': CollectionList, 'AsRole': 'admin'} %}
    </div>
</div>

{% endblock page_inner %}
