{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">
        <a href="{{ route('owner.user.edit', {'userId': UserId}) }}" class="btn btn-primary">Edit user</a>
    </div>

</div>

<br>

<div class="row">

    <div class="col-md-8">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Main details'} %}

        <table class="table">
            <tbody>
            <tr>
                <td style="font-weight: bold;">
                    #
                </td>
                <td>
                    {{ UserData.id }}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Display name</td>
                <td>
                    {{ UserData.display_name }}
                    {% if UserData.isOwner() %}
                        <span class="badge bg-primary">Staff</span>
                    {% elseif UserData.partner.isReviewSite() %}
                        <span class="badge bg-success">Reviewer</span>
                    {% elseif UserData.partner.isGamesCompany() %}
                        <span class="badge bg-info">Games company</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                    Email
                </td>
                <td>
                    {{ UserData.email }}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Points</td>
                <td>{{ UserData.points_balance }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Login method</td>
                <td>
                    {% if UserData.twitter_user_id %}
                        Twitter
                    {% else %}
                        Email
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Invite code</td>
                <td>
                    {% if UserData.invite_code_id %}
                        {{ UserData.inviteCode.invite_code }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Twitter</td>
                <td>
                    {% if UserData.twitter_name %}
                        <a href="https://twitter.com/{{ UserData.twitter_name }}" target="_blank">{{ UserData.twitter_name }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                    Review site access
                </td>
                <td>
                    {% if UserData.partner.id %}
                        {{ UserData.partner.name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                    Games company access
                </td>
                <td>
                    {% if UserData.gamesCompany.id %}
                        <a href="{{ route('staff.games-companies.show', {'gamesCompany': UserData.gamesCompany}) }}">{{ UserData.gamesCompany.name }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Registered</td>
                <td>{{ UserData.created_at }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Last access</td>
                <td>{{ UserData.last_access_date }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Approved contributions'} %}

        <table class="table">
            <tr>
                <td>Quick reviews</td>
                <td class="text-end">
                    <span class="h4">{{ StatsQuickReviews }}</span>
                </td>
            </tr>
            <tr>
                <td>Game category suggestions</td>
                <td class="text-end">
                    <span class="h4">{{ StatsGameCategorySuggestions }}</span>
                </td>
            </tr>
            <tr>
                <td>Games collection</td>
                <td class="text-end">
                    <span class="h4">{{ StatsCollection }}</span>
                </td>
            </tr>
        </table>

    </div>

</div>

{% endblock page_inner %}
