{% set displayScore = score %}
{% if scoreSize is defined %}
    {% set scoreSizeHeader = scoreSize %}
{% else %}
    {% set scoreSizeHeader = 'h4' %}
{% endif %}

{% if displayScore > 7.9 %}
    <span class="{{ scoreSizeHeader }} label label-success">{{ displayScore }}</span>
{% elseif displayScore > 5.9 %}
    <span class="{{ scoreSizeHeader }} label label-warning">{{ displayScore }}</span>
{% else %}
    <span class="{{ scoreSizeHeader }} label label-danger">{{ displayScore }}</span>
{% endif %}
