<table class="table table-condensed table-responsive">

    <tr>
        <td>
            <span style="font-weight: bold;">Console</span>
        </td>
        <td>
            {% if GameData.console_id %}
                <span itemprop="gamePlatform">{{ GameData.console.name }}</span>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    {% if GameData.game_rank %}
        <tr>
            <td>
                <span style="font-weight: bold;">Rating</span>
            </td>
            <td>
                <span itemscope itemtype="https://schema.org/AggregateRating" itemprop="aggregateRating">
                    <strong itemprop="ratingValue">{{ GameData.rating_avg }}</strong>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight: bold;">Review count</span>
            </td>
            <td>
                <span itemprop="reviewCount">
                    {{ GameData.review_count }}
                </span>
            </td>
        </tr>
    {% endif %}

    {% if GameData.category_id %}
        <tr>
            <td>
                <span style="font-weight: bold;">Category</span>
            </td>
            <td>
                <span itemprop="genre">
                    {% if GameData.category.parent.id %}
                        <a href="{{ route('console.byCategory.page', {'console': GameData.console, 'category': GameData.category.parent.link_title}) }}">{{ GameData.category.parent.name }}</a> &raquo;
                    {% endif %}
                    <a href="{{ route('console.byCategory.page', {'console': GameData.console, 'category': GameData.category.link_title}) }}">{{ GameData.category.name }}</a>
                </span>
            </td>
        </tr>
    {% endif %}

    {% if GameTags|length > 0 %}

        <tr>
            <td>
                <i class="fa fa-tag" aria-hidden="true"></i>
                <span style="font-weight: bold;">Tags</span>
            </td>
            <td>
                {% for item in GameTags %}
                    <a href="{{ route('console.byTag.page', {'console': GameData.console, 'tag': item.tag.link_title}) }}">
                        <nobr>{{ item.tag.tag_name }}</nobr>
                    </a>
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>

    {% endif %}

    {% if GameData.series_id %}
        <tr>
            <td>
                <span style="font-weight: bold;">Series</span>
            </td>
            <td>
                <a href="{{ route('console.bySeries.page', {'console': GameData.console, 'series': GameData.series.link_title}) }}">{{ GameData.series.series }}</a>
            </td>
        </tr>
    {% endif %}

    {% if GameData.collection_id %}
        <tr>
            <td>
                <span style="font-weight: bold;">Collection</span>
            </td>
            <td>
                <a href="{{ route('console.byCollection.page', {'console': GameData.console, 'collection': GameData.gameCollection.link_title}) }}">{{ GameData.gameCollection.name }}</a>
            </td>
        </tr>
    {% endif %}

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Players</span>
        </td>
        <td>{{ GameData.players }}</td>
    </tr>

    {% if GameDevelopers|length > 0 %}

        <tr>
            <td>
                <span style="font-weight: bold;">Developed by</span>
            </td>
            <td>
                {% for item in GameDevelopers %}
                    <a href="{{ route('partners.detail.games-company', {'linkTitle': item.developer.link_title}) }}">{{ item.developer.name }}</a>
                    <br>
                {% endfor %}
            </td>
        </tr>

    {% endif %}

    {% if GamePublishers|length > 0 %}

        <tr>
            <td>
                <span style="font-weight: bold;">Published by</span>
            </td>
            <td>
                {% for item in GamePublishers %}
                    <span itemprop="publisher">
                        <a href="{{ route('partners.detail.games-company', {'linkTitle': item.publisher.link_title}) }}">{{ item.publisher.name }}</a>
                    </span>
                    <br>
                {% endfor %}
            </td>
        </tr>

    {% endif %}

    {% if GameData.eu_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">Europe release</span>
            </td>
            <td>
                {{ GameData.eu_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    {% if GameData.us_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">US release</span>
            </td>
            <td>
                {{ GameData.us_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    {% if GameData.jp_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">Japan release</span>
            </td>
            <td>
                {{ GameData.jp_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
</table>
