{% import 'ui/components/rating/badge.twig' as rating %}

{% if GameReviews %}
    <h2>
        Critic reviews
    </h2>
    {% if GameReviews.count > 0 %}
        <table class="table table-condensed table-responsive game-page-review-table">
            <tbody>
                {% for Review in GameReviews %}
                    <tr class="review-header">
                        <td class="text-left">
                            {{ Review.review_date|date('jS M Y') }}
                        </td>
                        <td>
                            <a href="{{ route('partners.review-sites.siteProfile', {'linkTitle': Review.site.link_title}) }}">
                                {{ Review.site.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            {% if Review.rating_normalised %}
                                {{ rating.score(Review.rating_normalised, 'h6', 'b3') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if Review.site.disable_links == "1" %}
                                <em>Page is offline</em>
                            {% else %}
                                <a href="{{ Review.url }}" target="_blank" title="Go to review (will open in new tab)">
                                    Read review
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if Review.description %}
                        <tr class="review-description">
                            <td colspan="3">
                                {{ Review.description }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-condensed table-responsive game-page-review-table">
            <tbody>
                <tr class="review-header">
                    <td class="text-left">
                        There are no reviews of {{ GameData.title }} yet.
                    </td>
                    <td class="text-center">
                        {{ rating.tbc(null, 'h6', 'b3', true) }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endif %}
