{% if FormMode == 'add' %}
<div class="alert alert-warning">
    To speed up adding new games, some fields are hidden. They can be
    seen when editing the game.
</div>
{% endif %}

{% include 'common/form-errors.twig' %}
{% import "macros/blocks/games/components/packshots.twig" as gamepackshots %}

<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-10">

            <fieldset>
                <div class="form-group">
                    <label for="title" class="col-md-3 control-label">Title</label>
                    <div class="col-md-6">
                        <input id="title" type="text" class="form-control" name="title" maxlength="255" required autofocus>
                    </div>
                    <div class="col-md-3">
                        <div id="js-game-title-pass" style="display: none;">
                            <div class="pull-left" style="padding: 0 10px;">
                                {% include 'modules/icons/green-tick.twig' %}
                            </div>
                            OK
                        </div>
                        <div id="js-game-title-fail" style="display: none;">
                            <div class="pull-left" style="padding: 0 10px;">
                                {% include 'modules/icons/red-cross.twig' %}
                            </div>
                            <div id="js-game-title-fail-desc">
                                Title exists
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="link_title" class="col-md-3 control-label">Link title</label>
                    <div class="col-md-6">
                        <input id="link_title" type="text" class="form-control" name="link_title" maxlength="100" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="console_id" class="col-md-3 control-label">Console</label>
                    <div class="col-md-6">
                        <select id="console_id" class="form-control" name="console_id" size="2">
                            {% for item in ConsoleList %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category_id" class="col-md-3 control-label">Category</label>
                    <div class="col-md-6">
                        <select id="category_id" class="form-control" name="category_id">
                            <option value="">&nbsp;</option>
                            {% for item in CategoryList %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                                {% if item.children %}
                                    {% for child in item.children %}
                                        <option value="{{ child.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="series_id" class="col-md-3 control-label">Series</label>
                    <div class="col-md-6">
                        <select id="series_id" class="form-control" name="series_id">
                            <option value="">&nbsp;</option>
                            {% for item in GameSeriesList %}
                                <option value="{{ item.id }}">{{ item.series }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="collection_id" class="col-md-3 control-label">Collection</label>
                    <div class="col-md-6">
                        <select id="collection_id" class="form-control" name="collection_id">
                            <option value="">&nbsp;</option>
                            {% for item in CollectionList %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group" id="grp_price_eshop">
                    <label for="price_eshop" class="col-md-3 control-label">Price</label>
                    <div class="col-md-6">
                        <input id="price_eshop" type="text" class="form-control" name="price_eshop" size="10" maxlength="6">
                    </div>
                </div>
                <div class="form-group" id="grp_price_eshop_discounted">
                    <label for="price_eshop_discounted" class="col-md-3 control-label">Price discounted</label>
                    <div class="col-md-6">
                        <input id="price_eshop_discounted" type="text" class="form-control" name="price_eshop_discounted" size="10" maxlength="6">
                    </div>
                </div>
                <div class="form-group" id="grp_price_eshop_discount_pc">
                    <label for="price_eshop_discount_pc" class="col-md-3 control-label">Price discount %</label>
                    <div class="col-md-6">
                        <input id="price_eshop_discount_pc" type="text" class="form-control" name="price_eshop_discount_pc" size="10" maxlength="6">
                    </div>
                </div>
                <div class="form-group" id="grp_players">
                    <label for="players" class="col-md-3 control-label">No of players</label>
                    <div class="col-md-6">
                        <input id="players" type="text" class="form-control" name="players" size="15" maxlength="10">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Dates</legend>
                <div class="form-group" id="grp_eu_release_date">
                    <label for="eu_release_date" class="col-md-3 control-label">EU release date</label>
                    <div class="col-md-6">
                        <input id="eu_release_date" type="date" class="form-control" name="eu_release_date">
                    </div>
                </div>
                <div class="form-group" id="grp_us_release_date">
                    <label for="us_release_date" class="col-md-3 control-label">US release date</label>
                    <div class="col-md-6">
                        <input id="us_release_date" type="date" class="form-control" name="us_release_date">
                    </div>
                </div>
                <div class="form-group" id="grp_jp_release_date">
                    <label for="jp_release_date" class="col-md-3 control-label">JP release date</label>
                    <div class="col-md-6">
                        <input id="jp_release_date" type="date" class="form-control" name="jp_release_date">
                    </div>
                </div>
                <div class="form-group" id="grp_eu_is_released">
                    <label for="eu_is_released" class="col-md-3 control-label">Released (in EU)?</label>
                    <div class="col-md-6">
                        <input id="eu_is_released" type="checkbox" name="eu_is_released">
                    </div>
                </div>
                <div class="form-group" id="grp_eu_released_on">
                    <label for="eu_released_on" class="col-md-3 control-label">EU released on</label>
                    <div class="col-md-6">
                        <input id="eu_released_on" type="text" class="form-control" name="eu_released_on" size="20" maxlength="24">
                    </div>
                </div>
            </fieldset>

            <fieldset id="fs_format_options">
                <legend>Format options</legend>
                <div class="form-group">
                    <label for="format_digital" class="col-md-3 control-label">Digital</label>
                    <div class="col-md-6">
                        <select id="format_digital" class="form-control" name="format_digital">
                            <option value="">&nbsp;</option>
                            {% for item in FormatDigitalList %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="format_physical" class="col-md-3 control-label">Physical</label>
                    <div class="col-md-6">
                        <select id="format_physical" class="form-control" name="format_physical">
                            <option value="">&nbsp;</option>
                            {% for item in FormatPhysicalList %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="format_dlc" class="col-md-3 control-label">DLC</label>
                    <div class="col-md-6">
                        <select id="format_dlc" class="form-control" name="format_dlc">
                            <option value="">&nbsp;</option>
                            {% for item in FormatDLCList %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="format_demo" class="col-md-3 control-label">Demo</label>
                    <div class="col-md-6">
                        <select id="format_demo" class="form-control" name="format_demo">
                            <option value="">&nbsp;</option>
                            {% for item in FormatDemoList %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Additional</legend>
                <div class="form-group" id="grp_video_url">
                    <label for="video_url" class="col-md-3 control-label">Video URL</label>
                    <div class="col-md-6">
                        <input id="video_url" type="text" class="form-control" name="video_url">
                    </div>
                    <div class="col-md-2">
                        {% if GameData %}
                            <a class="btn btn-default btn-sm" href="https://www.youtube.com/results?search_query={{ GameData.title|url_encode }}+switch+trailer" target="_blank">Search YouTube</a>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group" id="grp_video_type">
                    <label for="video_type" class="col-md-3 control-label">Video type</label>
                    <div class="col-md-6">
                        <select id="video_type" name="video_type" class="form-control">
                            <option value=""></option>
                            <option value="0">No video</option>
                            <option value="1">Trailer</option>
                            <option value="2">Gameplay</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="grp_amazon_uk_link">
                    <label for="amazon_uk_link" class="col-md-3 control-label">Amazon UK link</label>
                    <div class="col-md-6">
                        <input id="amazon_uk_link" type="text" class="form-control" name="amazon_uk_link">
                    </div>
                    <div class="col-md-2">
                        {% if GameData %}
                            <a class="btn btn-default btn-sm" href="https://www.amazon.co.uk/s?k={{ GameData.title|url_encode }}+switch+game" target="_blank">Search Amazon UK</a>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group" id="grp_amazon_us_link">
                    <label for="amazon_us_link" class="col-md-3 control-label">Amazon US link</label>
                    <div class="col-md-6">
                        <input id="amazon_us_link" type="text" class="form-control" name="amazon_us_link">
                    </div>
                    <div class="col-md-2">
                        {% if GameData %}
                            <a class="btn btn-default btn-sm" href="https://www.amazon.com/s?k={{ GameData.title|url_encode }}+switch+game" target="_blank">Search Amazon US</a>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group" id="grp_nintendo_store_url_override">
                    <label for="nintendo_store_url_override" class="col-md-3 control-label">Nintendo store URL override</label>
                    <div class="col-md-6">
                        <input id="nintendo_store_url_override" type="text" class="form-control" name="nintendo_store_url_override">
                        <small>
                            Only use for games missing from the API.
                            <br><strong>IMPORTANT: Please include the square URL override too,
                            or the images will not download.</strong>
                        </small>
                    </div>
                    <div class="col-md-2">
                        <a id="js-btn-store-url-override" class="btn btn-default btn-sm" href="javascript:void(0);">Search Nintendo</a>
                    </div>
                </div>
                <div class="form-group" id="grp_packshot_square_url_override">
                    <label for="packshot_square_url_override" class="col-md-3 control-label">Packshot square URL override</label>
                    <div class="col-md-6">
                        <input id="packshot_square_url_override" type="text" class="form-control" name="packshot_square_url_override">
                        <small>
                            Will be used if the store URL override fails to load a packshot
                        </small>
                    </div>
                </div>

                <div class="form-group" id="grp_eshop_europe_order">
                    <label for="eshop_europe_order" class="col-md-3 control-label">eShop order</label>
                    <div class="col-md-6">
                        <input id="eshop_europe_order" type="text" class="form-control" name="eshop_europe_order">
                        <small>
                            For cross-checking upcoming games against the eShop
                        </small>
                    </div>
                </div>
                <div class="form-group" id="grp_is_low_quality">
                    <label for="is_low_quality" class="col-md-3 control-label">Is low quality?</label>
                    <div class="col-md-6">
                        <input id="is_low_quality" type="checkbox" name="is_low_quality">
                        <br>
                        <small>
                            Where possible, this should be set against the developer or publisher.
                        </small>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fs_eshop_assets">
                <legend>eShop assets</legend>
                <div class="form-group">
                    <label for="image_square" class="col-md-3 control-label">Image square</label>
                    <div class="col-md-6">
                        <input id="image_square" type="text" class="form-control" name="image_square">
                    </div>
                </div>
                <div class="form-group">
                    <label for="image_header" class="col-md-3 control-label">Image header</label>
                    <div class="col-md-6">
                        <input id="image_header" type="text" class="form-control" name="image_header">
                    </div>
                </div>
                <div class="form-group">
                    <label for="boxart_square_url" class="col-md-3 control-label">Boxart square URL (Legacy)</label>
                    <div class="col-md-6">
                        <input id="boxart_square_url" type="text" class="form-control" name="boxart_square_url">
                    </div>
                </div>
                <div class="form-group">
                    <label for="boxart_header_image" class="col-md-3 control-label">Boxart header image (Legacy)</label>
                    <div class="col-md-6">
                        <input id="boxart_header_image" type="text" class="form-control" name="boxart_header_image">
                    </div>
                </div>
            </fieldset>
            <fieldset id="fs_publisher">
                <legend>Publisher</legend>
                <div class="form-group">
                    <label for="publisher_id" class="col-md-3 control-label">Select publisher</label>
                    <div class="col-md-6">
                        <select id="publisher_id" name="publisher_id" style="width: 100%;">
                        </select>
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="col-md-2">
            {% if FormMode == 'edit' %}
                {{ gamepackshots.square(GameData) }}
            {% endif %}
        </div>

    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-8">
            <button id="btn-submit" class="btn outline btn-primary pull-right">
                Save changes
            </button>
        </div>
    </div>
</form>
