<script>
    var formMode = '{{ FormMode }}';
    var formVals = [];

    var gameId = '{{ GameId }}';

    if (formMode == 'edit') {

        // This is used when editing existing games.
        // *** Main *** //
        formVals['title'] = "{{ GameData.title|replace({'\"': '\\"', '&quot;': '\\"'})|raw }}";
        formVals['link_title'] = "{{ GameData.link_title }}";
        formVals['console_id'] = "{{ GameData.console_id }}";
        formVals['category_id'] = "{{ GameData.category_id }}";
        formVals['series_id'] = "{{ GameData.series_id }}";
        formVals['collection_id'] = "{{ GameData.collection_id }}";
        formVals['price_eshop'] = "{{ GameData.price_eshop }}";
        formVals['price_eshop_discounted'] = "{{ GameData.price_eshop_discounted }}";
        formVals['price_eshop_discount_pc'] = "{{ GameData.price_eshop_discount_pc }}";
        formVals['players'] = "{{ GameData.players }}";
        // *** Editorial *** //
        formVals['one_to_watch'] = "{{ GameData.one_to_watch }}";
        formVals['game_description'] = "{{ GameData.game_description|raw }}";
        // *** Dates *** //
        formVals['eu_release_date'] = "{{ GameData.eu_release_date }}";
        formVals['us_release_date'] = "{{ GameData.us_release_date }}";
        formVals['jp_release_date'] = "{{ GameData.jp_release_date }}";
        formVals['eu_is_released'] = "{{ GameData.eu_is_released }}";
        formVals['eu_released_on'] = "{{ GameData.eu_released_on }}";
        // *** Format options *** //
        formVals['format_digital'] = "{{ GameData.format_digital }}";
        formVals['format_physical'] = "{{ GameData.format_physical }}";
        formVals['format_dlc'] = "{{ GameData.format_dlc }}";
        formVals['format_demo'] = "{{ GameData.format_demo }}";
        // *** Additional *** //
        formVals['video_url'] = "{{ GameData.video_url }}";
        formVals['video_type'] = "{{ GameData.video_type }}";
        formVals['amazon_uk_link'] = "{{ GameData.amazon_uk_link }}";
        formVals['amazon_us_link'] = "{{ GameData.amazon_us_link }}";
        formVals['nintendo_store_url_override'] = "{{ GameData.nintendo_store_url_override }}";
        formVals['packshot_square_url_override'] = "{{ GameData.packshot_square_url_override }}";
        formVals['eshop_europe_order'] = "{{ GameData.eshop_europe_order }}";
        formVals['is_low_quality'] = "{{ GameData.is_low_quality }}";
        formVals['taxonomy_needs_review'] = "{{ GameData.taxonomy_needs_review }}";
        formVals['image_square'] = "{{ GameData.image_square }}";
        formVals['image_header'] = "{{ GameData.image_header }}";
        formVals['boxart_square_url'] = "{{ GameData.boxart_square_url }}";
        formVals['boxart_header_image'] = "{{ GameData.boxart_header_image }}";

    } else {

        // This is used for new games.
        // It's also used when submitting the edit version, to avoid the DB data overwriting the form.
        // *** Main *** //
        formVals['title'] = "{{ old('title')|replace({'\"': '\\"', '&quot;': '\\"'})|raw }}";
        formVals['link_title'] = "{{ old('link_title') }}";
        formVals['console_id'] = "{{ old('console_id') }}";
        formVals['category_id'] = "{{ old('category_id') }}";
        formVals['series_id'] = "{{ old('series_id') }}";
        formVals['collection_id'] = "{{ old('collection_id') }}";
        formVals['price_eshop'] = "{{ old('price_eshop') }}";
        formVals['price_eshop_discounted'] = "{{ old('price_eshop_discounted') }}";
        formVals['price_eshop_discount_pc'] = "{{ old('price_eshop_discount_pc') }}";
        formVals['players'] = "{{ old('players') }}";
        // *** Editorial *** //
        formVals['one_to_watch'] = "{{ old('one_to_watch') }}";
        formVals['game_description'] = "{{ old('game_description') }}";
        // *** Dates *** //
        formVals['eu_release_date'] = "{{ old('eu_release_date') }}";
        formVals['us_release_date'] = "{{ old('us_release_date') }}";
        formVals['jp_release_date'] = "{{ old('jp_release_date') }}";
        formVals['eu_is_released'] = "{{ old('eu_is_released') }}";
        formVals['eu_released_on'] = "{{ old('eu_released_on') }}";
        // *** Format options *** //
        formVals['format_digital'] = "{{ old('format_digital') }}";
        formVals['format_physical'] = "{{ old('format_physical') }}";
        formVals['format_dlc'] = "{{ old('format_dlc') }}";
        formVals['format_demo'] = "{{ old('format_demo') }}";
        // *** Additional *** //
        formVals['video_url'] = "{{ old('video_url') }}";
        formVals['video_type'] = "{{ old('video_type') }}";
        formVals['amazon_uk_link'] = "{{ old('amazon_uk_link') }}";
        formVals['amazon_us_link'] = "{{ old('amazon_us_link') }}";
        formVals['nintendo_store_url_override'] = "{{ old('nintendo_store_url_override') }}";
        formVals['packshot_square_url_override'] = "{{ old('packshot_square_url_override') }}";
        formVals['eshop_europe_order'] = "{{ old('eshop_europe_order') }}";
        formVals['is_low_quality'] = "{{ old('is_low_quality') }}";
        formVals['taxonomy_needs_review'] = "{{ old('taxonomy_needs_review') }}";
        formVals['image_square'] = "{{ old('image_square') }}";
        formVals['image_header'] = "{{ old('image_header') }}";
        formVals['boxart_square_url'] = "{{ old('boxart_square_url') }}";
        formVals['boxart_header_image'] = "{{ old('boxart_header_image') }}";

    }

    // Enable tabs
    $('#tabs').tabs();

    // *** Main *** //
    $('#title').val(formVals['title']);
    $('#link_title').val(formVals['link_title']);
    $('#console_id').val(formVals['console_id']);
    $('#category_id').val(formVals['category_id']);
    $('#series_id').val(formVals['series_id']);
    $('#collection_id').val(formVals['collection_id']);
    $('#price_eshop').val(formVals['price_eshop']);
    $('#price_eshop_discounted').val(formVals['price_eshop_discounted']);
    $('#price_eshop_discount_pc').val(formVals['price_eshop_discount_pc']);
    $('#players').val(formVals['players']);
    // *** Editorial *** //
    if (formVals['one_to_watch'] == 1) {
        $('#one_to_watch').attr('checked', true);
    }
    $('#game_description').val(formVals['game_description']);
    // *** Dates *** //
    $('#eu_release_date').val(formVals['eu_release_date']);
    $('#us_release_date').val(formVals['us_release_date']);
    $('#jp_release_date').val(formVals['jp_release_date']);
    if (formVals['eu_is_released'] == 1) {
        $('#eu_is_released').attr('checked', true);
    }
    $('#eu_released_on').val(formVals['eu_released_on']);
    // *** Format options *** //
    $('#format_digital').val(formVals['format_digital']);
    $('#format_physical').val(formVals['format_physical']);
    $('#format_dlc').val(formVals['format_dlc']);
    $('#format_demo').val(formVals['format_demo']);
    // *** Additional *** //
    $('#video_url').val(formVals['video_url']);
    $('#video_type').val(formVals['video_type']);
    $('#amazon_uk_link').val(formVals['amazon_uk_link']);
    $('#amazon_us_link').val(formVals['amazon_us_link']);
    $('#nintendo_store_url_override').val(formVals['nintendo_store_url_override']);
    $('#packshot_square_url_override').val(formVals['packshot_square_url_override']);
    $('#eshop_europe_order').val(formVals['eshop_europe_order']);
    if (formVals['is_low_quality'] == 1) {
        $('#is_low_quality').attr('checked', true);
    }
    $('#taxonomy_needs_review').val(formVals['taxonomy_needs_review']);
    $('#image_square').val(formVals['image_square']);
    $('#image_header').val(formVals['image_header']);
    $('#boxart_square_url').val(formVals['boxart_square_url']);
    $('#boxart_header_image').val(formVals['boxart_header_image']);

    $('#title').on('blur', function() {

        // Autogenerate link URL
        ssAdminTools.convertToLinkTitle('title', 'link_title');
        // Check for duplicates. Also check for unlinked items with this title.
        ssAdminTools.checkForExistingGameTitle('title', gameId);

    });

    $('#js-btn-store-url-override').on('click', function() {

        gameTitle = $('#title').val();
        //storeUrl = 'https://www.google.com/search?q=site%3Anintendo.co.uk+';
        storeUrl = 'https://www.nintendo.com/en-gb/Search/Search-299117.html?f=147394-5-86&q=';
        if (gameTitle != '') {
            titleToSearch = gameTitle.replace(':', ' ');
            urlToOpen = storeUrl + urlencode(titleToSearch);
            window.open(urlToOpen);
        }

    });

    // Hide some fields
    if (formMode == 'add') {
        $('#grp_price_eshop_discounted').hide();
        $('#grp_price_eshop_discount_pc').hide();
        $('#grp_players').hide();
        $('#grp_us_release_date').hide();
        $('#grp_jp_release_date').hide();
        $('#grp_eu_released_on').hide();
        $('#grp_video_url').hide();
        $('#grp_video_type').hide();
        $('#grp_amazon_uk_link').hide();
        $('#grp_amazon_us_link').hide();
        //$('#grp_packshot_square_url_override').hide();
        $('#grp_is_low_quality').hide();
        $('#grp_taxonomy_needs_review').hide();

        // hide all editorial fields
        $('#fs_editorial').hide();

        // hide all format options
        $('#fs_format_options').hide();

        // hide all eShop assets
        $('#fs_eshop_assets').hide();
    } else {
        // hide publisher on edit
        $('#fs_publisher').hide();
    }

    function urlencode(str) {
        str = (str + '').toString();

        // Tilde should be allowed unescaped in future versions of PHP (as reflected below), but if you want to reflect current
        // PHP behavior, you would need to add ".replace(/~/g, '%7E');" to the following.
        return encodeURIComponent(str)
            .replace('!', '%21')
            .replace('\'', '%27')
            .replace('(', '%28')
            .replace(')', '%29')
            .replace('*', '%2A')
            .replace('%20', '+');
    }

    $("#publisher_id").select2({
        placeholder: "Search for a partner",
        minimumInputLength: 2,
        templateResult: formatPartner,
        templateSelection: formatPartnerSelection,
        ajax: {
            url: "/api/partner/games-company/search",
            dataType: 'json',
            data: function (params) {
                var query = {
                    name: params.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: data.partners
                };
            }
        }
    });

    function formatPartner(partner) {
        if (partner.loading) {
            return partner.text;
        }

        var $container = $(
            "<div class='select2-result-partner clearfix'>" +
            "<div class='select2-result-partner__name'></div>" +
            "</div>"
        );

        $container.find(".select2-result-partner__name").text(partner.name);

        return $container;
    }

    function formatPartnerSelection(partner) {
        return partner.name;
    }

</script>
