{% if GameList %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th>Title</th>
                <th class="text-center">Release date (EU)</th>
                <th class="text-center">Review count</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Contribution</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-end">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        {{ item.review_count }}
                    </td>
                    <td class="text-center">
                        {{ item.rating_avg }}
                    </td>
                    <td class="text-center">
                        {% if item.id in ReviewedGameIdList %}
                            <span class="badge bg-success">Reviewed</span>
                        {% else %}
                            <a href="{{ route('members.quick-reviews.add', {'gameId': item.id}) }}">Add review</a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.review_count < 3 %}
                            <span class="badge bg-danger">Incomplete</span>
                        {% else %}
                            <span class="badge bg-success">Success</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>
