{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<a href="{{ route('staff.games.add') }}" class="btn outline btn-primary">Add a game</a>
<br>
<br>

{% if ListLimit %}
    <div class="alert alert-warning" role="alert">
        Page is limited to {{ ListLimit }} items to minimise performance issues.
    </div>
{% endif %}

{% if GameList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th>Category</th>
                <th>{{ CustomHeader }}</th>
                <th class="text-center">eShop: EU</th>
                <th>Release date (EU)</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {% include 'modules/game/table/staff-game-title.twig' with {'item': item} %}
                    </td>
                    <td>
                        {{ item.category.name }}
                    </td>
                    <td>
                        {% if ListMode == 'by-series' %}
                            {{ item.series.series }}
                        {% elseif ListMode == 'category-migration' %}
                            {{ item.genres_json }}
                        {% elseif ListMode == 'games-to-release' %}
                            <a href="javascript:void(0);" id="lnk-release-game-{{ item.id }}" class="lnk-release-game">Release</a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.dspNintendoCoUk %}
                            {# Used to determine if we can rely on this data - only works with repo code #}
                            {% if item.dspNintendoCoUk|length %}
                                <i class="fas fa-link"></i>
                            {% elseif item.eshop_europe_fs_id %}
                                <i class="fas fa-unlink"></i>
                            {% else %}
                                -
                            {% endif %}
                        {% else %}
                            {# Legacy code - for DB queries #}
                            {% if item.eshop_europe_fs_id %}
                                <i class="fas fa-link"></i>
                            {% else %}
                                -
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });
    $('.lnk-release-game').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        gameId = elemId.replace('lnk-release-game-', '');

        if (gameId == '') {
            $('#js-admin-notify').text('Missing gameId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Release this game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.games.release') }}', {'gameId': gameId}, function(data) {
            $('#lnk-release-game-' + gameId).parent().html('<em>Released</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
