{% extends 'theme/staff-b5/layout-default.twig' %}
{% import 'ui/components/links/game.twig' as gamelink %}
{% import 'ui/components/game/low-quality.twig' as gamelowquality %}
{% import 'ui/components/game/console-badge.twig' as consolebadge %}

{% block page_inner %}

<div class="row">
    <div class="col-md-12">
        <div class="float-start">
            <a href="{{ route('staff.games.add') }}" class="btn outline btn-primary">Add a game</a>
        </div>
        <div class="float-end">
            {% if GameList.count > 0 %}
                <a href="{{ route('staff.games.list.export', {
                    listType: ListMode,
                    param1: Args[0] ?? null,
                    param2: Args[1] ?? null
                }) }}"
                   class="btn btn-sm btn-primary">
                    Export CSV
                </a>
            {% endif %}
        </div>
    </div>
</div>

<hr>

{% if ListLimit %}
    <div class="alert alert-warning" role="alert">
        Page is limited to {{ ListLimit }} items to minimise performance issues.
    </div>
{% endif %}

{% if GameList.count > 0 %}
    <div class="alert alert-info">
        <div class="row">
            <div class="col-md-2">
                <strong>Store links key:</strong>
            </div>
            <div class="col-md-3">
                <i class="fas fa-globe"></i> has a store override URL
            </div>
            <div class="col-md-3">
                <i class="fas fa-link"></i> linked to EU eShop API
            </div>
            <div class="col-md-4">
                <i class="fas fa-unlink"></i> was linked to EU eShop API, but the link is broken
            </div>
        </div>
    </div>

    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th>Title</th>
                <th>Publishers</th>
                <th>Category</th>
                <th>
                    {% if ListMode == 'by-series' %}
                        Series
                    {% elseif ListMode == 'category-migration' %}
                        Genres
                    {% elseif ListMode == 'broken-nintendo-co-uk-link' %}
                        Review count
                    {% endif %}
                </th>
                <th class="text-center">Store<br>links</th>
                <th>Release date (EU)</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-end">{{ item.id }}</td>
                    <td>
                        {{ consolebadge.standard(item) }}
                        {{ gamelink.title(item, 'staff') }}
                        {{ gamelowquality.standard(item) }}
                        {% if item.review_count > 0 %}
                            <br>
                            <small>
                                [avg: {{ item.rating_avg }} / scores: {{ item.review_count }}]
                            </small>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.gamePublishers|length > 0 %}
                            {% for item in item.gamePublishers %}
                                <a href="{{ route('staff.games-companies.show', {'gamesCompany': item.publisher}) }}">
                                    {{ item.publisher.name }}
                                </a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <span class="cat-with-icon">
                            {% if item.category_verification == 1 %}
                                <i class="fas fa-check-circle text-success me-1" title="Category verified"></i>
                            {% elseif item.category_verification == 2 %}
                                <i class="fas fa-exclamation-circle text-warning me-1" title="Needs review"></i>
                            {% else %}
                                <i class="far fa-circle text-muted me-1" title="Unverified"></i>
                            {% endif %}
                            {{ item.category.name }}
                        </span>
                    </td>
                    <td>
                        {% if ListMode == 'by-series' %}
                            {{ item.series.series }}
                        {% elseif ListMode == 'category-migration' %}
                            {{ item.genres_json }}
                        {% elseif ListMode == 'broken-nintendo-co-uk-link' %}
                            {{ item.review_count }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.dspNintendoCoUk %}
                            {# Used to determine if we can rely on this data - only works with repo code #}
                            {% if item.dspNintendoCoUk|length %}
                                <i class="fas fa-link"></i>
                            {% elseif item.eshop_europe_fs_id %}
                                <i class="fas fa-unlink"></i>
                            {% endif %}
                        {% else %}
                            {# Legacy code - for DB queries #}
                            {% if item.eshop_europe_fs_id %}
                                <i class="fas fa-link"></i>
                            {% endif %}
                        {% endif %}
                        {% if item.nintendo_store_url_override %}
                            <i class="fas fa-globe"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
