{% extends 'theme/wos/reviewers/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Unranked games'}] %}

{% block page_inner %}

<p>
    Games need to have 3 reviews to be ranked. As a reviewer, you can help to get more of our database ranked.
</p>

<div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h3>By review count</h3>
        <ul>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-count', 'filter': '2'}) }}">2 reviews</a></li>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-count', 'filter': '1'}) }}">1 review</a></li>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-count', 'filter': '0'}) }}">0 reviews</a></li>
        </ul>
        <h3>By year released</h3>
        <ul>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-year', 'filter': '2017'}) }}">2017</a></li>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-year', 'filter': '2018'}) }}">2018</a></li>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-year', 'filter': '2019'}) }}">2019</a></li>
        </ul>
        <h3>By list</h3>
        <ul>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-list', 'filter': 'aca-neogeo'}) }}">ACA NeoGeo</a></li>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-list', 'filter': 'arcade-archives'}) }}">Arcade Archives</a></li>
            <li><a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-list', 'filter': 'all-others'}) }}">All except the above</a></li>
        </ul>

    </div>

    <div class="col-xs-12 col-sm-8 col-md-8">

        {% if UnrankedSiteTotals %}
            <h2>Stats</h2>
            <p>
                This shows the breakdown of unranked games, and which of these you've already reviewed.
            </p>
            <p>
                Once a game has a total of 3 reviews, it will drop off the "unranked" list. So don't worry if the
                "unranked you've reviewed" total goes down in the future.
            </p>
            <table class="table">
                <tr>
                    <th class="text-center">Year</th>
                    <th class="text-center">Total you've reviewed</th>
                    <th class="text-center">Unranked games</th>
                    <th class="text-center">Unranked you've reviewed</th>
                </tr>
                {% for key,value in UnrankedSiteTotals %}
                    <tr>
                        <td class="text-center">{{ key }}</td>
                        <td class="text-center">{{ value.TotalReviewed }}</td>
                        <td class="text-center">{{ value.TotalUnranked }}</td>
                        <td class="text-center">{{ value.TotalUnrankedReviewed }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>

</div>

{% endblock page_inner %}
