{% if GamesList %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-center">Rank</th>
                <th>Title</th>
                <th>Category</th>
                <th class="text-center">Release date</th>
                <th class="text-right">Quality filter</th>
                <th class="text-center">Avg rating</th>
                <th class="text-center">Total reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamesList %}
                <tr>
                    <td class="text-center">
                        {% if item.game_rank %}
                        {{ item.game_rank }}
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ LinkHelper.gameShow(item) }}">
                            {{ item.title }}
                        </a>
                    </td>
                    <td>
                        {% if item.category.id %}
                            <a href="{{ route('games.browse.byCategory.page', {'category': item.category.link_title}) }}">{{ item.category.name }}</a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        {% if item.is_low_quality == 1 %}
                            <label class="label label-danger">Low quality</label>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.rating_avg %}
                            {% include 'modules/rating/badge.twig' with {'score': item.rating_avg, 'scoreSize': 'h5'} %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.review_count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games to display!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    {% if GamesTableSort is not defined %}
    {% set GamesTableSort = "[3, 'desc']" %}
    {% endif %}
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": {{ GamesTableSort|raw }},
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>
