{% import 'ui/components/links/game.twig' as gamelink %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a class="btn outline btn-primary" href="{{ route('staff.games.title-hash.add', {'gameId': GameId}) }}" style="color: #fff;">Add</a>
    </div>
</div>
<table class="table data-sortable">
    <thead>
    <tr>
        <th class="text-right">#</th>
        <th>Title</th>
        <th>Game</th>
        <th class="text-center" style="width: 150px;">Added</th>
        <th class="text-center" style="width: 100px;">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for item in TitleHashList %}
        <tr>
            <td class="text-right">
                {{ item.id }}
            </td>
            <td>
                {{ item.title }}
            </td>
            <td>
                {{ gamelink.title(item.game, 'staff') }}
            </td>
            <td class="text-center">
                {{ item.created_at }}
            </td>
            <td class="text-center">
                <a href="{{ route('staff.games.title-hash.edit', {'itemId': item.id}) }}">Edit</a> :
                <a href="{{ route('staff.games.title-hash.delete', {'itemId': item.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
