{% if GameList.count > 0 %}
    <table class="table data-sortable table-condensed table-responsive">
        <thead>
            <tr>
                <th class="text-right"></th>
                <th>Title</th>
                <th>Category</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Reviews</th>
                <th>Release date (EU)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                {% set boxartUrl = ImageHelper.imageSquareUrl(item) %}

                <tr>
                    <td class="text-right">
                        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
                            {% if boxartUrl %}
                                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; height: 75px; width: 75px;" alt="{{ item.title }}">
                            {% else %}
                                <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ LinkHelper.gameShow(item) }}" class="h5">{{ item.title }}</a>
                    </td>
                    <td>
                        {{ item.category.name }}
                    </td>
                    <td class="text-center">
                        {% if item.rating_avg %}
                            {% if item.game_rank %}
                                {% include 'modules/rating/badge.twig' with {'score': item.rating_avg, 'scoreSize': 'h5'} %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.review_count }}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [ 1, 'asc' ],
            "pageLength": 25,
            "columns": [
                { "orderable": false },
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>
