{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-md-6">
        <h2>User data</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.user.list') }}">{{ RegisteredUserCount }}</a></h2>
                <a href="{{ route('admin.user.list') }}">registered users</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.reviews.user.list') }}">{{ PendingReviewUserCount }}</a></h2>
                <a href="{{ route('admin.reviews.user.list') }}">pending user reviews</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.reviews.partner.list') }}">{{ PendingPartnerReviewCount }}</a></h2>
                <a href="{{ route('admin.reviews.partner.list') }}">pending partner reviews</a>
            </div>
        </div>
        <h2>Games to release</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=eu">{{ ActionListGamesForReleaseCountEu }}</a></h2>
                <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=eu">EU games to release</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=us">{{ ActionListGamesForReleaseCountUs }}</a></h2>
                <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=us">US games to release</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=jp">{{ ActionListGamesForReleaseCountJp }}</a></h2>
                <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=jp">JP games to release</a>
            </div>
        </div>
        <h2>Feed updates</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.feed-items.reviews.list') }}">{{ UnprocessedFeedReviewItemsCount }}</a></h2>
                <a href="{{ route('admin.feed-items.reviews.list') }}">pending feed reviews</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.feed-items.games.list') }}">{{ PendingFeedGameItemsCount }}</a></h2>
                <a href="{{ route('admin.feed-items.games.list') }}">pending game updates</a>
            </div>
        </div>
        <h2>Action lists: others</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/action-list-nintendo-url-no-packshots">{{ ActionListNintendoUrlNoPackshotsCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/action-list-nintendo-url-no-packshots">games with Nintendo URLs but no packshots</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/action-list-recent-no-nintendo-url">{{ ActionListRecentNoNintendoUrlCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/action-list-recent-no-nintendo-url">recent games with no Nintendo URL</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/action-list-upcoming-no-nintendo-url">{{ ActionListUpcomingNoNintendoUrlCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/action-list-upcoming-no-nintendo-url">upcoming games with no Nintendo URL</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/no-dev-or-pub">{{ MissingDevOrPubCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/no-dev-or-pub">no dev/pub</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/no-genre">{{ MissingGenresCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/no-genre">no genre</a>
            </div>
        </div>
        <h2>Missing data (Low priority)</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/no-video-url">{{ MissingVideoUrlCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/no-video-url">no video URL</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/no-vendor-page-url">{{ MissingVendorPageUrlCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/no-vendor-page-url">no vendor URL</a>
            </div>
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/no-twitter-id">{{ MissingTwitterIdCount }}</a></h2>
                <a href="{{ route('admin.games.list')}}/no-twitter-id">no Twitter ID</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2><a href="{{ route('admin.games.list')}}/no-amazon-uk-link">{{ MissingAmazonUkLink }}</a></h2>
                <a href="{{ route('admin.games.list')}}/no-amazon-uk-link">no Amazon UK link</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Navigation</h2>
        <h3>Games</h3>
        <ul>
            <li><a href="{{ route('admin.games.list') }}">All games</a></li>
            <li><a href="{{ route('admin.feed-items.games.list') }}">Feed items - Games</a></li>
            <li><a href="{{ route('admin.games-title-hash.list') }}">Title hashes</a></li>
        </ul>
        <h3>Reviews</h3>
        <ul>
            <li><a href="{{ route('admin.feed-items.reviews.list') }}">Feed items - Reviews</a></li>
            <li><a href="{{ route('admin.reviews.partner.list') }}">Partner reviews</a></li>
            <li><a href="{{ route('admin.reviews.user.list') }}">User reviews</a></li>
            <li><a href="{{ route('admin.reviews.link.list') }}">Review links</a></li>
            <li><a href="{{ route('admin.reviews.site.list') }}">Review sites</a></li>
        </ul>
        <h3>eShop</h3>
        <ul>
            <li><a href="{{ route('admin.feed-items.eshop.europe.list') }}">eShop - Europe</a></li>
        </ul>
        <h3>Tools</h3>
        <ul>
            <li><a href="{{ route('admin.tools.landing') }}">Tools landing page</a></li>
        </ul>
        <h3>Miscellaneous</h3>
        <ul>
            <li><a href="{{ route('admin.user.list') }}">Users</a></li>
            <li><a href="{{ route('admin.news.list') }}">News</a></li>
            <li><a href="{{ route('admin.tag.list') }}">Tags</a></li>
            <li><a href="{{ route('admin.charts.date.list') }}">Charts</a> (no longer in use)</li>
        </ul>
    </div>
</div>

{% endblock page_inner %}
