{% extends 'theme/wos/admin/page-narrow.twig' %}

{% block page_inner %}

<ul>
    <li><a href="{{ route('admin.games.list') }}">Games</a></li>
    <li><a href="{{ route('admin.news.list') }}">News</a></li>
    <li><a href="{{ route('admin.charts.date.list') }}">eShop charts</a></li>
    <li><a href="{{ route('admin.reviews.link.list') }}">Reviews: Links</a></li>
    <li><a href="{{ route('admin.reviews.site.list') }}">Reviews: Sites</a></li>
    <li><a href="{{ route('admin.tools.landing') }}">Tools</a></li>
</ul>

{% endblock page_inner %}
