{% import 'ui/components/rating/badge.twig' as rating %}
{% import 'ui/components/game/packshots.twig' as packshots %}
{% import 'ui/components/game/release-date.twig' as gamereleasedate %}

<div class="row" style="margin-top: 8px;">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        {{ packshots.square(item) }}
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span class="h4">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
        </span>
        {% if item.category %}
        <br>
        <span class="h6">
            <a href="{{ route('console.byCategory.page', {'console': item.console, 'category': item.category}) }}">{{ item.category.name }}</a>
        </span>
        {% endif %}
        <br>
        <span class="h6">
            {{ gamereleasedate.standard(item) }}
        </span>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="pull-right">
            {% if item.rating_avg %}
                {% if item.game_rank %}
                    {{ rating.score(item.rating_avg, 'h5', 'b3') }}
                {% else %}
                    {{ rating.tbc(item.review_count, 'h5', 'b3', true) }}
                {% endif %}
            {% else %}
                {{ rating.tbc(null, 'h5', 'b3', true) }}
            {% endif %}
        </div>
    </div>

</div>
