{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<h2>Game publishers</h2>

<p>
    This page lists the publishers used for the game <strong>{{ GameData.title }}</strong>
    and allows you to add or remove publishers.
</p>

{% if UnusedPublisherList %}
    <h3>Choose a publisher to add</h3>
    <select id="publisher-list" name="publisher-list">
        <option value=""></option>
        {% for item in UnusedPublisherList %}
            <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select>
    <input id="btn-add-publisher" type="button" value="Add to game">
    <div id="js-publisher-notify" class="alert alert-success" role="alert" style="display: none;"></div>
{% endif %}

<h3>Game publishers</h3>
{% if GamePublisherList.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Publisher</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamePublisherList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.publisher.name }}
                    </td>
                    <td class="text-center">
                        <a href="javascript:void(0);" id="lnk-remove-publisher-{{ item.id }}" class="lnk-remove-publisher">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>This game has no publishers assigned.</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null
            ]
        });
    });
    $('#btn-add-publisher').on('click', function() {

        publisherName = $('#publisher-list option:selected').text();
        publisherId = $('#publisher-list option:selected').val();

        if (publisherId == '') {
            $('#js-publisher-notify').text('No publisher selected.');
            $('#js-publisher-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('admin.publisher.game.add', {'gameId': GameId}) }}', {publisherId: publisherId}, function(data) {
            $('#js-publisher-notify').text('Publisher added!');
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
            setTimeout("$('#js-publisher-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-publisher-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
        });
    });
    $('.lnk-remove-publisher').on('click', function() {

        elemId = $(this).attr('id');
        gamePublisherId = elemId.replace('lnk-remove-publisher-', '');

        if (gamePublisherId == '') {
            $('#js-publisher-notify').text('Failed to load gamePublisherId');
            $('#js-publisher-notify').show();
            return false;
        }

        if (!window.confirm('Remove this publisher from the game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('admin.publisher.game.remove', {'gameId': GameId}) }}', {gamePublisherId: gamePublisherId}, function(data) {
            $('#js-publisher-notify').text('Publisher removed!');
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
            setTimeout("$('#js-publisher-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-publisher-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-publisher-notify').show();
            $('#publisher-list option:selected').val('');
        });
    });
</script>

{% endblock page_inner %}
