{% extends 'theme/wos/base.twig' %}
{% import "ui/components/headings/heading.twig" as heading %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Browse', 'h2') }}
        <ul>
            {% for Year in AllowedYears %}
                <li><a href="{{ route('console.byYear', {'console': Console, 'year': Year}) }}">{{ Year }}</a></li>
            {% endfor %}
        </ul>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Search games', 'h4') }}
        {% include 'ui/components/search/form-mini.twig' %}

        {{ heading.renderChunky('Browse all games', 'h4') }}
        {% include 'ui/components/navigation/nav-right-browse-all.twig' %}

        {{ heading.renderChunky('More lists', 'h4') }}
        <ul>

        <li><a href="{{ route('console.newReleases', {'console': Console}) }}">New releases</a></li>
        <li><a href="{{ route('console.upcomingReleases', {'console': Console}) }}">Upcoming releases</a></li>
            {% if Console.name == 'Switch 1' %}
                <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
                <li><a href="{{ route('reviews.landing') }}">Recent reviews</a></li>
                <li><a href="{{ route('lists.recently-ranked') }}">Recently ranked</a></li>
            {% endif %}
        </ul>

    </div>

</div>

{% endblock page_body %}
