{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

<p>
    Need help with the staff pages? Contact Ben via
    <a href="https://twitter.com/switchscores">Twitter</a> or <a href="mailto:ben@switchscores.com">email</a>.
</p>

<div class="row">

    <div class="col-md-4">

        {% if auth_user().hasRole('Games manager') or auth_user().hasRole('Reviews manager') or auth_user().isOwner() %}
        <h2>Action lists</h2>

        <table class="table">
            <tbody>
            {% if auth_user().hasRole('Reviews manager') or auth_user().isOwner() %}
                <tr>
                    <td>
                        <a href="{{ route('staff.reviews.feed-items.list') }}">Feeds: Reviews</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('staff.reviews.feed-items.list') }}" class="h4">{{ UnprocessedFeedReviewItemsCount }}</a>
                    </td>
                </tr>
            {% endif %}
            {% if auth_user().hasRole('Games manager') or auth_user().isOwner() %}
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.games-to-release')}}">Games to release</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.games-to-release')}}" class="h4">{{ GamesForReleaseCount }}</a>
                </td>
            </tr>
            {% endif %}
            {% if auth_user().hasRole('Data source manager') or auth_user().isOwner() %}
                <tr>
                    <td>
                        <a href="{{ route('staff.data-sources.nintendo-co-uk.unlinked') }}">Nintendo.co.uk API: Unlinked items</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('staff.data-sources.nintendo-co-uk.unlinked') }}" class="h4">{{ NintendoCoUkUnlinkedCount }}</a>
                    </td>
                </tr>
            {% endif %}
            {% if auth_user().hasRole('Reviews manager') or auth_user().isOwner() %}
                <tr>
                    <td>
                        <a href="{{ route('staff.reviews.quick-reviews.list') }}">Quick reviews</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('staff.reviews.quick-reviews.list') }}" class="h4">{{ PendingQuickReviewCount }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% endif %}

        {% if auth_user().isOwner() %}
        <h2>Data integrity</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-quality.duplicate-reviews') }}">Duplicate reviews</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.data-quality.duplicate-reviews') }}" class="h4">{{ DuplicateReviewsCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>
        {% endif %}

    </div>

    <div class="col-md-4">

        {% if auth_user().hasRole('Reviews manager') or auth_user().isOwner() %}
            <h2>Recent imports</h2>
            {% if ReviewFeedImportList.count > 0 %}
                <table class="table data-sortable table-responsive">
                    <thead>
                    <tr>
                        <th class="text-center">Day of week</th>
                        <th class="text-center">Items</th>
                        <th class="text-center">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ReviewFeedImportList %}
                        <tr>
                            <td class="text-center">
                                {{ item.created_at|date('l') }}
                            </td>
                            <td class="text-center">
                                <a href="{{ route('staff.reviews.feed-imports.item-list', {'feedImport': item}) }}">
                                    {{ item.feedItems.count() }}
                                </a>
                            </td>
                            <td class="text-center">
                                {{ item.created_at|date('Y-m-d') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No items found!</p>
            {% endif %}
            <p><a href="{{ route('staff.reviews.feed-imports.list') }}">View all imports</a>.</p>
        {% endif %}

    </div>

    <div class="col-md-4">

        {% if auth_user().isOwner() %}
        <h2>Owner links</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ route('owner.user.list') }}">Registered users</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('owner.user.list') }}" class="h4">{{ RegisteredUserCount }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('owner.audit.index') }}">Audit</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('admin.games.list') }}">All games</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.stats.dashboard') }}">Stats</a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}

    </div>

</div>

{% endblock page_inner %}
