{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Welcome</h2>
        <p>
            Welcome to the Staff index page. We're in the process of building this out -
            more screens and information will be added in due course.
        </p>
        <p>
            If you have any comments, questions or issues, contact Ben via
            <a href="https://twitter.com/worldofswitch">Twitter</a> or
            <a href="mailto:ben.barden@worldofswitch.com">email</a>.
        </p>

    </div>

    <div class="col-md-4">

        <h2>Staff dashboards</h2>
        <ul>
            {% if auth_user().hasRole('Games manager') or auth_user().isOwner() %}
                <li><a href="{{ route('staff.games.dashboard') }}">Games</a></li>
            {% endif %}
            {% if auth_user().hasRole('Reviews manager') or auth_user().isOwner() %}
                <li><a href="{{ route('staff.reviews.dashboard') }}">Reviews</a></li>
            {% endif %}
            {% if auth_user().hasRole('Category manager') or auth_user().isOwner() %}
                <li><a href="{{ route('staff.categorisation.dashboard') }}">Categorisation</a></li>
            {% endif %}
            {% if auth_user().hasRole('Partnerships manager') or auth_user().isOwner() %}
                <li><a href="{{ route('staff.partners.dashboard') }}">Partners</a></li>
            {% endif %}
            {% if auth_user().hasRole('eShop manager') or auth_user().isOwner() %}
                <li><a href="{{ route('staff.eshop.dashboard') }}">eShop</a></li>
            {% endif %}
            {% if auth_user().isOwner() %}
                <li><a href="{{ route('staff.stats.dashboard') }}">Stats</a></li>
            {% endif %}
        </ul>

    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock page_inner %}
