{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'url': route('admin.charts.date.list'), 'text': 'Charts - Dates'}, {'text': PageTitle}] %}

{% block page_inner %}

<p>Date: {{ ChartDate }}</p>
{% if ChartRankings.count > 0 %}
    <p>As this date already has rankings, you cannot add a new set.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Game</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ChartRankings %}
                <tr>
                    <td>
                        {{ item.position }}
                    </td>
                    <td>
                        <a href="{{ LinkHelper.gameShow(item.game) }}">{{ item.game.title }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No rankings found!</p>
    <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add rankings">
{% endif %}

<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.charts.ranking.add', {'country': CountryCode, 'date': ChartDate}) }}';
    });
</script>

{% endblock page_inner %}
