{% macro render(linkTitle, linkUrl=null, linkStat=null, version='b5') %}
    {% set alignClass = version == 'b3' ? 'text-right' : 'text-end' %}
    {% if linkUrl and linkTitle %}
        <tr>
            <td>
                <a href="{{ linkUrl }}">{{ linkTitle }}</a>
            </td>
            <td class="{{ alignClass }}">
                {% if linkStat is not null %}
                    <a href="{{ linkUrl }}" class="h4">{{ linkStat }}</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td>
                {{ linkTitle }}
            </td>
            <td class="{{ alignClass }}">
                {% if linkStat is not null %}
                    <span class="h4">{{ linkStat }}</span>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro renderB3(linkTitle, linkUrl, linkStat=null) %}
    {{ _self.render(linkTitle, linkUrl, linkStat, 'b3') }}
{% endmacro %}

{% macro renderB5(linkTitle, linkUrl, linkStat=null) %}
    {{ _self.render(linkTitle, linkUrl, linkStat, 'b5') }}
{% endmacro %}