{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<a href="{{ route('staff.games.add') }}" class="btn outline btn-primary">Add a game</a>
<hr>

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <div class="label alert-danger">High</div>
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release">Games to release</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release" class="h4">{{ GamesForReleaseCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="label alert-danger">High</div>
                    <a href="{{ route('staff.games.list.broken-nintendo-co-uk-link') }}">Broken Nintendo.co.uk link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.broken-nintendo-co-uk-link') }}" class="h4">{{ BrokenNintendoCoUkLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="label alert-warning">Medium</div>
                    <a href="{{ route('staff.games.list.no-nintendo-co-uk-link') }}">No Nintendo.co.uk link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-nintendo-co-uk-link') }}" class="h4">{{ NoNintendoCoUkLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="label alert-warning">Medium</div>
                    <a href="{{ route('staff.games.list.no-eshop-price') }}">No price</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-eshop-price') }}" class="h4">{{ NoPriceCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="label alert-info">Low</div>
                    <a href="{{ route('staff.games.list.no-video-url') }}">No video URL</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-video-url') }}" class="h4">{{ MissingVideoUrlCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="label alert-info">Low</div>
                    <a href="{{ route('staff.games.list.no-amazon-uk-link') }}">No Amazon UK link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-amazon-uk-link') }}" class="h4">{{ MissingAmazonUkLink }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Find game</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.find') }}">Find game</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Game lists</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.recently-added') }}">Recently added</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.recently-released') }}">Recently released</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.upcoming-games') }}">Upcoming games</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.no-eu-release-date') }}">No EU release date</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Archive</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}">All games</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games-title-hash.list') }}">All title hashes</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.tools.updateGameCalendarStats') }}">UpdateGameCalendarStats</a>
                    <br>
                    <small>Updates the released game stats on the Release Calendar page</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Game stats</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    Total games
                </td>
                <td class="text-right">
                    <span class="h4">{{ TotalGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Released games
                </td>
                <td class="text-right">
                    <span class="h4">{{ ReleasedGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Upcoming games
                </td>
                <td class="text-right">
                    <span class="h4">{{ UpcomingGameCount }}</span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
