{% extends 'theme/staff-b5/layout-default.twig' %}

{% import "ui/components/headings/heading.twig" as heading %}
{% import 'ui/components/table/row-link-stat.twig' as rowstat %}

{% block page_inner %}

<a href="{{ route('staff.games.add') }}" class="btn outline btn-primary">Add a game</a>
<br>
<br>

<div class="row">

    <div class="col-md-4">

        {{ heading.renderSlick('Weekly updates') }}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.release-hub.show')}}">Release hub</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.games.release-hub.show')}}" class="h4"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'upcoming-eshop-crosscheck'}) }}">Upcoming (eShop crosscheck)</a>
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>

        {{ heading.renderSlick('Watchlists') }}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-nintendo-co-uk-link'}) }}">No Nintendo.co.uk link</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-nintendo-co-uk-link'}) }}" class="h4">{{ NoNintendoCoUkLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'broken-nintendo-co-uk-link'}) }}">Broken Nintendo.co.uk link</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.games.list.showList', {'listType': 'broken-nintendo-co-uk-link'}) }}" class="h4">{{ BrokenNintendoCoUkLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-eu-release-date'}) }}">No EU release date</a>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-eshop-price'}) }}">No price</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-eshop-price'}) }}" class="h4">{{ NoPriceCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-video-type'}) }}">No video type</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.games.list.showList', {'listType': 'no-video-type'}) }}" class="h4">{{ MissingVideoTypeCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        {{ heading.renderSlick('Verification') }}

        <table class="table">
            <tbody>
                {{ rowstat.renderB5(
                    'Category: Unverified', null, CategoryUnverified
                ) }}
                {{ rowstat.renderB5(
                    'Category: Verified', null, CategoryVerified
                ) }}
                {{ rowstat.renderB5(
                    'Category: Needs review', null, CategoryNeedsReview
                ) }}
                {{ rowstat.renderB5(
                    'Tags: Unverified', null, TagsUnverified
                ) }}
                {{ rowstat.renderB5(
                    'Tags: Verified', null, TagsVerified
                ) }}
                {{ rowstat.renderB5(
                    'Tags: Needs review', null, TagsNeedsReview
                ) }}
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {{ heading.renderSlick('Subpages') }}
        <table class="table">
            <tbody>
                {{ rowstat.renderB5(
                    'Games stats', route('staff.games.stats')
                ) }}
            </tbody>
        </table>

        {{ heading.renderSlick('Lists') }}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'recently-added'}) }}">Recently added</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'recently-released'}) }}">Recently released</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.showList', {'listType': 'upcoming-games'}) }}">Upcoming games</a>
                </td>
            </tr>
            </tbody>
        </table>

        {{ heading.renderSlick('Admin tools') }}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.search') }}">Search</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.featured-games.list') }}">Featured games</a>
                </td>
            </tr>
            </tbody>
        </table>

        {{ heading.renderSlick('Archive') }}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.title-hash.list') }}">All title hashes</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        {{ heading.renderSlick('Game stats') }}

        <table class="table">
            <tbody>
            {{ rowstat.renderB5(
                'Total games', null, TotalGameCount
            ) }}
            {{ rowstat.renderB5(
                'Released games', null, ReleasedGameCount
            ) }}
            {{ rowstat.renderB5(
                'Upcoming games', null, UpcomingGameCount
            ) }}
            </tbody>
        </table>


        {{ heading.renderSlick('Affiliates') }}

        <table class="table">
            <tbody>
            {{ rowstat.renderB5(
                'Amazon US: Unchecked', route('staff.games.list.showList', {'listType': 'amazon-us-unchecked'}), AmazonUSUncheckedCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon US: Linked', route('staff.games.list.showList', {'listType': 'amazon-us-linked'}), AmazonUSLinkedCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon US: No product', route('staff.games.list.showList', {'listType': 'amazon-us-noproduct'}), AmazonUSNoProductCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon US: Ignored', route('staff.games.list.showList', {'listType': 'amazon-us-ignored'}), AmazonUSIgnoredCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon UK: Unchecked', route('staff.games.list.showList', {'listType': 'amazon-uk-unchecked'}), AmazonUKUncheckedCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon UK: Linked', route('staff.games.list.showList', {'listType': 'amazon-uk-linked'}), AmazonUKLinkedCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon UK: No product', route('staff.games.list.showList', {'listType': 'amazon-uk-noproduct'}), AmazonUKNoProductCount
            ) }}
            {{ rowstat.renderB5(
                'Amazon UK: Ignored', route('staff.games.list.showList', {'listType': 'amazon-uk-ignored'}), AmazonUKIgnoredCount
            ) }}
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
