{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>
        <h3>Games to release</h3>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=eu">EU games to release</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=eu" class="h4">{{ GamesForReleaseCountEu }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=us">US games to release</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=us" class="h4">{{ GamesForReleaseCountUs }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=jp">JP games to release</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=jp" class="h4">{{ GamesForReleaseCountJp }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h3>Missing data</h3>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}/no-video-url">No video URL</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}/no-video-url" class="h4">{{ MissingVideoUrlCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}/no-amazon-uk-link">No Amazon UK link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}/no-amazon-uk-link" class="h4">{{ MissingAmazonUkLink }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}">All games</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.wikipedia.wiki-updates.list') }}">Wiki updates</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.game-change-history.index') }}">Change history</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games-title-hash.list') }}">Title hashes</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'UpdateGameCalendarStats'}) }}">UpdateGameCalendarStats</a>
                    <br>
                    <small>Updates the released game stats on the Release Calendar page</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'UpdateGameImageCount'}) }}">UpdateGameImageCount</a>
                    <br>
                    <small>Updates the Image Count field for each game</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Stats</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games-filter.games-no-eshop-europe-link') }}">Games with no eShop Europe link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games-filter.games-no-eshop-europe-link') }}" class="h4">{{ NoEshopEuropeLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}">Total games (All regions)</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}" class="h4">{{ TotalGameCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}/released">Released games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}/released" class="h4">{{ ReleasedGameCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}/upcoming">Upcoming games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}/upcoming" class="h4">{{ UpcomingGameCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
