{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<a href="{{ route('staff.games.add') }}" class="btn outline btn-primary">Add a game</a>
<hr>

<div class="row">

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Weekly updates'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.games-to-release')}}">Games to release</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.games-to-release')}}" class="h4">{{ GamesForReleaseCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.no-nintendo-co-uk-link') }}">No Nintendo.co.uk link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-nintendo-co-uk-link') }}" class="h4">{{ NoNintendoCoUkLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.upcoming-eshop-crosscheck') }}">Upcoming (eShop crosscheck)</a>
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Watchlists'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.broken-nintendo-co-uk-link') }}">Broken Nintendo.co.uk link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.broken-nintendo-co-uk-link') }}" class="h4">{{ BrokenNintendoCoUkLinkCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.no-eu-release-date') }}">No EU release date</a>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.no-eshop-price') }}">No price</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-eshop-price') }}" class="h4">{{ NoPriceCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.no-video-type') }}">No video type</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-video-type') }}" class="h4">{{ MissingVideoTypeCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.no-amazon-uk-link') }}">No Amazon UK link</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.games.list.no-amazon-uk-link') }}" class="h4">{{ MissingAmazonUkLink }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Game stats'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    Total games
                </td>
                <td class="text-right">
                    <span class="h4">{{ TotalGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Released games
                </td>
                <td class="text-right">
                    <span class="h4">{{ ReleasedGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Upcoming games
                </td>
                <td class="text-right">
                    <span class="h4">{{ UpcomingGameCount }}</span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Lists'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.recently-added') }}">Recently added</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.recently-released') }}">Recently released</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.list.upcoming-games') }}">Upcoming games</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Admin tools'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.search') }}">Search</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.games.featured-games.list') }}">Featured games</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Archive'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games-title-hash.list') }}">All title hashes</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Crons'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.games.tools.updateGameCalendarStats') }}">UpdateGameCalendarStats</a>
                    <br>
                    <small>Updates the released game stats on the Release Calendar page</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Formats'} %}

        {% if FormatOptionTable %}
        <table class="table">
            <tbody>
                {% for row in FormatOptionTable %}
                    {% if row.format_desc == 'HdrDigital'
                        or row.format_desc == 'HdrPhysical'
                        or row.format_desc == 'HdrDLC'
                        or row.format_desc == 'HdrDemo' %}
                        {% set isHeaderRow = 1 %}
                    {% else %}
                        {% set isHeaderRow = 0 %}
                    {% endif %}
                    {% if isHeaderRow == 1 %}
                        <tr>
                            <td>
                                <span class="h4">{{ row.format_type }}</span>
                            </td>
                            <td class="text-right">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                (Not set)
                            </td>
                            <td class="text-right">
                                <span class="h4">
                                    <a href="{{ route('staff.games.list.format-option', {'format': row.format_type}) }}">
                                        {{ row.count }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                {{ row.format_desc }}
                            </td>
                            <td class="text-right">
                                <span class="h4">
                                    <a href="{{ route('staff.games.list.format-option', {'format': row.format_type, 'option': row.format_desc}) }}">
                                    {{ row.count }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

</div>

{% endblock page_inner %}
