{# CONFIG #}

{% if cfgSmallTitles is not defined %}
    {% set cfgSmallTitles = 'N' %}
{% endif %}
{% if cfgSmallTitles == 'Y' %}
    {% set titleClass = 'h4' %}
{% else %}
    {% set titleClass = 'h3' %}
{% endif %}

{% if cfgHideDate is not defined %}
    {% set cfgHideDate = 'N' %}
{% endif %}

{% if cfgHideRating is not defined %}
    {% set cfgHideRating = 'Y' %}
{% endif %}

{# PACKSHOTS #}

{% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
            {% if boxartUrl %}
                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ item.title }}">
            {% else %}
                <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.title }}">
            {% endif %}
        </a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="{{ titleClass }}">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
            {% if cfgHideDate != 'Y' %}
            <br>
            <span class="h5">
                {% include 'modules/game/release-date.twig' with {'item': item} %}
            </span>
            {% endif %}
            {% if cfgHideRating != 'Y' %}
                {% if item.rating_avg %}
                <br>
                <span class="small">
                    Rating: {{ item.rating_avg }}
                </span>
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
    </div>
</div>