<div class="col-sm-4 col-md-4 col-lg-4" style="min-height: 160px; padding: 5px 2px; text-align: center;">
    <a href="{{ LinkHelper.gameShow(item) }}">{{ ImageHelper.packshotHtml(item, 'landing-mini') }}</a>
    <br>
    <p class="h5">
        <a href="{{ LinkHelper.gameShow(item) }}">{{ item.title }}</a>
        <br>
        {% if item.is_released == 1 %}
            <small>{{ item.release_date|date('jS M') }}</small>
        {% elseif item.release_date is not null %}
            <small>{{ item.release_date|date('jS M') }}</small>
        {% else %}
            <small>{{ item.upcoming_date }}</small>
        {% endif %}
    </p>
    <p class="h5">
    </p>
</div>
