<div class="col-sm-4 col-md-4 col-lg-4" style="min-height: 230px; padding: 5px 2px; text-align: center;">
    <span class="label label-info h4">#{{ item.game_rank }}</span>
    <br><br>
    <a href="{{ LinkHelper.gameShow(item) }}">{{ ImageHelper.packshotHtml(item, 'landing-mini') }}</a>
    <br>
    <p class="h5">
        <a href="{{ LinkHelper.gameShow(item) }}">{{ item.title }}</a>
        <br>
        <span class="h6">Rating: {{ item.rating_avg }}</span>
    </p>
</div>
