{% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
            {% if boxartUrl %}
                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ item.title }}">
            {% else %}
                <img src="/img/placeholder/no-image-found-wide.png" class="img-responsive" alt="{{ item.title }}">
            {% endif %}
        </a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="h5">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
            <br>
            <small>
                {% include 'modules/game/release-date.twig' with {'item': item} %}
            </small>
            {% if ExtraDetailLine is defined %}
            <br>
            <small>{{ ExtraDetailLine }}</small>
            {% endif %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
    </div>
</div>