{% extends 'theme/wos/base.twig' %}
{% import "ui/components/headings/heading.twig" as heading %}
{% import 'ui/blocks/game-grid.twig' as gamegrid %}

{% block page_body %}

{% if OnPageDesc %}
<div class="row">

    <div class="col-md-12">
        <p>
            {{ OnPageDesc }}
        </p>
    </div>

</div>
{% endif %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Newest', 'h2') }}
        {% if NewReleases|length %}
            <p>Updated weekly. <a href="{{ route('console.newReleases', {'console': Console}) }}">View all new games</a>.</p>
            {{ gamegrid.render(NewReleases, 1, 'standard', false, false, 'show-date-icons') }}
        {% else %}
            <p>There are currently no new releases to show.</p>
        {% endif %}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Upcoming', 'h2') }}
        {% if UpcomingReleases|length %}
            <p>Updated weekly. <a href="{{ route('console.upcomingReleases', {'console': Console}) }}">View all upcoming games</a>.</p>
            {{ gamegrid.render(UpcomingReleases, 1, 'standard', false, false, 'show-date-icons') }}
        {% else %}
            <p>There are currently no upcoming titles to show.</p>
        {% endif %}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Search games', 'h4') }}
        {% include 'ui/components/search/form-mini.twig' %}

        {{ heading.renderChunky('Browse by year', 'h4') }}
        <ul>
            {% for Year in AllowedYears %}
                <li><a href="{{ route('console.byYear', {'console': Console, 'year': Year}) }}">{{ Year }}</a></li>
            {% endfor %}
        </ul>

        {{ heading.renderChunky('Browse all games', 'h4') }}
        {% include 'ui/components/navigation/nav-right-browse-all.twig' %}

        {{ heading.renderChunky('More lists', 'h4') }}
        <ul>

        <li><a href="{{ route('console.newReleases', {'console': Console}) }}">New releases</a></li>
        <li><a href="{{ route('console.upcomingReleases', {'console': Console}) }}">Upcoming releases</a></li>
            {% if Console.name == 'Switch 1' %}
                <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
                <li><a href="{{ route('reviews.landing') }}">Recent reviews</a></li>
                <li><a href="{{ route('lists.recently-ranked') }}">Recently ranked</a></li>
            {% endif %}
        </ul>

        {% if RandomTop100Game|length %}
            {{ heading.renderChunky('From the all-time Top 100', 'h4') }}
            {{ gamegrid.render(RandomTop100Game, 1, 'standard', false, false, 'no-price') }}
        {% endif %}

        {% if RecentWithGoodRanks|length %}
            {{ heading.renderChunky('Recent Top Rated', 'h4') }}
            {{ gamegrid.render(RecentWithGoodRanks, 1, 'standard', false, false, 'no-price') }}
        {% endif %}

    </div>

</div>

{% endblock page_body %}
