<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Categorisation <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ route('staff.categorisation.dashboard') }}">Categorisation dashboard</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ route('staff.categorisation.category.list') }}">Categories</a></li>
        <li><a href="{{ route('staff.categorisation.tag.list') }}">Tags</a></li>
        <li><a href="{{ route('staff.categorisation.game-series.list') }}">Series</a></li>
        <li><a href="{{ route('staff.categorisation.game-collection.list') }}">Collections</a></li>
    </ul>
</li>
