<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Data <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% if auth_user().hasRole('Data source manager') or auth_user().isOwner() %}
            <li><a href="{{ route('staff.data-sources.dashboard') }}">Data sources dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ route('staff.data-sources.nintendo-co-uk.unlinked') }}">Nintendo.co.uk API - Unlinked items</a></li>
            <li><a href="{{ route('staff.data-sources.nintendo-co-uk.ignored') }}">Nintendo.co.uk API - Ignored items</a></li>
            <li><a href="{{ route('staff.data-sources.tools.nintendo-co-uk.importParseLink') }}">DSNintendoCoUkImportParseLink</a></li>
            <li><a href="{{ route('staff.data-sources.tools.nintendo-co-uk.updateGames') }}">DSNintendoCoUkUpdateGames</a></li>
            <li><a href="{{ route('staff.data-sources.tools.nintendo-co-uk.downloadImages') }}">DSNintendoCoUkDownloadImages</a></li>
            <li role="separator" class="divider"></li>
        {% endif %}
        {% if auth_user().hasRole('Wikipedia manager') or auth_user().isOwner() %}
            <li><a href="{{ route('staff.data-sources.wikipedia.unlinked') }}">Wikipedia - Unlinked items</a></li>
            <li><a href="{{ route('staff.data-sources.wikipedia.ignored') }}">Wikipedia - Ignored items</a></li>
            <li><a href="{{ route('staff.data-sources.tools.wikipedia.importParseLink') }}">DSWikipediaImportParseLink</a></li>
            <li><a href="{{ route('staff.data-sources.tools.wikipedia.updateGames') }}">DSWikipediaUpdateGames</a></li>
            <li role="separator" class="divider"></li>
        {% endif %}
        {% if auth_user().isOwner() %}
            <li><a href="{{ route('staff.data-quality.dashboard') }}">Data quality dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ route('staff.data-quality.category.dashboard') }}">Category dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ route('staff.data-quality.duplicate-reviews') }}">Duplicate reviews</a></li>
        {% endif %}
    </ul>
</li>
