<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Games companies <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ route('staff.games-companies.dashboard') }}">Games companies dashboard</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ route('staff.games-companies.list') }}">Games companies - view all</a></li>
        <li><a href="{{ route('staff.partners.outreach.list') }}">Partner outreach - view all</a></li>
        <li><a href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ route('staff.partners.tools.partnerUpdateFields') }}">PartnerUpdateFields</a></li>
    </ul>
</li>
