<li class="nav-item">
    <a class="nav-link" href="{{ route('staff.insights.index') }}">Insights</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ route('staff.tools.index') }}">Tools hub</a>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Owner <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ route('owner.audit.index') }}">Audit</a></li>
        <li><a href="{{ route('owner.user.list') }}">Users</a></li>
        <li><a href="{{ route('staff.stats.dashboard') }}">Stats</a></li>
    </ul>
</li>
