{% import 'ui/components/form/submit.twig' as formsubmit %}

<div class="alert alert-info">
    You're submitting a review of: <strong>{{ GameData.title }}</strong>.
{% if GameData.review_count < 3 %}
    <br>
    {% if GameData.review_count == 0 %}
        This will be the game's first review. Way to get the ball rolling!
    {% elseif GameData.review_count == 1 %}
        This will be the game's second review. Great stuff!
    {% elseif GameData.review_count == 2 %}
        This will be the game's third review. That's all we need to give it a rank!
    {% endif %}
{% endif %}
</div>
{% include 'ui/components/alerts/form-errors.twig' %}
<form role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row mb-3">
        <label for="item_url" class="col-sm-2 col-form-label">URL</label>
        <div class="col-sm-4">
            <input id="item_url" type="text" class="form-control" name="item_url">
            <div class="form-text">
                {% if IsYoutubeChannel %}
                    A link to the review on your Youtube channel.
                {% else %}
                    A link to the review on your site.
                    <br>This must start with: <strong>{{ ReviewSite.website_url }}</strong>
                    <br>If this looks wrong, let us know.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="item_date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-4">
            <input id="item_date" type="date" class="form-control" name="item_date">
            <div class="form-text">
                The date when the review was published.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="item_rating" class="col-sm-2 col-form-label">Rating</label>
        <div class="col-sm-4">
            <input id="item_rating" type="text" class="form-control" name="item_rating">
            <div class="form-text">
                {% if ReviewSite.rating_scale == 5 %}
                    Enter the score here. As your site ranks games out of 5 rather than 10,
                    we will convert this to a rank out of 10 on submission. Please don't do this
                    yourself, it'll mess things up :-)
                {% else %}
                    Enter the score out of 10 here.
                {% endif %}
            </div>
        </div>
    </div>

    {{ formsubmit.renderB5() }}
</form>
