{% import 'ui/components/review/status-badge.twig' as reviewstatus %}

{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="alert alert-info">
                Viewing process status: <strong>{{ StatusDesc }}</strong>
            </div>

            {% if ReviewFeedItems %}
            <table class="table data-sortable table-responsive">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">Title</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Game link</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ReviewFeedItems %}
                    <tr>
                        <td class="text-center">
                            <small>
                                {{ item.id }}
                            </small>
                        </td>
                        <td class="text-left" style="max-width: 300px;">
                            <a href="{{ item.item_url }}" target="_blank">{{ item.item_title }}</a>
                            <br>
                            <small>
                                {{ item.site.name }}
                            </small>
                        </td>
                        <td class="text-center">
                            {{ item.item_date|date('Y-m-d') }}
                        </td>
                        <td class="text-center">
                            {% if item.game.title is null %}
                                <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                    <i class="fas fa-times"></i>
                                </div>
                            {% else %}
                                <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                    <i class="fas fa-check"></i>
                                </div>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% set origRating = null %}
                            {% if item.site.id %}
                                {% if item.item_rating is null %}
                                    -
                                {% else %}
                                    {% if item.site.rating_scale == 5 %}
                                        {% set badgeRating = (item.item_rating * 2)|number_format(1) %}
                                        {% set origRating = item.item_rating %}
                                    {% else %}
                                        {% set badgeRating = item.item_rating %}
                                    {% endif %}
                                    {% include 'modules/rating/badge.twig' with {'score': badgeRating, 'scoreSize': 'h5'} %}
                                {% endif %}
                                {% if origRating %}
                                    <br><p style="margin-top: 10px;"><small>({{ origRating }}/5)</small></p>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if item.process_status %}
                                {{ reviewstatus.render(item.process_status, 'h6') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No items found!</p>
            {% endif %}

        </div>

    </div>

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [2, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false },
                null
            ]
        });
    });
</script>

{% endblock page_inner %}