{% extends 'theme/wos/reviewers/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

    {% if PartnerFeedLink %}
        <div class="alert alert-info">
            Your current feed URL is: <a href="{{ PartnerFeedLink.feed_url }}" target="_blank"><strong>{{ PartnerFeedLink.feed_url }}</strong></a>
            <br>Let us know if you need to change this.
        </div>
    {% else %}
        <div class="alert alert-danger">
            <strong>We don't have a feed for your site</strong>. This means your reviews won't be imported.
            Get in touch and let's get things up and running.
        </div>
    {% endif %}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Import success</h2>

            <p>
                This health check looks at how many of the entries in your feed we were able to successfully
                turn into review scores on the site. There are a few reasons why an entry could fail to import.
                A full breakdown is provided on this page.
            </p>
            <p>
                Switch Scores is a Switch reviews site, so we don't import previews, features, tips and tricks,
                accessory reviews, or reviews for platforms other than the Switch.
            </p>
            <p>
                You can improve the overall health of your feed by putting your Nintendo Switch reviews in a
                category without any content, and making sure this is the feed we're importing.
            </p>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Successful import ratio</h2>
            {% include 'reviewers/feed-health/importSuccessFailure.twig' with {'ChartDataSet': SuccessFailStats} %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Failed import reasons</h2>

            <table class="table">
                <tbody>
                {% for item in ImportStatsFailuresList %}
                    <tr>
                        <td>
                            {% if item.process_status %}
                                <a href="{{ route('reviewers.feed-health.by-process-status', {'status': item.process_status}) }}">
                                    {{ item.process_status }}
                                </a>
                            {% else %}
                                {{ item.process_status }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <span class="h4">{{ item.count }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Title matching</h2>

            <p>
                This health check determines the consistency of post titles in your feed. We rely on some
                level of predictability in your titles, so we can automatically match a review to a game from
                its title alone.
            </p>
            <p>
                The matching has two parts: firstly, the name of the game, which needs to be a recognised match
                to a game in our database; secondly, any surrounding text. The surrounding text is trickier to deal
                with, but we are able to handle it so long as it's consistent.
            </p>
            <p>
                If we fail to match the title to a game, it could be for a number of reasons. The game title might be
                formatted differently to what we're expecting - or it might not be in our database. We've provided a list of
                the successful and unsuccessful matches so you can compare them.
            </p>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Successful match ratio</h2>
            {% include 'reviewers/feed-health/parseMatchStats.twig' with {'ChartDataSet': ParseStatusStats} %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Automatic matching stats</h2>

            <table class="table">
                <tbody>
                {% for item in ParseStatusStats %}
                    <tr>
                        <td>
                            {% if item.parse_status %}
                                <a href="{{ route('reviewers.feed-health.by-parse-status', {'status': item.parse_status}) }}">
                                    {{ item.parse_status }}
                                </a>
                            {% else %}
                                {{ item.parse_status }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <span class="h4">{{ item.count }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock page_inner %}