{% if ReviewSites.count > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Site</th>
            <th class="text-center">Twitter ID?</th>
            <th class="text-center">Contact details?</th>
            <th class="text-center">Login?</th>
            <th class="text-center">Scale</th>
            <th class="text-center">Review count</th>
            <th class="text-center">Last review</th>
            <th class="text-center">View reviews</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ReviewSites %}
            <tr>
                <td class="text-center">
                    {{ item.id }}
                </td>
                <td>
                    <a href="{{ route('reviews.site', {'linkTitle': item.link_title}) }}" target="_blank">
                        {{ item.name }}
                    </a>
                </td>
                <td class="text-center">
                    {% if item.twitter_id %}
                        <a href="https://twitter.com/{{ item.twitter_id }}" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.contact_email %}
                        <div style="color: #009900; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-check"></i>
                        </div>
                    {% elseif item.contact_form_link %}
                        <div style="color: #009900; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-check"></i>
                        </div>
                    {% else %}
                        <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-times"></i>
                        </div>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.user.id %}
                        <i class="fas fa-key"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ item.rating_scale }}
                </td>
                <td class="text-center">
                    {{ item.links().count }}
                </td>
                <td class="text-center">
                    {{ item.last_review_date }}
                </td>
                <td class="text-center">
                    <a href="{{ route('staff.reviews.link.list') }}?siteId={{ item.id }}">View</a>
                </td>
                <td class="text-center">
                    <a href="{{ route('staff.reviews.site.edit', {'siteId': item.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No sites found!</p>
{% endif %}
