<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <div class="hidden-md hidden-lg col-sm-9 col-xs-9">
                <a class="navbar-brand" href="{{ url('/') }}" style="font-style: italic; padding: 12px 10px;" title="Switch Scores">
                    Switch Scores
                </a>
            </div>
            <div class="col-sm-3 col-xs-3">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li><a href="{{ route('welcome') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Switch 1 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ route('console.landing', {'console': consoleSwitch1}) }}">Switch 1 - Home</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ route('console.newReleases', {'console': consoleSwitch1}) }}">New releases</a></li>
                        <li><a href="{{ route('console.upcomingReleases', {'console': consoleSwitch1}) }}">Upcoming releases</a></li>
                        <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
                        <li><a href="{{ route('reviews.landing') }}">Recent reviews</a></li>
                        <li><a href="{{ route('lists.recently-ranked') }}">Recently ranked</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ route('console.byCategory.landing', {'console': consoleSwitch1}) }}">Browse by category</a></li>
                        <li><a href="{{ route('console.byDate', {'console': consoleSwitch1}) }}">Browse by date</a></li>
                        <li><a href="{{ route('console.bySeries.landing', {'console': consoleSwitch1}) }}">Browse by series</a></li>
                        <li><a href="{{ route('console.byCollection.landing', {'console': consoleSwitch1}) }}">Browse by collection</a></li>
                        <li><a href="{{ route('console.byTag.landing', {'console': consoleSwitch1}) }}">Browse by tag</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ route('game.random') }}">Random game</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Switch 2 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ route('console.landing', {'console': consoleSwitch2}) }}">Switch 2 - Home</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ route('console.newReleases', {'console': consoleSwitch2}) }}">New releases</a></li>
                        <li><a href="{{ route('console.upcomingReleases', {'console': consoleSwitch2}) }}">Upcoming releases</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ route('console.byCategory.landing', {'console': consoleSwitch2}) }}">Browse by category</a></li>
                        <li><a href="{{ route('console.byDate', {'console': consoleSwitch2}) }}">Browse by date</a></li>
                        <li><a href="{{ route('console.bySeries.landing', {'console': consoleSwitch2}) }}">Browse by series</a></li>
                        <li><a href="{{ route('console.byCollection.landing', {'console': consoleSwitch2}) }}">Browse by collection</a></li>
                        <li><a href="{{ route('console.byTag.landing', {'console': consoleSwitch2}) }}">Browse by tag</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Top Rated <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ route('console.topRated.landing', {'console': consoleSwitch1}) }}">Top Rated: Switch 1</a></li>
                        <li><a href="{{ route('console.topRated.landing', {'console': consoleSwitch2}) }}">Top Rated: Switch 2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ route('console.topRated.allTime', {'console': consoleSwitch1}) }}">All-time Top Rated - Switch 1</a></li>
                        <li><a href="{{ route('console.topRated.allTime', {'console': consoleSwitch2}) }}">All-time Top Rated - Switch 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Partners <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ route('partners.landing') }}">Partners home</a></li>
                        <li><a href="{{ route('partners.review-sites.landing') }}">Review sites</a></li>
                        <li><a href="{{ route('partners.games-companies.landing') }}">Games companies</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        About <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ route('about.landing') }}">About Switch Scores</a></li>
                        <li><a href="{{ route('news.landing') }}">News</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Search form -->
            <form class="navbar-form navbar-left hidden-sm hidden-xs" role="form" method="get" action="{{ route('games.search') }}">
                {{ csrf_field() }}

                <div class="form-group">
                    <input id="search_keywords_topnav" name="search_keywords" type="text" class="form-control" placeholder="Search games">
                    <button type="submit" class="btn outline btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>

            <!-- Right side of navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                {% if auth_guest() %}
                    <li><a href="{{ route('login') }}">Login</a></li>
                    <li><a href="{{ route('register') }}">Register</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Member links <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ route('user.index') }}">Members dashboard</a></li>
                            <li><a href="{{ route('user.developers.index') }}">Developers</a></li>
                            {% if auth_user().isReviewer() %}
                                <li><a href="{{ route('reviewers.index') }}">Reviewers dashboard</a></li>
                            {% endif %}
                            {% if auth_user().isGamesCompany() %}
                                <li><a href="{{ route('games-companies.index') }}">Games company dashboard</a></li>
                            {% endif %}
                            {% if auth_user().isStaff() %}
                                <li><a href="{{ route('staff.index') }}">Staff index</a></li>
                            {% endif %}
                            <li>
                                <a href="{{ route('logout') }}"
                                   onclick="
                                     event.preventDefault();
                                     document.getElementById('logout-form').submit();">
                                    Logout
                                </a>
                                <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                    {{ csrf_field() }}
                                </form>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
<div class="container" style="padding: 0;">
    <div class="logo">
        <a href="{{ url('/') }}" title="Switch Scores">
            <img src="/img/switch-scores-banner-v2.jpg" alt="Switch Scores" class="img-responsive" style="border: 0;">
        </a>
    </div>
</div>
