<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" href="{{ url('/') }}">
                World of Switch
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li><a href="{{ route('games.landing') }}">Games</a></li>
                <li><a href="{{ route('calendar.landing') }}">Calendar</a></li>
                <li><a href="{{ route('topRated.landing') }}">Top Rated</a></li>
                <li><a href="{{ route('reviews.landing') }}">Reviews</a></li>
                <li><a href="{{ route('tags.landing') }}">Tags</a></li>
                <li><a href="{{ route('news.landing') }}">News</a></li>
                <li><a href="{{ route('partners.landing') }}">Partners</a></li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                {% if auth_guest() %}
                    <li><a href="{{ route('login') }}">Login</a></li>
                    <li><a href="{{ route('register') }}">Register</a></li>
                {% else %}
                    <li><a href="{{ route('user.index') }}">Members</a></li>
                    <li>
                        <a href="{{ route('logout') }}"
                           onclick="
                                     event.preventDefault();
                                     document.getElementById('logout-form').submit();">
                            Logout
                        </a>

                        <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                            {{ csrf_field() }}
                        </form>
                    </li>
                    {% if auth_user().isAdmin() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Admin <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('admin.index') }}">Admin index</a></li>
                                <li><a href="{{ route('admin.games.list') }}">All games</a></li>
                                <li><a href="{{ route('admin.feed-items.eshop.europe.list') }}">eShop - Europe</a></li>
                                <li><a href="{{ route('admin.feed-items.games.list') }}">Feeds: Games</a></li>
                                <li><a href="{{ route('admin.feed-items.reviews.list') }}">Feeds: Reviews</a></li>
                                <li><a href="{{ route('admin.reviews.link.list') }}">Review links</a></li>
                                <li><a href="{{ route('admin.reviews.site.list') }}">Review sites</a></li>
                                <li><a href="{{ route('admin.tools.landing') }}">Tools</a></li>
                                <li><a href="{{ route('admin.stats.landing') }}">Stats</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
