{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="pull-right">
            <label for="admin-nav-feed-item-filter">Filters:</label>
            <select id="admin-nav-feed-item-filter" name="admin-nav-feed-item-filter" class="form-control">
                <option value="">All pending items</option>
                <option value="pending-game-id">Pending - with game ID</option>
                <option value="pending-no-game-id">Pending - no game ID</option>
                <option value="ok-to-update">OK to update</option>
                <option value="complete">Complete</option>
                <option value="inactive">Inactive items</option>
            </select>
        </div>
    </div>
</div>

<hr>

{% if FeedItems.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th class="text-left">Title</th>
                <th class="text-left">Game</th>
                <th class="text-left">Status</th>
                <th class="text-left">Modified fields</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in FeedItems %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        {{ item.item_title }}
                    </td>
                    <td class="text-left">
                        {% if item.game.title is not defined %}
                        <span style="color: #f00;">Game not linked</span>
                        {% else %}
                        {{ item.game.title }}
                            [<a href="{{ route('admin.games.edit', {'gameId': item.game.id}) }}" target="_blank">edit</a>]
                            [<a href="{{ LinkHelper.gameShow(item.game) }}" target="_blank">view</a>]
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {{ item.status_desc }}
                    </td>
                    <td class="text-left">
                        {% set ModFields = SerialHelper.unserialize(item.modified_fields) %}
                        {% if ModFields %}
                        <ul>
                        {% for field in ModFields %}
                            <li>{{ field }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.feed-items.games.edit', {'itemId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#admin-nav-feed-item-filter').on('change', function() {
        selectedFilter = $(this).val();
        top.location.href = '{{ route('admin.feed-items.games.list')}}' + '/' + selectedFilter;
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-feed-item-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
