{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

    <form method="get" class="mb-3">
        <div class="row g-2 align-items-end">

            <div class="col-auto">
                <label for="batch_date" class="form-label">Batch date</label>
                <select name="batch_date" id="batch_date" class="form-select" onchange="this.form.submit()">
                    {% for date in BatchDateList %}
                        <option value="{{ date }}"
                            {% if date == SelectedDate %}selected{% endif %}>
                            {{ date }}
                        </option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </form>


    {# Tabs navigation #}
    <ul class="nav nav-tabs" id="hanafudaTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active"
                    id="tab-upcoming"
                    data-bs-toggle="tab"
                    data-bs-target="#pane-upcoming"
                    type="button"
                    role="tab"
                    aria-controls="pane-upcoming"
                    aria-selected="true">
                Upcoming ({{ UpcomingS1|length + UpcomingS2|length }})
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link"
                    id="tab-new-additions"
                    data-bs-toggle="tab"
                    data-bs-target="#pane-new-additions"
                    type="button"
                    role="tab"
                    aria-controls="pane-new-additions"
                    aria-selected="false">
                New additions ({{ ReleasedS1|length + ReleasedS2|length }})
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link"
                    id="tab-code"
                    data-bs-toggle="tab"
                    data-bs-target="#pane-code"
                    type="button"
                    role="tab"
                    aria-controls="pane-code"
                    aria-selected="false">
                Code
            </button>
        </li>
    </ul>

    {# Tab panes #}
    <div class="tab-content mt-3" id="hanafudaTabsContent">

        <div class="tab-pane fade show active"
             id="pane-upcoming"
             role="tabpanel"
             aria-labelledby="tab-upcoming">
            <h2>Upcoming</h2>
            <p>
                These games were added to Switch Scores on the batch date shown above, taken from the
                "Coming soon" section of the Nintendo UK website.
            </p>
            <h3>Upcoming: Switch 1 ({{ UpcomingS1|length }})</h3>
            {% include 'members/developers/hanafuda-report/tab-game-table.twig' with {'GameList': UpcomingS1} %}
            <h3>Upcoming: Switch 2 ({{ UpcomingS2|length }})</h3>
            {% include 'members/developers/hanafuda-report/tab-game-table.twig' with {'GameList': UpcomingS2} %}
        </div>

        <div class="tab-pane fade"
             id="pane-new-additions"
             role="tabpanel"
             aria-labelledby="tab-new-additions">
            <h2>New additions</h2>
            <p>
                These games were added to Switch Scores on the batch date shown above. They were not
                in the upcoming games list last week, and therefore would not have been featured in
                Hanafuda Report.
            </p>
            <h3>New additions: Switch 1 ({{ ReleasedS1|length }})</h3>
            {% include 'members/developers/hanafuda-report/tab-game-table.twig' with {'GameList': ReleasedS1} %}
            <h3>New additions: Switch 2 ({{ ReleasedS2|length }})</h3>
            {% include 'members/developers/hanafuda-report/tab-game-table.twig' with {'GameList': ReleasedS2} %}
        </div>

        <div class="tab-pane fade"
             id="pane-code"
             role="tabpanel"
             aria-labelledby="tab-code">
            <h2>Code</h2>
            <p>
                Code snippets for copying into Hanafuda Report.
            </p>
            {% include 'members/developers/hanafuda-report/code-snippet.twig' with {'GameList': UpcomingS1, 'ConsoleName': 'Switch 1'} %}
            {% include 'members/developers/hanafuda-report/code-snippet.twig' with {'GameList': UpcomingS2, 'ConsoleName': 'Switch 2'} %}
        </div>

    </div>

{% endblock page_inner %}