{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Site stats</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}">Total games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}" class="h4">{{ TotalGameCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}/released">Released games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}/released" class="h4">{{ ReleasedGameCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.games.list') }}/upcoming">Upcoming games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.games.list') }}/upcoming" class="h4">{{ UpcomingGameCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <ul>
            <li><a href="{{ route('staff.stats.reviewSite') }}">Review site stats</a></li>
        </ul>

    </div>

    <div class="col-md-4">
    </div>

</div>

{% endblock page_inner %}
