{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-3">

        <h2>Overall</h2>

        <table class="table data-sortable">
            <tbody>
            <tr>
                <td>
                    Released games
                </td>
                <td class="text-end">
                    <span class="h4">{{ ReleasedGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Ranked games</a>
                </td>
                <td class="text-end">
                    <a href="#" class="h4">{{ RankedGameCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Unranked games</a>
                </td>
                <td class="text-end">
                    <a href="#" class="h4">{{ UnrankedGameCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.link.list') }}">Review links</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.link.list') }}" class="h4">{{ ReviewLinkCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-9">

        <h2>Review sites</h2>

        {% if ReviewSitesArray %}

            <table class="table data-sortable">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th class="text-center">Review total</th>
                        <th class="text-center">Review share</th>
                        <th class="text-center">Games reviewed</th>
                        <th class="text-center">Latest review</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in ReviewSitesArray %}
                    <tr>
                        <td>
                            <a href="{{ route('partners.review-sites.siteProfile', {'linkTitle': item.link_title}) }}" target="_blank">
                                {{ item.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.review_count }}
                        </td>
                        <td class="text-center">
                            {{ item.review_link_contrib_total }}%
                        </td>
                        <td class="text-center">
                            {{ item.review_game_completion_total }}%
                        </td>
                        <td class="text-center">
                            {{ item.latest_review_date }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>

</div>

{% endblock page_inner %}
