{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<h2>Add a tag</h2>
<label for="txt-new-tag-name">Name of tag</label>
<input id="txt-new-tag-name" type="text" maxlength="50">
<input id="btn-save-tag" type="button" class="btn btn-primary" value="Save">
<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;">
</div>

<h2>All tags</h2>
{% if TagList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Tag</th>
                <th class="text-center">Games with tag</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in TagList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('games.browse.byTag.page', {'tag': item.link_title}) }}" target="_blank">{{ item.tag_name }}</a>
                    </td>
                    <td class="text-center">
                        {{ item.gameTags().count }}
                    </td>
                    <td class="text-center">
                        {% if item.gameTags().count == 0 %}
                            Delete
                        {% else %}
                            <a href="{{ route('admin.games-filter.games-with-tag', {'linkTitle': item.link_title}) }}">View games</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No tags found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null
            ]
        });
    });
    $('#btn-save-tag').on('click', function() {

        tagName = $('#txt-new-tag-name').val();
        if (tagName == '') {
            $('#js-admin-notify').text('No tag name set.');
            $('#js-admin-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('admin.tag.add') }}', {tagName: tagName}, function(data) {
            $('#js-admin-notify').text('Tag saved!');
            $('#js-admin-notify').show();
            $('#txt-new-tag-name').val('');
            setTimeout("$('#js-admin-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
            $('#txt-new-tag-name').val('');
        });
    });
</script>

{% endblock page_inner %}
