{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add">
    </div>
</div>

<hr>

{% if TitleHashList.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th>Game</th>
                <th class="text-center" style="width: 150px;">Added</th>
                <th class="text-center" style="width: 100px;">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in TitleHashList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        <a href="{{ LinkHelper.gameShow(item.game) }}">
                        {{ item.game.title }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.games-title-hash.edit', {'itemId': item.id}) }}">Edit</a> :
                        <a href="{{ route('admin.games-title-hash.delete', {'itemId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No records found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.games-title-hash.add') }}';
    });
    $(document).ready(function() {
        //var activeNav = '{{ ActiveNav }}';
        //$('#admin-nav-game-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
