{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

{% if GameIdList %}
    {% set formSubmitAction = route('staff.games.bulk-edit.editGameIdList', {'editMode': EditMode, 'gameIdList': GameIdList}) %}
{% else %}
    {% set formSubmitAction = route('staff.games.bulk-edit.editPredefinedList', {'editMode': EditMode}) %}
{% endif %}

<p>
    Found {{ GameList|length }} item(s).
</p>
{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-12">

            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Publishers</th>
                        <th class="text-center">Release (EU)</th>
                        <th class="text-center">Price</th>
                        <th>{{ EditModeHeader1 }}</th>
                        <th>{{ EditModeHeader2 }}</th>
                        <th class="text-center">Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in GameList %}
                    <tr>
                        <td>
                            {% include 'modules/game/table/staff-game-title.twig' with {'item': item} %}
                            {% if item.is_low_quality == 1 %}
                                <label class="label label-danger">Low quality</label>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.gamePublishers|length > 0 %}
                                {% for item in item.gamePublishers %}
                                    <a href="{{ route('partners.detail.games-company', {'linkTitle': item.publisher.link_title}) }}" tabindex="-1">
                                        {{ item.publisher.name }}
                                    </a>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ item.eu_release_date }}</td>
                        <td class="text-center">{{ item.price_eshop }}</td>
                        <td>
                            {% if TemplateEditCell %}
                                {% include 'staff/games/bulk-edit/'~TemplateEditCell with {'GameId': item.id} %}
                            {% endif %}
                        </td>
                        <td>
                        </td>
                        <td class="text-center">
                            <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}" tabindex="-1">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="col-md-2">

        </div>

    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-8">
            <button id="btn-submit" class="btn outline btn-primary pull-right">
                Save changes
            </button>
        </div>
    </div>
</form>

{% if TemplateScripts %}
    {% include 'staff/games/bulk-edit/'~TemplateScripts %}
{% endif %}
{% endblock page_inner %}
