{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

{% if GameIdList %}
    {% set formSubmitAction = route('staff.games.bulk-edit.editGameIdList', {'editMode': EditMode, 'gameIdList': GameIdList}) %}
{% else %}
    {% set formSubmitAction = route('staff.games.bulk-edit.editPredefinedList', {'editMode': EditMode}) %}
{% endif %}

{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-10">

            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>{{ EditModeHeader1 }}</th>
                        <th>{{ EditModeHeader2 }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in GameList %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>
                            {% if TemplateEditCell %}
                                {% include 'staff/games/bulk-edit/'~TemplateEditCell with {'GameId': item.id} %}
                            {% endif %}
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="col-md-2">

        </div>

    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-8">
            <button id="btn-submit" class="btn outline btn-primary pull-right">
                Save changes
            </button>
        </div>
    </div>
</form>

{% if TemplateScripts %}
    {% include 'staff/games/bulk-edit/'~TemplateScripts %}
{% endif %}
{% endblock page_inner %}
