<table class="table table-responsive table-condensed table-striped">
    <thead>
    <tr>
        <th>Source</th>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Publishers</td>
        <td>{{ DataSourceNintendoCoUk.publishers }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>EU release date</td>
        <td>{{ DataSourceNintendoCoUk.release_date_eu }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Price (standard)</td>
        <td>{{ DataSourceNintendoCoUk.price_standard }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Players</td>
        <td>{{ DataSourceNintendoCoUk.players }}</td>
    </tr>
    <tr>
        <td>Wikipedia</td>
        <td>Developers</td>
        <td>{{ DataSourceWikipedia.developers }}</td>
    </tr>
    <tr>
        <td>Wikipedia</td>
        <td>Publishers</td>
        <td>{{ DataSourceWikipedia.publishers }}</td>
    </tr>
    <tr>
        <td>Wikipedia</td>
        <td>EU release date</td>
        <td>{{ DataSourceWikipedia.release_date_eu }}</td>
    </tr>
    <tr>
        <td>Wikipedia</td>
        <td>US release date</td>
        <td>{{ DataSourceWikipedia.release_date_us }}</td>
    </tr>
    <tr>
        <td>Wikipedia</td>
        <td>JP release date</td>
        <td>{{ DataSourceWikipedia.release_date_jp }}</td>
    </tr>
    </tbody>
</table>
