<table class="table table-responsive table-condensed table-striped">
    <thead>
    <tr>
        <th>Source</th>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Publishers</td>
        <td>{{ DataSourceNintendoCoUk.publishers }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>EU release date</td>
        <td>{{ DataSourceNintendoCoUk.release_date_eu }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Price (standard)</td>
        <td>{{ DataSourceNintendoCoUk.price_standard }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Players</td>
        <td>{{ DataSourceNintendoCoUk.players }}</td>
    </tr>
    <tr>
        <td>Nintendo.co.uk</td>
        <td>Genres</td>
        <td>{{ DataSourceNintendoCoUk.genres_json }}</td>
    </tr>
    </tbody>
</table>
