<h2>External data</h2>
<h3>Nintendo.co.uk API</h3>
<table class="table table-condensed table-responsive">

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Link</span>
        </td>
        <td>
            {% if DataSourceNintendoCoUk %}
                <i class="fas fa-link"></i>
                {{ DataSourceNintendoCoUk.link_id }}
            {% else %}
                <i class="fas fa-unlink"></i>
                Not linked
            {% endif %}
            {% if mode == 'reviewers' %}

            {% else %}
                <a href="{{ route('staff.games.editNintendoCoUk', {'gameId': GameId}) }}" class="btn btn-primary btn-sm">Edit link</a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                {% if DataSourceNintendoCoUk %}
                    {% if DataSourceNintendoCoUk.price_discounted %}
                        <s><span class="h4">&pound;{{ GameData.price_eshop }}</span></s>
                        &nbsp;&nbsp;&nbsp;
                        <span class="h4" style="font-weight: bold;">&pound;{{ DataSourceNintendoCoUk.price_discounted }}</span>
                        &nbsp;&nbsp;&nbsp;
                        <span style="color: #f00;">{{ DataSourceNintendoCoUk.price_discount_pc }}% off</span>
                    {% else %}
                        <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                    {% endif %}
                {% else %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Players</span>
        </td>
        <td>{{ GameData.players }}</td>
    </tr>

    {% if DataSourceNintendoCoUk %}
        <tr>
            <td>
                <span style="font-weight: bold;">External link</span>
            </td>
            <td>
                <a href="{{ LinkHelper.eshopUrl('eu', DataSourceNintendoCoUk.url) }}" target="_blank">Visit Nintendo.co.uk page</a>
            </td>
        </tr>
    {% endif %}

    {% if mode != 'reviewers' %}
        {% if DataSourceNintendoCoUk %}
            <tr>
                <td>
                    <span style="font-weight: bold;">Update data</span>
                </td>
                <td>
                    <a id="btn-update-eu-eshop-data" class="btn btn-primary btn-sm" target="_blank">Update API data</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Update images</span>
                </td>
                <td>
                    <a id="btn-redownload-packshots" class="btn btn-primary btn-sm" target="_blank">Update images</a>
                </td>
            </tr>
        {% endif %}
    {% endif %}

</table>
