<h2>External</h2>
<table class="table table-condensed table-responsive">
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">eShop Europe link</span>
        </td>
        <td>
            {% if GameData.eshop_europe_fs_id is not null %}
                {% if GameData.eshopEuropeGame.fs_id is not null %}
                    <a href="{{ route('staff.eshop.feed-items-europe.view', {'itemId': GameData.eshop_europe_fs_id}) }}">
                        <i class="fas fa-link"></i>
                    </a> - <em>linked</em>
                {% else %}
                    <i class="fas fa-unlink"></i> - <em>broken link</em>
                {% endif %}
            {% else %}
                <em>Not linked</em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">eShop price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                {% if GameData.eshopEuropeGame.fs_id is null %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% elseif GameData.eshopEuropeGame.price_discount_percentage_f == '0.00' %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% else %}
                    <s><span class="h4">&pound;{{ GameData.price_eshop }}</span></s>
                    &nbsp;&nbsp;&nbsp;
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.eshopEuropeGame.price_lowest_f }}</span>
                    &nbsp;&nbsp;&nbsp;
                    <span style="color: #f00;">{{ GameData.eshopEuropeGame.price_discount_percentage_f }}% off</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Europe release</span>
        </td>
        <td>
            {% if GameData.eu_release_date %}
                {{ GameData.eu_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">US release</span>
        </td>
        <td>
            {% if GameData.us_release_date %}
                {{ GameData.us_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Japan release</span>
        </td>
        <td>
            {% if GameData.jp_release_date %}
                {{ GameData.jp_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Released (in EU)?</span>
        </td>
        <td>
            {% if GameData.eu_is_released == 1 %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
    </tr>
    {% if GameData.eshopEuropeGame.fs_id is not null %}
        <tr>
            <td>
                <span style="font-weight: bold;">Link to eShop</span>
            </td>
            <td>
                <a href="{{ LinkHelper.eshopUrl('eu', GameData.eshopEuropeGame.url) }}" target="_blank">Visit eShop page</a>
            </td>
        </tr>
    {% endif %}
    {% if GameData.amazon_uk_link %}
        <tr>
            <td>
                <span style="font-weight: bold;">Buy link</span>
            </td>
            <td>
                <a href="{{ GameData.amazon_uk_link }}" target="_blank">Amazon UK</a>
            </td>
        </tr>
    {% endif %}
</table>
