{% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Format options'} %}

<table class="table table-condensed table-responsive">
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Digital</span>
        </td>
        <td>
            {{ GameData.format_digital }}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Physical</span>
        </td>
        <td>
            {{ GameData.format_physical }}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">DLC</span>
        </td>
        <td>
            {{ GameData.format_dlc }}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Demo</span>
        </td>
        <td>
            {{ GameData.format_demo }}
        </td>
    </tr>
</table>

{% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Nintendo.co.uk API'} %}

<table class="table table-condensed table-responsive">

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Link</span>
        </td>
        <td>
            {% if DataSourceNintendoCoUk %}
                <i class="fas fa-link"></i>
                {{ DataSourceNintendoCoUk.link_id }}
            {% elseif GameData.eshop_europe_fs_id %}
                <i class="fas fa-unlink"></i>
                Broken
                <br>
                <i class="fas fa-exclamation-triangle"></i> Still linked to {{ GameData.eshop_europe_fs_id }}
            {% else %}
                <i class="fas fa-unlink"></i>
                Not linked
            {% endif %}
            {% if mode == 'reviewers' %}

            {% else %}
                <a href="{{ route('staff.games.editNintendoCoUk', {'gameId': GameId}) }}" class="btn btn-primary btn-sm">Edit link</a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                {% if GameData.price_eshop_discount_pc == null %}
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop }}</span>
                {% else %}
                    <s><span class="h4">&pound;{{ GameData.price_eshop }}</span></s>
                    &nbsp;&nbsp;&nbsp;
                    <span class="h4" style="font-weight: bold;">&pound;{{ GameData.price_eshop_discounted }}</span>
                    &nbsp;&nbsp;&nbsp;
                    <span style="color: #f00;">{{ GameData.price_eshop_discount_pc }}% off</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Players</span>
        </td>
        <td>{{ GameData.players }}</td>
    </tr>

    {% if DataSourceNintendoCoUk %}
        <tr>
            <td>
                <span style="font-weight: bold;">External link</span>
            </td>
            <td>
                <a href="{{ LinkHelper.eshopUrl('eu', DataSourceNintendoCoUk.url) }}" target="_blank">Visit Nintendo.co.uk page</a>
            </td>
        </tr>
    {% elseif GameData.nintendo_store_url_override %}
        <tr>
            <td>
                <span style="font-weight: bold;">Store URL override</span>
            </td>
            <td>
                <a href="{{ GameData.nintendo_store_url_override }}" target="_blank">Visit URL</a> :
                <a href="{{ GameData.nintendo_store_url_override }}#gameDetails" target="_blank">Details tab</a>
            </td>
        </tr>
    {% endif %}

    {% if mode != 'reviewers' %}
        {% if DataSourceNintendoCoUk %}
            <tr>
                <td>
                    <span style="font-weight: bold;">Update data</span>
                </td>
                <td>
                    <a id="btn-update-eu-eshop-data" class="btn btn-primary btn-sm" target="_blank">Update API data</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Update images</span>
                </td>
                <td>
                    <a id="btn-redownload-packshots" class="btn btn-primary btn-sm" target="_blank">Update images</a>
                </td>
            </tr>
        {% endif %}
    {% endif %}

</table>
