{% import "ui/components/headings/heading.twig" as heading %}

{{ heading.renderSlick('General info') }}

<table class="table table-condensed table-responsive">

    <tr>
        <td>
            <span style="font-weight: bold;">Console</span>
        </td>
        <td>
            {% if GameData.console_id %}
                {{ GameData.console.name }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Europe release</span>
        </td>
        <td>
            {% if GameData.eu_release_date %}
                {{ GameData.eu_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% if GameData.us_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">US release</span>
            </td>
            <td>
                {{ GameData.us_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    {% if GameData.jp_release_date %}
        <tr>
            <td>
                <span style="font-weight: bold;">Japan release</span>
            </td>
            <td>
                {{ GameData.jp_release_date|date('jS M Y') }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">Released (in EU)?</span>
        </td>
        <td>
            {% if GameData.eu_is_released == 1 %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Video URL</strong>
        </td>
        <td class="text-left">
            {% if GameData.video_url != '' %}
                <em>OK</em>
            {% else %}
                <em>None set.</em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <strong>One to watch</strong>
        </td>
        <td class="text-left">
            {% if GameData.one_to_watch == 1 %}
                Yes
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Game description</strong>
        </td>
        <td class="text-left">
            {% if GameData.game_description != '' %}
                <em>Included</em>
            {% else %}
                <em>None set.</em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Quality filter</span>
        </td>
        <td>
            {% if GameData.is_low_quality == 1 %}
                <label class="label label-danger">Low quality</label>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>

    {% if GameData.amazon_uk_link %}
        <tr>
            <td>
                <span style="font-weight: bold;">Buy link</span>
            </td>
            <td>
                <a href="{{ GameData.amazon_uk_link }}" target="_blank">Amazon UK</a>
            </td>
        </tr>
    {% endif %}
    {% if GameData.amazon_us_link %}
        <tr>
            <td>
                <span style="font-weight: bold;">Buy link</span>
            </td>
            <td>
                <a href="{{ GameData.amazon_us_link }}" target="_blank">Amazon US</a>
            </td>
        </tr>
    {% endif %}

</table>
