{% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Categorisation'} %}

<table class="table table-condensed table-responsive">

    <tr>
        <td>
            <span style="font-weight: bold;">Category</span>
        </td>
        <td>
            {% if GameData.category_id %}
                <a href="{{ route('games.browse.byCategory.page', {'category': GameData.category.link_title}) }}" target="_blank">{{ GameData.category.name }}</a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            <span style="font-weight: bold;">Series</span>
        </td>
        <td>
            {% if GameData.series_id %}
                <a href="{{ route('games.browse.bySeries.page', {'series': GameData.series.link_title}) }}" target="_blank">{{ GameData.series.series }}</a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            <span style="font-weight: bold;">Collection</span>
        </td>
        <td>
            {% if GameData.collection_id %}
                <a href="{{ route('games.browse.byCollection.page', {'collection': GameData.gameCollection.link_title}) }}">{{ GameData.gameCollection.name }}</a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            {% if mode == 'reviewers' %}
                <strong>Tags</strong>
            {% else %}
                <a href="{{ route('staff.game.tag.edit', {'gameId': GameId}) }}"><strong>Tags</strong></a>
            {% endif %}
        </td>
        <td>
            {% if GameTags|length > 0 %}
                {% for item in GameTags %}
                    <a href="{{ route('games.browse.byTag.page', {'tag': item.tag.link_title}) }}" target="_blank">
                        <nobr>{{ item.tag.tag_name }}</nobr>
                    </a>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                <em>None set.</em>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            {% if mode == 'reviewers' %}
                <strong>Developers</strong>
            {% else %}
                <a href="{{ route('staff.game.partner.list', {'gameId': GameId}) }}"><strong>Developers</strong></a>
            {% endif %}
        </td>
        <td>
            {% if GameDevelopers|length > 0 %}
                {% for item in GameDevelopers %}
                    <a href="{{ route('staff.partners.games-company.show', {'gamesCompany': item.developer}) }}">
                        {{ item.developer.name }}
                    </a>
                    <br>
                {% endfor %}
            {% else %}
                {{ GameData.developer }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            {% if mode == 'reviewers' %}
                <strong>Publishers</strong>
            {% else %}
                <a href="{{ route('staff.game.partner.list', {'gameId': GameId}) }}"><strong>Publishers</strong></a>
            {% endif %}
        </td>
        <td>
            {% if GamePublishers|length > 0 %}
                {% for item in GamePublishers %}
                    <a href="{{ route('staff.partners.games-company.show', {'gamesCompany': item.publisher}) }}">
                        {{ item.publisher.name }}
                    </a>
                    <br>
                {% endfor %}
            {% else %}
                {{ GameData.publisher }}
            {% endif %}
        </td>
    </tr>

</table>
