{% extends 'theme/staff-b5/layout-default.twig' %}

{% import 'ui/components/gsc/insights-games-table.twig' as gscgames %}

{% block page_inner %}

{% if LastAction == 'add' and LastGame is not null %}
    <div class="alert alert-warning" role="alert">
        Successfully added <strong>{{ LastGame.title }}</strong>.
    </div>
{% elseif LastAction == 'edit' and LastGame is not null %}
    <div class="alert alert-warning" role="alert">
        Successfully edited <strong>{{ LastGame.title }}</strong>.
    </div>
{% endif %}
{% if PageAlert is not null and DSItem is not null %}
    <div class="alert alert-warning" role="alert">
        No matching publisher could be linked to this game. Please check for the publisher named
        <strong>{{ DSItem.publishers }}</strong> and add it if necessary.
    </div>
{% endif %}

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

{% if ReleaseDateEUNintendoCoUkDifferenceCount > 0 %}
    <div class="alert alert-danger" role="alert">
        EU release date is different to the Nintendo.co.uk API.
        <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.eu-release-date') }}?gameid={{ GameId }}">Review here</a>.
    </div>
{% endif %}
{% if PriceNintendoCoUkDifferenceCount > 0 %}
    <div class="alert alert-danger" role="alert">
        Price is different to the Nintendo.co.uk API.
        <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.price') }}?gameid={{ GameId }}">Review here</a>.
    </div>
{% endif %}
{% if PlayersNintendoCoUkDifferenceCount > 0 %}
    <div class="alert alert-danger" role="alert">
        No of players is different to the Nintendo.co.uk API.
        <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.players') }}?gameid={{ GameId }}">Review here</a>.
    </div>
{% endif %}

<div class="row">

    <div class="col-md-4">

        <a href="{{ route('staff.games.edit', {'gameId': GameId}) }}" class="btn btn-primary btn-sm">Edit game</a>
        <a href="{{ route('staff.games.editAffiliates', {'gameId': GameId}) }}" class="btn btn-primary btn-sm">Edit affiliates</a>
        <a href="{{ game_url(GameData) }}" class="btn btn-primary btn-sm" target="_blank">View game page</a>

    </div>

    <div class="col-md-4">


    </div>

    <div class="col-md-4">

    <span class="float-end">
        <a href="{{ route('staff.games.delete', {'gameId': GameId}) }}" class="btn btn-danger btn-sm">Delete game</a>
    </span>

    </div>

</div>

<br>

<div class="row">

    <div class="col-md-8">

        {% set boxartUrl = ImageHelper.imageHeaderUrl(GameData) %}
        {% if boxartUrl %}
            <img src="{{ boxartUrl }}" class="img-fluid" style="border: 0; width: 100%;" alt="{{ GameData.title }}">
        {% else %}
            <div style="background: #ccc; height: 300px; width: 100%;" class="img-fluid"></div>
        {% endif %}

    </div>

    <div class="col-md-4">

        <h2 class="hdr-block">Data checks</h2>
        {% include 'ui/components/game/checks.twig' with {'checks': Checks} %}

    </div>

</div>

<br>

<div class="row">

    <div class="col-md-4">

        {% include 'staff/games/detail/detail-col1.twig' %}

    </div>

    <div class="col-md-4">

        {% include 'staff/games/detail/detail-col2.twig' %}

    </div>

    <div class="col-md-4">

        {% include 'staff/games/detail/detail-col3.twig' %}

    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-gsc-snapshot">GSC snapshot</a></li>
                <li><a href="#tabs-data-sources">Data sources</a></li>
                <li><a href="#tabs-import-rules">Import rules</a></li>
                <li><a href="#tabs-audit">Audit</a></li>
                <li><a href="#tabs-reviews">Reviews</a></li>
                <li><a href="#tabs-title-hashes">Title hashes</a></li>
            </ul>

            <div id="tabs-gsc-snapshot">

                <h2>GSC snapshot</h2>

                {{ gscgames.insightsTable(GscSnapshotData, {view: 'game-detail'}) }}

            </div>

            <div id="tabs-data-sources">

                <h2>Data sources</h2>
                {% include 'staff/games/detail/data-sources.twig' %}

            </div>

            <div id="tabs-import-rules">

                <div class="row">

                    <div class="col-md-6">

                        <h2>Import rules: eShop</h2>
                        {% include 'staff/games/detail/tab-import-rules-eshop.twig' %}

                    </div>

                    <div class="col-md-6">

                    </div>

                </div>

            </div>

            <div id="tabs-audit">

                <h2>Audit</h2>
                {% include 'staff/games/detail/tab-audit.twig' %}

            </div>

            <div id="tabs-reviews">

                <h2>Reviews</h2>
                {% include 'staff/reviews/review-link-table.twig' with {'ReviewLinks': GameReviews} %}

            </div>

            <div id="tabs-title-hashes">

                <h2>Title hashes</h2>
                {% include 'staff/games/title-hash/table.twig' with {'TitleHashList': GameTitleHashes} %}

            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <hr>

    </div>

</div>

<script>

    var gameId = '{{ GameId }}';

    $('#tabs').tabs();

    var tabId = '{{ SelectedTabId }}';
    if (tabId == 'reviews') {
        $("#tabs").tabs("option", "active", 4);
    } else if (tabId == 'title-hashes') {
        $("#tabs").tabs("option", "active", 5);
    }

    $('#btn-update-eu-eshop-data').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');

        if (gameId == '') {
            $('#js-admin-notify').text('Missing gameId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Update the eShop data for this game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.games.detail.updateEshopData', {'gameId': GameId}) }}', {}, function(data) {
            $('#js-admin-notify').text('Updated!');
            $('#js-admin-notify').show();
            setTimeout("$('#js-admin-notify').fadeOut(); window.location.reload(true);", 2000);
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });

    $('#btn-redownload-packshots').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');

        if (gameId == '') {
            $('#js-admin-notify').text('Missing gameId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Update the packshots for this game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.games.detail.redownloadPackshots', {'gameId': GameId}) }}', {}, function(data) {
            $('#js-admin-notify').text('Updated!');
            $('#js-admin-notify').show();
            setTimeout("$('#js-admin-notify').fadeOut(); window.location.reload(true);", 2000);
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });

</script>

{% endblock page_inner %}
