{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

    <div class="row">

        <div class="col-md-4">

            <h2>Action lists</h2>

            <h3>Games with no category</h3>

            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.migrations.category.games-with-one-genre') }}">
                            Games with one genre
                        </a>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ NoCategoryOneGenreCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.migrations.category.games-with-named-genre-and-one-other', {'genre': 'Puzzle'}) }}">
                            Games with Puzzle and one other genre
                        </a>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ NoCategoryPuzzleAndOneOtherGenre }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.migrations.category.all-games-with-no-category') }}">
                            All games with no category
                        </a>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ AllGamesWithNoCategoryCount }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

            <h2>Navigation</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.category.list') }}">Categories</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.tag.list') }}">Tags</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-series.list') }}">Series</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-category-suggestions.index') }}">Game category suggestions</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Title matches</h2>
            <p>
                These are games that could be quickly categorised based on text in their title.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <h3>Category matches</h3>
            {% if GameCategoryMatchList %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th class="text-right">Potential matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in GameCategoryMatchList %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                            <span class="h4">
                                <a href="{{ route('staff.categorisation.title-match.category', {'category': item.category}) }}">
                                    {{ item.gameCount }}
                                </a>
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No outstanding matches to review.</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3>Tag matches</h3>
            {% if GameTagMatchList %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tag</th>
                        <th class="text-right">Potential matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in GameTagMatchList %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                                <span class="h4">
                                    <a href="{{ route('staff.categorisation.title-match.tag', {'tag': item.tag}) }}">
                                        {{ item.gameCount }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No outstanding matches to review.</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3>Series matches</h3>
            {% if GameSeriesMatchList %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Series</th>
                        <th class="text-right">Potential matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in GameSeriesMatchList %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                                <span class="h4">
                                    <a href="{{ route('staff.categorisation.title-match.series', {'gameSeries': item.series}) }}">
                                        {{ item.gameCount }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No outstanding matches to review.</p>
            {% endif %}
        </div>

    </div>

{% endblock page_inner %}
