{% extends 'theme/staff-b5/layout-default.twig' %}
{% import "ui/components/headings/heading.twig" as heading %}
{% import 'ui/components/table/row-link-stat.twig' as rowstat %}

{% block page_inner %}

    <div class="row">

        <div class="col-md-4">

            {{ heading.renderSlick('Action lists') }}
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.list.showList', {'listType': 'no-category-all'}) }}">
                            No category (All games)
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ NoCategoryCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.list.showList', {'listType': 'no-category-with-collection'}) }}">
                            No category with collection
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ NoCategoryWithCollectionCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.list.showList', {'listType': 'no-category-with-reviews'}) }}">
                            No category with reviews
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ NoCategoryWithReviewsCount }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

            {{ heading.renderSlick('Bulk tools') }}
            <table class="table">
                <tbody>
                    {{ rowstat.renderB5(
                        'Bulk move from category A to category B', route('staff.categorisation.bulk-tools.move-category-to-category')
                    ) }}
                    {{ rowstat.renderB5(
                        'Bulk add tag to games in category', route('staff.categorisation.bulk-tools.add-tag-to-games-in-category')
                    ) }}
                    {{ rowstat.renderB5(
                        'Bulk move games with tag A to category B', route('staff.categorisation.bulk-tools.move-games-with-tag-to-category')
                    ) }}
                    {{ rowstat.renderB5(
                        'Bulk untag games with tag', route('staff.categorisation.bulk-tools.untag-games-with-tag')
                    ) }}
                    {{ rowstat.renderB5(
                        'Bulk untag games with category and tag', route('staff.categorisation.bulk-tools.untag-games-with-category-and-tag')
                    ) }}
                    {{ rowstat.renderB5(
                        'Bulk add tag A to games with tag B',
                        route('staff.categorisation.bulk-tools.add-tag-to-games-with-tag')
                    ) }}
                    {{ rowstat.renderB5(
                        'Bulk set category verification',
                        route('staff.categorisation.bulk-tools.set-category-verification')
                    ) }}
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

            {{ heading.renderSlick('Navigation') }}
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.category.list') }}">Categories</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.tag.list') }}">Tags</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-series.list') }}">Series</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-collection.list') }}">Collections</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

            {{ heading.renderSlick('Tools') }}
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_sim'}) }}">
                            Edit missing category groups: Sim(ulation)
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategorySimCount }}</span>
                    </td>
                </tr>
                <td>
                    <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_survival'}) }}">
                        Edit missing category groups: Survival
                    </a>
                </td>
                <td class="text-end">
                    <span class="h4">{{ BulkEditMissingCategorySurvivalCount }}</span>
                </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_quiz'}) }}">
                            Edit missing category groups: Quiz
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategoryQuizCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_spot_the_difference'}) }}">
                            Edit missing category groups: Spot the Difference
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategorySpotTheDifferenceCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_puzzle'}) }}">
                            Edit missing category groups: Puzzle
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategoryPuzzleCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_sports_racing'}) }}">
                            Edit missing category groups: Sports and Racing
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategorySportsRacingCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_hidden'}) }}">
                            Edit missing category groups: Hidden
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategoryHiddenCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_escape'}) }}">
                            Edit missing category groups: Escape
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategoryEscapeCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_hentai_girls'}) }}">
                            Edit missing category groups: Hentai Girls
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategoryHentaiGirlsCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.bulk-edit.editPredefinedList', {'editMode': 'category_drone_flying_tour'}) }}">
                            Edit missing category groups: Drone Flying Tour
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ BulkEditMissingCategoryDroneFlyingTourCount }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

{% endblock page_inner %}
