{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

    <div class="row">

        <div class="col-md-4">

            <h2>Action lists</h2>

            <h3>Games with no category</h3>

            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.list.no-category') }}">
                            No category - all games
                        </a>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ NoCategoryAllGamesCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.migrations.category.all-games-with-no-category') }}">
                            No category - with eShop data
                        </a>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ NoCategoryEshopDataCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.list.no-tag') }}">
                            No tag
                        </a>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ NoTagCount }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

            <h2>Navigation</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.category.list') }}">Categories</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.tag.list') }}">Tags</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-series.list') }}">Series</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-category-suggestions.index') }}">Game category suggestions</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

            <h2>Series matches</h2>
            {% if GameSeriesMatchList %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Series</th>
                        <th class="text-right">Potential matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in GameSeriesMatchList %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                                <span class="h4">
                                    <a href="{{ route('staff.categorisation.title-match.series', {'gameSeries': item.series}) }}">
                                        {{ item.gameCount }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No outstanding matches to review.</p>
            {% endif %}

        </div>

    </div>

{% endblock page_inner %}
