{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

    <div class="row">

        <div class="col-md-4">

            {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Action lists'} %}

            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.games.list.no-category') }}">
                            No category
                        </a>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ NoCategoryCount }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

            {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Navigation'} %}
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.category.list') }}">Categories</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.tag.list') }}">Tags</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-series.list') }}">Series</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('staff.categorisation.game-collection.list') }}">Collections</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

        </div>

    </div>

{% endblock page_inner %}
