{% import 'ui/components/form/submit.twig' as formsubmit %}

<div class="alert alert-info">
    You're submitting a review of: <strong>{{ GameData.title }}</strong>.
    {% if GameData.review_count < 3 %}
        <br>
        {% if GameData.review_count == 0 %}
            This will be the game's first review. Way to get the ball rolling!
        {% elseif GameData.review_count == 1 %}
            This will be the game's second review. Great stuff!
        {% elseif GameData.review_count == 2 %}
            This will be the game's third review. That's all we need to give it a rank!
        {% endif %}
    {% endif %}
</div>
{% include 'ui/components/alerts/form-errors.twig' %}
{% import 'ui/components/game/packshots.twig' as packshots %}
<form role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row mb-3">
        <label for="review_score" class="col-md-2 col-form-label">Your score</label>
        <div class="col-md-4">
            <input id="review_score" type="text" class="form-control" name="review_score">
            <div class="form-text">
                Enter the score out of 10 here. Decimals are allowed (e.g. 7.5). Scores will
                be rounded to 1 decimal place.
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="review_body" class="col-md-2 col-form-label">Your comments</label>
        <div class="col-md-4">
            <textarea id="review_body" name="review_body" cols="50" rows="10"></textarea>
            <p>
                <small>
                    Write your review here.
                    Please don't include any special formatting - it will be stripped out.
                    Line breaks will be preserved.
                    <br><strong>Maximum 800 characters.</strong> Keep it short and sweet :)
                </small>
            </p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            {{ packshots.square(GameData) }}
        </div>
    </div>

    {{ formsubmit.renderB5() }}

</form>
