{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="pull-right">
            <label for="admin-nav-filter">Filters:</label>
            <select id="admin-nav-filter" name="admin-nav-filter" class="form-control">
                <option value="">All games</option>
                <option value="with-link">Items linked to a WOS game</option>
                <option value="no-link">Items not linked to a WOS game</option>
            </select>
        </div>
    </div>
</div>

<hr>

{% if FeedItems.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">fs_id</th>
                <th class="text-left">Title</th>
                <th class="text-left">Link</th>
                <th class="text-center">Change date</th>
                <th class="text-center">Nintendo Url</th>
                <th class="text-center">Square image</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in FeedItems %}
                <tr>
                    <td class="text-right">
                        {{ item.fs_id }}
                    </td>
                    <td class="text-left">
                        {{ item.title }}
                    </td>
                    <td class="text-center">
                        {% if item.game %}
                            <small>{{ item.game.id }}</small>
                        {% elseif item.game_id %}
                            <small>{{ item.game_id }}</small>
                        {% else %}
                            <small>-</small>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <small>{{ item.change_date }}</small>
                    </td>
                    <td class="text-center">
                        {% if item.url %}
                            <a href="{{ LinkHelper.eshopUrl('eu', item.url) }}" target="_blank">View</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.image_url_sq_s %}
                            <a href="{{ item.image_url_sq_s }}" target="_blank">View</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.feed-items.eshop.europe.view', {'itemId': item.fs_id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#admin-nav-filter').on('change', function() {
        selectedFilter = $(this).val();
        top.location.href = '{{ route('admin.feed-items.eshop.europe.list')}}' + '/' + selectedFilter;
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
