{% if GamesList %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-center">Rank</th>
                <th style="text-align: left;">Title</th>
                <th class="text-center">Media</th>
                <th style="text-align: left;">Release date<br>(Europe)</th>
                <th style="text-align: right;">eShop price</th>
                <th style="text-align: right;">Avg rating</th>
                <th style="text-align: right;">Total reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamesList %}
                <tr>
                    <td class="text-center">
                        {% if item.game_rank %}
                        {{ item.game_rank }}
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                    <td style="text-align: left;">
                        <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                            {{ item.title }}
                        </a>
                    </td>
                    <td class="text-center">
                        {% if item.video_url %}
                            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true" title="Game has a video"></span>
                        {% endif %}
                        &nbsp;
                        {% if item.image_count > 0 %}
                            <span class="glyphicon glyphicon-picture" aria-hidden="true" title="Game has images"></span>
                        {% endif %}
                    </td>
                    <td style="text-align: left;">
                        {% if item.release_date is not null %}
                            {{ item.release_date }}
                        {% else %}
                            {{ item.upcoming_date }}
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        {% if item.price_eshop %}
                            &pound;{{ item.price_eshop }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        {{ item.rating_avg }}
                    </td>
                    <td style="text-align: right;">
                        {{ item.review_count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {#<p><em>{{ GamesList.count }} games.</em></p>#}
{% else %}
    <p>No games to display!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    {% if GamesTableSort is not defined %}
    {% set GamesTableSort = "[2, 'desc']" %}
    {% endif %}
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": {{ GamesTableSort|raw }},
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                null,
                null,
                null,
                null
            ]
        });
    });
</script>
