{% if GamesList %}
    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th></th>
                <th style="text-align: left;">Title</th>
                <th style="text-align: left;">Release date</th>
                <th style="text-align: right;">eShop price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamesList %}
                <tr>
                    <td class="text-center" style="vertical-align: middle;">
                        <a href="{{ LinkHelper.gameShow(item) }}">
                            {{ ImageHelper.packshotHtml(item, 'release-calendar') }}
                        </a>
                    </td>
                    <td style="text-align: left; vertical-align: middle;">
                        <a href="{{ LinkHelper.gameShow(item) }}">
                            {{ item.title }}
                        </a>
                    </td>
                    <td style="text-align: left; vertical-align: middle;">
                        {{ item.upcoming_date }}
                    </td>
                    <td style="text-align: right; vertical-align: middle;">
                        {% if item.price_eshop %}
                            &pound;{{ item.price_eshop }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><em>{{ GamesList.count }} games.</em></p>
{% else %}
    <p>No games to display!</p>
{% endif %}