{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Developers'}, {'text': PageTitle}] %}

{% block page_body %}

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p>
                Our developer pages are a work in progress. Check back soon for more!
            </p>
            <h2>Developer info</h2>
            <table class="table table-striped table-condensed table-responsive">
                {% if NewsInfoBox == 'Y' %}
                    <tr>
                        <td class="text-center" colspan="2">
                            <strong>
                                Infobox
                            </strong>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Name</span>
                    </td>
                    <td>{{ DeveloperData.name }}</td>
                </tr>
                {% if DeveloperData.website_url %}
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Official site</span>
                        </td>
                        <td><a href="{{ DeveloperData.website_url }}" target="_blank">Visit official site</a></td>
                    </tr>
                {% endif %}
                {% if DeveloperData.twitter_id %}
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Twitter account</span>
                        </td>
                        <td><a href="https://twitter.com/{{ DeveloperData.twitter_id }}" target="_blank">{{ DeveloperData.twitter_id }}</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>Games</h2>
            {% if GameList %}
                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Release date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in GameList %}
                            <tr>
                                <td>
                                    <a href="{{ LinkHelper.gameShow(item) }}">
                                        {{ item.title }}
                                    </a>
                                </td>
                                <td>
                                    {% if item.release_date is not null %}
                                        {{ item.release_date }}
                                    {% else %}
                                        {{ item.upcoming_date }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock page_body %}
