{% set processStatus = status %}
{% if textSize is defined %}
    {% set textSizeHeader = textSize %}
{% else %}
    {% set textSizeHeader = 'h4' %}
{% endif %}

{% if processStatus == 'Review created' %}
    <span class="{{ textSizeHeader }} label label-success">{{ processStatus }}</span>
{% elseif processStatus == 'Duplicate' %}
    <span class="{{ textSizeHeader }} label label-danger">{{ processStatus }}</span>
{% elseif processStatus == 'Historic review' %}
    <span class="{{ textSizeHeader }} label label-danger">{{ processStatus }}</span>
{% else %}
    <span class="{{ textSizeHeader }} label label-default">{{ processStatus }}</span>
{% endif %}
