{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

{% if GameList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th class="text-center">eShop: EU</th>
                <th class="text-left">Developer (old)</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('staff.games.detail', {'gameId': item.id}) }}">{{ item.title }}</a>
                        <a href="{{ LinkHelper.gameShow(item) }}" target="_blank" title="Open game page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        {% if item.eshop_europe_fs_id %}
                            <i class="fas fa-link"></i>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {{ item.developer }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.games.edit', {'gameId': item.id}) }}">Edit game</a> :
                        <a href="{{ route('admin.game.partner.list', {'gameId': item.id}) }}">Partners</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
