{% extends 'theme/wos/base.twig' %}
{% import "ui/blocks/game-grid.twig" as gamegrid %}
{% import "ui/components/headings/heading.twig" as heading %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Newest', 'h2') }}
        <p>Updated weekly. <a href="{{ route('games.recentReleases') }}">View all new games</a>.</p>
        {{ gameslayouts.noHero(NewReleases, 1, 'no-price') }}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Upcoming', 'h2') }}
        <p>Updated weekly. <a href="{{ route('games.upcomingReleases') }}">View all upcoming games</a>.</p>
        {{ gameslayouts.noHero(UpcomingReleases, 1, 'no-price') }}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ heading.renderChunky('Search games', 'h4') }}
        {% include 'ui/components/search/form-mini.twig' %}

        {{ heading.renderChunky('Browse all games', 'h4') }}
        {% include 'public/games/navRightBrowseAll.twig' %}

        {{ heading.renderChunky('More lists', 'h4') }}
        <ul>
            <li><a href="{{ route('games.recentReleases') }}">Newest games</a></li>
            <li><a href="{{ route('games.upcomingReleases') }}">Upcoming games</a></li>
            <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
            <li><a href="{{ route('reviews.landing') }}">Recent reviews</a></li>
            <li><a href="{{ route('lists.recently-ranked') }}">Recently ranked</a></li>
        </ul>

        {{ heading.renderChunky('From the all-time Top 100', 'h4') }}
        {{ gameslayouts.noHero(RandomTop100Game, 1, 'no-price') }}

        {{ heading.renderChunky('Recent Top Rated', 'h4') }}
        {{ gameslayouts.noHero(RecentWithGoodRanks, 1, 'no-price') }}

    </div>

</div>

{% endblock page_body %}
