<ul>
    <li><a href="{{ route('games.browse.byCategory.landing') }}">By category</a></li>
    <li><a href="{{ route('games.browse.byTag.landing') }}">By tag</a></li>
    <li><a href="{{ route('games.browse.bySeries.landing') }}">By series</a></li>
    <li><a href="{{ route('games.browse.byCollection.landing') }}">By collection</a></li>
    <li><a href="{{ route('games.browse.byDate.landing') }}">By release date</a></li>
</ul>
