{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Nintendo.co.uk API</h2>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Stats'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.nintendo-co-uk.unlinked') }}">Unlinked items</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.nintendo-co-uk.unlinked') }}" class="h4">{{ NintendoCoUkUnlinkedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.nintendo-co-uk.ignored') }}">Ignored items</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.nintendo-co-uk.ignored') }}" class="h4">{{ NintendoCoUkIgnoredCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Differences'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.eu-release-date') }}">
                        EU release date
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.eu-release-date') }}" class="h4">
                        {{ ReleaseDateEUNintendoCoUkDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.price') }}">
                        Price
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.price') }}" class="h4">
                        {{ PriceNintendoCoUkDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.players') }}">
                        Players
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.players') }}" class="h4">
                        {{ PlayersNintendoCoUkDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.publishers') }}">
                        Publishers
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.publishers') }}" class="h4">
                        {{ PublishersNintendoCoUkDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.genres') }}">
                        Genres
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.nintendo-co-uk.genres') }}" class="h4">
                        {{ GenresNintendoCoUkDifferenceCount }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Tools'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.tools.nintendo-co-uk.importParseLink') }}">DSNintendoCoUkImportParseLink</a>
                    <br>
                    <small>Imports and parses data, and links it to games</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.tools.nintendo-co-uk.updateGames') }}">DSNintendoCoUkUpdateGames</a>
                    <br>
                    <small>Updates games with data</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.tools.nintendo-co-uk.downloadImages') }}">DSNintendoCoUkDownloadImages</a>
                    <br>
                    <small>Downloads images</small>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Wikipedia</h2>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Stats'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.wikipedia.unlinked') }}">Unlinked items</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.wikipedia.unlinked') }}" class="h4">{{ WikipediaUnlinkedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.wikipedia.ignored') }}">Ignored items</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.wikipedia.ignored') }}" class="h4">{{ WikipediaIgnoredCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Differences'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.wikipedia.eu-release-date') }}">
                        EU release date
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.wikipedia.eu-release-date') }}" class="h4">
                        {{ ReleaseDateEUWikipediaDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.wikipedia.us-release-date') }}">
                        US release date
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.wikipedia.us-release-date') }}" class="h4">
                        {{ ReleaseDateUSWikipediaDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.wikipedia.jp-release-date') }}">
                        JP release date
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.wikipedia.jp-release-date') }}" class="h4">
                        {{ ReleaseDateJPWikipediaDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.wikipedia.developers') }}">
                        Developers
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.wikipedia.developers') }}" class="h4">
                        {{ DevelopersWikipediaDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.wikipedia.publishers') }}">
                        Publishers
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.wikipedia.publishers') }}" class="h4">
                        {{ PublishersWikipediaDifferenceCount }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.differences.wikipedia.genres') }}">
                        Genres
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.data-sources.differences.wikipedia.genres') }}" class="h4">
                        {{ GenresWikipediaDifferenceCount }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Tools'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.tools.wikipedia.importParseLink') }}">DSWikipediaImportParseLink</a>
                    <br>
                    <small>Imports and parses data, and links it to games</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.data-sources.tools.wikipedia.updateGames') }}">DSWikipediaUpdateGames</a>
                    <br>
                    <small>Updates games with data</small>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Import totals</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Details</th>
                <th class="text-center">Raw</th>
                <th class="text-center">Parsed</th>
            </tr>
            </thead>
            <tbody>
            {% for item in DataSources %}
                <tr>
                    <td>
                        {{ item.name }}
                        <br>
                        <small>
                            ID: {{ item.id }} -
                            Method: {{ item.importMethodDesc() }}
                        </small>
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.data-sources.list-raw', {'sourceId': item.id}) }}">
                            {{ item.itemsRaw().count() }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.itemsParsed().count() }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock page_inner %}
