{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="{{ route('staff.reviews.link.add') }}" class="btn outline btn-primary">+ Add review link</a>
        <a href="{{ route('staff.reviews.link.import') }}" class="btn outline btn-primary">Import...</a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="pull-right">
            <label for="admin-nav-site-filter">Filter by site:</label>
            <select id="admin-nav-site-filter" name="admin-nav-site-filter" class="form-control">
                <option value="">All reviews</option>
                {% for item in ReviewSites %}
                    <option value="{{ item.id }}">{% if item.status == '9' %}[INACTIVE]{% endif %} {{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<hr>
{% if ReviewLinks.count > 0 %}
    <div class="alert alert-warning" role="alert">
        If you've added any reviews or edited the ratings, don't forget to run the Review pipeline in the
        Tools Hub when you're done.
    </div>
    {% if TableLimit is defined %}
        <div class="alert alert-warning" role="alert">
            Page is limited to {{ TableLimit }} review links to minimise performance issues. You can filter by site to see
            all review links associated with that site.
        </div>
    {% endif %}

    {% include 'staff/reviews/review-link-table.twig' with {'ReviewLinks': ReviewLinks} %}
{% else %}
    <p>No review links found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#admin-nav-site-filter').on('change', function() {
        selectedSiteFilter = $(this).val();
        top.location.href = '{{ route('staff.reviews.link.list')}}?siteId=' + selectedSiteFilter;
    });
    $(document).ready(function() {
        var activeSiteId = '{{ ActiveSiteId }}';
        $('#admin-nav-site-filter').val(activeSiteId);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
