{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="site_id" class="col-md-4 control-label">Site</label>
        <div class="col-md-6">
            <select id="site_id" class="form-control" name="site_id" required autofocus>
                <option value="">&nbsp;</option>
                {% for item in ReviewSites %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Game</label>
        <div class="col-md-6">
            <select id="game_id" class="form-control" name="game_id">
                <option value="">&nbsp;</option>
                {% for item in GamesList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="item_rating" class="col-md-4 control-label">Rating</label>
        <div class="col-md-6">
            <input id="item_rating" type="text" class="form-control" name="item_rating">
            <p>
                <small>
                    Enter the actual score here.
                    If the reviewing site has a scale other than 1-10,
                    the score will be converted.
                </small>
            </p>
        </div>
    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Feed: Item title
        </div>
        <div class="col-md-6">
            {{ FeedItemData.item_title }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Feed: Item URL
        </div>
        <div class="col-md-6">
            <a href="{{ FeedItemData.item_url }}" target="_blank">{{ FeedItemData.item_url }}</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Feed: Item date
        </div>
        <div class="col-md-6">
            {{ FeedItemData.item_date }}
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label for="processed" class="col-md-4 control-label">Processed</label>
        <div class="col-md-6">
            <input id="processed" type="checkbox" name="processed">
            <br>
            <small>
                This option can be used to skip, or resubmit, an item to the processing queue.
                <br>
                Tick the box to skip the item. When doing so, ensure you fill in the reason below.
                <br>
                Untick the box to resubmit the item. In this case, clear the reason field.
            </small>
        </div>
    </div>

    <div class="form-group">
        <label for="process_status" class="col-md-4 control-label">Process status</label>
        <div class="col-md-6">
            <input id="process_status" class="form-control" name="process_status" type="text" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
