{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="site_id" class="col-md-4 control-label">Site</label>
        <div class="col-md-6">
            <select id="site_id" class="form-control" name="site_id" required autofocus>
                <option value="">&nbsp;</option>
                {% for item in ReviewSites %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Game</label>
        <div class="col-md-6">
            <select id="game_id" class="form-control" name="game_id">
                <option value="">&nbsp;</option>
                {% for item in GamesList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="item_rating" class="col-md-4 control-label">Rating</label>
        <div class="col-md-6">
            <input id="item_rating" type="text" class="form-control" name="item_rating">
            <p>
                <small>
                    Enter the actual score here.
                    If the reviewing site has a scale other than 1-10,
                    the score will be converted.
                </small>
            </p>
        </div>
    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Feed: Item title
        </div>
        <div class="col-md-6">
            {{ FeedItemData.item_title }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Feed: Item URL
        </div>
        <div class="col-md-6">
            <a href="{{ FeedItemData.item_url }}" target="_blank">{{ FeedItemData.item_url }}</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Feed: Item date
        </div>
        <div class="col-md-6">
            {{ FeedItemData.item_date }}
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label for="process_status" class="col-md-4 control-label">Process status</label>
        <div class="col-md-6">
            <select id="process_status" name="process_status" class="form-control">
                <option value="">(No value)</option>
                <optgroup label="Success:">
                    {% for item in ProcessStatusSuccess %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Failure:">
                    {% for item in ProcessStatusFailure %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <br>
            <small>
                Where possible, this will be filled in automatically. You can also manually select an option
                to stop this item from being processed. Or, you can clear the option if a previously skipped item
                should be reprocessed.
            </small>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
