{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="{{ route('staff.reviews.tools.runFeedReviewGenerator') }}" class="btn btn-primary">Go to the Feed Review Generator</a>
    </div>
    <div class="col-xs-12 col-sm-9">
        {% if HideFilters != 'Y' %}
        <div class="pull-right">
            <label for="admin-nav-feed-item-filter">Filters:</label>
            <select id="admin-nav-feed-item-filter" name="admin-nav-feed-item-filter" class="form-control">
                <option value="">Unprocessed items</option>
                <option value="processed">Processed items</option>
            </select>
        </div>
        {% endif %}
    </div>
</div>

<hr>

{% if FeedItems.count > 0 %}

{% if TableLimit is defined %}
    <div class="alert alert-warning" role="alert">
        Page is limited to {{ TableLimit }} review links to minimise performance issues.
    </div>
{% endif %}

<table class="table data-sortable table-responsive">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-left">Title</th>
            <th class="text-center">Game</th>
            <th class="text-center">Score</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in FeedItems %}
            <tr>
                <td class="text-center">
                    <small>
                        {{ item.id }}
                    </small>
                </td>
                <td class="text-left" style="max-width: 300px;">
                    <a href="{{ item.item_url }}" target="_blank">{{ item.item_title }}</a>
                    {% if item.game.id is not null %}
                        <div class="pull-right">
                            <small>
                                {% include 'modules/game/table/staff-game-edit.twig' with {'item': item.game, 'LinkDesc': 'edit game details'} %}
                            </small>
                        </div>
                    {% endif %}
                    <br>
                    <small>
                        {{ item.item_date|date('Y-m-d') }} |
                        {{ item.site.name }}
                    </small>
                </td>
                <td class="text-center">
                    {% if item.game.title is null %}
                        <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-times"></i>
                        </div>
                    {% else %}
                        <div style="color: #009900; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-check"></i>
                        </div>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% set origRating = null %}
                    {% if item.site.id %}
                        {% if item.item_rating is null %}
                            -
                        {% else %}
                            {% if item.site.rating_scale == 5 %}
                                {% set badgeRating = (item.item_rating * 2)|number_format(1) %}
                                {% set origRating = item.item_rating %}
                            {% else %}
                                {% set badgeRating = item.item_rating %}
                            {% endif %}
                            {% include 'modules/rating/badge.twig' with {'score': badgeRating, 'scoreSize': 'h5'} %}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ route('staff.reviews.feed-items.edit', {'itemId': item.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#admin-nav-feed-item-filter').on('change', function() {
        selectedFilter = $(this).val();
        top.location.href = '{{ route('staff.reviews.feed-items.list')}}' + '/' + selectedFilter;
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-feed-item-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 50,
            "columns": [
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
