{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<a href="{{ route('staff.categorisation.category.add') }}" class="btn outline btn-primary">Add a category</a>
<br>
<br>

{% if CategoryList %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th>Category</th>
                <th class="text-center">Game count</th>
                <th class="text-center">View</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in CategoryList %}
                <tr>
                    <td class="text-end">
                        {{ item.id }}
                    </td>
                    <td>
                        {% if item.parent.id %}
                            {{ item.parent.name }}
                            &gt;&gt;
                        {% endif %}
                        <a href="{{ route('console.byCategory.page', {'console': 'switch-1', 'category': item.link_title}) }}" target="_blank">
                            {{ item.name }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.games().count }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.list.showList', { 'listType': 'by-category', 'param1': item }) }}">View games</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.categorisation.category.edit', {'categoryId': item.id}) }}">Edit</a>
                        {% if item.games().count == 0 and item.children().count == 0 %}
                            : <a href="{{ route('staff.categorisation.category.delete', {'categoryId': item.id}) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No categories found!</p>
{% endif %}

{% endblock page_inner %}
