{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<a href="{{ route('staff.categorisation.category.add') }}" class="btn outline btn-primary">Add a category</a>
<br>
<br>

{% if CategoryList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Category</th>
                <th>Parent</th>
                <th class="text-center">Game count</th>
                <th class="text-center">View</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in CategoryList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}" target="_blank">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>
                        {% if item.parent.id %}
                        <a href="{{ route('games.browse.byCategory.page', {'category': item.parent.link_title}) }}" target="_blank">
                            {{ item.parent.name }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.games().count }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.list.by-category', {'category': item}) }}">View games</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.categorisation.category.edit', {'categoryId': item.id}) }}">Edit</a>
                        {% if item.games().count == 0 and item.children().count == 0 %}
                            : <a href="{{ route('staff.categorisation.category.delete', {'categoryId': item.id}) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No categories found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
    /*
    $('#btn-save-category').on('click', function() {

        categoryName = $('#txt-new-category-name').val();
        if (categoryName == '') {
            $('#js-new-category-notify').text('No category name set.');
            $('#js-new-category-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.categorisation.category.add') }}', {categoryName: categoryName}, function(data) {
            $('#js-new-category-notify').text('Category saved!');
            $('#js-new-category-notify').show();
            $('#txt-new-category-name').val('');
            setTimeout("$('#js-new-category-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-new-category-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-new-category-notify').show();
            $('#txt-new-category-name').val('');
        });
    });
    */
</script>

{% endblock page_inner %}
