{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'url': route('staff.categorisation.dashboard'), 'text': 'Categorisation'}, {'text': PageTitle}] %}

{% block page_inner %}

<h2>Add a category</h2>
<label for="txt-new-category-name">Name</label>
<input id="txt-new-category-name" type="text" maxlength="50">
<input id="btn-save-category" type="button" class="btn btn-primary" value="Save">
<div id="js-new-category-notify" class="alert alert-success" role="alert" style="display: none;">
</div>

<h2>All categories</h2>
{% if CategoryList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Primary type</th>
                <th class="text-center">Game count</th>
                <th class="text-center">View</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in CategoryList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}" target="_blank">
                            {{ item.name }}
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.games().count }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.list.by-category', {'category': item}) }}">View games</a>
                    </td>
                    <td class="text-center">
                        {% if item.games().count == 0 %}
                            Delete
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No categories found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
    $('#btn-save-category').on('click', function() {

        categoryName = $('#txt-new-category-name').val();
        if (categoryName == '') {
            $('#js-new-category-notify').text('No category name set.');
            $('#js-new-category-notify').show();
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.categorisation.category.add') }}', {categoryName: categoryName}, function(data) {
            $('#js-new-category-notify').text('Category saved!');
            $('#js-new-category-notify').show();
            $('#txt-new-category-name').val('');
            setTimeout("$('#js-new-category-notify').fadeOut(); window.location.reload(true);", 1000);
        })
        .fail(function(data) {
            $('#js-new-category-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-new-category-notify').show();
            $('#txt-new-category-name').val('');
        });
    });
</script>

{% endblock page_inner %}
