{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

{% if ErrorsCustom %}
    {% include 'common/form-errors.twig' %}
    <div class="alert alert-warning" role="alert">
        Cannot delete the invite code: <strong>{{ InviteCodeData.invite_code }}</strong> (id: {{ InviteCodeId }}) due to the above errors.
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> You are about to delete the invite code:
            <strong>{{ InviteCodeData.invite_code }}</strong>
            | id: {{ InviteCodeId }}
        <br>There is no option to undo the deletion if you proceed!
    </div>

    <form role="form" method="post" action="{{ route('owner.invite-code.delete', {'inviteCodeId': InviteCodeId}) }}">
        {{ csrf_field() }}

        <div class="row mb-3">
            <div class="col-sm-4">
                <button type="submit" class="btn outline btn-danger">
                    Confirm deletion
                </button>
            </div>
        </div>
    </form>
{% endif %}

{% endblock page_inner %}
