{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Actions (TBC)</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    Partners without Twitter IDs
                </td>
                <td class="text-right">
                    tbc
                </td>
            </tr>
            <tr>
                <td>
                    Partners without URLs
                </td>
                <td class="text-right">
                    tbc
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.site.list') }}">Review sites</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.list') }}">Games companies</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.list') }}">Partner outreach - view all</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Outreach</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.devs-with-unranked-games') }}">Developers with unranked games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.games-company.devs-with-unranked-games') }}" class="h4">{{ DevsWithUnrankedGamesCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.pubs-with-unranked-games') }}">Publishers with unranked games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.games-company.pubs-with-unranked-games') }}" class="h4">{{ PubsWithUnrankedGamesCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Unranked games with missing partner data
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.tools.partnerUpdateFields') }}">PartnerUpdateFields</a>
                    <br>
                    <small>Updates the review count and last review date fields for review sites</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.tools.partnerMigrateGameDevsPubs') }}">PartnerMigrateGameDevsPubs</a>
                    <br>
                    <small>Migrates legacy developer/publisher data into the new partner/games company format.
                        Only migrates records with exact matches</small>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
