{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Data cleanup</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.legacy-partner-multiple') }}">Legacy partners (devs/pubs): Multiple records</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.legacy-partner-multiple') }}" class="h4">{{ LegacyPartnerMultipleCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.legacy-developer-no-games-company') }}">Legacy developers: No games company</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.legacy-developer-no-games-company') }}" class="h4">{{ LegacyDeveloperNoGamesCompanyCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.legacy-publisher-no-games-company') }}">Legacy publishers: No games company</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.legacy-publisher-no-games-company') }}" class="h4">{{ LegacyPublisherNoGamesCompanyCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-developer') }}">Games with missing developer</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-developer') }}" class="h4">{{ DeveloperMissingCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.games-with-old-dev-field-set') }}">Games with old dev field set</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.games-with-old-dev-field-set') }}" class="h4">{{ GamesWithOldDevFieldSetCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-publisher') }}">Games with missing publisher</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-publisher') }}" class="h4">{{ PublisherMissingCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.games-with-old-pub-field-set') }}">Games with old pub field set</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.data-cleanup.games-with-old-pub-field-set') }}" class="h4">{{ GamesWithOldPubFieldSetCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Outreach</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.devs-with-unranked-games') }}">Developers with unranked games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.games-company.devs-with-unranked-games') }}" class="h4">{{ DevsWithUnrankedGamesCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.pubs-with-unranked-games') }}">Publishers with unranked games</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.partners.games-company.pubs-with-unranked-games') }}" class="h4">{{ PubsWithUnrankedGamesCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Unranked games with missing partner data
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.site.list') }}">Review sites</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.list') }}">Games companies</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.list') }}">Partner outreach - view all</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.tools.partnerUpdateFields') }}">PartnerUpdateFields</a>
                    <br>
                    <small>Updates the review count and last review date fields for review sites</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.tools.partnerMigrateGameDevsPubs') }}">PartnerMigrateGameDevsPubs</a>
                    <br>
                    <small>Migrates legacy developer/publisher data into the new partner/games company format.
                        Only migrates records with exact matches</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Stats</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Game/developer links created
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ GameDeveloperLinks }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Game/publisher links created
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ GamePublisherLinks }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
