{% extends 'theme/staff-b5/layout-default.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Action lists'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-developer') }}">Games with missing developer</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-developer') }}" class="h4">{{ DeveloperMissingCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-publisher') }}">Games with missing publisher</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.data-cleanup.games-with-missing-publisher') }}" class="h4">{{ PublisherMissingCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.without-twitter-ids') }}">
                        Games companies without Twitter IDs
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.without-twitter-ids') }}" class="h4">{{ GamesCompaniesWithoutTwitterIdsCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.without-website-urls') }}">
                        Games companies without URLs
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.without-website-urls') }}" class="h4">{{ GamesCompaniesWithoutWebsiteUrlsCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.duplicate-twitter-ids') }}">
                        Twitter IDs on multiple games companies
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.duplicate-twitter-ids') }}" class="h4">{{ GamesCompanyDuplicateTwitterIdsCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.duplicate-website-urls') }}">
                        Website URLs on multiple games companies
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.duplicate-website-urls') }}" class="h4">{{ GamesCompanyDuplicateWebsiteUrlsCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Navigation'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.list') }}">Games companies</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.list') }}">Partner outreach - view all</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Outreach'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.devs-with-unranked-games') }}">Developers with unranked games</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.devs-with-unranked-games') }}" class="h4">{{ DevsWithUnrankedGamesCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.pubs-with-unranked-games') }}">Publishers with unranked games</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.pubs-with-unranked-games') }}" class="h4">{{ PubsWithUnrankedGamesCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Unranked games with missing partner data
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Low quality filter'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.normal-quality') }}">Games companies - normal quality</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.normal-quality') }}" class="h4">{{ GamesCompaniesNormalQualityCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.games-company.low-quality') }}">Games companies - low quality</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.partners.games-company.low-quality') }}" class="h4">{{ GamesCompaniesLowQualityCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
