{% extends 'theme/wos/reviewers/clean-wide.twig' %}

{% block page_inner %}

    <p>
        Welcome, {{ auth_user().display_name }} - thanks for checking out the Reviewers dashboard.
        Please send questions or feedback to Ben via
        <a href="https://twitter.com/switchscores" target="_blank">Twitter</a> or
        <a href="mailto:ben@switchscores.com">email</a>.
    </p>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <h2>Feed status</h2>
            {% if PartnerData.feed_url == '' %}
                <div class="alert alert-danger">
                    <strong>We don't have a feed for your site</strong>. This means your reviews won't be imported.
                    Get in touch and let's get things up and running.
                </div>
            {% elseif PartnerData.feed_url != '' and PartnerData.isLastReviewHistoric() %}
                <div class="alert alert-warning">
                    <strong>We haven't had any reviews from your site recently</strong>.
                    Have a look at the list we've imported and let us know if we've missed any.
                </div>
            {% else %}
                <div class="alert alert-info">
                    <strong>Your feed URL looks good!</strong> Keep those reviews coming. We really appreciate
                    everything you do! &hearts;
                </div>
            {% endif %}
            <div class="alert alert-success">
                Have a look at your <a href="{{ route('reviewers.feed-health.landing') }}">feed health</a> status page
                to see if we've had any issues importing your reviews.
            </div>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Quick stats</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <h2>
                        {{ PartnerData.review_count }}
                        <br>
                        <span class="h4">reviews</span>
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <h2>
                        {{ ReviewAvg }}
                        <br>
                        <span class="h4">average</span>
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    {#
                    <h2>
                        {{ ReviewAvg }}
                        <br>
                        <span class="h4">average</span>
                    </h2>
                    #}
                </div>
            </div>

            <p class="text-center">
                <a href="{{ route('reviewers.stats.landing') }}" class="btn btn-md btn-primary">View more stats</a>
            </p>

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <h2>Recently imported</h2>
            {% if SiteReviewsLatest %}
                <p>
                    These are the reviews we've recently imported for your site.
                    <a href="{{ route('reviewers.reviews.landing') }}" class="btn btn-sm btn-primary">View all &gt;</a>
                </p>
                {% if PartnerData.rating_scale != 10 %}
                    <p>
                        <small>
                            As your site does not rank games out of 10, we have converted all ratings to
                            the equivalent score out of 10.
                        </small>
                    </p>
                {% endif %}
                <table class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th class="text-left">Game</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Rating</th>
                        <th class="text-center">Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in SiteReviewsLatest %}
                        <tr>
                            <td class="text-left">
                                <a href="{{ LinkHelper.gameShow(item.game) }}">{{ item.game.title }}</a>
                            </td>
                            <td class="text-center">
                                {{ item.review_date }}
                            </td>
                            <td class="text-center">
                                {% include 'modules/rating/badge.twig' with {'score': item.rating_normalised, 'scoreSize': 'h5'} %}
                            </td>
                            <td class="text-center">
                                <a href="{{ item.url }}" target="_blank" title="Open review in a new tab">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    We have not yet imported any reviews for your site.
                </p>
            {% endif %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Your details</h2>
            <table class="table table-condensed table-responsive">
                <tr>
                    <td>
                        <span style="font-weight: bold;">Switch Scores profile</span>
                    </td>
                    <td>
                        <a href="{{ route('reviews.site', {'linkTitle': PartnerData.link_title}) }}" target="_blank">View profile</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Your site</span>
                    </td>
                    <td>
                        <a href="{{ PartnerData.website_url }}" target="_blank">Visit site</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Twitter ID</span>
                    </td>
                    <td>
                        {% if PartnerData.twitter_id %}
                            <a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a>
                        {% else %}
                            <p><em>None!</em></p>
                        {% endif %}
                    </td>
                </tr>
            </table>

            <h2>Unranked games</h2>
            <p>
                Help to get more of our database ranked.
            </p>
            <p>
                <a href="{{ route('reviewers.unranked-games.landing') }}" class="btn btn-primary btn-md">View unranked games</a>
            </p>

        </div>

    </div>

{% endblock page_inner %}