{% extends 'theme/member-b5/layout-default.twig' %}
{% import 'macros/blocks/alerts/survey.twig' as alerts %}

{% block page_inner %}

    {{ alerts.siteSurvey() }}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            {% if ShowNewSignup %}
                <div class="alert alert-success">
                    <strong>Thanks for signing up at Switch Scores!</strong> As you used a special invite code,
                    we've been able to take you right to the reviewers dashboard.
                    Please send questions or feedback to Ben via
                    <a href="https://twitter.com/switchscores" target="_blank">Twitter</a> or
                    <a href="mailto:ben@switchscores.com">email</a>.
                </div>
            {% else %}
                <p>
                    Thanks for checking out the Reviewers dashboard!
                    Please send questions or feedback to Ben via
                    <a href="https://twitter.com/switchscores" target="_blank">Twitter</a> or
                    <a href="mailto:ben@switchscores.com">email</a>.
                </p>
            {% endif %}

            <h2>What to review next</h2>
            {#
            <h3>Campaigns</h3>
            <p>
                These are games we'd love to see reviews of next.
                Help to get more of our database ranked - pick a campaign and jump right in!
            </p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% include 'modules/campaigns/dashboard-block.twig' with {'SiteRole': 'reviewer'} %}
                </div>
            </div>
            <h3>Unranked games</h3>
            <p>
                <a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-count', 'filter': '2'}) }}" class="btn btn-primary btn-md">View unranked games</a>
            </p>
            #}
            <p>
                You can find all of our unranked games below. Quickly find the games that only need 1 or 2
                reviews to get ranked.
            </p>
            <p>
                Except where stated, low quality games are excluded.
            </p>
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>
                        <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-count', 'filter': 2}) }}">
                            Unranked: 2 reviews
                        </a>
                    </td>
                    <td class="text-end">
                        <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-count', 'filter': 2}) }}" class="h5">
                            {{ UnrankedReviews2 }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-count', 'filter': 1}) }}">
                            Unranked: 1 review
                        </a>
                    </td>
                    <td class="text-end">
                        <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-count', 'filter': 1}) }}" class="h5">
                            {{ UnrankedReviews1 }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-count', 'filter': 0}) }}">
                            Unranked: 0 reviews
                        </a>
                    </td>
                    <td class="text-end">
                        <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-count', 'filter': 0}) }}" class="h5">
                            {{ UnrankedReviews0 }}
                        </a>
                    </td>
                </tr>
                {% for WhichYear in AllowedYears %}
                    <tr>
                        <td>
                            <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-year', 'filter': WhichYear}) }}">
                                Unranked: {{ WhichYear }}
                            </a>
                        </td>
                        <td class="text-end">
                            <a href="{{ route('reviewers.unranked-games.list', {'mode' : 'by-year', 'filter': WhichYear}) }}" class="h5">
                                {{ _context['UnrankedYear'~WhichYear] }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        Unranked: Low quality
                    </td>
                    <td class="text-end">
                    <span class="h5">
                        {{ UnrankedLowQuality }}
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Your details'} %}
            <p>
                Fill out your details so publishers and developers can contact you with review codes.
                Only publishers and developers will be able to view your contact details.
            </p>
            <table class="table table-sm table-responsive">
                <tr>
                    <td>
                        <span style="font-weight: bold;">Site name</span>
                    </td>
                    <td>
                        {{ PartnerData.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Website URL</span>
                    </td>
                    <td>
                        <a href="{{ PartnerData.website_url }}" target="_blank">Visit site</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Twitter ID</span>
                    </td>
                    <td>
                        {% if PartnerData.twitter_id %}
                            <a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a>
                        {% else %}
                            <p><em>None!</em></p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Contact name</span>
                    </td>
                    <td>{{ PartnerData.contact_name }}</td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Contact method</span>
                    </td>
                    <td>
                        {% if PartnerData.contact_email %}
                            <a href="mailto:{{ PartnerData.contact_email }}">{{ PartnerData.contact_email }}</a>
                        {% elseif PartnerData.contact_form_link %}
                            <a href="{{ PartnerData.contact_form_link }}" target="_blank">Contact form</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Review code regions</span>
                    </td>
                    <td>{{ PartnerData.review_code_regions }}</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="{{ route('reviewers.profile.edit') }}">Edit details</a>
            <a class="btn btn-primary" href="{{ route('partners.review-sites.siteProfile', {'linkTitle': PartnerData.link_title}) }}" target="_blank">View profile</a>
            <br>
            <br>

            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Your stats'} %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <h2>
                        {{ PartnerData.review_count }}
                        <br>
                        <span class="h4">reviews</span>
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                </div>
            </div>

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <h2>
                Draft reviews
            </h2>

            {#
            <p>
                Here you will find the reviews we've not been able to import automatically, usually
                because they are missing a score. Fill in the missing details and the review will be
                imported within 24 hours.
            </p>
            <p>
                This is also where you can add any reviews we may have missed. If you have a lot to add,
                get in touch as we can help you with a bulk import.
            </p>
            #}
            <p>
                This is where you can add any reviews we may have missed. If you have a lot to add,
                get in touch as we may be able to help with a bulk import.
            </p>

            <a href="{{ route('reviewers.review-draft.find-game') }}" class="btn btn-primary btn-sm">Add a review</a>

            {% if ReviewDraftsPending.count > 0 %}
                <h3>Awaiting import</h3>
                <p>
                    These reviews can't be added to the site until some missing information is filled in.
                    We'll add this when we can.
                </p>
                <p>
                    If you do not publish scores on your reviews then you will need to add the score manually.
                    You can only edit entries that are linked to a game. If the Edit link is missing,
                    please try again tomorrow.
                </p>
                {#
                <p>
                    When you have filled in the missing details for some reviews, click "Import
                    completed reviews" to get them added to the site.
                </p>
                <a href="{{ route('reviewers.tools.import-reviews') }}" class="btn btn-primary btn-sm">Import completed reviews</a>
                #}
                {% include 'reviewers/reviews/review-draft/table-pending.twig' with {'ReviewDrafts': ReviewDraftsPending} %}
            {% endif %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h3>Failed imports</h3>
            {% if ReviewDraftsFailed.count > 0 %}
                {% include 'reviewers/reviews/review-draft/table-with-status.twig' with {'ReviewDrafts': ReviewDraftsFailed} %}
            {% else %}
                <p>Nothing to see here.</p>
            {% endif %}

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <h2>
                Successful imports
            </h2>
            {% if ReviewDraftsSuccess.count == 0 %}
                <p>Nothing to see here.</p>
            {% else %}
                {% if PartnerData.rating_scale != 10 %}
                    <p>
                        <small>
                            As your site does not rank games out of 10, we have converted all ratings to
                            the equivalent score out of 10.
                        </small>
                    </p>
                {% endif %}
                <div class="row">

                    <div class="col-md-12">

                        {% include 'reviewers/reviews/review-draft/table.twig' with {'ReviewDrafts': ReviewDraftsSuccess} %}
                        <a href="{{ route('reviewers.reviews.landing') }}">View all &gt;</a>

                    </div>

                </div>
            {% endif %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <br>
            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Feed status'} %}
            {% if IsYoutubeChannel %}
                <div class="alert alert-info">
                    <strong>As you're submitting Youtube videos, you don't need to worry about this section</strong>.
                    Keep those reviews coming. We really appreciate everything you do! &hearts;
                </div>
            {% elseif PartnerFeed is empty %}
                <div class="alert alert-danger">
                    <strong>We don't have a feed for your site</strong>. This means your reviews won't be imported.
                    Get in touch and let's get things up and running.
                </div>
            {% elseif PartnerData.isLastReviewHistoric() %}
                <div class="alert alert-warning">
                    <strong>We haven't had any reviews from your site recently</strong>.
                    Have a look at the list we've imported and let us know if we've missed any.
                </div>
            {% else %}
                <div class="alert alert-info">
                    <strong>Your feed URL looks good!</strong> Keep those reviews coming. We really appreciate
                    everything you do! &hearts;
                </div>
                <div class="alert alert-success">
                    Have a look at your <a href="{{ route('reviewers.feed-health.landing') }}">feed health</a> status page
                    to see if we've had any issues importing your reviews.
                </div>
            {% endif %}

        </div>

    </div>

<script>
    $('#tabs').tabs();
</script>

{% endblock page_inner %}