{% extends 'theme/wos/reviewers/clean-wide.twig' %}
{% set hideHeader = 'Y' %}

{% block page_inner %}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">
            <h1>{{ PageTitle }}</h1>

            {% if ShowNewSignup %}
                <div class="alert alert-success">
                    <strong>Thanks for signing up at Switch Scores!</strong> As you used a special invite code,
                    we've been able to take you right to the reviewers dashboard.
                    Please send questions or feedback to Ben via
                    <a href="https://twitter.com/switchscores" target="_blank">Twitter</a> or
                    <a href="mailto:ben@switchscores.com">email</a>.
                </div>
            {% else %}
                <p>
                    Thanks for checking out the Reviewers dashboard!
                    Please send questions or feedback to Ben via
                    <a href="https://twitter.com/switchscores" target="_blank">Twitter</a> or
                    <a href="mailto:ben@switchscores.com">email</a>.
                </p>
            {% endif %}

            <h2>Your details</h2>
            <p>
                We encourage you to fill out these details so your profile page is up to date, and to allow
                publishers and developers to contact you with review codes. Only publishers and developers
                will be able to view this information.
            </p>
            <table class="table table-condensed table-responsive">
                <tr>
                    <td>
                        <span style="font-weight: bold;">Website URL</span>
                    </td>
                    <td>
                        <a href="{{ PartnerData.website_url }}" target="_blank">Visit site</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Twitter ID</span>
                    </td>
                    <td>
                        {% if PartnerData.twitter_id %}
                            <a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a>
                        {% else %}
                            <p><em>None!</em></p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Contact name</span>
                    </td>
                    <td>{{ PartnerData.contact_name }}</td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Contact method</span>
                    </td>
                    <td>
                        {% if PartnerData.contact_email %}
                            <a href="mailto:{{ PartnerData.contact_email }}">{{ PartnerData.contact_email }}</a>
                        {% elseif PartnerData.contact_form_link %}
                            <a href="{{ PartnerData.contact_form_link }}" target="_blank">Contact form</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Review code regions</span>
                    </td>
                    <td>{{ PartnerData.review_code_regions }}</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="{{ route('reviewers.profile.edit') }}">Edit details</a>
            <a class="btn btn-primary" href="{{ route('reviews.site', {'linkTitle': PartnerData.link_title}) }}" target="_blank">View profile</a>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Unranked games'} %}
            <p>
                We've recently updated the unranked games page to make it easier to use.
                You can use this list to help get more of our database ranked.
            </p>
            <p>
                <a href="{{ route('reviewers.unranked-games.list', {'mode': 'by-count', 'filter': '2'}) }}" class="btn btn-primary btn-md">View unranked games</a>
            </p>

            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Quick stats'} %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <h2>
                        {{ PartnerData.review_count }}
                        <br>
                        <span class="h4">reviews</span>
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                    <h2>
                        {{ ReviewAvg }}
                        <br>
                        <span class="h4">average</span>
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                </div>
            </div>

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <h2>
                Recent feed items
            </h2>
            <div class="pull-right">
                <a href="{{ route('reviewers.review-feed-item.find-game') }}" class="btn btn-primary btn-sm">Add review manually</a>
            </div>
            <p>
                This is a snapshot of the latest items from your feed.
            </p>
            <div class="row">

                <div class="col-md-12">

                    <div id="tabs">

                        <ul>
                            <li><a href="#tabs-feed-items-latest">Latest ({{ FeedItemsLatest.count }})</a></li>
                            <li><a href="#tabs-feed-items-pending">Pending ({{ FeedItemsPending.count }})</a></li>
                            <li><a href="#tabs-feed-items-success">Success ({{ FeedItemsSuccess.count }})</a></li>
                            <li><a href="#tabs-feed-items-failed">Failed ({{ FeedItemsFailed.count }})</a></li>
                        </ul>

                        <div id="tabs-feed-items-latest">
                            {% include 'reviewers/reviews/feed-item/table.twig' with {'FeedItems': FeedItemsLatest} %}
                        </div>

                        <div id="tabs-feed-items-pending">
                            {% include 'reviewers/reviews/feed-item/table.twig' with {'FeedItems': FeedItemsPending} %}
                        </div>

                        <div id="tabs-feed-items-success">
                            {% include 'reviewers/reviews/feed-item/table.twig' with {'FeedItems': FeedItemsSuccess} %}
                        </div>

                        <div id="tabs-feed-items-failed">
                            {% include 'reviewers/reviews/feed-item/table.twig' with {'FeedItems': FeedItemsFailed} %}
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <br>
            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Feed status'} %}
            {% if IsYoutubeChannel %}
                <div class="alert alert-info">
                    <strong>As you're submitting Youtube videos, you don't need to worry about this section</strong>.
                    Keep those reviews coming. We really appreciate everything you do! &hearts;
                </div>
            {% elseif PartnerFeed is empty %}
                <div class="alert alert-danger">
                    <strong>We don't have a feed for your site</strong>. This means your reviews won't be imported.
                    Get in touch and let's get things up and running.
                </div>
            {% elseif PartnerData.isLastReviewHistoric() %}
                <div class="alert alert-warning">
                    <strong>We haven't had any reviews from your site recently</strong>.
                    Have a look at the list we've imported and let us know if we've missed any.
                </div>
            {% else %}
                <div class="alert alert-info">
                    <strong>Your feed URL looks good!</strong> Keep those reviews coming. We really appreciate
                    everything you do! &hearts;
                </div>
                <div class="alert alert-success">
                    Have a look at your <a href="{{ route('reviewers.feed-health.landing') }}">feed health</a> status page
                    to see if we've had any issues importing your reviews.
                </div>
            {% endif %}

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <h2>Recent live reviews</h2>
            {% if SiteReviewsLatest %}
                <p>
                    There are the live reviews we've recently created for your site.
                    <a href="{{ route('reviewers.reviews.landing') }}" class="btn btn-sm btn-primary">View all &gt;</a>
                </p>
                {% if PartnerData.rating_scale != 10 %}
                    <p>
                        <small>
                            As your site does not rank games out of 10, we have converted all ratings to
                            the equivalent score out of 10.
                        </small>
                    </p>
                {% endif %}
                <table class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th class="text-left">Game</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Rating</th>
                        <th class="text-center">Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in SiteReviewsLatest %}
                        <tr>
                            <td class="text-left">
                                <a href="{{ route('reviewers.games.show', {'gameId': item.game.id}) }}">{{ item.game.title }}</a>
                            </td>
                            <td class="text-center">
                                {{ item.review_date }}
                            </td>
                            <td class="text-center">
                                {% include 'modules/rating/badge.twig' with {'score': item.rating_normalised, 'scoreSize': 'h5'} %}
                            </td>
                            <td class="text-center">
                                <a href="{{ item.url }}" target="_blank" title="Open review in a new tab">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    We have not yet imported any reviews for your site.
                </p>
            {% endif %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            {% include 'modules/tables/slick-header-spaced.twig' with {'titleText': 'Review campaigns'} %}
            <p>
                This is where we highlight games that we'd love to see reviews of next.
                This gets more of our database ranked. Pick a campaign and jump right in!
            </p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% include 'modules/campaigns/dashboard-block.twig' with {'SiteRole': 'reviewer'} %}
                </div>
            </div>

        </div>

    </div>

<script>
    $('#tabs').tabs();
</script>

{% endblock page_inner %}