{% if ReviewSites.count > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Name</th>
            <th>URLs</th>
            <th class="text-center">Rating scale</th>
            <th class="text-center">Active</th>
            <th class="text-center">Allow historic?</th>
            <th class="text-center">Match rule set?</th>
            <th class="text-center">Reviews</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ReviewSites %}
            <tr>
                <td class="text-center">
                    {{ item.id }}
                </td>
                <td>
                    <a href="{{ route('reviews.site', {'linkTitle': item.link_title}) }}" target="_blank">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <small>
                        Site: <a href="{{ item.website_url }}" target="_blank">{{ item.website_url }}</a>
                        {% if item.feed_url %}
                            <br>
                            Feed:
                            <a href="{{ item.feed_url }}" target="_blank">{{ item.feed_url }}</a>
                        {% endif %}
                    </small>
                </td>
                <td class="text-center">
                    {{ item.rating_scale }}
                </td>
                <td class="text-center">
                    {% if item.status == '1' %}
                        <div style="color: #009900; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-check"></i>
                        </div>
                    {% else %}
                        <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-times"></i>
                        </div>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.allow_historic_content == '1' %}
                        <div style="color: #009900; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-check"></i>
                        </div>
                    {% else %}
                        <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-times"></i>
                        </div>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.feed_url == '' %}
                        -
                    {% elseif item.title_match_rule_pattern != '' %}
                        <div style="color: #009900; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-check"></i>
                        </div>
                    {% else %}
                        <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-times"></i>
                        </div>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ route('admin.reviews.link.list') }}?siteId={{ item.id }}">View</a>
                </td>
                <td class="text-center">
                    <a href="{{ route('admin.reviews.site.edit', {'siteId': item.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No sites found!</p>
{% endif %}
