{% import 'ui/components/rating/badge.twig' as rating %}

{% if moduleMode == 'with-titles' %}
    <div class="row quick-reviews-title">
        <div class="col-md-12">
            <a href="{{ route('game.show', {'id': item.game.id, 'linkTitle': item.game.link_title}) }}">
                {{ item.game.title }}
            </a>
        </div>
    </div>
{% endif %}

<div class="row quick-reviews-header">
    <div class="col-md-4 col-sm-4 col-xs-4">
        {{ QuickReview.created_at|date('jS M Y') }}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        {{ QuickReview.user.display_name }}
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        {{ rating.score(QuickReview.review_score, 'h6', 'b3') }}
    </div>
</div>

<div class="row quick-reviews-body">
    <div class="col-md-12">
        {{ QuickReview.review_body|raw }}
    </div>
</div>
