{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Mario Maker levels'}] %}

{% block page_body %}

<p>
    Welcome to the Switch Scores Mario Maker levels page. Here, you can find levels created by our members.
</p>
{% if auth_user() is null %}
    <p>
        <strong>Not a member?</strong> It's quick and easy to sign up - just use your Twitter login.
        After logging in, you can add your levels from the Members dashboard.
    </p>
    <a href="{{ route('auth.login.twitter') }}">
        <img src="/img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" style="border: 0;">
    </a>
{% else %}
    <p>
        <a href="{{ route('user.mario-maker-levels.list') }}">See your levels and add more</a>.
    </p>
{% endif %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        {% if LevelList.count > 0 %}

            <table class="table data-sortable table-responsive">
                <thead>
                <tr>
                    <th class="text-left" style="max-width: 250px;">Details</th>
                    <th class="text-left">Game style</th>
                    <th class="text-center">Code</th>
                    <th class="text-center">Added</th>
                    <th class="text-left">Added by</th>
                </tr>
                </thead>
                <tbody>
                {% for item in LevelList %}
                    <tr>
                        <td class="text-left" style="max-width: 250px;">
                            <strong>{{ item.title }}</strong>
                            {% if item.description %}
                                <br>
                                {{ item.description }}
                            {% endif %}
                        </td>
                        <td class="text-left">
                            {{ item.getGameStyleDesc() }}
                        </td>
                        <td class="text-center">
                            {{ item.level_code }}
                        </td>
                        <td class="text-center">
                            {{ item.created_at|date('d M Y H:i') }}
                        </td>
                        <td class="text-left">
                            {{ item.user.display_name }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There aren't any levels yet! Come back soon!</p>
        {% endif %}

    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 1px solid #c9c9c9;">
    </div>
</div>

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [3, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_body %}