{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

{#
    <h2>Hey, {{ UserData.display_name }}!</h2>
    <p>
        We'd love to know how you're getting on with the Member dashboard.
        If you've got feedback or need help, you can tweet us via
        <a href="http://twitter.com/switchscores" target="_blank">@switchscores</a>.
        Follow us for the latest updates.
    </p>
#}
{#
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="alert alert-info">
                Check out our <a href="{{ route('lists.buyersGuideHoliday2024US') }}">Buyer's Guide - Holiday 2024 Edition</a>.
            </div>
        </div>
    </div>
#}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-4 col-md-4">
            <h2>Your details</h2>
            <table class="table">
                <tr>
                    <td>Display name</td>
                    <td>{{ UserData.display_name }}</td>
                </tr>
                <tr>
                    <td>Login method</td>
                    <td>
                        {% if UserData.twitter_user_id %}
                            Twitter
                        {% else %}
                            Email
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Points</td>
                    <td>{{ UserData.points_balance }}</td>
                </tr>
                <tr>
                    <td>Games in your collection</td>
                    <td>{{ TotalGames }}</td>
                </tr>
                <tr>
                    <td>Registered</td>
                    <td>{{ UserData.created_at|date('d M Y') }}</td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Quick links</h2>
            <table class="table">
                <tr>
                    <td>
                        <a href="{{ route('user.search-modular.find-game', {'searchMode': 'add-quick-review'}) }}">Add a quick review</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('user.quick-reviews.list') }}">View your quick reviews</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('user.search-modular.find-game', {'searchMode': 'add-collection-item'}) }}">Add a game to your collection</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ route('user.collection.landing') }}">View your collection</a>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Recent updates</h2>
            <table class="table">
                <tr>
                    <td>
                        9th Feb 2025: Added new category: <a href="{{ route('games.browse.byCategory.page', {'category': 'quiz'}) }}">Quiz</a>.
                    </td>
                </tr>
                <tr>
                    <td>
                        9th Feb 2025: Added new category: <a href="{{ route('games.browse.byCategory.page', {'category': 'bowling'}) }}">Bowling</a>.
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-4 col-md-4">

            {% if SiteRole == 'review-partner' %}
                <h2>Reviewers</h2>
                <p>
                    Find all the tools and stats for reviewers here.
                </p>
                <p>
                    <a href="{{ route('reviewers.index') }}" class="btn btn-sm btn-primary">Reviewers dashboard</a>
                </p>
            {% else %}
                <h2>Partners</h2>
                <p>
                    <strong>Got a website with Switch reviews?</strong>
                    You might be interested in joining as a review partner.
                    Partners have their reviews linked from Switch Scores.
                    Go to our <a href="{{ route('partners.landing') }}">Partners</a> page for
                    more details.
                </p>
            {% endif %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

        </div>

    </div>

{% endblock page_inner %}