{% extends 'theme/wos/member/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

    <div class="row">
        <div class="col-md-6">
            <h2>Welcome {{ auth_user().display_name }}</h2>
            <p>
                Got a question? Need help? Tweet us via
                <a href="http://twitter.com/worldofswitch" target="_blank">@worldofswitch</a>.
                You can also follow us for the latest updates.
            </p>
            <h3>Member navigation</h3>
            <ul>
                <li><a href="{{ route('user.collection.landing') }}">Games collection</a> - New!</li>
                <li><a href="{{ route('user.reviews.list') }}">My reviews</a></li>
                {% if auth_user().site_id != 0 %}
                <li><a href="{{ route('user.partner-reviews.list') }}">Partner reviews</a></li>
                {% endif %}
                <li><a href="{{ route('user.settings') }}">Settings</a></li>
            </ul>

        </div>
        <div class="col-md-6">

        </div>
    </div>

{% endblock page_inner %}