{% extends 'theme/wos/member/clean-wide.twig' %}

{% block page_inner %}

    <h2>Hey, {{ UserData.display_name }}!</h2>
    <p>
        We'd love to know how you're getting on with the Member dashboard.
        If you've got feedback or need help, you can tweet us via
        <a href="http://twitter.com/switchscores" target="_blank">@switchscores</a>.
        Follow us for the latest updates.
    </p>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-4 col-md-4">
            <h2>Your details</h2>
            <table class="table">
                <tr>
                    <td>Display name</td>
                    <td>{{ UserData.display_name }}</td>
                </tr>
                <tr>
                    <td>Login method</td>
                    <td>
                        {% if UserData.twitter_user_id %}
                            Twitter
                        {% else %}
                            Email
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Points</td>
                    <td>{{ UserData.points_balance }}</td>
                </tr>
                <tr>
                    <td>Registered</td>
                    <td>{{ UserData.created_at|date('d M Y') }}</td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Quick reviews</h2>
            <p>
                Tell other members what you think of a game by posting a quick review.
            </p>
            <p>
                <a href="{{ route('user.quick-reviews.add') }}" class="btn btn-sm btn-primary">Add a quick review</a>
                <a href="{{ route('user.quick-reviews.list') }}" class="btn btn-sm btn-primary">View your reviews</a>
            </p>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            {% if SiteRole == 'review-partner' %}
                <h2>Reviewers</h2>
                <p>
                    Find all the tools and stats for reviewers here.
                </p>
                <p>
                    <a href="{{ route('reviewers.index') }}" class="btn btn-sm btn-primary">Reviewers dashboard</a>
                </p>
            {% else %}
                <h2>Partners</h2>
                <p>
                    <strong>Got a website with Switch reviews?</strong>
                    You might be interested in joining as a review partner.
                    Partners have their reviews linked from Switch Scores.
                    Go to our <a href="{{ route('partners.landing') }}">Partners</a> page for
                    more details.
                </p>
            {% endif %}

        </div>

    </div>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Games collection</h2>

            <p>
                We've refreshed the Games collection -
                <a href="{{ route('user.collection.landing') }}">check it out</a>.
            </p>

            <table class="table">
                <tr>
                    <td>Games in your collection</td>
                    <td>{{ TotalGames }}</td>
                </tr>
                <tr>
                    <td>Hours logged</td>
                    <td>{{ TotalHours }}</td>
                </tr>
            </table>

            <a href="{{ route('user.collection.add') }}" class="btn btn-sm btn-primary">Add a game</a>
            <a href="{{ route('user.collection.landing') }}" class="btn btn-sm btn-primary">View your collection</a>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>
                Review campaigns
            </h2>
            <p>
                This is where we highlight games that we'd love to see reviews of next.
                This gets more of our database ranked. Pick a campaign and jump right in!
            </p>
            {% include 'modules/campaigns/dashboard-block.twig' with {'SiteRole': 'user'} %}

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">

            <h2>Database help</h2>
            <p>
                We're building this section so you can do your bit to improve our database.
            </p>
            <table class="table">
                <tr>
                    <td>
                        <a href="{{ route('user.database-help.games-without-categories') }}">Games without categories</a>
                    </td>
                    <td>
                        <a href="{{ route('user.database-help.games-without-categories') }}" class="h4">{{ NoCategoryCount }}</a>
                    </td>
                </tr>
            </table>
            <p>
                <a href="{{ route('user.database-help.index') }}">View all Database help links</a>.
            </p>

        </div>

    </div>

    {#
    <div class="row member-dashboard">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <p>
                <strong>Thanks for being one of our partners!</strong>
                Being a partner means you can view details of all of your Switch games.
                We're working on additional features to help manage your games catalogue and reach out to
                review partners. More on this soon.
            </p>
            <p>
                Want to update your details? Got a question? Need help? Contact Ben via
                <a href="mailto:ben@switchscores.com">ben@switchscores.com</a>.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            {% include 'modules/user/dashboard/games-company-infobox.twig' %}
        </div>
    </div>

    {% include 'user/dashboard/games-company.twig' with {'AuthUser': auth_user()} %}
    #}

{% endblock page_inner %}