{% include 'common/form-errors.twig' %}
{% import "macros/blocks/games/components/packshots.twig" as gamepackshots %}
{% if FormMode != 'add' %}
<p>
    If you don't own this game anymore, or you added it in error, you can delete it.
    You can easily add a new game to your collection instead.
</p>
{% endif %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    {% if FormMode == 'add' %}
        <input type="hidden" id="game_id" name="game_id" value="{{ UrlGameId }}">
    {% endif %}
    <fieldset>
        <legend>Basic details</legend>
        <div class="form-group">
            <label for="game_id" class="col-md-4 control-label">Game</label>
            <div class="col-md-6">
                {{ CollectionGame.title }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Play status</label>
            <div class="col-md-6">
                {% for item in PlayStatusList %}
                    <input id="play_status_{{ item.id }}" name="play_status" value="{{ item.id }}" type="radio">
                    <label for="play_status_{{ item.id }}" style="margin: 10px 0;">
                        <i class="fas fa-{{ item.icon }}" style="color: {{ item.iconColor }}; font-size: 24px;"></i>
                        {{ item.desc }}
                    </label>
                    <br>
                {% endfor %}
            </div>
            <div class="col-md-2">
                {{ gamepackshots.square(CollectionGame) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Optional extras</legend>
        <div class="form-group">
            <label class="col-md-4 control-label">Owned type</label>
            <div class="col-md-6">
                <input id="owned_type_none" name="owned_type" value="" type="radio">
                <label for="owned_type_none">
                    Not specified
                </label>
                <br>
                <input id="owned_type_digital" name="owned_type" value="Digital" type="radio">
                <label for="owned_type_digital">
                    Digital
                </label>
                <br>
                <input id="owned_type_physical" name="owned_type" value="Physical" type="radio">
                <label for="owned_type_physical">
                    Physical
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="owned_from" class="col-md-4 control-label">Owned from</label>
            <div class="col-md-6">
                <input id="owned_from" type="date" class="form-control" name="owned_from">
                <p>
                    <small>
                        The date that you got this game. Leave blank if you're not sure.
                    </small>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="hours_played" class="col-md-4 control-label">Hours played</label>
            <div class="col-md-6">
                <input id="hours_played" type="text" class="form-control" name="hours_played">
                <p>
                    <small>
                        The number of hours you've played this game for. You can find this on the Switch itself -
                        go to your profile and you'll see a list of times.
                    </small>
                </p>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
