{% extends 'theme/wos/member/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-md-12">
        <p>
            Welcome to your Switch games collection. Get started by clicking "Add a game".
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a game">
    </div>
</div>

<hr>

<div class="row">

    <div class="col-sm-12 col-md-9">

        <div id="tabs">

            <ul>
                {% for item in UserPlayStatusList %}
                    <li>
                        <a href="#tabs-{{ item.PlayStatus.getId }}">
                        <i class="fas fa-{{ item.PlayStatus.getIcon }}" style="background: #efefef; color: {{ item.PlayStatus.getIconColor }}; font-size: 24px;"></i>
                        ({{ item.ListItems|length }})
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% for item in UserPlayStatusList %}
                <div id="tabs-{{ item.PlayStatus.getId }}">
                    {% include 'modules/user/collection/table.twig' with {
                        'ListTitle': item.PlayStatus.getDesc, 'PlayStatus': item.PlayStatus, 'CollectionList': item.ListItems, 'AsRole': 'user'}
                    %}
                </div>
            {% endfor %}

        </div>

    </div>

    <div class="col-sm-12 col-md-3">

        <h3>Collection stats</h3>
        {% include 'modules/user/collection/stats.twig' with {'CollectionStats': CollectionStats} %}

    </div>

</div>

<script>

    $('#tabs').tabs();

    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('user.collection.add') }}';
    });

    $('.js-remove-collection-item').on('click', function() {
        itemId = $(this).data('content');

        if (itemId == '') {
            return false;
        }

        if (!window.confirm('Remove this game from your collection?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('/user/collection/delete', {itemId: itemId}, function(data) {
            $('#js-collection-row-' + itemId).remove();
            return false;
        });
    });

</script>

{% endblock page_inner %}