{% extends 'theme/wos/member/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-md-12">
        <p>
            Welcome to your Switch games collection. Get started by clicking "Add a game".
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a game">
    </div>
</div>

<hr>

<div class="row">

    <div class="col-sm-12 col-md-9">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-now-playing">Now playing ({{ CollectionNowPlaying|length }})</a></li>
                <li><a href="#tabs-paused">Paused - will return ({{ CollectionPaused|length }})</a></li>
                <li><a href="#tabs-not-started">Not started ({{ CollectionNotStarted|length }})</a></li>
                <li><a href="#tabs-abandoned">Abandoned ({{ CollectionAbandoned|length }})</a></li>
                <li><a href="#tabs-completed">Completed ({{ CollectionCompleted|length }})</a></li>
            </ul>

            <div id="tabs-now-playing">
                {% include 'modules/user/collection/table.twig' with {'ListTitle': 'Now playing', 'CollectionList': CollectionNowPlaying, 'AsRole': 'user'} %}
            </div>
            <div id="tabs-paused">
                {% include 'modules/user/collection/table.twig' with {'ListTitle': 'Paused - will return', 'CollectionList': CollectionPaused, 'AsRole': 'user'} %}
            </div>
            <div id="tabs-not-started">
                {% include 'modules/user/collection/table.twig' with {'ListTitle': 'Not started', 'CollectionList': CollectionNotStarted, 'AsRole': 'user'} %}
            </div>
            <div id="tabs-abandoned">
                {% include 'modules/user/collection/table.twig' with {'ListTitle': 'Abandoned', 'CollectionList': CollectionAbandoned, 'AsRole': 'user'} %}
            </div>
            <div id="tabs-completed">
                {% include 'modules/user/collection/table.twig' with {'ListTitle': 'Completed', 'CollectionList': CollectionCompleted, 'AsRole': 'user'} %}
            </div>

        </div>

    </div>

    <div class="col-sm-12 col-md-3">

        <h3>Collection stats</h3>
        {% include 'modules/user/collection/stats.twig' with {'CollectionStats': CollectionStats} %}

    </div>

</div>

<script>

    $('#tabs').tabs();

    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('user.collection.add') }}';
    });

    $('.js-remove-collection-item').on('click', function() {
        itemId = $(this).data('content');

        if (itemId == '') {
            return false;
        }

        if (!window.confirm('Remove this game from your collection?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('/user/collection/delete', {itemId: itemId}, function(data) {
            $('#js-collection-row-' + itemId).remove();
            return false;
        });
    });

</script>

{% endblock page_inner %}