{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a site">
{% if ReviewSites.count > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Active</th>
                <th>Rating scale</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ReviewSites %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
                    </td>
                    <td>
                        {{ item.active }}
                    </td>
                    <td>
                        {{ item.rating_scale }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No sites found!</p>
{% endif %}

<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.reviews.site.add') }}';
    });
</script>

{% endblock page_inner %}
