{% macro noHero(GameList, batchOverride = 0, mode = 'default') %}
    {#
        modes: no-price
    #}
    {% import "macros/_includes/row-break.twig" as rowbreak %}
    {# Concatenate an empty string to force conversion to plain string #}
    {% set batchItemCountStr = "" ~ rowbreak.batchItemCount(batchOverride) %}
    {% set batchItemCount = batchItemCountStr|trim + 0 %}

    {% set colBreakStr = "" ~ rowbreak.colBreak(batchItemCount) %}
    {% set colBreak = colBreakStr|trim %}

    {% if GameList|length %}
        {% for item in GameList|batch(batchItemCount, null) %}
            <div class="row">
                {% for batchItem in item %}
                    <div class="col-sm-12 col-md-{{ colBreak }} col-lg-{{ colBreak }}">
                        {{ _self.layoutItem(batchItem, mode) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No games to display.</p>
    {% endif %}
{% endmacro %}

{% macro layoutItem(item, mode) %}
    {% import "macros/blocks/games/components/packshots.twig" as gamepackshots %}
    {% import "macros/blocks/games/components/release-date.twig" as gamereleasedate %}
    {% import "macros/blocks/games/components/price.twig" as gameprice %}
    {% import "macros/blocks/games/components/rating.twig" as gamerating %}
    <div class="row" style="margin-top: 8px;">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-right: 0;">
            {{ gamepackshots.square(item) }}
            {% if item.ExtraDetailLine %}
                <div class="label label-info theme-colour-1" style="display: block; margin-top: 1px;">
                    {{ item.ExtraDetailLine }}
                </div>
            {% endif %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <span class="h6">
                        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
                            {{ item.title }}
                        </a>
                    </span>
                    <br>
                    <small>
                        {{ gamereleasedate.standard(item) }}
                    </small>
                    {% if mode != 'no-price' and item.format_digital != 'De-listed' %}
                        {{ gameprice.standard(item, 'small') }}
                    {% endif %}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0;">
                    {{ gamerating.circular(item) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {% if item.format_digital == 'De-listed' %}
                        <span class="label label-warning" style="font-size: 10px;">De-listed</span>
                    {% elseif item.is_low_quality == 1 %}
                        <span class="label label-danger" style="font-size: 10px;">Low quality</span>
                    {% elseif item.rating_avg %}
                        {% if item.game_rank %}
                            <!-- Do nothing -->
                        {% elseif item.eu_is_released == 1 %}
                            <small>{{ item.review_count }}/3 reviews</small>
                        {% endif %}
                    {% elseif item.eu_is_released == 1 %}
                        <small>{{ item.review_count }}/3 reviews</small>
                    {% endif %}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                </div>
            </div>
        </div>

    </div>
{% endmacro %}
