{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'url': route('admin.action-lists.landing'), 'text': 'Action lists'}, {'text': PageTitle}] %}

{% block page_inner %}

{% if ItemList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th class="text-left">Source</th>
                <th class="text-left">Detail</th>
                <th class="text-center">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ItemList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        {{ item.source }}
                    </td>
                    <td class="text-left">
                        {{ item.detail }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No records found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    var regionCode = '{{ RegionCode }}';
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                { "orderable": false },
                { "orderable": false },
                null
            ]
        });
    });
</script>

{% endblock page_inner %}
