{% extends 'theme/staff-b5/layout-default.twig' %}
{% import "ui/components/headings/heading.twig" as heading %}
{% import 'ui/components/table/row-link-stat.twig' as rowstat %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        {{ heading.renderSlick('Tools') }}
        <br>
        <a href="{{ route('staff.news.add') }}" class="btn outline btn-primary">Add news</a>
        <br>
        <br>
        <a href="{{ route('staff.news.bucket', {bucket: 'has-2-reviews'}) }}" class="btn outline btn-primary">Buckets: Has 2 reviews</a>
        <br>
        <br>
        <a href="{{ route('staff.news.generate', { bucket: 'has-2-reviews', limit: 10 }) }}" class="btn outline btn-primary">Generate draft: Has 2 reviews</a>
        <br>
        <br>

        {{ heading.renderSlick('Navigation') }}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.news.list')}}">View news list</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.category.list') }}">Manage categories</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock page_inner %}
