{% extends 'theme/staff-b5/layout-default.twig' %}
{% import "ui/components/headings/heading.twig" as heading %}
{% import 'ui/components/table/row-link-stat.twig' as rowstat %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        {{ heading.renderSlick('Write') }}
        <br>
        <a href="{{ route('staff.news.add') }}" class="btn outline btn-primary">+ Add news</a>
        <br>
        <br>

        {{ heading.renderSlick('Generate news content') }}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateBucketDraft', { bucket: 'has-2-reviews', limit: 10 }) }}">Generate bucket draft: Has 2 reviews</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2018' }) }}">Generate custom draft: Top Rated, Switch 1, 2018</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2019' }) }}">Generate custom draft: Top Rated, Switch 1, 2019</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2020' }) }}">Generate custom draft: Top Rated, Switch 1, 2020</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2021' }) }}">Generate custom draft: Top Rated, Switch 1, 2021</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2022' }) }}">Generate custom draft: Top Rated, Switch 1, 2022</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2023' }) }}">Generate custom draft: Top Rated, Switch 1, 2023</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2024' }) }}">Generate custom draft: Top Rated, Switch 1, 2024</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-1-2025' }) }}">Generate custom draft: Top Rated, Switch 1, 2025</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.generateCustomDraft', { contentType: 'top-rated-switch-2-2025' }) }}">Generate custom draft: Top Rated, Switch 2, 2025</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {{ heading.renderSlick('Navigation') }}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.news.list')}}">View news list</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.news.category.list') }}">Manage categories</a>
                </td>
            </tr>
            </tbody>
        </table>

        {{ heading.renderSlick('Buckets') }}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.news.bucket', {bucket: 'has-2-reviews'}) }}">Buckets: Has 2 reviews</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock page_inner %}
