{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<a href="{{ route('staff.news.add') }}" class="btn outline btn-primary">Add news</a>
<hr>

{% if NewsList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th>Category</th>
                <th class="text-center">Game id</th>
                <th class="text-center">Image</th>
                <th class="text-center">Added</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in NewsList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    </td>
                    <td>
                        {{ item.category.name }}
                    </td>
                    <td class="text-center">
                        {% if item.game.id is null %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% else %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.custom_image_url is null %}
                            <div style="color: #cc0000; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-times"></i>
                            </div>
                        {% else %}
                            <div style="color: #009900; font-size: 18px; font-weight: bold;">
                                <i class="fas fa-check"></i>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.news.edit', {'newsId': item.id}) }}">Edit</a> :
                        <a href="{{ route('staff.news.delete', {'newsId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No news items found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
