{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="pull-right">
            <label for="admin-nav-status-filter">Filter by status:</label>
            <select id="admin-nav-status-filter" name="admin-nav-status-filter" class="form-control">
                <option value="">All</option>
                {% for item in QuickReviewStatusList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<hr>
{% if QuickReviewList.count > 0 %}

    <table class="table data-sortable">
        <thead>
        <tr>
            <th class="text-right">#</th>
            <th class="text-left">Game</th>
            <th class="text-center">Date</th>
            <th class="text-center">Score</th>
            <th class="text-center">Status</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in QuickReviewList %}
            <tr>
                <td class="text-right">
                    {{ item.id }}
                </td>
                <td class="text-left">
                    {% include 'modules/game/table/staff-game-title.twig' with {'item': item.game} %}
                    <br>
                    <small>
                        Submitted by <a href="{{ route('owner.user.view', {'userId': item.user.id}) }}">{{ item.user.display_name }}</a>
                    </small>
                </td>
                <td class="text-center">
                    {{ item.created_at }}
                </td>
                <td class="text-center">
                    {{ item.review_score }}
                </td>
                <td class="text-center">
                    {{ item.getStatusDesc() }}
                </td>
                <td class="text-center">
                    <a href="{{ route('staff.reviews.quick-reviews.edit', {'reviewId': item.id}) }}">Edit</a> :
                    <a href="{{ route('staff.reviews.quick-reviews.delete', {'reviewId': item.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No reviews found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    $('#admin-nav-status-filter').on('change', function() {
        selectedStatusFilter = $(this).val();
        top.location.href = '{{ route('staff.reviews.quick-reviews.list')}}?filterStatus=' + selectedStatusFilter;
    });
    $(document).ready(function() {
        var activeStatusId = '{{ FilterStatus }}';
        $('#admin-nav-status-filter').val(activeStatusId);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
