{% macro render(item, mode='default', hero=false, withConsole=false) %}
    {% import "ui/components/game/packshots.twig" as gamepackshots %}
    {% import "ui/components/game/release-date.twig" as gamereleasedate %}
    {% import "ui/components/game/price.twig" as gameprice %}
    {% import "ui/components/game/rating.twig" as gamerating %}
    {% import "ui/components/game/console-banner.twig" as gameconsolebanner %}

    {% if hero == 'hero' %}
        {% set titleSize = 'h4' %}
        {% set subSize = 'h5' %}
    {% else %}
        {% set titleSize = 'h5' %}
        {% set subSize = 'h6' %}
    {% endif %}

    {% if withConsole == 1 %}
        {{ gameconsolebanner.show(item) }}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {{ gamepackshots.header(item) }}
            </div>
        </div>
    {% else %}
        <div class="row" style="margin-top: 16px;">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {{ gamepackshots.header(item) }}
            </div>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 8px;">

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <span class="{{ titleSize }}">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
        </span>
            {% if item.is_low_quality == 1 %}
                <br>
                <span class="label label-danger" style="font-size: 10px;">Low quality</span>
            {% endif %}
            {% if mode != 'show-date-icons' %}
                <br>
                {{ gamereleasedate.standard(item, subSize) }}
            {% endif %}
            {% if item.ExtraDetailLine != '' %}
                <br>
                <span class="{{ subSize }}">
                {{ item.ExtraDetailLine }}
                </span>
            {% endif %}
            {% if mode != 'show-date-icons' and mode != 'no-price' %}
                {{ gameprice.standard(item) }}
            {% endif %}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% if mode == 'show-date-icons' %}
                <div class="cal" style="width: 100%;">
                    <div class="month">{{ item.eu_release_date|date('M') }}</div>
                    <div class="date">{{ item.eu_release_date|date('j') }}</div>
                </div>
            {% else %}
                <div class="pull-right">
                    {{ gamerating.standard(item) }}
                </div>
            {% endif %}
        </div>

    </div>
{% endmacro %}
