{% macro header(item) %}
    {% import 'ui/components/image/resolve.twig' as image %}
    {% set boxartUrl = image.header(item)|trim %}
    <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
        {% if boxartUrl %}
            <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
        {% else %}
            <img src="/img/placeholder/no-image-found-wide.png" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
        {% endif %}
    </a>
{% endmacro %}

{% macro square(item) %}
    {% import 'ui/components/image/resolve.twig' as image %}
    {% set boxartUrl = image.square(item)|trim %}
    <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
        {% if boxartUrl %}
            <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
        {% else %}
            <img src="/img/placeholder/no-image-found-square.png" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
        {% endif %}
    </a>
{% endmacro %}

{% macro squareReleaseHub(item) %}
    {% import 'ui/components/image/resolve.twig' as image %}
    {% set boxartUrl = image.square(item)|trim %}
    <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
        {% if boxartUrl %}
            <img src="{{ boxartUrl }}" class="img-thumbnail me-2 align-middle" style="border: 0; width: 75px; height: auto;" alt="{{ item.title }}">
        {% else %}
            <img src="/img/placeholder/no-image-found-square.png" class="img-thumbnail me-2 align-middle" style="border: 0; width: 75px; height: auto;" alt="{{ item.title }}">
        {% endif %}
    </a>
{% endmacro %}