<table class="table table-responsive">
    <tbody>
    {% for item in CollectionStats %}
        <tr>
            <td class="text-left" style="vertical-align: middle;">
                {% if item.title is defined %}
                    {{ item.title }}
                {% else %}
                    <i class="fas fa-{{ item.playStatus.getIcon }}" style="color: {{ item.playStatus.iconColor }}; font-size: 24px;"></i>
                    {{ item.playStatus.getDesc }}
                {% endif %}
            </td>
            <td class="text-right" style="vertical-align: middle;">{{ item.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
