{% if PlayStatus is defined %}
    <h2>
        <i class="fas fa-{{ PlayStatus.getIcon }}" style="color: {{ PlayStatus.getIconColor }}; font-size: 24px;"></i>
        {{ ListTitle }}
    </h2>
{% endif %}
{% if CollectionList.count > 0 %}

    <div class="table-responsive">
        <table class="table data-sortable">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-left">Game</th>
                {% if PlayStatus is not defined %}
                    <th class="text-left">
                        Play status
                    </th>
                {% endif %}
                <th class="text-center">
                    Players
                </th>
                <th class="text-center">
                    <abbr title="The date when you bought the game or when it was given to you.">Owned<br>from</abbr>
                </th>
                <th class="text-center">
                    <abbr title="Whether you own a digital or physical version of the game.">Type</abbr>
                </th>
                <th class="text-center">
                    <abbr title="The number of hours you've played the game for.">Hours played</abbr>
                </th>
                <th class="text-center">
                    Review
                </th>
                <th class="text-center">
                    Options
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in CollectionList %}
                {% set RowGameId = item.game.id %}
                <tr id="js-collection-row-{{ item.id }}">
                    <td class="text-center">{{ item.id }}</td>
                    <td class="text-left">
                        <a href="{{ game_url(item.game) }}" target="_blank">{{ item.game.title }}</a>
                    </td>
                    {% if PlayStatus is not defined %}
                        <td class="text-left" style="vertical-align: middle;">
                            {% set playStatusItem = item.getPlayStatus(item.play_status) %}
                            <i class="fas fa-{{ playStatusItem.getIcon }}" style="color: {{ playStatusItem.iconColor }}; font-size: 24px;"></i>
                            {{ playStatusItem.getDesc }}
                        </td>
                    {% endif %}
                    <td class="text-center">
                        {{ item.game.players }}
                    </td>
                    {% if item.owned_from %}
                        <td class="text-center">
                            {{ item.owned_from }}
                        </td>
                    {% else %}
                        <td class="text-center" style="background: #c9c9c9; color: #000;">
                            Not set!
                        </td>
                    {% endif %}
                    {% if item.owned_type %}
                        <td class="text-center">
                            {{ item.owned_type }}
                        </td>
                    {% else %}
                        <td class="text-center" style="background: #c9c9c9; color: #000;">
                            Not set!
                        </td>
                    {% endif %}
                    {% if item.hours_played %}
                        <td class="text-center">
                            {{ item.hours_played }}
                        </td>
                    {% else %}
                        <td class="text-center" style="background: #c9c9c9; color: #000;">
                            Not set!
                        </td>
                    {% endif %}
                    <td class="text-center">
                        {% if AsRole == 'user' %}
                            {% if RowGameId in QuickReviewGameIdList %}
                                <em>Review added</em>
                            {% else %}
                                <a href="{{ route('user.quick-reviews.add', {'gameId': RowGameId}) }}">Add review</a>
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if AsRole == 'user' %}
                            <a href="{{ route('user.collection.edit', {'itemId': item.id}) }}">Edit</a> :
                            <a href="javascript:void(0);" class="js-remove-collection-item" data-content="{{ item.id }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {% if AsRole == 'user' %}
        <p>No games to show in this list!</p>
    {% else %}
        <p>This user's games collection is empty.</p>
    {% endif %}
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>