{% if SourcePage == 'member-dashboard' %}
    <h2>Infobox</h2>
{% endif %}
<table class="table table-condensed table-responsive">
    <tr>
        <td>
            <span style="font-weight: bold;">Site URL</span>
        </td>
        <td>
            <a href="{{ PartnerData.website_url }}" target="_blank">{{ PartnerData.website_url }}</a>
        </td>
    </tr>
    {% if PartnerData.twitter_id %}
    <tr>
        <td>
            <span style="font-weight: bold;">Twitter ID</span>
        </td>
        <td>
            <a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">Review count</span>
        </td>
        <td>{{ PartnerData.review_count }}</td>
    </tr>
    {% if SourcePage == 'member-dashboard' %}
        <tr>
            <td>
                <span style="font-weight: bold;">Site profile page</span>
            </td>
            <td>
                <a href="{{ route('partners.review-sites.siteProfile', {'linkTitle': PartnerData.link_title}) }}" target="_blank">Click to view</a>
            </td>
        </tr>
    {% endif %}
</table>
