{% import 'ui/components/form/submit.twig' as formsubmit %}

{% include 'common/form-errors.twig' %}
<form role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Site</label>
        <div class="col-sm-4">
            <div class="form-text">{{ ReviewDraftData.site.name }}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="game_id" class="col-md-2 col-form-label">Linked to game</label>
        <div class="col-sm-4">
            {% if ReviewDraftData.game.id %}
                <small>{{ ReviewDraftData.game.title }}</small>
            {% else %}
                <strong>Not linked</strong>
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <label for="game_id" class="col-md-2 col-form-label">Change game</label>
        <div class="col-sm-4">
            <select id="game_id" class="form-select" name="game_id">
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label for="item_rating" class="col-md-2 col-form-label">Rating</label>
        <div class="col-sm-2">
            <input id="item_rating" name="item_rating" type="text" class="form-control">
        </div>
        <div class="col-sm-2">
            <div class="form-text">
                <span class="h4">/{{ ReviewDraftData.site.rating_scale }}</span>
            </div>
        </div>
    </div>
    {% if ReviewDraftData.site.rating_scale != 10 %}
        <div class="row mb-3">
            <div class="col-md-2">

            </div>
            <div class="col-sm-4">
                <div class="form-text">
                    This score will be converted to a rating out of 10 when the
                    review is generated.
                </div>
            </div>
        </div>
    {% endif %}

    <hr>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Item title</label>
        <div class="col-sm-4">
            <div class="form-text">{{ ReviewDraftData.item_title }}</div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Item URL</label>
        <div class="col-sm-4">
            <div class="form-text">
                <a href="{{ ReviewDraftData.item_url }}" target="_blank">{{ ReviewDraftData.item_url }}</a>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Item date</label>
        <div class="col-sm-4">
            <div class="form-text">{{ ReviewDraftData.item_date }}</div>
        </div>
    </div>

    <hr>

    <div class="row mb-3">
        <label for="process_status" class="col-md-2 col-form-label">Process status</label>
        <div class="col-sm-4">
            <select id="process_status" name="process_status" class="form-select">
                <option value="">(No value)</option>
                <optgroup label="Success:">
                    {% for item in ProcessStatusSuccess %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Failure:">
                    {% for item in ProcessStatusFailure %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <div class="form-text">
                Where possible, this will be filled in automatically. You can also manually select an option
                to stop this item from being processed. Or, you can clear the option if a previously skipped item
                should be reprocessed.
            </div>
        </div>
    </div>

    <hr>

    {{ formsubmit.renderB5() }}
</form>
