{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<a href="{{ route('staff.categorisation.game-series.add') }}" class="btn outline btn-primary">Add a series</a>
<br>
<br>

{% if GameSeriesList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th>Game series</th>
                <th class="text-center">Game count</th>
                <th class="text-center">View</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameSeriesList %}
                <tr>
                    <td class="text-end">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.series }}
                    </td>
                    <td class="text-center">
                        {{ item.games().count }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.list.showList', { 'listType': 'by-series', 'param1': item }) }}">View games</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.categorisation.game-series.edit', {'seriesId': item.id}) }}">Edit</a>
                        {% if item.games().count == 0 %}
                            : <a href="{{ route('staff.categorisation.game-series.delete', {'seriesId': item.id}) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No game series found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_inner %}
