{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'public/topRated/navTopLinks.twig' with {'currentNav': 'btn-nav-landing'} %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            This page lists the top rated Nintendo Switch games split across a few categories.
            You can see the Top 100 games by year of release (in Europe), and the Top 100 since the Switch launched.
        </p>
        <p>
            Ratings are calculated from the reviews we store from our carefully selected review partners.
            Games need to have at least 3 ratings to be included in these lists.
        </p>
    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <h2>
            Top Switch games {{ Year }}
            <span class="h4">(<a href="{{ route('topRated.byYear', {'year': Year}) }}">view all</a>)</span>
        </h2>
        {% if TopRatedThisYear|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedThisYear, 'batchOverride': 1} %}
        {% else %}
            <p>No Top Rated games this year... yet. It's early days. Come back soon for more!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="border-left: 1px solid #cecece;">
        <h2>
            Top Switch games {{ LastYear }}
            <span class="h4">(<a href="{{ route('topRated.byYear', {'year': LastYear}) }}">view all</a>)</span>
        </h2>
        {% if TopRatedLastYear|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedLastYear, 'batchOverride': 1} %}
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="border-left: 1px solid #cecece;">
        <h2>
            All-time top Switch games
            <span class="h4">(<a href="{{ route('topRated.allTime') }}">view all</a>)</span>
        </h2>
        {% if TopRatedAllTime|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedAllTime, 'batchOverride': 1} %}
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>

</div>

{% endblock page_body %}
