<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <a id="btn-nav-landing" class="btn btn-sm btn-default" href="{{ route('topRated.landing') }}">Top rated home</a>
        <a id="btn-nav-all-time" class="btn btn-sm btn-default" href="{{ route('topRated.allTime') }}">All-time</a>
        {% for rYear in releaseYears %}
            <a id="btn-nav-{{ rYear }}" class="btn btn-sm btn-default" href="{{ route('topRated.byYear', {'year': rYear}) }}">{{ rYear }}</a>
        {% endfor %}
        <a id="btn-nav-multiplayer" class="btn btn-sm btn-default" href="{{ route('topRated.multiplayer', {'year': 2017}) }}">Multiplayer</a>

    </div>

</div>
<br>

<script>
    var currentNav = '{{ currentNav }}';
    if (currentNav != '') {
        $('#' + currentNav).addClass('btn-primary');
    }
</script>