{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6">

                {% for thisYear in AllowedYears %}
                    {% set yearList = attribute(_context, 'NewsDbUpdateList'~thisYear) %}
                    {% if yearList|length %}
                        <h3>{{ thisYear }}</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-left">Week</th>
                                <th class="text-center">Standard games</th>
                                <th class="text-center">Low quality games</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in yearList %}
                            <tr>
                                <td class="text-left">
                                    <a href="{{ route('news.databaseUpdates', {'year': thisYear, 'week': item.news_db_week}) }}">
                                        Week {{ item.news_db_week }}, starting {{ DateHelper.firstDayOfWeek(thisYear, item.news_db_week).format('j M') }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{ item.game_count_standard }}
                                </td>
                                <td class="text-center">
                                    {{ item.game_count_low_quality }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <ul>
                        </ul>
                    {% endif %}
                {% endfor %}

            </div>

        </div>

    </div>

</div>

{% endblock page_body %}
