{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="{{ route('staff.reviews.campaigns.add') }}" class="btn outline btn-primary">Add a campaign</a>
    </div>
</div>

<hr>
{% if CampaignsList.count > 0 %}
    <table class="table data-sortable">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-left">Name</th>
            <th class="text-center">Games</th>
            <th class="text-center">Progress</th>
            <th class="text-center">Active?</th>
            <th class="text-center">Created</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in CampaignsList %}
            <tr>
                <td class="text-center" style="vertical-align: middle;">
                    {{ item.id }}
                </td>
                <td class="text-left" style="vertical-align: middle;">
                    {{ item.name }}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {{ item.games.count }}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <div style="background: #666; padding: 0px;">
                        <div style="background: #0c0; color: #fff; font-weight: bold; padding: 6px; width: {{ item.progress }}%">
                            {{ item.progress }}%
                        </div>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {{ item.is_active }}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {{ item.created_at }}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <a href="{{ route('staff.reviews.campaigns.edit', {'campaignId': item.id}) }}">Edit</a> :
                    <a href="{{ route('staff.reviews.campaigns.editGames', {'campaignId': item.id}) }}">Edit games</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No review links found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
