{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a review link">
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="pull-right">
            <label for="admin-nav-site-filter">Filter by site:</label>
            <select id="admin-nav-site-filter" name="admin-nav-site-filter" class="form-control">
                <option value="">All reviews</option>
                {% for item in ReviewSites %}
                    <option value="{{ item.id }}">{% if item.active == 'N' %}[INACTIVE]{% endif %} {{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

{#
<div class="pull-right">
    <a id="admin-nav-all" class="btn btn-default" href="{{ route('admin.reviews.link.list') }}">All</a>
    <a id="admin-nav-no-date" class="btn btn-default" href="{{ route('admin.reviews.link.list', {'filter': 'no-date'}) }}">No date</a>
</div>
#}
<hr>
{% if ReviewLinks.count > 0 %}
    <div class="alert alert-warning" role="alert">
        If you've added any reviews or edited the ratings, don't forget to run
        <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'UpdateGameRanks'}) }}">Update Game Ranks</a>
        when you're done.
    </div>
    {% if TableLimit is defined %}
        <div class="alert alert-warning" role="alert">
            Page is limited to {{ TableLimit }} review links to minimise performance issues. You can filter by site to see
            all review links associated with that site.
        </div>
    {% endif %}

    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th class="text-left">Game</th>
                <th class="text-left">Site</th>
                <th class="text-center">Date</th>
                <th class="text-center">Link</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Original</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ReviewLinks %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        <a href="{{ LinkHelper.gameShow(item.game) }}" target="_blank">{{ item.game.title }}</a>
                    </td>
                    <td class="text-left">
                        {{ item.site.name }}
                    </td>
                    <td class="text-center">
                        {{ item.review_date }}
                    </td>
                    <td class="text-center">
                        <a href="{{ item.url }}" target="_blank">View</a>
                    </td>
                    <td class="text-center">
                        {{ item.rating_normalised }}
                    </td>
                    <td class="text-center">
                        {% if item.rating_original != item.rating_normalised %}
                            {{ item.rating_original }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.reviews.link.edit', {'linkId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No review links found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.reviews.link.add') }}';
    });
    $('#admin-nav-site-filter').on('change', function() {
        selectedSiteFilter = $(this).val();
        top.location.href = '{{ route('admin.reviews.link.list')}}?siteId=' + selectedSiteFilter;
    });
    $(document).ready(function() {
        var activeSiteId = '{{ ActiveSiteId }}';
        $('#admin-nav-site-filter').val(activeSiteId);
        //$('#admin-nav-' + activeNav).addClass('btn-primary');
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
