{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a review link">
<hr>
{% if ReviewLinks.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th class="text-left">Game</th>
                <th class="text-left">Site</th>
                <th class="text-center">Date</th>
                <th class="text-center">Link</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Original</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ReviewLinks %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        {{ item.game.title }}
                    </td>
                    <td class="text-left">
                        {{ item.site.name }}
                    </td>
                    <td class="text-center">
                        {{ item.review_date }}
                    </td>
                    <td class="text-center">
                        <a href="{{ item.url }}" target="_blank">View</a>
                    </td>
                    <td class="text-center">
                        {{ item.rating_normalised }}
                    </td>
                    <td class="text-center">
                        {% if item.rating_original != item.rating_normalised %}
                            {{ item.rating_original }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.reviews.link.edit', {'linkId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No review links found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.reviews.link.add') }}';
    });
    $(document).ready(function() {
        //var activeNav = '{{ ActiveNav }}';
        //$('#admin-nav-' + activeNav).addClass('btn-primary');
        $('.data-sortable').DataTable({
            "order": [[ 0, 'desc']],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
