{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('topRated.landing'), 'text': 'Top Rated'}, {'text': 'By month'}] %}

{% block page_body %}

<p>
    The "By month" section of Top Rated allows you to see the top games for each month
    since the Nintendo Switch launched back in March 2017.
</p>
<p>
    All ranks and ratings are subject to change as we add more reviews to the site.
    The current calendar month is provided so you can
    see how things are progressing, but should be treated with caution as the ratings of
    very new games may be particularly volatile. Additionally, upcoming games are included
    for the current month, many of which will not yet have ratings.
</p>
<p>
    You can also see the <a href="{{ route('calendar.landing') }}">Release Calendar</a>
    for a simple list of which games released in a given calendar month, minus the ratings.
</p>
<p>
    Check back often to see how the latest releases stack up!
</p>

<div class="row">
    <div class="col-sm-10 col-md-10 col-md-offset-1">
        {% if RegionCodeDesc %}
            <h2>
                Calendar for: {{ RegionCodeDesc }}
            </h2>
        {% else %}
            <h2>
                Calendar
            </h2>
        {% endif %}
        {% if DateList|length %}
            <div class="row">
                {% for item in DateList %}
                    <div class="col-sm-4 col-md-2 col-lg-2" style="border: 1px solid #dedede; padding: 15px 2px; text-align: center;">
                        <span class="h3">
                        <a href="{{ route('topRated.byMonthPage', {'date': item.DateRaw}) }}">
                            <strong>{{ item.DateRaw|date('M Y') }}</strong>
                        </a>
                        </span>
                        <br>
                        <small>{{ item.GameCount }} games</small>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No charts found!</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
