<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% if GamesList.count %}
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Rank</th>
                </tr>
                </thead>
                <tbody>
                {% for item in GamesList %}
                    <tr>
                        <td class="text-center" style="vertical-align: middle;">
                            <a href="{{ LinkHelper.gameShow(item) }}">
                                {{ ImageHelper.packshotHtml(item, 'release-calendar') }}
                            </a>
                        </td>
                        <td style="vertical-align: middle;">
                            {% if item.is_released == 0 %}
                                <span class="label label-info">Upcoming</span>
                                &nbsp;
                            {% elseif DateHelper.isNew(item.release_date) %}
                                <span class="label label-primary">New</span>
                                &nbsp;
                            {% endif %}
                            <a href="{{ LinkHelper.gameShow(item) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            {{ item.release_date|date('jS M') }}
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            {{ item.rating_avg }}
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            {{ item.game_rank }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games to display.</p>
        {% endif %}
    </div>
</div>
