{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'games/navBrowse.twig' with {'currentNav': 'btn-nav-by-category'} %}

<div class="row">

    <div class="col-md-6">

        {% if CategoryList %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th class="text-center">No of games</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in CategoryList %}
                    <tr>
                        <td>
                            <h2 style="font-size: 20px; margin: 5px 0;">
                                <a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}">
                                    {{ item.name }}
                                </a>
                            </h2>
                        </td>
                        <td class="text-center">
                            <h2 style="font-size: 20px; margin: 5px 0;">
                                {{ item.games.count }}
                            </h2>
                        </td>
                    </tr>
                    {% if item.children %}
                        {% for itemChild in item.children %}
                            <tr>
                                <td>
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <a href="{{ route('games.browse.byCategory.page', {'category': itemChild.link_title}) }}">
                                        {{ itemChild.name }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{ itemChild.games.count }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No categories found!</p>
        {% endif %}

    </div>

</div>

{% endblock page_body %}
