{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Browse by date'}] %}

{% block page_body %}

<p>
    This page allows you to find which games were released in every month since
    the Nintendo Switch launched back in March 2017. You'll find a full list of games based
    on their release date. This may be helpful if you'd like to catch up on a previous month's
    releases, particularly in some of the busier months.
</p>
<p>
    You can also see the <a href="{{ route('topRated.byMonthLanding') }}">Top Rated - By month</a>
    page to see the top rated games for each month.
</p>

<div class="row">
    <div class="col-sm-10 col-md-10 col-md-offset-1">
        {% if RegionCodeDesc %}
            <h2>
                Calendar for: {{ RegionCodeDesc }}
            </h2>
        {% else %}
            <h2>
                Calendar
            </h2>
        {% endif %}
        {% if DateList|length %}
            <div class="row">
                {% for item in DateList %}
                    <div class="col-sm-4 col-md-2 col-lg-2" style="border: 1px solid #dedede; padding: 15px 2px; text-align: center;">
                        <span class="h3">
                        <a href="{{ route('games.browse.byDate.page', {'date': item.DateRaw}) }}">
                            <strong>{{ item.DateRaw|date('M Y') }}</strong>
                        </a>
                        </span>
                        <br>
                        <small>{{ item.GameCount }} games</small>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No charts found!</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
