{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'url': route('games.browse.byPrimaryType.landing'), 'text': 'Browse by primary type'}, {'text': PageTitle}] %}

{% block page_body %}

{% include 'games/browse/browse-wip-alert.twig' %}

{% if PrimaryType.tags().count() > 0 %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>Tags in {{ PrimaryType.primary_type }}</h2>
        <ul>
            {% for item in PrimaryType.tags %}
                <li><a href="{{ route('games.browse.byTag.page', {'tag': item.link_title}) }}">{{ item.tag_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if GameList|length %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>Games in {{ PrimaryType.primary_type }}</h2>
        <p><small>{{ GameList|length }} games with this primary type.</small></p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': GameList, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
