{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'games/navBrowse.twig' with {'currentNav': 'btn-nav-by-tag'} %}

<div class="row">
    <div class="col-md-6">
        {% if TagCategoryList %}
            <p>
                Click on a section to view the tags.
            </p>
            <div id="accordion">
                {% for item in TagCategoryList %}
                    <h3>
                        {{ item.name }}
                        <div class="pull-right">{{ item.tags.count }} tags</div>
                    </h3>
                    <div>
                        <table class="table">
                            {% for categoryItem in item.tags %}
                                <tr>
                                    <td>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        <a href="{{ route('games.browse.byTag.page', {'tag': categoryItem.link_title}) }}">{{ categoryItem.tag_name }}</a>
                                    </td>
                                    <td class="text-center">
                                        {{ categoryItem.gameTags.count }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No tags found!</p>
        {% endif %}
    </div>
</div>
<br><br>

{% if TagCategoryList %}
<script>
    $(document).ready(function() {
        $('#accordion').accordion({
            collapsible: true,
            active: false,
            heightStyle: "content"
        });
    })
</script>
{% endif %}

<!-- jQuery UI -->
<script src="/js/jquery-ui-1.12.1.min.js"></script>
<link href="/css/jquery-ui-1.12.1.min.css" rel="stylesheet" />

{% endblock page_body %}
