{% if GameList %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th class="text-center">Release date (EU)</th>
                <th class="text-center">Review count</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Contribution</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        {{ item.review_count }}
                    </td>
                    <td class="text-center">
                        {{ item.rating_avg }}
                    </td>
                    <td class="text-center">
                        {% if item.id in ReviewedGameIdList %}
                            <div class="label label-success h6">Reviewed</div>
                        {% else %}
                            <div class="label label-warning h6">Not reviewed</div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.review_count < 3 %}
                            <div class="label label-danger h6">Incomplete</div>
                        {% else %}
                            <div class="label label-success h6">Success</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>
