{% if ReviewList.count %}

    {% for item in ReviewList %}

        {% if item.game.boxart_header_image %}
            {% set boxartUrl = '/img/games/header/'~item.game.boxart_header_image %}
        {% else %}
            {% set boxartUrl = '' %}
        {% endif %}

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="{{ route('game.show', {'id': item.game.id, 'linkTitle': item.game.link_title}) }}">
                    {% if boxartUrl %}
                        <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ item.game.title }}">
                    {% else %}
                        <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.game.title }}">
                    {% endif %}
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p class="h4">
                    <a href="{{ route('game.show', {'id': item.game.id, 'linkTitle': item.game.link_title}) }}">{{ item.game.title }}</a>
                    <br>
                    <span class="small">
                        {{ item.site.name }}
                        <br>{{ item.review_date|date('jS M') }}
                    </span>
                </p>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <br>
                {% include 'modules/rating/badge.twig' with {'score': item.rating_normalised} %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No reviews to display.</p>
{% endif %}
