{% extends 'theme/wos/base.twig' %}
{% import 'ui/blocks/game-grid.twig' as gamegrid %}

{% block page_body %}

{% include 'public/games/navBrowse.twig' with {'currentNav': 'btn-nav-by-collection'} %}

{% if GameList|length %}
    {% if PageDesc %}
        <p><small>{{ PageDesc }}</small></p>
    {% else %}
        <p><small>{{ GameList|length }} games with this collection.</small></p>
    {% endif %}
{% endif %}

{% if UseSplitPageCutoff == 'Y' %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h2>Browse collection by category</h2>
            <ul>
            {% for item in CollectionCategoryList %}
                <li><a href="{{ route('games.browse.byCollection.pageCategory', {'collection': GameCollection.link_title, 'category': item.link_title}) }}">{{ item.name }} - {{ item.count }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h2>Browse collection by series</h2>
            <ul>
            {% for item in CollectionSeriesList %}
                <li><a href="{{ route('games.browse.byCollection.pageSeries', {'collection': GameCollection.link_title, 'series': item.link_title}) }}">{{ item.series }} - {{ item.count }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>Browse all</h2>
        {{ gamegrid.render(GameList, 4, 'standard') }}
    </div>
</div>

{% endblock page_body %}
