<h2>Action lists</h2>

<h3>Updates requiring approval</h3>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>
            <a href="{{ route('admin.feed-items.reviews.list') }}">Feeds: Reviews</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.feed-items.reviews.list') }}" class="h4">{{ UnprocessedFeedReviewItemsCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.reviews.partner.list') }}">Partner reviews</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.reviews.partner.list') }}" class="h4">{{ PendingPartnerReviewCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.reviews.user.list') }}">Quick user reviews</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.reviews.user.list') }}" class="h4">{{ PendingReviewUserCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.feed-items.games.list') }}">Feeds: Game updates</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.feed-items.games.list') }}" class="h4">{{ PendingFeedGameItemsCount }}</a>
        </td>
    </tr>
    </tbody>
</table>

<h3>Games to release</h3>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=eu">EU games to release</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=eu" class="h4">{{ ActionListGamesForReleaseCountEu }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=us">US games to release</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=us" class="h4">{{ ActionListGamesForReleaseCountUs }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=jp">JP games to release</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/action-list-games-for-release?regionOverride=jp" class="h4">{{ ActionListGamesForReleaseCountJp }}</a>
        </td>
    </tr>
    </tbody>
</table>

<h3>Action lists <span class="h5">(<a href="{{ route('admin.action-lists.landing') }}">view all</a>)</span></h3>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>
            <a href="{{ route('admin.action-lists.developer-missing') }}">Developer missing (all fields)</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.action-lists.developer-missing') }}" class="h4">{{ DeveloperMissingCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.action-lists.new-developer-to-set') }}">New developer to set (old developer set)</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.action-lists.new-developer-to-set') }}" class="h4">{{ NewDeveloperToSetCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.action-lists.old-developer-to-clear') }}">Old developer to clear (new developer set)</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.action-lists.old-developer-to-clear') }}" class="h4">{{ OldDeveloperToClearCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.action-lists.publisher-missing') }}">Publisher missing (all fields)</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.action-lists.publisher-missing') }}" class="h4">{{ PublisherMissingCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.action-lists.new-publisher-to-set') }}">New publisher to set (old publisher set)</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.action-lists.new-publisher-to-set') }}" class="h4">{{ NewPublisherToSetCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.action-lists.old-publisher-to-clear') }}">Old publisher to clear (new publisher set)</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.action-lists.old-publisher-to-clear') }}" class="h4">{{ OldPublisherToClearCount }}</a>
        </td>
    </tr>
</table>

<h3>Missing data</h3>

<table class="table table-striped">
    <tbody>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/action-list-recent-no-nintendo-url">Recent, no Nintendo URL</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/action-list-recent-no-nintendo-url" class="h4">{{ ActionListRecentNoNintendoUrlCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/action-list-upcoming-no-nintendo-url">Upcoming, no Nintendo URL</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/action-list-upcoming-no-nintendo-url" class="h4">{{ ActionListUpcomingNoNintendoUrlCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/action-list-nintendo-url-no-packshots">With Nintendo URL, no packshot</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/action-list-nintendo-url-no-packshots" class="h4">{{ ActionListNintendoUrlNoPackshotsCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/no-genre">No genre</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/no-genre" class="h4">{{ MissingGenresCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list')}}/no-tags">No tag</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list')}}/no-tags" class="h4">{{ MissingTagsCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list') }}/no-video-url">No video URL</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list') }}/no-video-url" class="h4">{{ MissingVideoUrlCount }}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ route('admin.games.list') }}/no-amazon-uk-link">No Amazon UK link</a>
        </td>
        <td class="text-right">
            <a href="{{ route('admin.games.list') }}/no-amazon-uk-link" class="h4">{{ MissingAmazonUkLink }}</a>
        </td>
    </tr>
    </tbody>
</table>
