<h2>Navigation</h2>

<h3>Games</h3>
<ul>
    <li><a href="{{ route('admin.games.list') }}">All games</a></li>
    <li><a href="{{ route('admin.feed-items.games.list') }}">Feed items - Games</a></li>
    <li><a href="{{ route('admin.game-change-history.index') }}">Change history</a></li>
    <li><a href="{{ route('admin.games-title-hash.list') }}">Title hashes</a></li>
</ul>
<h3>Reviews</h3>
<ul>
    <li><a href="{{ route('admin.feed-items.reviews.list') }}">Feed items - Reviews</a></li>
    <li><a href="{{ route('admin.reviews.partner.list') }}">Partner reviews</a></li>
    <li><a href="{{ route('admin.reviews.user.list') }}">User reviews</a></li>
    <li><a href="{{ route('admin.reviews.link.list') }}">Review links</a></li>
    <li><a href="{{ route('admin.reviews.site.list') }}">Review sites</a></li>
</ul>
<h3>eShop</h3>
<ul>
    <li><a href="{{ route('admin.feed-items.eshop.europe.list') }}">eShop - Europe</a></li>
</ul>
<h3>Data management</h3>
<ul>
    <li><a href="{{ route('admin.tag.list') }}">Tags</a></li>
    <li><a href="{{ route('admin.partners.games-company.list') }}">Games companies</a></li>
</ul>
<h3>Tools</h3>
<ul>
    <li><a href="{{ route('admin.tools.landing') }}">Tools landing page</a></li>
    <li><a href="{{ route('admin.stats.landing') }}">Stats</a></li>
</ul>
<h3>Miscellaneous</h3>
<ul>
    <li><a href="{{ route('admin.user.list') }}">Users</a></li>
    <li><a href="{{ route('admin.news.list') }}">News</a></li>
    <li><a href="{{ route('admin.charts.date.list') }}">Charts</a> (no longer in use)</li>
</ul>
