{% macro render(name, label, layoutVersions, selected, required=true) %}
    {# --------------------
       BOOTSTRAP 5 VERSION
       -------------------- #}

    <div class="row mb-3">
        {% if label %}
            <label for="{{ name }}" class="col-sm-2 col-form-label">
                {{ label }}{% if required %} *{% endif %}
            </label>
        {% endif %}
        <div class="col-sm-4">
        <select id="{{ name }}" name="{{ name }}" class="form-select" {% if required %}required{% endif %}>
            <option value=""></option>

            {% for item in layoutVersions %}
                <option value="{{ item.id }}"
                        {% if selected == item.id %}selected{% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
        </select>
        </div>
    </div>
{% endmacro %}
