{% extends 'theme/wos/admin/page-narrow.twig' %}

{% block page_inner %}

<p>
    The below is a list of custom tools and processes to update parts of the WOS website.
    Clicking on one of the links will provide some additional information on the tool you select.
    It won't run the tool until you click the next button.
    Heavy tools or destructive operations will be clearly signposted.
</p>

<h2>Review importer</h2>

<a class="btn btn-default btn-primary" href="{{ route('admin.tools.runFeedImporter.landing') }}">Run Feed Importer</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.runFeedParser.landing') }}">Run Feed Parser</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.runFeedReviewGenerator.landing') }}">Run Feed Review Generator</a>

<h2>Wikipedia crawler</h2>

<a class="btn btn-default btn-primary" href="{{ route('admin.tools.runWikipediaCrawler.landing') }}">Run Wikipedia Crawler</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.runWikipediaImporter.landing') }}">Run Wikipedia Importer</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.runWikipediaUpdater.landing') }}">Run Wikipedia Updater</a>

<h2>Game updates</h2>

<a class="btn btn-default btn-primary" href="{{ route('admin.tools.updateGameRanks.landing') }}">Update Ranks</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.updateGameCalendarStats.landing') }}">Update Calendar Stats</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.updateGameImageCount.landing') }}">Update Image Count</a>
<a class="btn btn-default btn-primary" href="{{ route('admin.tools.updateGameReviewStats.landing') }}">Update Review Stats</a>

{% endblock page_inner %}
