{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<p>
    The below is a list of custom tools and processes to update parts of the WOS website.
    Clicking on one of the links will provide some additional information on the tool you select.
    It won't run the tool until you click the next button.
    Heavy tools or destructive operations will be clearly signposted.
</p>

<h2>All tools</h2>

<table class="table table-striped data-sortable">
    <thead>
    <tr>
        <th class="text-left">Group</th>
        <th class="text-left">Tool</th>
        <th class="text-left">Details</th>
        <th class="text-center">Schedule</th>
        <th class="text-center">Time</th>
        <th class="text-center">Options</th>
    </tr>
    </thead>
    <tbody>
        {% for item in ToolList %}
            <tr>
                <td class="text-left">{{ item.group }}</td>
                <td class="text-left">{{ item.title }}</td>
                <td class="text-left">{{ item.desc }}</td>
                <td class="text-center">{{ item.scheduleFreq }}</td>
                <td class="text-center">{{ item.scheduleTime }}</td>
                <td class="text-center">
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': item.command}) }}">Launch</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock page_inner %}
