{% extends 'theme/wos/admin/clean-narrow.twig' %}

{% set crumbNav = [{'url': route('admin.tools.landing'), 'text': 'Tools'}, {'text': PageTitle}] %}

{% block page_inner %}

    <p>
        {{ ToolDetails.command }} has completed.
    </p>

    {% if CommandOutput %}
        <h2>Output</h2>
        <pre style="height: 300px; overflow: scroll;">
        {{ CommandOutput }}
    </pre>
    {% endif %}

    <h2>Where next?</h2>
    <ul>
        {% if ToolDetails.relatedLink %}
        <li>
            <strong>Related</strong>:
            <a href="{{ ToolDetails.relatedLink.url }}">{{ ToolDetails.relatedLink.text }}</a>
        </li>
        {% endif %}
        {% if ToolDetails.nextStep %}
        <li>
            <strong>Next step</strong>:
            <a href="{{ route('admin.tools.toolLandingModular', {'commandName': ToolDetails.nextStep}) }}">{{ ToolDetails.nextStep }}</a>
        </li>
        {% endif %}
        <li><a href="{{ route('admin.tools.landing') }}">Tools landing page</a></li>
    </ul>

{% endblock page_inner %}
