{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="{{ route('staff.games-companies.add') }}" class="btn outline btn-primary">+ Add games company</a>
    </div>
    <div class="col-xs-12 col-sm-9">
    </div>
</div>

<hr>

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

{% if GamesCompanyList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th class="text-center">Website</th>
                <th class="text-center">Twitter</th>
                <th class="text-center">SS login</th>
                <th class="text-center">Assigned games<br>(developer)</th>
                <th class="text-center">Assigned games<br>(publisher)</th>
                <th class="text-center">Quality filter</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamesCompanyList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('staff.games-companies.show', {'gamesCompany': item}) }}">{{ item.name }}</a>
                        <a href="{{ route('partners.detail.games-company', {'linkTitle': item.link_title}) }}" target="_blank" title="Open partner page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        {% if item.website_url %}
                            <a href="{{ item.website_url }}" target="_blank">
                                <i class="fas fa-link"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.twitter_id %}
                            <a href="https://twitter.com/{{ item.twitter_id }}" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.gamesCompanyUser.id %}
                            {% include 'ui/components/icons/icon-check-green.twig' %}
                        {% else %}
                            {% include 'ui/components/icons/icon-cross-red.twig' %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.developerGames().count }}
                    </td>
                    <td class="text-center">
                        {{ item.publisherGames().count }}
                    </td>
                    <td class="text-center">
                        {% if item.is_low_quality == 1 %}
                            <label class="label label-danger">Low quality</label>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games-companies.edit', {'gamesCompanyId': item.id}) }}">Edit</a> :
                        <a href="{{ route('staff.games-companies.delete', {'gamesCompanyId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
