{% import 'ui/components/rating/badge.twig' as rating %}

{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

{% if GamesCompanyList %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th></th>
                <th class="text-left">Game</th>
                <th class="text-center">Release date (EU)</th>
                <th class="text-center">Reviews</th>
                <th class="text-center">Score</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamesCompanyList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('staff.games-companies.show', {'gamesCompany': item}) }}">{{ item.name }}</a>
                        <a href="{{ route('partners.detail.games-company', {'linkTitle': item.link_title}) }}" target="_blank" title="Open partner page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                        {% if item.website_url %}
                            <br>
                            <small>
                                <a href="{{ item.website_url }}" target="_blank">{{ item.website_url }}</a>
                            </small>
                        {% endif %}
                    </td>
                    <td>
                    {% if item.website_url %}
                        <a href="{{ item.website_url }}" target="_blank">
                            <i class="fas fa-link"></i>
                        </a>
                    {% endif %}
                    {% if item.twitter_id %}
                        <a href="https://twitter.com/{{ item.twitter_id }}" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    {% endif %}
                    </td>
                    <td class="text-left">
                        <a href="{{ route('staff.games.detail', {'gameId': item.game_id}) }}">{{ item.game_title }}</a>
                        <a href="{{ route('game.show', {'id': item.game_id, 'linkTitle': item.game_link_title}) }}" target="_blank" title="Open game page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        {{ item.review_count }}
                    </td>
                    <td class="text-center">
                        {% if item.rating_avg %}
                            {{ rating.score(item.rating_avg, 'h6', 'b3') }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.partners.outreach.add') }}?partnerId={{ item.id }}">
                            <nobr>Add outreach</nobr>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
