<table class="table table-striped table-condensed table-responsive">
    {% if NewsInfoBox == 'Y' %}
        <tr>
            <td class="text-center" colspan="2">
                <strong>
                    Infobox
                </strong>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">Title</span>
        </td>
        <td>{{ GameData.title }}</td>
    </tr>
    {% if ReleaseDates %}
        {% for item in ReleaseDates %}
            {% if item.region == 'eu' %}
                {% set RegionDesc = 'Europe' %}
            {% elseif item.region == 'us' %}
                {% set RegionDesc = 'US' %}
            {% elseif item.region == 'jp' %}
                {% set RegionDesc = 'Japan' %}
            {% else %}
                {% set RegionDesc = item.region %}
            {% endif %}
            <tr>
                <td>
                    <span style="font-weight: bold;">Release date: {{ RegionDesc }}</span>
                </td>
                <td>
                    {% if item.release_date and item.is_released == 1 %}
                        {{ item.release_date|date('jS M Y') }}
                    {% else %}
                        {{ item.upcoming_date }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">eShop price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                &pound;{{ GameData.price_eshop }}
            {% endif %}
        </td>
    </tr>
    {% if GameData.game_rank %}
    <tr>
        <td>
            <span style="font-weight: bold;">Rank</span>
        </td>
        <td>{{ GameData.game_rank }}/{{ RankMaximum }}</td>
    </tr>
    {% endif %}
    {% if GameData.rating_avg %}
    <tr>
        <td>
            <span style="font-weight: bold;">Average rating</span>
        </td>
        <td>{{ GameData.rating_avg }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">Players</span>
        </td>
        <td>{{ GameData.players }}</td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Developer</span>
        </td>
        <td>{{ GameData.developer }}</td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Publisher</span>
        </td>
        <td>{{ GameData.publisher }}</td>
    </tr>
    {% if GameGenres %}
    <tr>
        <td>
            <span style="font-weight: bold;">Genres</span>
        </td>
        <td>
            <p>
            {% for item in GameGenres %}
                <a href="{{ route('games.genres.item', {'linkTitle': item.genre.link_title }) }}">{{ item.genre.genre }}</a><br>
            {% endfor %}
            </p>
        </td>
    </tr>
    {% endif %}
    {% if NewsInfoBox == 'Y' %}
        {% set GameShowUrl = route('game.show', {'id': GameData.id, 'title': GameData.link_title}) %}
        <tr>
            <td class="text-center" colspan="2">
                <strong>
                    <a href="{{ GameShowUrl }}">More details: {{ GameData.title }} &gt;&gt;</a>
                </strong>
            </td>
        </tr>
    {% endif %}
</table>
