<table class="table table-striped table-condensed table-responsive">
    {% if NewsInfoBox == 'Y' %}
        <tr>
            <td class="text-center" colspan="2">
                <strong>
                    Infobox
                </strong>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">Title</span>
        </td>
        <td>{{ GameData.title }}</td>
    </tr>
    {% if GameData.upcoming == 1 %}
        <tr>
            <td>
                <span style="font-weight: bold;">Expected release date (Europe)</span>
            </td>
            <td>{{ GameData.upcoming_date }}</td>
        </tr>
    {% else %}
        <tr>
            <td>
                <span style="font-weight: bold;">Release date</span>
            </td>
            <td>{{ GameData.release_date|date('jS M Y') }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">eShop price</span>
        </td>
        <td>
            {% if GameData.price_eshop %}
                &pound;{{ GameData.price_eshop }}
            {% endif %}
        </td>
    </tr>
    {% if GameData.game_rank %}
    <tr>
        <td>
            <span style="font-weight: bold;">Rank</span>
        </td>
        <td>{{ GameData.game_rank }}/{{ RankMaximum }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <span style="font-weight: bold;">Average rating</span>
        </td>
        <td>{{ GameData.rating_avg }}</td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Total reviews</span>
        </td>
        <td>{{ GameData.review_count }}</td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Players</span>
        </td>
        <td>{{ GameData.players }}</td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Developer</span>
        </td>
        <td>{{ GameData.developer }}</td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Publisher</span>
        </td>
        <td>{{ GameData.publisher }}</td>
    </tr>
    {% if NewsInfoBox == 'Y' %}
        {% set GameShowUrl = route('game.show', {'id': GameData.id, 'title': GameData.link_title}) %}
        <tr>
            <td class="text-center" colspan="2">
                <strong>
                    <a href="{{ GameShowUrl }}">View more details about {{ GameData.title }} &gt;&gt;</a>
                </strong>
            </td>
        </tr>
    {% endif %}
</table>
