{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Games'}] %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h2>Find a game</h2>

        <form class="form-horizontal" role="form" method="post" action="{{ route('games.landing') }}">
            {{ csrf_field() }}

            <div class="form-group">
                <div class="col-md-6">
                    <select id="game_id" class="form-control" name="game_id">
                        <option value="">&nbsp;</option>
                        {% for item in GamesList %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn outline btn-primary btn-sm">
                        View game
                    </button>
                </div>
                <div class="col-md-2">
                </div>
            </div>

        </form>

    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2>Browse all Nintendo Switch games</h2>
        <ul>
            <li><a href="{{ route('games.browse.byTitle.landing') }}">Browse by title (A-Z)</a></li>
            <li><a href="{{ route('games.browse.byDate.landing') }}">Browse by date (calendar)</a></li>
            <li><a href="{{ route('games.browse.byTag.landing') }}">Browse by tag</a> - <em>work in progress</em></li>
            <li><a href="{{ route('games.browse.bySeries.landing') }}">Browse by series</a> - <em>work in progress</em></li>
            <li><a href="{{ route('games.browse.byPrimaryType.landing') }}">Browse by primary type</a> - <em>work in progress</em></li>
        </ul>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2>Additional links</h2>
        <ul>
            <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
            <li><a href="{{ route('games.recentReleases') }}">Recent releases</a></li>
            <li><a href="{{ route('games.upcomingReleases') }}">Upcoming releases</a></li>
        </ul>

    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>
            Newest
            <span class="h4">
                (<a href="{{ route('games.recentReleases') }}">view more</a>)
                (<a href="{{ route('games.browse.byDate.page', {'date': CalendarThisMonth}) }}">all this month</a>)
            </span>
        </h2>
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': NewReleases} %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 1px solid #c9c9c9;">
        <h2>
            Upcoming
            <span class="h4">(<a href="{{ route('games.upcomingReleases') }}">all upcoming</a>)</span>
        </h2>
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': UpcomingReleases} %}
    </div>
</div>

<script>

    $('#game_id').select2();

</script>

{% endblock page_body %}
