{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Games'}] %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

        {% include 'modules/game/search/form.twig' %}

        <h2>
            Latest releases
            <span class="h5">
                (<a href="{{ route('games.recentReleases') }}">view more</a>)
                (<a href="{{ route('games.browse.byDate.page', {'date': CalendarThisMonth}) }}">all this month</a>)
            </span>
        </h2>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <button id="btn-nav-new-releases-left" class="btn-nav-left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="pull-right">
                    <button id="btn-nav-new-releases-right" class="btn-nav-right">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="wrap-new-releases" class="scrolling-wrapper">
            {% include 'modules/game/grid/scrolling-wrapper-item.twig' with {'GameList': NewReleases} %}
        </div>

        <h2>Recent Top Rated</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <button id="btn-nav-recent-top-rated-left" class="btn-nav-left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="pull-right">
                    <button id="btn-nav-recent-top-rated-right" class="btn-nav-right">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="wrap-recent-top-rated" class="scrolling-wrapper">
            {% include 'modules/game/grid/scrolling-wrapper-item.twig' with {'GameList': RecentWithGoodRanks} %}
        </div>

        <h2>Recently reviewed, still unranked</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <button id="btn-nav-recently-reviewed-left" class="btn-nav-left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="pull-right">
                    <button id="btn-nav-recently-reviewed-right" class="btn-nav-right">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="wrap-recently-reviewed" class="scrolling-wrapper">
            {% include 'modules/game/grid/scrolling-wrapper-item.twig' with {'GameList': HighlightsStillUnranked} %}
        </div>

        <h2>Top Rated discounts</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <button id="btn-nav-top-rated-discounts-left" class="btn-nav-left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="pull-right">
                    <button id="btn-nav-top-rated-discounts-right" class="btn-nav-right">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="wrap-top-rated-discounts" class="scrolling-wrapper">
            {% include 'modules/game/grid/scrolling-wrapper-item.twig' with {'GameList': TopRatedDiscounts, 'ShowOnSale': 'Y'} %}
        </div>

    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="border-left: 1px solid #c9c9c9;">

        <h2>Browse Switch games</h2>
        <ul>
            <li><a href="{{ route('games.browse.byTitle.landing') }}">By title (A-Z)</a></li>
            <li><a href="{{ route('games.browse.byDate.landing') }}">By date (calendar)</a></li>
            <li><a href="{{ route('games.browse.byCategory.landing') }}">By category</a></li>
            <li><a href="{{ route('games.browse.byTag.landing') }}">By tag</a></li>
            <li><a href="{{ route('games.browse.bySeries.landing') }}">By series</a></li>
            <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
        </ul>

        <h2>
            Upcoming
            <span class="h5">(<a href="{{ route('games.upcomingReleases') }}">view all</a>)</span>
        </h2>
        {% include 'modules/game/list/upcoming.twig' with {'GameList': UpcomingReleases} %}

    </div>

</div>

<script>

    var amountToMove = 300;

    $('.btn-nav-left').click(function() {

        var divId = $(this).attr('id');
        divId = divId.replace('btn-nav-', '');
        divId = divId.replace('-left', '');
        divId = 'wrap-' + divId;

        var $divToScroll = $('#' + divId);
        var oldScrollLeft = $divToScroll.scrollLeft();
        var newScrollLeft = oldScrollLeft - amountToMove;
        $divToScroll.animate({
            scrollLeft: newScrollLeft
        }, 500);

    });

    $('.btn-nav-right').click(function() {

        var divId = $(this).attr('id');
        divId = divId.replace('btn-nav-', '');
        divId = divId.replace('-right', '');
        divId = 'wrap-' + divId;

        var $divToScroll = $('#' + divId);
        var oldScrollLeft = $divToScroll.scrollLeft();
        var newScrollLeft = oldScrollLeft + amountToMove;
        $divToScroll.animate({
            scrollLeft: newScrollLeft
        }, 400);

    });

</script>

{% endblock page_body %}
