{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Games'}] %}

{% block page_body %}

<ul>
    <li><a href="{{ route('games.onSale') }}">Games on sale</a></li>
    <li><a href="{{ route('games.calendar.landing') }}">Switch release calendar</a></li>
    <li><a href="{{ route('games.genres.landing') }}">Games by genre</a></li>
    <li><a href="{{ route('games.list.unreleased') }}">Unreleased games</a></li>
</ul>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>
            Newest
            <span class="h4">
                (<a href="{{ route('games.calendar.page', {'date': CalendarThisMonth}) }}">this month</a>)
                (<a href="{{ route('games.list.released') }}">all released</a>)
            </span>
        </h2>
        {% if NewReleases|length %}
            <div class="row">
                {% for item in NewReleases %}
                    <div class="col-sm-4 col-md-4 col-lg-4" style="min-height: 160px; padding: 5px 2px; text-align: center;">
                        <a href="{{ LinkHelper.gameShow(item) }}">{{ ImageHelper.packshotHtml(item, 'landing-mini') }}</a>
                        <br>
                        <p class="h5">
                            <a href="{{ LinkHelper.gameShow(item) }}">{{ item.title }}</a>
                            <br>
                            <small>{{ item.release_date|date('jS M') }}</small>
                        </p>
                        <p class="h5">
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-left: 1px solid #c9c9c9;">
        <h2>
            Upcoming
            <span class="h4">(<a href="{{ route('games.list.upcoming') }}">all upcoming</a>)</span>
        </h2>
        {% if UpcomingReleases|length %}
            <div class="row">
                {% for item in UpcomingReleases %}
                    <div class="col-sm-4 col-md-4 col-lg-4" style="min-height: 160px; padding: 5px 2px; text-align: center;">
                        <a href="{{ LinkHelper.gameShow(item) }}">{{ ImageHelper.packshotHtml(item, 'landing-mini') }}</a>
                        <br>
                        <p class="h5">
                            <a href="{{ LinkHelper.gameShow(item) }}">{{ item.title }}</a>
                            <br>
                            <small>{{ item.release_date|date('jS M') }}</small>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
