{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<ul>
    <li><a href="{{ route('games.calendar.landing') }}">Switch release calendar</a></li>
    <li><a href="{{ route('games.genres.landing') }}">Games by genre</a></li>
</ul>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Newest
            <span class="h4">
                (<a href="{{ route('games.calendar.page', {'date': CalendarThisMonth}) }}">this month</a>)
                (<a href="{{ route('games.list.released') }}">all games</a>)
            </span>
        </h2>
        {% if NewReleases.count %}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in NewReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.release_date|date('jS M') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games within this timeframe.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Upcoming
            <span class="h4">(<a href="{{ route('games.list.upcoming') }}">view all</a>)</span>
        </h2>
        {% if UpcomingReleases.count %}
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-center">Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in UpcomingReleases %}
                    <tr>
                        <td>
                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.release_date|date('jS M') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games within this timeframe.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Top rated - All-time
            <span class="h4">(<a href="{{ route('reviews.topRated.allTime') }}">view all</a>)</span>
        </h2>
        {% if TopRatedAllTime.count %}
            <p>
                Top rated Switch games of all-time.
            </p>
            {% include 'reviews/topRated/topRatedTable.twig' with {'topRatedList': TopRatedAllTime} %}
        {% else %}
            <p>Could not display Top rated.</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
