<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <a id="btn-nav-landing" class="btn btn-sm btn-default" href="{{ route('games.landing') }}">Games home</a>
        <a id="btn-nav-recent" class="btn btn-sm btn-default" href="{{ route('games.recentReleases') }}">Recent</a>
        <a id="btn-nav-upcoming" class="btn btn-sm btn-default" href="{{ route('games.upcomingReleases') }}">Upcoming</a>
        <a id="btn-nav-by-title" class="btn btn-sm btn-default" href="{{ route('games.browse.byTitle.landing') }}">By title</a>
        <a id="btn-nav-by-date" class="btn btn-sm btn-default" href="{{ route('games.browse.byDate.landing') }}">By date</a>
        <a id="btn-nav-by-category" class="btn btn-sm btn-default" href="{{ route('games.browse.byCategory.landing') }}">By category</a>
        <a id="btn-nav-by-tag" class="btn btn-sm btn-default" href="{{ route('games.browse.byTag.landing') }}">By tag</a>
        <a id="btn-nav-by-series" class="btn btn-sm btn-default" href="{{ route('games.browse.bySeries.landing') }}">By series</a>
        <a id="btn-nav-by-collection" class="btn btn-sm btn-default" href="{{ route('games.browse.byCollection.landing') }}">By collection</a>
        <a id="btn-nav-on-sale" class="btn btn-sm btn-default" href="{{ route('games.onSale') }}">Games on sale</a>

    </div>

</div>
<br>

<script>
    var currentNav = '{{ currentNav }}';
    if (currentNav != '') {
        $('#' + currentNav).addClass('btn-primary');
    }
</script>