{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-xs-8">
        <h1>{{ GameData.title }}</h1>
    </div>
    <div class="game-rating col-xs-4">
        {% if GameData.game_rank %}
            <p class="h1">
                <span>Rank</span>
                <strong>{{ GameData.game_rank }}<small>/{{ RankMaximum }}</small></strong>
            </p>
        {% endif %}
        {% if GameData.rating_avg %}
            <p class="h1">
                <span>Average rating</span>
                <strong>{{ GameData.rating_avg }}</strong>
            </p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-5">
        {#
        <h2>Overview</h2>
        {% if GameData.overview %}
        <p>{{ GameData.overview }}</p>
        {% else %}
        <p><em>Coming soon!</em></p>
        {% endif %}
        #}
        {% include 'games/infobox.twig' with {'GameData': GameData} %}
        {% if GameData.amazon_uk_link %}
        <h2>Buying options</h2>
        <ul>
            <li><a href="{{ GameData.amazon_uk_link }}" target="_blank">Amazon UK</a></li>
        </ul>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-7">
        {% include 'games/images.twig' with {'MediaFolder': GameData.media_folder, 'GameImages': GameData.images} %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {% include 'games/reviews.twig' with {'GameReviews': GameReviews} %}
    </div>
    <div class="col-sm-12 col-md-6">
        {% include 'games/charts.twig' with {'GameData': GameData, 'GameRanking': GameRanking} %}
    </div>
</div>

{% endblock page_body %}
