{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-xs-8">
        <h1>{{ GameData.title }}</h1>
    </div>
    <div class="game-rating col-xs-4">
        {% if GameData.game_rank %}
            <p class="h1">
                <span>Rank</span>
                <strong>{{ GameData.game_rank }}<small>/{{ RankMaximum }}</small></strong>
            </p>
        {% endif %}
        {% if GameData.rating_avg %}
            <p class="h1">
                <span>Average rating</span>
                <strong>{{ GameData.rating_avg }}</strong>
            </p>
        {% endif %}
    </div>
</div>

{% if auth_user() %}
<div class="row">
    <div class="col-md-12">
        {% if IsOnOwnedList == 'Y' %}
            <a id="js-user-owned-list-btn" class="js-user-owned-list-toggle btn btn-default btn-sm" data-id="{{ GameId }}" data-content="added">Added to Owned List</a>
        {% else %}
            <a id="js-user-owned-list-btn" class="js-user-owned-list-toggle btn btn-default btn-primary btn-sm" data-id="{{ GameId }}" data-content="not-added">Add to Owned List</a>
        {% endif %}
        {% if IsOnWishList == 'Y' %}
            <a id="js-user-wish-list-btn" class="js-user-wish-list-toggle btn btn-default btn-sm" data-id="{{ GameId }}" data-content="added">Added to Wishlist</a>
        {% else %}
            <a id="js-user-wish-list-btn" class="js-user-wish-list-toggle btn btn-default btn-primary btn-sm" data-id="{{ GameId }}" data-content="not-added">Add to Wishlist</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-12 col-md-5">
        <h2>Game info</h2>
        {% include 'games/infobox.twig' with {'GameData': GameData} %}
        {% if GameData.amazon_uk_link %}
        <h2>Buying options</h2>
        <ul>
            <li><a href="{{ GameData.amazon_uk_link }}" target="_blank">Amazon UK</a></li>
        </ul>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-7">
        {% include 'games/images.twig' with {'GameTitle': GameData.title, 'VideoUrl': GameData.video_url, 'MediaFolder': GameData.media_folder, 'GameImages': GameData.images} %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {% include 'games/reviews.twig' with {'GameReviews': GameReviews} %}
    </div>
    <div class="col-sm-12 col-md-6">
        {% include 'games/charts.twig' with {'GameData': GameData, 'GameRanking': GameRanking} %}
    </div>
</div>

{% include 'games/scripts.twig' %}

{% endblock page_body %}
