{# PACKSHOTS #}
{% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}

<div class="row" style="margin-top: 16px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
            {% if boxartUrl %}
                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
            {% else %}
                <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.title }}">
            {% endif %}
        </a>
    </div>
</div>

<div class="row" style="margin-top: 8px;">

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <span class="h4">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
        </span>
        <br>
        <span class="h5">
            Released: {% include 'modules/game/release-date.twig' with {'item': item} %}
        </span>
        {% if item.ExtraDetailLine != '' %}
            <br>
            <span class="h6">
                {{ item.ExtraDetailLine }}
            </span>
        {% endif %}
        {% if ShowOnSale == 'Y' %}
            <br>
            <span class="h5">
                <s><span class="h4">&pound;{{ item.price_eshop }}</span></s>
                <span class="h4" style="font-weight: bold;">&pound;{{ item.price_discounted }}</span>
                <span style="color: #f00;">{{ item.price_discount_pc }}% off</span>
            </span>
        {% endif %}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="pull-right">
            {% if item.rating_avg %}
                {% if item.game_rank %}
                    {% include 'modules/rating/badge.twig' with {'score': item.rating_avg, 'scoreSize': 'h5'} %}
                {% else %}
                    {% include 'modules/rating/badge-tbc.twig' with {'scoreSize': 'h5', 'reviewCount': item.review_count} %}
                {% endif %}
            {% else %}
                {% include 'modules/rating/badge-tbc.twig' with {'scoreSize': 'h5', 'reviewCount': item.review_count} %}
            {% endif %}
        </div>
    </div>

</div>