{# PACKSHOTS #}
{% if item.boxart_header_image %}
    {% set boxartUrl = '/img/games/header/'~item.boxart_header_image %}
{% endif %}

<div class="col-sm-12 col-md-12 col-lg-12">
    <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
        {% if boxartUrl %}
            <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
        {% else %}
            <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.title }}">
        {% endif %}
    </a>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <p>
        <div class="pull-right">
            {% if item.rating_avg %}
                {% if item.game_rank %}
                    {% include 'modules/rating/badge.twig' with {'score': item.rating_avg, 'scoreSize': 'h4'} %}
                {% else %}
                    {% include 'modules/rating/badge-tbc.twig' with {'scoreSize': 'h4'} %}
                {% endif %}
            {% endif %}
        </div>
        <span class="h3">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
        </span>
        <br>
        <span class="h5">
        {% if item.is_released == 1 %}
            {{ item.release_date|date('jS M Y') }}
        {% elseif item.release_date is not null %}
            {{ item.release_date|date('jS M Y') }}
        {% else %}
            {{ item.upcoming_date }}
        {% endif %}
        </span>
    </p>
</div>
