{# PACKSHOTS #}
{% if item.boxart_header_image %}
    {% set boxartUrl = '/img/games/header/'~item.boxart_header_image %}
    {% if item.is_released == 0 %}
        {% set imageOpacity = ' opacity: 0.4;' %}
    {% endif %}
{% endif %}

<a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
    {% if boxartUrl %}
        <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;{{ imageOpacity }}" alt="{{ item.title }}">
    {% else %}
        <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.title }}">
    {% endif %}
</a>
<p class="h5" style="margin: 8px 0;">
    <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
</p>
<p style="margin: 8px 0;">
    {% if item.rating_avg %}
        {% if item.game_rank %}
            {% include 'modules/rating/badge.twig' with {'score': item.rating_avg, 'scoreSize': 'h6'} %}
        {% else %}
            {% include 'modules/rating/badge-tbc.twig' with {'scoreSize': 'h6'} %}
        {% endif %}
    {% endif %}
</p>
