{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Source
        </div>
        <div class="col-md-6">
            {{ FeedItemData.source }}
        </div>
    </div>

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Game</label>
        <div class="col-md-6">
            <select id="game_id" class="form-control" name="game_id">
                <option value="">&nbsp;</option>
                {% for item in GamesList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
            <p>
                <small>
                    If the game is not currently set but a suitable record exists, select it, save the changes,
                    then come back to this screen. The table of values shown below will update accordingly.
                </small>
            </p>
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label for="status_code" class="col-md-4 control-label">Status</label>
        <div class="col-md-6">
            <select id="status_code" class="form-control" name="status_code">
                <option value="">&nbsp;</option>
                {% for item in StatusList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Quick status change</label>
        <div class="col-md-6">
            {% for item in QuickStatusList %}
                {% if FeedItemData.status_code != item.id %}
                    <input type="button" class="btn btn-primary btn-quick-status" id="btn-quick-status-{{ item.id }}" value="{{ item.title }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
        </div>
        <div class="col-md-3 text-left" style="font-weight: bold;">
            Current value
        </div>
        <div class="col-md-3 text-left" style="font-weight: bold;">
            New value from feed
        </div>
        <div class="col-md-2 text-left" style="font-weight: bold;">
            Changed?
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Title
        </div>
        <div class="col-md-3">
            {{ GameData.title }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.item_title }}
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Genre
        </div>
        <div class="col-md-3">
            -
        </div>
        <div class="col-md-3">
            {{ FeedItemData.item_genre }}
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Developers
        </div>
        <div class="col-md-3">
            {{ GameData.developer }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.item_developers }}
        </div>
        <div class="col-md-2 text-left">
            {% if GameImportRule.shouldIgnoreDevelopers() %}
                <em>Ignored</em>
            {% elseif FeedItemData.item_developers != GameData.developer %}
                <div style="color: #ffcc00;">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Publishers
        </div>
        <div class="col-md-3">
            {{ GameData.publisher }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.item_publishers }}
        </div>
        <div class="col-md-2 text-left">
            {% if GameImportRule.shouldIgnorePublishers() %}
                <em>Ignored</em>
            {% elseif FeedItemData.item_publishers != GameData.publisher %}
                <div style="color: #ffcc00;">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Release date: Europe
        </div>
        <div class="col-md-3">
            {{ GameData.eu_release_date }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.release_date_eu }}
        </div>
        <div class="col-md-2">
            {% if GameImportRule.shouldIgnoreEuropeDates() %}
                <em>Ignored</em>
            {% elseif FeedItemData.release_date_eu != GameData.eu_release_date %}
                <div style="color: #ffcc00;">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Release date: US
        </div>
        <div class="col-md-3">
            {{ GameData.us_release_date }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.release_date_us }}
        </div>
        <div class="col-md-2">
            {% if GameImportRule.shouldIgnoreUSDates() %}
                <em>Ignored</em>
            {% elseif FeedItemData.release_date_us != GameData.us_release_date %}
                <div style="color: #ffcc00;">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Release date: Japan
        </div>
        <div class="col-md-3">
            {{ GameData.jp_release_date }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.release_date_jp }}
        </div>
        <div class="col-md-2">
            {% if GameImportRule.shouldIgnoreJPDates() %}
                <em>Ignored</em>
            {% elseif FeedItemData.release_date_jp != GameData.jp_release_date %}
                <div style="color: #ffcc00;">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 text-right" style="font-weight: bold;">
            Is released: Europe
        </div>
        <div class="col-md-3">
            {{ GameData.eu_is_released }}
        </div>
        <div class="col-md-3">
            {{ FeedItemData.is_released_eu }}
        </div>
        <div class="col-md-2">
            N/A
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-6">
            <p>
                <small>
                    Fields marked "N/A" are shown for reference purposes only.
                    They will not be changed when clicking "Process updates"
                    on the item list.
                </small>
            </p>
            <p>
                <small>
                    Fields marked as "Ignored" will not be changed due to
                    game import rules. These can be changed via the Game Detail page.
                </small>
            </p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
