{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>{{ PageTitle }}</h1>

<p>
    This page lists the top rated Nintendo Switch games split across a few categories.
    You can see the "All-time" top rated games, new games released in the last 30 days,
    and games released in the current year. This is to create some diversity in the lists,
    so you don't always see the same games at the top.
</p>
<p>
    Release dates are based on the European date of release. Ratings are calculated from the reviews
    we store from our carefully selected review partners. Games need to have at least 3 review scores
    to be included in these lists.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Top rated - {{ Year }}
            <span class="h4">(<a href="{{ route('reviews.topRated.byYear', {'year': Year}) }}">view all</a>)</span>
        </h2>
        {% if TopRatedThisYear.count > 0 %}
            <p>
                Top rated games released in {{ Year }}.
            </p>
            {% include 'reviews/topRated/topRatedTable.twig' with {'topRatedList': TopRatedThisYear} %}
        {% else %}
            <p>No Top Rated games this year... yet. It's early days. Come back soon for more!</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Top rated - New
        </h2>
        {% if TopRatedNewReleases.count %}
            <p>
                Top rated games released in the last 30 days.
            </p>
            {% include 'reviews/topRated/topRatedTable.twig' with {'topRatedList': TopRatedNewReleases} %}
        {% else %}
            <p>Could not display Top rated.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>
            Top rated - All-time
            <span class="h4">(<a href="{{ route('reviews.topRated.allTime') }}">view all</a>)</span>
        </h2>
        {% if TopRatedAllTime.count %}
            <p>
                Top rated games of all-time.
            </p>
            {% include 'reviews/topRated/topRatedTable.twig' with {'topRatedList': TopRatedAllTime} %}
        {% else %}
            <p>Could not display Top rated.</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
