{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-9">

            <fieldset>
                <legend>Main</legend>
                <div class="form-group">
                    <label for="title" class="col-md-4 control-label">Title</label>
                    <div class="col-md-6">
                        <input id="title" type="text" class="form-control" name="title" maxlength="255" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="link_title" class="col-md-4 control-label">Link title</label>
                    <div class="col-md-6">
                        <input id="link_title" type="text" class="form-control" name="link_title" maxlength="100" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Dates</legend>
                <div id="tabs">
                    <ul>
                        {% for key,value in RegionList %}
                        <li><a href="#tabs-{{ key }}">{{ value }}</a></li>
                        {% endfor %}
                    </ul>
                    {% for key,value in RegionList %}
                    <div id="tabs-{{ key }}">
                        <div class="form-group">
                            <label for="release_date_{{ key }}" class="col-md-4 control-label">Release date</label>
                            <div class="col-md-6">
                                <input id="release_date_{{ key }}" type="date" class="form-control" name="release_date_{{ key }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="upcoming_date_{{ key }}" class="col-md-4 control-label">Upcoming date</label>
                            <div class="col-md-6">
                                <input id="upcoming_date_{{ key }}" type="text" class="form-control" name="upcoming_date_{{ key }}" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="is_released_{{ key }}" class="col-md-4 control-label">Released?</label>
                            <div class="col-md-6">
                                <input id="is_released_{{ key }}" type="checkbox" name="is_released_{{ key }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset>
                <legend>eShop</legend>
                <div class="form-group">
                    <label for="price_eshop" class="col-md-4 control-label">eShop price</label>
                    <div class="col-md-6">
                        <input id="price_eshop" type="text" class="form-control" name="price_eshop" size="10" maxlength="6">
                    </div>
                </div>
                <div class="form-group">
                    <label for="players" class="col-md-4 control-label">No of players</label>
                    <div class="col-md-6">
                        <input id="players" type="text" class="form-control" name="players" size="15" maxlength="10">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Additional</legend>
                <div class="form-group">
                    <label for="developer" class="col-md-4 control-label">Developer</label>
                    <div class="col-md-6">
                        <input id="developer" type="text" class="form-control" name="developer" size="50" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label for="publisher" class="col-md-4 control-label">Publisher</label>
                    <div class="col-md-6">
                        <input id="publisher" type="text" class="form-control" name="publisher" size="50" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label for="amazon_uk_link" class="col-md-4 control-label">Amazon UK link</label>
                    <div class="col-md-6">
                        <input id="amazon_uk_link" type="text" class="form-control" name="amazon_uk_link">
                    </div>
                </div>
                <div class="form-group">
                    <label for="overview" class="col-md-4 control-label">Overview</label>
                    <div class="col-md-6">
                        <textarea id="overview" class="form-control" name="overview" rows="5"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Media</legend>
                <div class="form-group">
                    <label for="media_folder" class="col-md-4 control-label">Media folder</label>
                    <div class="col-md-6">
                        <input id="media_folder" type="text" class="form-control" name="media_folder">
                    </div>
                </div>
                <div class="form-group">
                    <label for="video_url" class="col-md-4 control-label">Video URL</label>
                    <div class="col-md-6">
                        <input id="video_url" type="text" class="form-control" name="video_url">
                    </div>
                </div>
                <div class="form-group">
                    <label for="boxart_url" class="col-md-4 control-label">Boxart URL</label>
                    <div class="col-md-6">
                        <input id="boxart_url" type="text" class="form-control" name="boxart_url">
                        <small>Store standard boxart in /img/games/boxart/. You only need to
                        include the filename in the above field, not the full URL.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="boxart_square_url" class="col-md-4 control-label">Boxart square URL</label>
                    <div class="col-md-6">
                        <input id="boxart_square_url" type="text" class="form-control" name="boxart_square_url">
                        <small>Store square boxart in /img/games/square/. You only need to
                            include the filename in the above field, not the full URL. Square boxart
                        will only be used if standard boxart does not exist.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vendor_page_url" class="col-md-4 control-label">Vendor page URL</label>
                    <div class="col-md-6">
                        <input id="vendor_page_url" type="text" class="form-control" name="vendor_page_url">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nintendo_page_url" class="col-md-4 control-label">Nintendo page URL</label>
                    <div class="col-md-6">
                        <input id="nintendo_page_url" type="text" class="form-control" name="nintendo_page_url">
                    </div>
                </div>
                <div class="form-group">
                    <label for="twitter_id" class="col-md-4 control-label">Twitter ID</label>
                    <div class="col-md-6">
                        <input id="twitter_id" type="text" class="form-control" name="twitter_id" maxlength="30">
                    </div>
                </div>
            </fieldset>
            {% if FormMode == 'edit' %}
                {% for key,value in RegionList %}
                    {% if key == 'eu' %}
                        {% set releaseDateEu = attribute(attribute(GameReleaseDates, 'eu'), 'release_date') %}
                        {% set upcomingDateEu = attribute(attribute(GameReleaseDates, 'eu'), 'upcoming_date') %}
                    {% elseif key == 'us' %}
                        {% set releaseDateUs = attribute(attribute(GameReleaseDates, 'us'), 'release_date') %}
                        {% set upcomingDateUs = attribute(attribute(GameReleaseDates, 'us'), 'upcoming_date') %}
                    {% elseif key == 'jp' %}
                        {% set releaseDateJp = attribute(attribute(GameReleaseDates, 'jp'), 'release_date') %}
                        {% set upcomingDateJp = attribute(attribute(GameReleaseDates, 'jp'), 'upcoming_date') %}
                    {% endif %}
                {% endfor %}
            <fieldset>
                <legend>Advanced</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label">Wikipedia row data</label>
                    <div class="col-md-6">
                        <textarea readonly="readonly" rows="10" cols="80" style="font-family: monospace;">|-
!scope="row"|''{{ GameData.title }}''
|
|{{ GameData.developer }}
|{{ GameData.publisher }}
|{{ WikiDateList }}
|
                        </textarea>
                    </div>
                </div>
            </fieldset>
            {% endif %}
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <fieldset>
                    <legend>Genres</legend>
                    {% if GenreList %}
                        {% for item in GenreList %}
                            <div class="checkbox">
                                <label>
                                    <input id="genre_item_{{ item.id }}" class="genre_item" name="genre_item[{{ item.id }}]" type="checkbox">
                                    {{ item.genre }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </fieldset>
            </div>

        </div>

    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button id="btn-submit" class="btn outline btn-primary">
                Save, return to list
            </button>
            {% if GameListFilter and GameListFilterNextId %}
            <input type="hidden" name="button_pressed" id="button_pressed" value="">
            <input type="hidden" name="nav_next_id" id="nav_next_id" value="">
            <input type="hidden" name="filter" id="filter" value="{{ GameListFilter }}">
            <button id="btn-save-go-to-next" class="btn outline btn-default">
                Save, go to next
            </button>
            <button id="btn-skip-go-to-next" class="btn outline btn-default">
                Skip, go to next
            </button>
            {% endif %}
        </div>
    </div>
</form>
