{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div id="js-admin-notify" class="alert alert-warning" role="alert">
    This page will be retired shortly.
</div>

<a href="{{ route('staff.games.add') }}" class="btn outline btn-primary">Add a game</a>
<br>
<br>

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

{% if GameList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th class="text-center">eShop: EU</th>
                <th>Release date</th>
                <th class="text-center">More</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('staff.games.detail', {'gameId': item.id}) }}">{{ item.title }}</a>
                        <a href="{{ LinkHelper.gameShow(item) }}" target="_blank" title="Open game page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        {% if item.eshop_europe_fs_id %}
                            <i class="fas fa-link"></i>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.eu_release_date %}
                            {{ item.eu_release_date }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if ActiveNav == 'action-list-games-for-release' %}
                            <a href="javascript:void(0);" id="lnk-release-game-{{ item.id }}" class="lnk-release-game">Release</a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}?filter={{ ActiveNav }}">Edit</a> :
                        <a href="{{ route('staff.games.delete', {'gameId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#admin-nav-game-filter').on('change', function() {
        selectedGameFilter = $(this).val();
        top.location.href = '{{ route('admin.games.list')}}' + '/' + selectedGameFilter;
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-game-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });

    $('.lnk-release-game').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        gameId = elemId.replace('lnk-release-game-', '');

        if (gameId == '') {
            $('#js-admin-notify').text('Missing gameId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Release this game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('staff.games.release') }}', {'gameId': gameId}, function(data) {
            $('#lnk-release-game-' + gameId).parent().html('<em>Released</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
