{% extends 'theme/wos/admin.twig' %}

{% block page_body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Games</div>
                <div class="panel-body">
                    <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a game">
                    {% if GameList.count > 0 %}
                        <table class="table table-striped data-sortable">
                            <thead>
                                <tr>
                                    <th class="text-right">#</th>
                                    <th>Title</th>
                                    <th>Release date</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in GameList %}
                                    <tr>
                                        <td class="text-right">
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}" target="_blank">{{ item.title }}</a>
                                        </td>
                                        <td>
                                            {% if item.release_date %}
                                            {{ item.release_date }}
                                            {% else %}
                                            {{ item.upcoming_date }}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if item.upcoming == 0 %}
                                            Released
                                            {% else %}
                                            Upcoming
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ route('admin.games.edit', {'gameId': item.id}) }}">Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No games found!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.games.add') }}';
    });
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [[ 0, "desc" ]],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_body %}
