{% extends 'theme/wos/admin.twig' %}

{% block page_body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Games :
                    <a id="admin-nav-all" class="btn btn-default" href="{{ route('admin.games.list') }}">All</a>
                    <a id="admin-nav-released" class="btn btn-default" href="{{ route('admin.games.list', {'filter': 'released'}) }}">Released</a>
                    <a id="admin-nav-upcoming" class="btn btn-default" href="{{ route('admin.games.list', {'filter': 'upcoming'}) }}">Upcoming</a>
                    <a id="admin-nav-upcoming-q" class="btn btn-default" href="{{ route('admin.games.list', {'filter': 'upcoming-q'}) }}">Qn</a>
                    <a id="admin-nav-upcoming-x" class="btn btn-default" href="{{ route('admin.games.list', {'filter': 'upcoming-x'}) }}">XX</a>
                    <a id="admin-nav-upcoming-tba" class="btn btn-default" href="{{ route('admin.games.list', {'filter': 'upcoming-tba'}) }}">TBA</a>
                </div>
                <div class="panel-body">
                    <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a game">
                    <hr>
                    {% if GameList.count > 0 %}
                        <table class="table table-striped data-sortable">
                            <thead>
                                <tr>
                                    <th class="text-right">#</th>
                                    <th>Title</th>
                                    <th>Release date</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in GameList %}
                                    <tr>
                                        <td class="text-right">
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}" target="_blank">{{ item.title }}</a>
                                        </td>
                                        <td>
                                            {% if item.release_date %}
                                            {{ item.release_date }}
                                            {% else %}
                                            {{ item.upcoming_date }}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if item.upcoming == 0 %}
                                            Released
                                            {% else %}
                                            Upcoming
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ route('admin.games.edit', {'gameId': item.id}) }}">Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No games found!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.games.add') }}';
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-' + activeNav).addClass('btn-primary');
        switch (activeNav) {
            case 'released':
                sortOrder = [ 2, "desc"];
                break;
            case 'upcoming':
            case 'upcoming-q':
            case 'upcoming-x':
            case 'upcoming-tba':
                sortOrder = [ 2, "asc"];
                break;
            default:
                sortOrder = [ 0, "desc"];
                break;
        }
        $('.data-sortable').DataTable({
            "order": [sortOrder],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_body %}
