{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a game">
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="pull-right">
            <label for="admin-nav-game-filter">Filters:</label>
            <select id="admin-nav-game-filter" name="admin-nav-game-filter" class="form-control">
                <option value="">All games</option>
                <option value="released">Released games</option>
                <optgroup label="Missing data">
                    <option value="no-dev-or-pub">No developer/publisher</option>
                    <option value="no-genre">No genre</option>
                    <option value="no-nintendo-page-url">No Nintendo page URL</option>
                    <option value="no-vendor-page-url">No vendor page URL</option>
                    <option value="no-boxart">No boxart</option>
                    <option value="no-video-url">No video URL</option>
                    <option value="no-twitter-id">No Twitter ID</option>
                    <option value="no-amazon-uk-link">No Amazon UK link</option>
                </optgroup>
                <optgroup label="Upcoming games">
                    <option value="upcoming">All upcoming</option>
                    <option value="upcoming-2018-with-dates">2018 with dates</option>
                    <option value="upcoming-2018-with-quarters">2018 with quarters</option>
                    <option value="upcoming-2018-sometime">2018 sometime (XX)</option>
                    <option value="upcoming-beyond">Beyond 2018</option>
                    <option value="upcoming-tba">TBA</option>
                </optgroup>
            </select>
        </div>
    </div>
</div>

<hr>

{% if GameList.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th>Release date</th>
                <th class="text-center">Hashes</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}" target="_blank">{{ item.title }}</a>
                    </td>
                    <td>
                        {% if item.release_date %}
                        {{ item.release_date }}
                        {% else %}
                        {{ item.upcoming_date }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.games-title-hash.list', {'gameId': item.id}) }}">View</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.games.edit', {'gameId': item.id}) }}">Edit</a> :
                        <a href="{{ route('admin.games.delete', {'gameId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.games.add') }}';
    });
    $('#admin-nav-game-filter').on('change', function() {
        selectedGameFilter = $(this).val();
        top.location.href = '{{ route('admin.games.list')}}' + '/' + selectedGameFilter;
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-game-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
