{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-md-3">
        <label for="admin-nav-game-filter">Filters:</label>
        <select id="admin-nav-game-filter" name="admin-nav-game-filter" class="form-control">
            <option value="">All games</option>
            <option value="released">Released games</option>
            <option value="unreleased">Unreleased (not upcoming)</option>
            <optgroup label="Upcoming games">
                <option value="upcoming">All upcoming</option>
                <option value="upcoming-2018-with-dates">2018 with dates</option>
                <option value="upcoming-beyond">Future</option>
            </optgroup>
            <optgroup label="Action lists">
                <option value="action-list-games-for-release">Games for release</option>
            </optgroup>
            <optgroup label="Developers and Publishers">
                <option value="game-developer-links">Game/developer links created</option>
                <option value="no-publisher-set">No publisher set</option>
                <option value="old-publishers-to-migrate">Old publishers to migrate</option>
                <option value="game-publisher-links">Game/publisher links created</option>
            </optgroup>
            <optgroup label="Other missing data">
                <option value="no-eshop-europe-link">No eShop Europe link</option>
                <option value="no-tags">No tags</option>
                <option value="no-genre">No genre</option>
                <option value="no-boxart">No boxart</option>
                <option value="no-video-url">No video URL</option>
                <option value="no-amazon-uk-link">No Amazon UK link</option>
            </optgroup>
        </select>
    </div>
</div>

<hr>

{% if LastAction == 'add' and LastGame is not null %}
    <div class="alert alert-warning" role="alert">
        Successfully added <a href="{{ route('admin.games.detail', {'gameId': LastGame.id}) }}" target="_blank">{{ LastGame.title }}</a>.
        <a href="{{ route('admin.games.edit', {'gameId': LastGame.id}) }}?filter={{ ActiveNav }}">Continue editing</a>.
    </div>
{% elseif LastAction == 'edit' and LastGame is not null %}
    <div class="alert alert-warning" role="alert">
        Successfully edited <a href="{{ route('admin.games.detail', {'gameId': LastGame.id}) }}" target="_blank">{{ LastGame.title }}</a>.
        <a href="{{ route('admin.games.edit', {'gameId': LastGame.id}) }}?filter={{ ActiveNav }}">Continue editing</a>.
    </div>
{% endif %}

<a href="{{ route('admin.games.add') }}" class="btn outline btn-primary">Add a game</a>
<br>
<br>

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

{% if GameList.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th class="text-center">eShop: EU</th>
                <th>Release date</th>
                <th class="text-center">More</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('admin.games.detail', {'gameId': item.id}) }}">{{ item.title }}</a>
                        <a href="{{ LinkHelper.gameShow(item) }}" target="_blank" title="Open game page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        {% if item.eshop_europe_fs_id %}
                            <i class="fas fa-link"></i>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.release_date %}
                        {{ item.release_date }}
                        {% else %}
                        {{ item.upcoming_date }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if ActiveNav == 'action-list-games-for-release' %}
                            <a href="javascript:void(0);" id="lnk-release-game-{{ item.id }}" class="lnk-release-game">Release</a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.games.edit', {'gameId': item.id}) }}?filter={{ ActiveNav }}">Edit</a> :
                        <a href="{{ route('admin.games.delete', {'gameId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    var regionCode = '{{ RegionCode }}';
    $('#admin-nav-game-filter').on('change', function() {
        selectedGameFilter = $(this).val();
        top.location.href = '{{ route('admin.games.list')}}' + '/' + selectedGameFilter;
    });
    $(document).ready(function() {
        var activeNav = '{{ ActiveNav }}';
        $('#admin-nav-game-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });

    $('.lnk-release-game').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        gameId = elemId.replace('lnk-release-game-', '');

        if (gameId == '') {
            $('#js-admin-notify').text('Missing gameId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Release this game?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('admin.games.release') }}', {'gameId': gameId, 'regionCode': regionCode}, function(data) {
            //$('#js-admin-notify').text('Game released!');
            //$('#js-admin-notify').show();
            $('#lnk-release-game-' + gameId).parent().html('<em>Released</em>');
            //setTimeout("$('#js-admin-notify').fadeOut();", 2000);
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
