{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

{% if GameList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th>Category</th>
                <th class="text-center">Release date (EU)</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {% include 'modules/game/table/staff-game-title.twig' with {'item': item} %}
                    </td>
                    <td>
                        {{ item.category.name }}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.games.edit', {'gameId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No games found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
