{% import 'ui/components/links/game.twig' as gamelink %}

{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">
        <a href="{{ route('staff.games-companies.edit', {'gamesCompanyId': GamesCompany.id}) }}" class="btn btn-primary btn-md">Edit partner</a>
        <a href="{{ route('partners.detail.games-company', {'linkTitle': GamesCompany.link_title}) }}" class="btn btn-primary btn-md" target="_blank">View public profile</a>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">

    <span class="float-end">
        <a href="{{ route('staff.games-companies.delete', {'gamesCompanyId': GamesCompany.id}) }}" class="btn btn-danger btn-md">Delete games company</a>
    </span>

    </div>

</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Overview</h2>
        <table class="table table-sm table-responsive">
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Name</span>
                </td>
                <td>{{ GamesCompany.name }}</td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Email</span>
                </td>
                <td>
                    {% if GamesCompany.email %}
                        <a href="mailto:{{ GamesCompany.email }}">{{ GamesCompany.email }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Official site</span>
                </td>
                <td>
                    {% if GamesCompany.website_url %}
                        <a href="{{ GamesCompany.website_url }}" target="_blank">Visit official site</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Twitter</span>
                </td>
                <td>
                    {% if GamesCompany.twitter_id %}
                        <a href="https://twitter.com/{{ GamesCompany.twitter_id }}" target="_blank">{{ GamesCompany.twitter_id }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Threads</span>
                </td>
                <td>
                    {% if GamesCompany.threads_id %}
                        <a href="https://threads.net/@{{ GamesCompany.threads_id }}" target="_blank">@{{ GamesCompany.threads_id }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Bluesky</span>
                </td>
                <td>
                    {% if GamesCompany.bluesky_id %}
                        <a href="https://bsky.app/profile/{{ GamesCompany.bluesky_id }}" target="_blank">{{ GamesCompany.bluesky_id }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Quality filter</span>
                </td>
                <td>
                    {% if GamesCompany.is_low_quality == 1 %}
                        <label class="badge bg-danger">Low quality</label>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Last outreach</span>
                </td>
                <td>
                    {% include 'staff/partners/outreach/status-badge.twig' with {'partnerOutreach': GamesCompany.lastOutreach} %}
                </td>
            </tr>
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Last outreach date</span>
                </td>
                <td>
                    {{ GamesCompany.lastOutreach.created_at }}
                </td>
            </tr>
            <tr>
                <th colspan="2" style="background: #dedede;">Switch Scores access</th>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Signed up?</span>
                </td>
                <td>
                    {% if GamesCompany.gamesCompanyUser.id is not null %}
                        {% include 'ui/components/icons/icon-check-green.twig' %}
                    {% else %}
                        {% include 'ui/components/icons/icon-cross-red.twig' %}
                    {% endif %}
                </td>
            </tr>
            {% if GamesCompany.gamesCompanyUser.id is null %}
                {% if GamesCompany.email is null %}
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Invite</span>
                        </td>
                        <td>
                            To invite this company, add an email.
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Invite</span>
                        </td>
                        <td>
                            <a href="{{ route('staff.games-companies.invite-by-email.compose', {'gamesCompany': GamesCompany} ) }}" class="btn btn-primary btn-sm">Invite by email</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Last access</span>
                    </td>
                    <td>
                        {{ GamesCompany.gamesCompanyUser.last_access_date }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Outreach</h2>
        <p>
            <a href="{{ route('staff.partners.outreach.add', {'gamesCompany': GamesCompany} ) }}" class="btn btn-primary">Add outreach</a>
            {% if OutreachList %}
                <a href="{{ route('staff.partners.outreach.list', {'gamesCompany': GamesCompany}) }}" class="btn btn-primary">View all</a>
            {% endif %}
        </p>
        {% if OutreachList.count %}
            <p>
                View all outreach to see messages and notes.
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">New status</th>
                    <th class="text-center">Contact method</th>
                    <th class="text-center">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in OutreachList %}
                    <tr>
                        <td class="text-center">
                            {% include 'staff/partners/outreach/status-badge.twig' with {'partnerOutreach': item} %}
                        </td>
                        <td class="text-center">
                            {{ item.contact_method }}
                        </td>
                        <td class="text-center">
                            {{ item.created_at }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No outreach for this partner.</p>
        {% endif %}
    </div>

</div>

{% if MergedGameList %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Nintendo Switch games by {{ GamesCompany.name }}</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Game</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Involvement</th>
                    <th class="text-center">Release date</th>
                    <th class="text-center">Released?</th>
                    <th class="text-center">Quality filter</th>
                    <th class="text-center">Options</th>
                </tr>
                {% for item in MergedGameList %}
                    {% if item.PartnerType == 'developer' %}
                        {% set ExtraDetailLine = 'Developer' %}
                    {% elseif item.PartnerType == 'publisher' %}
                        {% set ExtraDetailLine = 'Publisher' %}
                    {% elseif item.PartnerType == 'dev/pub' %}
                        {% set ExtraDetailLine = 'Developer/Publisher' %}
                    {% else %}
                        {% set ExtraDetailLine = '' %}
                    {% endif %}
                    <tr>
                        <td>
                            {{ gamelink.title(item, 'staff') }}
                        </td>
                        <td class="text-center">
                            {% if item.category_name %}
                            {{ item.category_name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">{{ ExtraDetailLine }}</td>
                        <td class="text-center">{{ item.eu_release_date }}</td>
                        <td class="text-center">
                            {% if item.eu_is_released == 1 %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if item.is_low_quality == 1 %}
                                <label class="badge bg-danger">Low quality</label>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ route('staff.games.partner.list', {'gameId': item.id}) }}">Partners</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}

{% endblock page_inner %}
