{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="display_name" class="col-md-4 control-label">Display name</label>
        <div class="col-md-6">
            <input id="display_name" type="text" class="form-control" name="display_name" required>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-md-4 control-label">Email</label>
        <div class="col-md-6">
            <input id="email" type="text" class="form-control" name="email" required>
        </div>
    </div>

    <div class="form-group">
        <label for="site_id" class="col-md-4 control-label">Review site</label>
        <div class="col-md-6">
            <select id="site_id" class="form-control" name="site_id">
                <option value="">&nbsp;</option>
                {% for item in ReviewSites %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="developer_id" class="col-md-4 control-label">Developer</label>
        <div class="col-md-6">
            <select id="developer_id" class="form-control" name="developer_id">
                <option value="">&nbsp;</option>
                {% for item in Developers %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="publisher_id" class="col-md-4 control-label">Publisher</label>
        <div class="col-md-6">
            <select id="publisher_id" class="form-control" name="publisher_id">
                <option value="">&nbsp;</option>
                {% for item in Publishers %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
