<p>
    NOTE: If you copy the Twitter id from one account to another, be sure to
    remove it from one of the two accounts. Otherwise, when logging in, the first
    record will always be selected when logging in with Twitter.
</p>

{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="display_name" class="col-md-4 control-label">Display name</label>
        <div class="col-md-6">
            <input id="display_name" type="text" class="form-control" name="display_name" required>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-md-4 control-label">Email</label>
        <div class="col-md-6">
            <input id="email" type="text" class="form-control" name="email">
        </div>
    </div>

    <div class="form-group">
        <label for="twitter_user_id" class="col-md-4 control-label">Twitter Id</label>
        <div class="col-md-6">
            <input id="twitter_user_id" type="text" class="form-control" name="twitter_user_id">
        </div>
    </div>

    <div class="form-group">
        <label for="site_id" class="col-md-4 control-label">Partner access</label>
        <div class="col-md-6">
            <select id="partner_id" class="form-control" name="partner_id">
                <option value="">&nbsp;</option>
                {% for item in PartnerList %}
                    {% if item.isReviewSite() == true %}
                        {% set PartnerPrefix = 'Review site' %}
                    {% elseif item.isGamesCompany() == true %}
                        {% set PartnerPrefix = 'Games company' %}
                    {% else %}
                        {% set PartnerPrefix = 'UNKNOWN' %}
                    {% endif %}
                    <option value="{{ item.id }}">[{{ PartnerPrefix }}] {{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="is_staff" class="col-md-4 control-label">Is staff?</label>
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input id="is_staff" class="checkbox" name="is_staff" type="checkbox">
                </label>
                <br><small>This must be ticked for the roles to work.</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Roles</label>
        <div class="col-md-6">
            {% if RoleList %}
                {% for key,item in RoleList %}
                    <div class="checkbox">
                        <label>
                            <input id="role_item_{{ key }}" class="role_item" name="role_item[{{ key }}]" type="checkbox">
                            {{ item }}
                        </label>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
