{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

<p>
    To reset a user's password:
</p>
<ul>
    <li>Go to /password/reset</li>
    <li>Enter the user's email address</li>
    <li>When the page finishes loading, check the password_resets table in the DB and grab the token field.
    (NB if it has a / in it, request another token or the page won't loading. Annoying, I know)</li>
    <li>Go to /password/reset/TOKEN</li>
    <li>Re-enter the email address and enter the new password twice</li>
    <li>This should now work.</li>
</ul>


{% if UserList.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Display name</th>
                <th>Email</th>
                <th class="text-center">Region</th>
                <th class="text-center">Joined</th>
            </tr>
        </thead>
        <tbody>
            {% for item in UserList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.display_name }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td class="text-center">
                        {{ item.region }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_inner %}
