{% extends 'theme/wos/admin/page-wide.twig' %}

{% block page_inner %}

{% if UserList.count > 0 %}
    <table class="table table-striped data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Display name</th>
                <th>Email</th>
                <th class="text-center">Region</th>
                <th class="text-center">Joined</th>
            </tr>
        </thead>
        <tbody>
            {% for item in UserList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.display_name }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td class="text-center">
                        {{ item.region }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_inner %}
