{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="title" class="col-md-4 control-label">Title</label>
        <div class="col-md-6">
            <input id="title" type="text" class="form-control" name="title" maxlength="100" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <label for="category_id" class="col-md-4 control-label">Category</label>
        <div class="col-md-6">
            <select id="category_id" class="form-control" name="category_id" required>
                <option value="">&nbsp;</option>
                {% for item in NewsCategoryList %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-md-4 control-label">URL</label>
        <div class="col-md-6">
            <input id="url" type="text" class="form-control" name="url" maxlength="150" required>
        </div>
    </div>
    <div class="form-group">
        <label for="content_html" class="col-md-4 control-label">Content</label>
        <div class="col-md-6">
            {% if FormMode == 'edit' %}
            <textarea id="content_html" class="form-control" name="content_html" rows="10">{{ NewsData.content_html }}</textarea>
            {% else %}
            <textarea id="content_html" class="form-control" name="content_html" rows="10">{{ old('content_html') }}</textarea>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">Game</label>
        <div class="col-md-6">
            <select id="game_id" class="form-control" name="game_id">
                <option value="">&nbsp;</option>
                {% for item in GamesList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
