{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="title" class="col-md-2 control-label">Title</label>
        <div class="col-md-8">
            <input id="title" type="text" class="form-control" name="title" maxlength="100" required autofocus>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group">
        <label for="category_id" class="col-md-2 control-label">Category</label>
        <div class="col-md-8">
            <select id="category_id" class="form-control" name="category_id" required>
                <option value="">&nbsp;</option>
                {% for item in NewsCategoryList %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group">
        <label for="url" class="col-md-2 control-label">URL</label>
        <div class="col-md-8">
            <input id="url" type="text" class="form-control" name="url" maxlength="150" required>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group">
        <label for="game_id" class="col-md-2 control-label">Game</label>
        <div class="col-md-8">
            <select id="game_id" class="form-control" name="game_id">
                <option value="">&nbsp;</option>
                {% for item in GamesList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group">
        <label for="custom_image_url" class="col-md-2 control-label">Custom image URL</label>
        <div class="col-md-8">
            <input id="custom_image_url" type="text" class="form-control" name="custom_image_url">
            <p>
                <small>
                    If this entry is linked to a game, the game image will be used. Otherwise, you can enter
                    a custom image URL here.
                </small>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group">
        <label for="content_html" class="col-md-2 control-label">Content</label>
        <div class="col-md-10">
            {% if FormMode == 'edit' %}
            <textarea id="content_html" class="form-control" name="content_html" rows="20">{{ NewsData.content_html }}</textarea>
            {% else %}
            <textarea id="content_html" class="form-control" name="content_html" rows="20">{{ old('content_html') }}</textarea>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn outline btn-primary btn-lg">
                Submit
            </button>
        </div>
    </div>
</form>
