{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add news">

<hr>

{% if NewsList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Title</th>
                <th>Category</th>
                <th class="text-center">Added</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in NewsList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    </td>
                    <td>
                        {{ item.category.name }}
                    </td>
                    <td class="text-center">
                        {{ item.created_at }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('admin.news.edit', {'newsId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No news items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.news.add') }}';
    });
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
