{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feed-items.list') }}">Review feed items - pending</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.feed-items.list') }}" class="h4">{{ UnprocessedFeedReviewItemsCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.quick-reviews.list') }}">Quick reviews</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.quick-reviews.list') }}" class="h4">{{ PendingQuickReviewCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Unranked games</h2>

        <p>
            Excludes games not released in Europe.
        </p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.review-count-landing') }}">
                        Unranked: 2 reviews
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.review-count-landing') }}" class="h4">
                        {{ UnrankedReviews2 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.review-count-landing') }}">
                        Unranked: 1 review
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.review-count-landing') }}" class="h4">
                        {{ UnrankedReviews1 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.review-count-landing') }}">
                        Unranked: 0 reviews
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.review-count-landing') }}" class="h4">
                        {{ UnrankedReviews0 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}">
                        Unranked: 2020
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}" class="h4">
                        {{ UnrankedYear2020 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}">
                        Unranked: 2019
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}" class="h4">
                        {{ UnrankedYear2019 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}">
                        Unranked: 2018
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}" class="h4">
                        {{ UnrankedYear2018 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}">
                        Unranked: 2017
                    </a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.unranked.release-year-landing') }}" class="h4">
                        {{ UnrankedYear2017 }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Recent imports</h2>
        {% if ReviewFeedImportList.count > 0 %}
            <table class="table data-sortable table-responsive">
                <thead>
                <tr>
                    <th class="text-center">Day of week</th>
                    <th class="text-center">Items</th>
                    <th class="text-center">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ReviewFeedImportList %}
                    <tr>
                        <td class="text-center">
                            {{ item.created_at|date('l') }}
                        </td>
                        <td class="text-center">
                            <a href="{{ route('staff.reviews.feed-imports.item-list', {'feedImport': item}) }}">
                                {{ item.feedItems.count() }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.created_at|date('Y-m-d') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No items found!</p>
        {% endif %}
        <p><a href="{{ route('staff.reviews.feed-imports.list') }}">View all imports</a>.</p>

    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.link.list') }}">Review links</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feed-imports.list') }}">Feed imports</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.highlights') }}">Review highlights</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.campaigns') }}">Review campaigns</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.runFeedImporter') }}">RunFeedImporter</a>
                    <br>
                    <small>Visits RSS feeds from partner sites, and loads any reviews that have not yet been imported</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.runFeedParser') }}">RunFeedParser</a>
                    <br>
                    <small>Attempts to match titles from the feed importer to games in the site database</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.runFeedReviewGenerator') }}">RunFeedReviewGenerator</a>
                    <br>
                    <small>Creates review links for feed items linked to games and with ratings</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.updateGameRanks') }}">UpdateGameRanks</a>
                    <br>
                    <small>Updates the rank field for each game</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.updateGameReviewStats') }}">UpdateGameReviewStats</a>
                    <br>
                    <small>Updates the Review Count and Average Score fields for each game</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Review stats</h2>
        <h3>Overall</h3>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.reviews.link.list') }}">Review links</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('staff.reviews.link.list') }}" class="h4">{{ ReviewLinkCount }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Ranked games</span>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ RankedGameCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Unranked games</span>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ UnrankedGameCount }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Review feed items</h3>
        <table class="table">
            <tbody>
            {% for item in ProcessStatusStats %}
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feed-items.by-process-status', {'status': item.process_status}) }}">
                        {{ item.process_status }}
                    </a>
                </td>
                <td class="text-right">
                    <span class="h4">{{ item.count }}</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
