{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feed-items.list') }}">Review feed items - pending</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.feed-items.list') }}" class="h4">{{ UnprocessedFeedReviewItemsCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.reviews.partner.list') }}">Partner reviews</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('admin.reviews.partner.list') }}" class="h4">{{ PendingPartnerReviewCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.quick-reviews.list') }}">Quick reviews</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.reviews.quick-reviews.list') }}" class="h4">{{ PendingQuickReviewCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.reviews.link.list') }}">Review links</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'RunFeedImporter'}) }}">RunFeedImporter</a>
                    <br>
                    <small>Visits RSS feeds from partner sites, and loads any reviews that have not yet been imported</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'RunFeedParser'}) }}">RunFeedParser</a>
                    <br>
                    <small>Attempts to match titles from the feed importer to games in the site database</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'RunFeedReviewGenerator'}) }}">RunFeedReviewGenerator</a>
                    <br>
                    <small>Creates review links for feed items linked to games and with ratings</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'UpdateGameRanks'}) }}">UpdateGameRanks</a>
                    <br>
                    <small>Updates the rank field for each game</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'UpdateGameReviewStats'}) }}">UpdateGameReviewStats</a>
                    <br>
                    <small>Updates the Review Count and Average Score fields for each game</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Stats</h2>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ route('admin.reviews.link.list') }}">Review links</a>
                    </td>
                    <td class="text-right">
                        <a href="{{ route('admin.reviews.link.list') }}" class="h4">{{ ReviewLinkCount }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Ranked games</span>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ RankedGameCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Unranked games</span>
                    </td>
                    <td class="text-right">
                        <span class="h4">{{ UnrankedGameCount }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
