{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Action lists'} %}

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feed-items.list') }}">Review feed items - pending</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.feed-items.list') }}" class="h4">{{ UnprocessedFeedReviewItemsCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.review-drafts.showPending') }}">Review drafts</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.review-drafts.showPending') }}" class="h4">{{ ReviewDraftUnprocessedCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.quick-reviews.list') }}">Quick reviews</a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.quick-reviews.list') }}" class="h4">{{ PendingQuickReviewCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Unranked games'} %}
        <p>
            Excludes games not released in Europe.
        </p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 2}) }}">
                        Unranked: 2 reviews
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 2}) }}" class="h4">
                        {{ UnrankedReviews2 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 1}) }}">
                        Unranked: 1 review
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 1}) }}" class="h4">
                        {{ UnrankedReviews1 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 0}) }}">
                        Unranked: 0 reviews
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 0}) }}" class="h4">
                        {{ UnrankedReviews0 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2021}) }}">
                        Unranked: 2021
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2021}) }}" class="h4">
                        {{ UnrankedYear2021 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2020}) }}">
                        Unranked: 2020
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2020}) }}" class="h4">
                        {{ UnrankedYear2020 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2019}) }}">
                        Unranked: 2019
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2019}) }}" class="h4">
                        {{ UnrankedYear2019 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2018}) }}">
                        Unranked: 2018
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2018}) }}" class="h4">
                        {{ UnrankedYear2018 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2017}) }}">
                        Unranked: 2017
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2017}) }}" class="h4">
                        {{ UnrankedYear2017 }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Navigation'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.reviewSites.index') }}">Review sites</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feedLinks.index') }}">Feed links</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.link.list') }}">Review links</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.highlights') }}">Review highlights</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.campaigns') }}">Review campaigns</a>
                </td>
            </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Tools'} %}
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.runFeedImporter') }}">RunFeedImporter</a>
                    <br>
                    <small>Visits RSS feeds from partner sites, and loads any reviews that have not yet been imported</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.runFeedParser') }}">RunFeedParser</a>
                    <br>
                    <small>Attempts to match titles from the feed importer to games in the site database</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.runFeedReviewGenerator') }}">RunFeedReviewGenerator</a>
                    <br>
                    <small>Creates review links for feed items linked to games and with ratings</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.updateGameRanks') }}">UpdateGameRanks</a>
                    <br>
                    <small>Updates the rank field for each game</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.tools.updateGameReviewStats') }}">UpdateGameReviewStats</a>
                    <br>
                    <small>Updates the Review Count and Average Score fields for each game</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Review stats'} %}
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ route('staff.reviews.link.list') }}">Review links</a>
                    </td>
                    <td class="text-end">
                        <a href="{{ route('staff.reviews.link.list') }}" class="h4">{{ ReviewLinkCount }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Ranked games</span>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ RankedGameCount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Unranked games</span>
                    </td>
                    <td class="text-end">
                        <span class="h4">{{ UnrankedGameCount }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Review feed items'} %}
        <table class="table">
            <tbody>
            {% for item in ProcessStatusStats %}
            <tr>
                <td>
                    <a href="{{ route('staff.reviews.feed-items.by-process-status', {'status': item.process_status}) }}">
                        {{ item.process_status }}
                    </a>
                </td>
                <td class="text-end">
                    <span class="h4">{{ item.count }}</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
