<table class="table data-sortable">
    <thead>
    <tr>
        <th class="text-right">#</th>
        <th class="text-left">Game</th>
        <th class="text-left">Site</th>
        <th class="text-center">Date</th>
        <th class="text-center">Link</th>
        <th class="text-center">Rating</th>
        <th class="text-center">Original</th>
        <th class="text-center">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for item in ReviewLinks %}
        <tr>
            <td class="text-right">
                {{ item.id }}
            </td>
            <td class="text-left">
                <a href="{{ route('staff.games.detail', {'gameId': item.game.id}) }}">{{ item.game.title }}</a>
                <a href="{{ LinkHelper.gameShow(item.game) }}" target="_blank" title="Open game page in a new tab">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                </a>
            </td>
            <td class="text-left">
                {{ item.site.name }}
            </td>
            <td class="text-center">
                {{ item.review_date }}
            </td>
            <td class="text-center">
                <a href="{{ item.url }}" target="_blank">View</a>
            </td>
            <td class="text-center">
                {% include 'modules/rating/badge.twig' with {'score': item.rating_normalised, 'scoreSize': 'h5'} %}
            </td>
            <td class="text-center">
                {% if item.rating_original != item.rating_normalised %}
                    {{ item.rating_original }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{{ route('staff.reviews.link.edit', {'linkId': item.id}) }}">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
