{% extends 'theme/member-b5/layout-default.twig' %}
{% import 'ui/components/alerts/survey.twig' as alerts %}

{% block page_inner %}

    {{ alerts.siteSurvey() }}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-6 col-md-6">

            <h2>API</h2>

            <p>
                <a href="{{ route('user.developers.api.guide') }}">
                    API guide
                </a>
                <br>
                <small>How to use the API.</small>
            </p>

            <p>
                <a href="{{ route('user.developers.api.methods') }}">
                    API methods
                </a>
                <br>
                <small>A list of the API methods you can currently use.</small>
            </p>

            <p>
                <a href="{{ route('user.developers.api.tokens') }}">
                    API tokens
                </a>
                <br>
                <small>To use the API, you must have a token. Get one here.</small>
            </p>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <h2>Custom tools</h2>

            <p>
                <a href="{{ route('user.developers.switch-weekly') }}">
                    Upcoming games (Switch Weekly)
                </a>
                <br>
                <small>A dump of the upcoming games for the next 7 days.</small>
            </p>

            <p>
                <a href="{{ route('user.developers.hanafuda-report') }}">
                    Hanafuda Report: Database updates
                </a>
                <br>
                <small>Useful data for Hanafuda Report.</small>
            </p>

        </div>

    </div>

{% endblock page_inner %}