{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<script>
    $(document).ready(function() {
        $('a.js-toggle-list').on('click', function() {
            var elemId = $(this).attr('id');
            var listToShow = elemId.replace('js-toggle-', '');
            toggleList(listToShow);
        });
    });
    function toggleList(showWhich) {
        $('#list-ranked').hide();
        $('#list-unranked').hide();
        $('#list-delisted').hide();
        $('#' + showWhich).show();
    }
</script>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        {% if PartnerData.is_low_quality == 1 %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-triangle"></i>
                This publisher has been flagged with our low quality filter.
                <a href="{{ route('help.low-quality-filter') }}" style="color: #fff; font-weight: bold;">Learn more</a>.
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <table class="table table-condensed table-responsive">
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Name</span>
                </td>
                <td>{{ PartnerData.name }}</td>
            </tr>
            {% if PartnerData.website_url %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Official site</span>
                    </td>
                    <td><a href="{{ PartnerData.website_url }}" target="_blank">Visit official site</a></td>
                </tr>
            {% endif %}
            {% if PartnerData.twitter_id %}
                <tr>
                    <td>
                        <span style="font-weight: bold;">Twitter account</span>
                    </td>
                    <td><a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a></td>
                </tr>
            {% endif %}
            {% if PartnerData.threads_id %}
            <tr>
                <td>
                    <span style="font-weight: bold;">Threads</span>
                </td>
                <td>
                    <a href="https://threads.net/@{{ PartnerData.threads_id }}" target="_blank">@{{ PartnerData.threads_id }}</a>
                </td>
            </tr>
            {% endif %}
            {% if PartnerData.bluesky_id %}
            <tr>
                <td>
                    <span style="font-weight: bold;">Bluesky</span>
                </td>
                <td>
                    <a href="https://bsky.app/profile/{{ PartnerData.bluesky_id }}" target="_blank">{{ PartnerData.bluesky_id }}</a>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                <h2>
                    {{ AllGames|length }}
                    <br>
                    <span class="h4">games</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                <h2>
                    {{ RankedGameList|length }}
                    <br>
                    <span class="h4">ranked</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                <h2>
                    {{ UnrankedGameList|length }}
                    <br>
                    <span class="h4">unranked</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                <h2>
                    {{ DelistedGameList|length }}
                    <br>
                    <span class="h4">de-listed</span>
                </h2>
            </div>
        </div>
    </div>
</div>

{% if RankedGameList or UnrankedGameList or DelistedGameList %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Nintendo Switch games by {{ PartnerData.name }}</h2>
            <h5 class="theme-header theme-rounded theme-padding-10 theme-colour-1">
                <strong>Navigation</strong>:
                <a id="js-toggle-list-ranked" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                    Ranked ({{ RankedGameList|length }})</a>
                |
                <a id="js-toggle-list-unranked" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                    Unranked ({{ UnrankedGameList|length }})</a>
                |
                <a id="js-toggle-list-delisted" class="js-toggle-list" href="javascript:void(0);" style="color: #fff;">
                    De-listed ({{ DelistedGameList|length }})</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="list-ranked">
                <h2>Ranked</h2>
                {% if RankedGameList %}
                    {% include 'public/games/layouts/modernDebut/layout.twig' with {'GameList': RankedGameList, 'batchOverride': 3} %}
                {% else %}
                    <p>No games to display.</p>
                {% endif %}
            </div>
            <div id="list-unranked" style="display: none;">
                <h2>Unranked</h2>
                {% if UnrankedGameList %}
                    {% include 'public/games/layouts/modernDebut/layout.twig' with {'GameList': UnrankedGameList, 'batchOverride': 3} %}
                {% else %}
                    <p>No games to display.</p>
                {% endif %}
            </div>
            <div id="list-delisted" style="display: none;">
                <h2>De-listed</h2>
                {% if DelistedGameList %}
                    {% include 'public/games/layouts/modernDebut/layout.twig' with {'GameList': DelistedGameList, 'batchOverride': 3} %}
                {% else %}
                    <p>No games to display.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock page_body %}
