{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-12 col-md-6">
        {% if NewestAdditions %}
            <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Latest additions</h2>
            <table class="table table-responsive table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Developed</th>
                    <th class="text-center">Published</th>
                    <th class="text-center">Date added</th>
                </tr>
                </thead>
                <tbody>
                {% for item in NewestAdditions %}
                    <tr>
                        <td>
                            <a href="{{ route('partners.detail.games-company', item.link_title) }}">{{ item.name }}</a>
                        </td>
                        <td class="text-center">
                            {{ item.developerGames().count }}
                        </td>
                        <td class="text-center">
                            {{ item.publisherGames().count }}
                        </td>
                        <td class="text-center">
                            {{ item.created_at|date('Y-m-d') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
        {% if MostPublishedGames %}
            <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Most published</h2>
            <table class="table table-responsive table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Developed</th>
                    <th class="text-center">Published</th>
                </tr>
                </thead>
                <tbody>
                {% for item in MostPublishedGames %}
                    <tr>
                        <td>
                            <a href="{{ route('partners.detail.games-company', item.link_title) }}">{{ item.name }}</a>
                        </td>
                        <td class="text-center">
                            {{ item.developerGames().count }}
                        </td>
                        <td class="text-center">
                            {{ item.publisherGames().count }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

</div>

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-8 col-md-8">

        <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">How to join</h2>
        <p>
            If you're a Switch developer or publisher, join Switch Scores and get access to
            our <strong>games company dashboard</strong>.
        </p>

        <img src="/img/static/partners/games-company-dashboard.png" alt="Switch Scores - Games company dashboard" class="img-responsive">

        <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Benefits</h2>
        <ul>
            <li>
                <strong>Get in touch with reviewers</strong>.
                If you're looking for sites to review your games, we've got you covered. Reviewers who have opted in to share
                their details with games companies will be listed on the dashboard.
                (Not shown on the screenshot for privacy reasons.)
            </li>
            <li>
                <strong>Fill in the gaps with review coverage</strong>.
                If your game has already been covered by a few sites and you're not sure who to ask next,
                our unique review coverage feature will show you who has and hasn't covered your game. We suggest you
                keep track of who you've already asked :)
            </li>
            <li>
                <strong>A public profile page for your company</strong>.
                Our pages are often ranked highly on Google - particularly for smaller studios.
            </li>
            <li>
                <strong>Keep track of reviews for your Switch titles</strong>.
                If your games are reviewed by our review partners, you'll be able to access these from the
                dashboard.
            </li>
            <li>
                <strong>See which of your games are ranked or unranked</strong>.
                We need a minimum of 3 reviews to rank a game. If any of your games are unranked, you'll
                be able to see this here.
            </li>
        </ul>

        <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Getting access</h2>
        <p>
            To request developer or publisher access, click the button below.
        </p>
        <a class="btn btn-primary btn-lg theme-rounded" href="{{ route('partners.games-companies.signupPage') }}">Sign up today!</a>

        {#
        <ol>
            <li>
                Go to the <a href="{{ route('login') }}">login page</a> and sign up with Twitter. Then
                <a href="{{ route('about.landing') }}">get in touch</a> and we'll complete the setup for you.
            </li>
            <li>
                If you've got an invite code, you can <a href="{{ route('register') }}">register</a> with
                your email address and a password - no need to use Twitter.
                There's an added bonus if you go this route: we can create an invite
                code that will automatically give you access to your details on the games company dashboard.
                <a href="{{ route('about.landing') }}">Get in touch</a> and we'll be happy to give you an invite code.
            </li>
        </ol>
        #}

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">
            Getting access
        </h2>
        <p>
            To request developer or publisher access, click the button below.
        </p>
        <a class="btn btn-primary btn-lg theme-rounded" href="{{ route('partners.games-companies.signupPage') }}">Sign up today!</a>

        <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Working with developers</h2>
        <p>
            We have focused more on publishers as the data is more readily available.
            We'll happily work with developers too,
            but we may need a bit more help with filling in any missing details.
        </p>

        <h2 class="theme-header theme-rounded theme-padding-10 theme-colour-15">Need help?</h2>
        <p>
            If you run into any issues, or you need an invite code,
            <a href="{{ route('about.landing') }}">get in touch</a> and we'll be happy to help.
        </p>

    </div>

</div>

{% endblock page_body %}
