{% include 'ui/components/alerts/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-12">

            {% if FormMode == 'add' %}
                <div class="form-group">
                    <label for="partner_id" class="col-md-4 control-label">Partner</label> *
                    <div class="col-md-6">
                        <select id="partner_id" class="form-control" name="partner_id" required>
                            <option value="">&nbsp;</option>
                            {% for item in PartnerList %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="partner_id" class="col-md-4 control-label">Partner</label>
                    <div class="col-md-6">
                        {{ OutreachData.gamesCompany.name }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="new_status" class="col-md-4 control-label">New status</label> *
                <div class="col-md-6">
                    <select id="new_status" class="form-control" name="new_status" required>
                        <option value="">&nbsp;</option>
                        {% for item in StatusList %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="contact_method" class="col-md-4 control-label">Contact method</label>
                <div class="col-md-6">
                    <select id="contact_method" class="form-control" name="contact_method">
                        <option value="">&nbsp;</option>
                        {% for item in MethodList %}
                            <option value="{{ item.title }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="contact_message" class="col-md-4 control-label">Contact message</label>
                <div class="col-md-6">
                    <textarea id="contact_message" class="form-control" name="contact_message" rows="10"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="internal_notes" class="col-md-4 control-label">Internal notes</label>
                <div class="col-md-6">
                    <textarea id="internal_notes" class="form-control" name="internal_notes" rows="10"></textarea>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>

</form>
