{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'News'}] %}

{% block page_body %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        {% if NewsList %}
            {% for item in NewsList %}
                <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                <p>
                    <small>
                    Published: {{ item.created_at|date('jS M Y H:i') }} |
                    Category: {{ item.category.name }}
                    </small>
                </p>
            {% endfor %}
            {{ NewsList.links|raw }}
        {% else %}
        <p>No news items found!</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        {% include 'news/sidebar/more-links.twig' %}
    </div>
</div>

{% endblock page_body %}
