{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<ul>
    <li><a href="{{ route('admin.stats.review.site') }}">Review site stats</a></li>
    <li><a href="{{ route('admin.stats.games.oldDeveloperMultiple') }}">Games - Old developers - Multiple records</a></li>
    <li><a href="{{ route('admin.stats.games.oldDeveloperByCount') }}">Games - Old developers - By count</a></li>
    <li><a href="{{ route('admin.stats.games.oldPublisherMultiple') }}">Games - Old publishers - Multiple records</a></li>
    <li><a href="{{ route('admin.stats.games.oldPublisherByCount') }}">Games - Old publishers - By count</a></li>
</ul>

{% endblock page_inner %}
