{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

{% if LevelList.count > 0 %}

    <table class="table data-sortable table-responsive">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-left" style="max-width: 250px;">Details</th>
                <th class="text-left">Game style</th>
                <th class="text-center">Code</th>
                <th class="text-center">Added</th>
                <th class="text-left">Added by</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
        {% for item in LevelList %}
            <tr>
                <td class="text-center">
                    {{ item.id }}
                </td>
                <td class="text-left" style="max-width: 250px;">
                    <strong>{{ item.title }}</strong>
                    {% if item.description %}
                        <br>
                        {{ item.description }}
                    {% endif %}
                </td>
                <td class="text-left">
                    {{ item.getGameStyleDesc() }}
                </td>
                <td class="text-center">
                    {{ item.level_code }}
                </td>
                <td class="text-center">
                    {{ item.created_at|date('d M Y H:i') }}
                </td>
                <td class="text-left">
                    {{ item.user.display_name }}
                </td>
                <td class="text-center">
                    <a href="javascript:void(0);" id="lnk-approve-level-{{ item.id }}" class="lnk-approve-level">Approve</a> :
                    <a href="javascript:void(0);" id="lnk-reject-level-{{ item.id }}" class="lnk-reject-level">Reject</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No levels to approve.</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                null,
                { "orderable": false }
            ]
        });
    });

    $('.lnk-approve-level').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        levelId = elemId.replace('lnk-approve-level-', '');

        if (levelId == '') {
            $('#js-admin-notify').text('Missing levelId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Approve this level?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('admin.approvals.mario-maker-levels.approve') }}', {'levelId': levelId}, function(data) {
            $('#lnk-approve-level-' + levelId).parent().html('<em>Approved</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });

    $('.lnk-reject-level').on('click', function() {

        $('#js-admin-notify').hide();

        elemId = $(this).attr('id');
        levelId = elemId.replace('lnk-reject-level-', '');

        if (levelId == '') {
            $('#js-admin-notify').text('Missing levelId');
            $('#js-admin-notify').show();
            return false;
        }

        if (!window.confirm('Reject this level?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('admin.approvals.mario-maker-levels.reject') }}', {'levelId': levelId}, function(data) {
            $('#lnk-reject-level-' + levelId).parent().html('<em>Rejected</em>');
        })
        .fail(function(data) {
            $('#js-admin-notify').text('An error occurred: ' + data.responseJSON.error);
            $('#js-admin-notify').show();
        });
    });
</script>

{% endblock page_inner %}
