{% import 'ui/components/rating/badge.twig' as rating %}
{% import 'ui/components/affiliates/buttons.twig' as affiliate %}

{# PACKSHOTS #}
{% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}

<div class="row" style="margin-top: 16px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% if item.category_id %}
            <div style="position: absolute; top: 2px;">
                <span class="h5 label label-default">{{ item.category_name }}</span>
            </div>
        {% endif %}
        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
            {% if boxartUrl %}
                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
            {% else %}
                <img src="/img/placeholder/no-image-found-wide.png" class="img-responsive" alt="{{ item.title }}">
            {% endif %}
        </a>
    </div>
</div>

<div class="row" style="margin-top: 8px;">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        {% if item.game_rank %}
            <span class="h5 label bg-primary">#{{ item.game_rank }}</span>
        {% endif %}
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <span class="h5">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
        </span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="pull-right">
            {% if item.rating_avg %}
                {% if item.game_rank or ShowScoreOverride == 'Y' %}
                    {{ rating.score(item.rating_avg, 'h5', 'b3') }}
                {% else %}
                    {{ rating.tbc(item.review_count, 'h5', 'b3', true) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="row" style="margin-top: 8px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ affiliate.buyButtons(item, item.Amazon, 'tiny') }}
    </div>
</div>

