{# PACKSHOTS #}
{% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}

<a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
    {% if boxartUrl %}
        <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ item.title }}">
    {% else %}
        <img src="/img/placeholder/no-image-found-wide.png" class="img-responsive" alt="{{ item.title }}">
    {% endif %}
</a>
<p class="h4">
    <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
    <br>
    <span class="h5">
        {% include 'modules/game/release-date.twig' with {'item': item} %}
    </span>
    {% if item.rating_avg %}
        <span class="small">
        Rating: {{ item.rating_avg }}
        </span>
    {% endif %}
</p>
