<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ TopTitle }} | Switch Scores</title>

    <!-- Select2 -->
    <link href="/js/select2/css/select2.min.css" rel="stylesheet" />
    <script src="/js/select2/js/select2.min.js"></script>

    <!-- jQuery UI -->
    <script src="/js/jquery-ui-1.12.1.min.js"></script>
    <link href="/css/jquery-ui-1.12.1.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <!-- Switch Scores custom code -->
    <link href="{{ asset('css/staff.css') }}?v=251130" rel="stylesheet">
    <script src="{{ asset('js/ssAdminTools.js') }}?v=240505a"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>
    <div id="app">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="{{ route('staff.index') }}">
                        Staff
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left side -->
                    <ul class="nav navbar-nav">
                    </ul>

                    <!-- Right side -->
                    <ul class="nav navbar-nav navbar-right">

                        {% if auth_user().hasRole('Games manager') or auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/games.twig' %}
                        {% endif %}

                        {% if auth_user().hasRole('Reviews manager') or auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/reviews.twig' %}
                        {% endif %}

                        {% if auth_user().hasRole('Category manager') or auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/categorisation.twig' %}
                        {% endif %}

                        {% if auth_user().hasRole('News manager') or auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/news.twig' %}
                        {% endif %}

                        {% if auth_user().hasRole('Partnerships manager') or auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/games-companies.twig' %}
                        {% endif %}

                        {% if auth_user().hasRole('eShop manager')
                           or auth_user().hasRole('Wikipedia manager')
                           or auth_user().hasRole('Data source manager')
                           or auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/data.twig' %}
                        {% endif %}

                        {% if auth_user().isOwner() %}
                            {% include 'theme/wos/staff/nav-top/owner-tools.twig' %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block page_body %}
        {% endblock page_body %}
    </div>

    <script src="/js/select2-fix.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.0"></script>

</body>
</html>
