{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.partners.dashboard'), 'text': 'Partners'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="+ Add games company">
    </div>
    <div class="col-xs-12 col-sm-9">
    </div>
</div>

<hr>

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

{% if GamesCompanyList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th>Twitter ID</th>
                <th class="text-center">Assigned games<br>(developer)</th>
                <th class="text-center">Assigned games<br>(publisher)</th>
                <th class="text-center">Last outreach status</th>
                <th class="text-center">Last outreach date</th>
                <th class="text-center">Outreach history</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in GamesCompanyList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="{{ route('staff.partners.games-company.show', {'partner': item}) }}">{{ item.name }}</a>
                        <a href="{{ route('partners.detail.games-company', {'linkTitle': item.link_title}) }}" target="_blank" title="Open partner page in a new tab">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </a>
                        {% if item.website_url %}
                            <br>
                            <small>
                                <a href="{{ item.website_url }}" target="_blank">{{ item.website_url }}</a>
                            </small>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.twitter_id %}
                            <a href="https://twitter.com/{{ item.twitter_id }}" target="_blank">{{ item.twitter_id }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.developerGames().count }}
                    </td>
                    <td class="text-center">
                        {{ item.publisherGames().count }}
                    </td>
                    <td class="text-center">
                        {% include 'staff/partners/outreach/status-badge.twig' with {'partnerOutreach': item.lastOutreach} %}
                    </td>
                    <td class="text-center">
                        {{ item.lastOutreach.created_at }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.partners.outreach.list', {'partner': item}) }}">View</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.partners.games-company.edit', {'partnerId': item.id}) }}">Edit</a> :
                        <a href="{{ route('staff.partners.games-company.delete', {'partnerId': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('staff.partners.games-company.add') }}';
    });
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false },
                null,
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
