{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">
        <a href="{{ route('staff.partners.games-company.edit', {'partnerId': PartnerData.id}) }}" class="btn btn-primary btn-md">Edit partner</a>
        <a href="{{ route('partners.detail.games-company', {'linkTitle': PartnerData.link_title}) }}" class="btn btn-primary btn-md" target="_blank">View public profile</a>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">

    <span class="pull-right">
        <a href="{{ route('staff.partners.games-company.delete', {'partnerId': PartnerData.id}) }}" class="btn btn-danger btn-md">Delete partner</a>
    </span>

    </div>

</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Overview</h2>
        <table class="table table-condensed table-responsive">
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Name</span>
                </td>
                <td>{{ PartnerData.name }}</td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Official site</span>
                </td>
                <td>
                    {% if PartnerData.website_url %}
                        <a href="{{ PartnerData.website_url }}" target="_blank">Visit official site</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bold;">Twitter account</span>
                </td>
                <td>
                    {% if PartnerData.twitter_id %}
                        <a href="https://twitter.com/{{ PartnerData.twitter_id }}" target="_blank">{{ PartnerData.twitter_id }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Last outreach</span>
                </td>
                <td>
                    {% include 'staff/partners/outreach/status-badge.twig' with {'partnerOutreach': PartnerData.lastOutreach} %}
                </td>
            </tr>
            <tr>
                <td style="max-width: 150px;">
                    <span style="font-weight: bold;">Last outreach date</span>
                </td>
                <td>
                    {{ PartnerData.lastOutreach.created_at }}
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Outreach</h2>
        <p>
            <a href="{{ route('staff.partners.outreach.add') }}?partnerId={{ PartnerData.id }}" class="btn btn-primary">Add outreach</a>
            {% if OutreachList %}
                <a href="{{ route('staff.partners.outreach.list', {'partner': PartnerData}) }}" class="btn btn-primary">View all</a>
            {% endif %}
        </p>
        {% if OutreachList.count %}
            <p>
                View all outreach to see messages and notes.
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">New status</th>
                    <th class="text-center">Contact method</th>
                    <th class="text-center">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in OutreachList %}
                    <tr>
                        <td class="text-center">
                            {% include 'staff/partners/outreach/status-badge.twig' with {'partnerOutreach': item} %}
                        </td>
                        <td class="text-center">
                            {{ item.contact_method }}
                        </td>
                        <td>
                            {{ item.created_at }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No outreach for this partner.</p>
        {% endif %}
    </div>

</div>

{% if MergedGameList %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Nintendo Switch games by {{ PartnerData.name }}</h2>
            <table class="table table-responsive">
                <tr>
                    <th>Game</th>
                    <th class="text-center">Involvement</th>
                    <th class="text-center">Release date</th>
                    <th class="text-center">Released?</th>
                    <th class="text-center">Options</th>
                </tr>
                {% for item in MergedGameList %}
                    {% if item.PartnerType == 'developer' %}
                        {% set ExtraDetailLine = 'Developer' %}
                    {% elseif item.PartnerType == 'publisher' %}
                        {% set ExtraDetailLine = 'Publisher' %}
                    {% elseif item.PartnerType == 'dev/pub' %}
                        {% set ExtraDetailLine = 'Developer/Publisher' %}
                    {% else %}
                        {% set ExtraDetailLine = '' %}
                    {% endif %}
                    <tr>
                        <td>
                            {% include 'modules/game/table/staff-game-title.twig' with {'item': item} %}
                        </td>
                        <td class="text-center">{{ ExtraDetailLine }}</td>
                        <td class="text-center">{{ item.eu_release_date }}</td>
                        <td class="text-center">
                            {% if item.eu_is_released == 1 %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ route('staff.game.partner.list', {'gameId': item.id}) }}">Partners</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}

{% endblock page_inner %}
