{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Wiki updates</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-pending') }}">All pending</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-pending') }}" class="h4">{{ WikiUpdatesAllPendingCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-no-game-id') }}">No game id</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-no-game-id') }}" class="h4">{{ WikiUpdatesNoGameIdCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-with-game-id') }}">With game id</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-with-game-id') }}" class="h4">{{ WikiUpdatesWithGameIdCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-complete') }}">Complete</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-complete') }}" class="h4">{{ WikiUpdatesCompleteCount }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-inactive') }}">Inactive</a>
                </td>
                <td class="text-right">
                    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-inactive') }}" class="h4">{{ WikiUpdatesInactiveCount }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        {#
        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
        #}

        <h2>Tools</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'WikipediaCrawlGamesList'}) }}">WikipediaCrawlGamesList</a>
                    <br>
                    <small>Crawls the Nintendo Switch games list on Wikipedia and saves data to the site database</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'WikipediaImportGamesList'}) }}">WikipediaImportGamesList</a>
                    <br>
                    <small>Converts crawler data into Feed Items for creating or updating games</small>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'WikipediaUpdateGamesList'}) }}">WikipediaUpdateGamesList</a>
                    <br>
                    <small>Processes feed items (games) that are marked as OK to update</small>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">
    </div>

</div>

{% endblock page_inner %}
