{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="game_id" class="col-md-4 control-label">User</label>
        <div class="col-md-6">
            {{ ReviewData.user.display_name }}
            <br><small>ID: {{ ReviewData.user.id }} | Email: {{ ReviewData.user.email }}</small>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Game</label>
        <div class="col-md-6">
            {{ ReviewData.game.title }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Url</label>
        <div class="col-md-6">
            <a href="{{ ReviewData.item_url }}" target="_blank">{{ ReviewData.item_url }}</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Review date</label>
        <div class="col-md-6">
            {{ ReviewData.item_date }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Rating</label>
        <div class="col-md-6">
            {{ ReviewData.item_rating }}
        </div>
    </div>

    <div class="form-group">
        <label for="item_status" class="col-md-4 control-label">Status</label>
        <div class="col-md-6">
            <select id="item_status" name="item_status" class="form-control">
                {% for item in ReviewStatusList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
            <br>
            <p>
                To accept this review, change the status to Active.
                To reject it, change the status to Inactive.
            </p>
            <p>
                <strong>IMPORTANT:</strong> By changing this review to Active and clicking Submit,
                a new review link will be created. This cannot be reversed!
                <br>If you accidentally set a review to Inactive, you can change it to
                Active later if you wish. Once a review is Active, it cannot be edited.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
