{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="pull-right">
            <label for="admin-nav-status-filter">Filter by status:</label>
            <select id="admin-nav-status-filter" name="admin-nav-status-filter" class="form-control">
                <option value="">All</option>
                {% for item in ReviewStatusList %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<hr>
{% if ReviewList.count > 0 %}
    <div class="alert alert-warning" role="alert">
        If you've approved some reviews, don't forget to run
        <a href="{{ route('admin.tools.toolLandingModular', {'commandName': 'UpdateGameRanks'}) }}">Update Game Ranks</a>
        when you're done.
    </div>

    <table class="table table-striped data-sortable">
        <thead>
        <tr>
            <th class="text-right">#</th>
            <th class="text-left">Game</th>
            <th class="text-left">Site</th>
            <th class="text-center">Date</th>
            <th class="text-center">Link</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Original</th>
            <th class="text-center">Status</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ReviewList %}
            <tr>
                <td class="text-right">
                    {{ item.id }}
                </td>
                <td class="text-left">
                    <a href="{{ LinkHelper.gameShow(item.game) }}" target="_blank">{{ item.game.title }}</a>
                    <br>
                    <small>
                        User: {{ item.user.email }} | ID: {{ item.user.id }}
                    </small>
                </td>
                <td class="text-left">
                    {{ item.site.name }}
                </td>
                <td class="text-center">
                    {{ item.item_date }}
                </td>
                <td class="text-center">
                    <a href="{{ item.item_url }}" target="_blank">View</a>
                </td>
                <td class="text-center">
                    {% if item.site.rating_scale == 5 %}
                        {% set OriginalRating = item.item_rating * 2 %}
                        {{ OriginalRating|number_format(1, '.', ',') }}
                    {% else %}
                        {{ item.item_rating }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.site.rating_scale == 5 %}
                        {{ item.item_rating }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ item.getStatusDesc() }}
                </td>
                <td class="text-center">
                    {% if item.getStatusDesc() != 'Active' %}
                        <a href="{{ route('admin.reviews.partner.edit', {'reviewId': item.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No reviews found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#admin-nav-status-filter').on('change', function() {
        selectedStatusFilter = $(this).val();
        top.location.href = '{{ route('admin.reviews.partner.list')}}?filterStatus=' + selectedStatusFilter;
    });
    $(document).ready(function() {
        var activeStatusId = '{{ FilterStatus }}';
        $('#admin-nav-status-filter').val(activeStatusId);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false },
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
